[2017-04-04 06:27] reasonat opened #1 "Frontend General - צבע תבנית שונה עבור אתר פסטיבל"
יש ליצור שדה הגדרת צבע עבור תבנית פסטיבל.
כך שעורכי התוכן יוכלו לעדכן את ערך הצבע הזה.
לדעתי יש רכיב שאמור לעשות משהו כזה. או שתעשי בלי רכיב...

[2017-04-04 06:27] reasonat opened #2 "Festival calendar - Main Task"
This is the main task for the Fesitval calendar.
This calendar will display only on the festival site and not on the main cinematheque site.

See the design as the main reference but notice tasks since some parts changed.

┆Attachments: <a href="https:&#x2F;&#x2F;www.wrike.com&#x2F;extlink&#x2F;95629bdadcb1484891edbe2a1bca4620:F35296621.A948692&#x2F;%D7%A1%D7%A0%D7%99%D7%9E%D7%98%D7%A7+%D7%A2%D7%9

[2017-04-04 06:27] reasonat opened #3 "Homepage - Part 2"

[2017-04-04 06:27] reasonat opened #4 "Person - Part 2"

[2017-04-04 06:27] reasonat commented on #1
➤ Bruria Helfer commented:
&#64;Amir Taiar מה עם כל האייקונים שכרגע הם תמונות?<br />

[2017-04-04 06:27] reasonat commented on #1
➤ Bruria Helfer commented:
&#64;Amir Taiar טוב, הרעיוםש היה לי עם האייקונים לא שייך כיוון שבהרבה מקומות הם מונחים על מקום שהרקע שלהם צריך להיות שקוף אז צריך לךמצוא לזה פיתרון.<br />לא סיימתי עדיין ועברתי את ה-3 שעות כבר..<br />

[2017-04-04 06:27] reasonat commented on #1
➤ Bruria Helfer commented:
&#64;Amir Taiar סיימתי מלבד האייקונים. אין ברירה חייבים שהם יהיו תווים ולא תמונות. פה: http://fontawesome.io/icons/ יש דברים מאו ד דומים לאיקונים שיש באתר. אין ברירה לדעתי.<br />

[2017-04-04 06:27] reasonat opened #5 "Movie - Part 2"

[2017-04-04 06:27] reasonat opened #6 "פאנל לוגואים נפרד לאתר פסטיבל"
זה כבר כמעט גמור יש רק הערה שהם העירו
״יש כאן בעיה של תצוגה > לוגו מופיע מתחת ללוגו במקום אחרי״ 

[2017-04-04 06:27] reasonat opened #7 "Event - Part 2"

[2017-04-04 06:27] reasonat opened #8 "Header - Part 2"

[2017-04-04 06:27] reasonat commented on #6
➤ Bruria Helfer commented:
&#64;Amir Taiar אני לא רואה את הבעייה. האם זה כבר סודר?<br />

[2017-04-04 06:27] reasonat commented on #6
➤ Amir Taiar commented:
&#64;Bruria Helfer אני חושב שהבעיה ברזולוציות מסוימות. ניסית לראות במצבי מסך שונים? <br />

[2017-04-04 06:27] reasonat opened #9 "Toptix - Part 2"

[2017-04-04 06:27] reasonat opened #10 "Search page - Part 2"

[2017-04-04 06:27] reasonat commented on #6
➤ Amir Taiar commented:
&#64;Bruria Helfer תשלחי לנבות ותמר מייל בנושא.נראה מה הם יאמרו. <br />

[2017-04-04 06:27] reasonat commented on #6
➤ Bruria Helfer commented:
&#64;Amir Taiar הייתה איזשהי בעיה. סידרתי אותה. אני מקווה שלזה הם יתכוונו.<br />

[2017-04-04 06:27] reasonat opened #11 "Remove duplicate code"
My pane module holds pane definitions and constructor functions for calendar pane and node teaser/information block pane, but we now have those defined in a separate modules. Also it includes js code for search popup that is duplicated.
Please remove any custom code that is already declared in other custom modules from my pane module

[2017-04-04 06:27] reasonat opened #12 "breaking messages"
1. ניתן להגדיר באתר הודעות להופיע גלובלית בראש האתר בכל עמוד או פר מיניסייט. עורכים יכולים ליצור ולערוך הודעות עם קישורים.
1. משתמשים יכולים לאשר ולסגור הודעות.

[2017-04-04 07:10] reasonat commented on #12
This is a test comment

[2017-04-04 07:13] reasonat commented on #12
Test comment ith image attached
And a **mention** - @bruria1
and list:

1.  test
2. test

And a [link](www.reasonat.com)

![deathtostock_creative community3 copy](https://cloud.githubusercontent.com/assets/741209/24645030/26620f60-191f-11e7-9d4e-719895d9f14a.jpg)

[2017-04-04 07:28] reasonat opened #13 "This is a test task by Amir"

[2017-04-04 07:33] reasonat opened #14 "Management pages"

[2017-04-04 07:33] reasonat opened #15 "Lobby - Part 2"

[2017-04-04 07:33] reasonat opened #16 "Movie Group - Main task"
In this 2nd main task we will:

* https://http://www.wrike.com/open.htm?id=134918747

*https://http://www.wrike.com/open.htm?id=134918752
*https://http://www.wrike.com/open.htm?id=134918673
*https://[http://](http://www.wrike.com/open.htm?id&#61;134918756)www.wrike.com/open.htm?id=134918756

┆Task is synchronized with this GitHub [issue](https://github.com/Reasonat1/Cinema/issues/16)

[2017-04-04 07:33] reasonat opened #17 "event assignment validation"
create a new flag "booking conflict" - it will be used for events that have scheduling conflicts.
on update of event content type the following validation logic needs to be added:
1. the technical screening format term taken from event field (if empty taken from all referenced movies in a loop) needs to exists in the same term field of the referenced hall. for example - if event or movies referenc

[2017-04-04 07:33] reasonat opened #18 "Festivals (domain access stuff)"
festival is a TERM entity of new type.

new festival terms creates new domain access subdomain based on settings provided from the node edit form (you can attach DA settings or include a simplyfied version of those settings in the node edit form).

http://jff.jer-cin.tikkewebsites.com/ - homepage for festival

[2017-04-04 07:33] reasonat commented on #17
➤ Tom Meir commented:
created flag conflict_event. added to cm_extra.module code for hook presave. varified that hall and event and movie have correct term reference data. waiting to insert validation logic in code.<br />

[2017-04-04 07:33] reasonat opened #19 "User page - Part 2"

[2017-04-04 07:33] reasonat opened #20 "hall term page"
Note | There is no design [ OOS ] so we will go around the movie page design here.

[2017-04-04 07:33] reasonat opened #21 "WCA"

[2017-04-04 07:34] reasonat commented on #20
➤ Bruria Helfer commented:
&#64;Tom Meir &#64;Amir Taiar <br />האם אני יכולה לקבל עמוד כזה מוכן לעיצוב?<br />

[2017-04-04 07:34] reasonat commented on #20
➤ Amir Taiar commented:
&#64;Tom Meir What is this page? Cant remember it&#39;s part of Ite1<br />

[2017-04-04 07:34] reasonat commented on #20
➤ Tom Meir commented:
it is part of step 2. the halls themselves should be stand alone panel pages, with structure similar in design to other pagers (with a big image header and below the details of the place and below that the body and free\custom panes). no design exists. page should support multiple images and &#34;trailer&#34; functionality.<br />

[2017-04-04 07:34] reasonat commented on #20
➤ Tom Meir commented:
&#64;Amir Taiar this page is not mentioned specifically in the original scope of the project. so we have a margin here to call if this should be done in project or out of projcet scope.<br />

[2017-04-04 07:38] reasonat opened #22 "Homepage - Set same homepage function like on main site."
צריך שתהיה אפשרות ליצירת עמוד בית בדיוק כמו שיש באתר סינמטק הראשי
רק תוכן אשר סומן ככזה המופיע בפסטיבל צריך להופיע שם.
יש ליצור עמוד בית דמה עבור פסטיבל אנגלית ועברית

[2017-04-04 07:38] reasonat commented on #22
➤ Bruria Helfer commented:
&#64;Roei Dahan האם באתר הרגיל ניתן להוסיף תכנים גם של הפסטיבל בעמוד הבית?<br />מאוד מבלבל שאתה רושם עם היוזר של רועי...<br />

[2017-04-04 07:38] reasonat commented on #22
➤ Amir Taiar commented:
&#64;Bruria Helfer לא, תכנים של פסטיבל מופיעים בפסטיבל בלבד. לא הבנתי את השאלה<br />

[2017-04-04 07:53] reasonat opened #23 "Header - גישה לניהול שם האתר בעברית לצד הלוגו"
עורכי התוכן יכולים לעדכן את שם האתר בעברית ואנגלית

[2017-04-04 07:53] reasonat commented on #23
➤ Bruria Helfer commented:
&#64;Amir Taiar אני חושבת שזה מוגדר בקוד ואין אפשרות לשנות את זה ב-UI. &#64;Inbal Jona ?<br />

[2017-04-04 07:53] reasonat commented on #23
➤ Bruria Helfer commented:
&#64;Amir Taiar יש צורך בזה?<br />

[2017-04-04 07:53] reasonat commented on #23
➤ Amir Taiar commented:
&#64;Bruria Helfer בעיקרון כן, אבל עזבי את זה כעת<br />

[2017-04-04 07:53] reasonat commented on #23
➤ Bruria Helfer commented:
&#64;Amir Taiar אני מציעה בצורה הכי פשוטה לעשות שהשם של האתר יהיה תיבה ואז לא תהיה להם בעיה לערוך את זה. ממה שאני זוכרת ענבל התעסקה עם זה ולא הצליחה שזה יעבוד דרך ה-UI.<br />

[2017-04-04 07:53] reasonat commented on #23
➤ Amir Taiar commented:
&#64;Bruria Helfer כן, מסכים. זה פתרון טוב ומהיר

[2017-04-04 07:53] reasonat commented on #23
➤ Bruria Helfer commented:
&#64;Amir Taiar טוב.. ממה שאני רואה מוגדר בקובץ טמפלט (של תבנית האב!!!) שכותרת הפסיבל נלקחת מהסיווג ומשדה התאריך שלו. צריך לשאול אותם אם זה צריך להיות כך או שהם בעצמם רוצים להחליט כל פעם מה יהיה רשום שם.<br />

[2017-04-04 07:53] reasonat commented on #23
➤ Amir Taiar commented:
&#64;Bruria Helfer עשית את זה בסוף עם תיבה לא? <br />

[2017-04-04 07:53] reasonat commented on #23
➤ Bruria Helfer commented:
&#64;Reasonat Admin לא עשיתי..  רשמתי לך בהודעה שאולי התיבה הזו אמורה להיות השם של  הפסטיבל ולא שם שבא להם או שלא?<br /><br />

[2017-04-04 07:53] reasonat commented on #23
➤ Bruria Helfer commented:
&#64;Amir Taiar לא ענית לי. מה שמוגדר שם כעת זה שהשם מורכב מהסיווג ומהתאריך שלו. האם זה מה שאמור להיות? או שאנחנו רוצים לתת להם לרשום מה שבא להם כל פעם?<br />

[2017-04-04 07:53] reasonat commented on #23
➤ Amir Taiar commented:
&#64;Bruria Helfer לתת להם לרשום מה שבא להם כל פעם. <br />

[2017-04-04 07:53] reasonat commented on #23
➤ Bruria Helfer commented:
&#64;Amir Taiar הם יכולים כעת לנהל את שם האתר מהתיבות פה:<br />http://jff.reasonat.com/en/admin/content/blocks<br />האם צריך קישור לניהול מהלוגו עצמו? אפשר לתת הרשאה ל contexual filter לא?<br />

[2017-04-04 07:53] reasonat commented on #23
➤ Amir Taiar commented:
&#64;Bruria Helfer אפשר פשוט להוסיף קישור תחת התפריט דאשבורד<br />

[2017-04-04 07:53] reasonat commented on #23
➤ Bruria Helfer commented:
&#64;Amir Taiar הוספתי<br />

[2017-04-04 08:19] reasonat opened #24 "Calendar - Main Area - Display / Dont display not active events"
Site calendar should display un-active events to stuff and editors members when they login to the site

[2017-04-04 08:19] reasonat commented on #24
➤ Bruria Helfer commented:
&#64;Amir Taiar לא הבנתי את המשימה ואת הרעיון שלה<br />

[2017-04-04 08:19] reasonat opened #25 "Movie - movie events tab"
for movie page create events tab that shows admin table for all events of connected to that movie

[2017-04-04 08:19] reasonat commented on #25
➤ yakoub abaya commented:
&#64;Amir Taiar i created this view : http://jer-cin.reasonat.com/en/admin/structure/views/view/movie_events_tab<br /><br />which appears for movie pages : http://jer-cin.reasonat.com/en/node/4726/events<br /><br />maybe you would like to pass it for bruria for theming .<br />

[2017-04-04 08:19] reasonat opened #26 "Movie - field override for movie appearance in a festival"
movies need to have different field values between festivals appearances .
implement this using inheritance between nodes .

בעת עריכת ו/הוספת סרט חדש, רק באתר פסטיבל, יש לאפשר ערך נוסף או כפתור בחירת הצגה / אי הצגה של השדה בעמוד הסרט
 □    Long Summary - another field
 □    Short summary - Another field
 □    Credits - Hide from display
 □    Bio - Hide from dispaly
ייחודי לאתר הפסטיבל
תקף לשתי ה

[2017-04-04 08:19] reasonat opened #27 "Event - Event and Movie navigational arrows"
See design to understated how it should look like.
There need to be a navigation arrow on each movie/event/group movie/ article when a user arrive to the node from a Lobby.
The logic should be
- The navigation should be base on the Lobby I came from. So the order should be the Lobby order.
- If the Lobby order changed by editor (a-z/date/so on) the the nav should be according.

כאשר אני מגיע מלובי

[2017-04-04 08:19] reasonat commented on #25
➤ Amir Taiar commented:
&#64;yakoub abaya Whats the point in creating a new view? <br />

[2017-04-04 08:19] reasonat commented on #26
➤ yakoub abaya commented:
&#64;Amir Taiar check this out : https://youtu.be/ZphqWwuh3HM<br /><br />

[2017-04-04 08:19] reasonat opened #28 "Calendar - html bug : _return_addthisevent_markup"
the var elements seems to get rendered on page, see attached screenshot .

┆Attachments: <a href="https:&#x2F;&#x2F;www.wrike.com&#x2F;extlink&#x2F;7ca52bf0905c41fb8ddde4d1d1a60e3b:F35804981.A948692&#x2F;Screenshot+from+2017-04-02+16-39-14.png">Screenshot from 2017-04-02 16-39-14.png</a>

[2017-04-04 08:19] reasonat commented on #26
➤ Amir Taiar commented:
&#64;yakoub abaya Looks like is solve lots of the issues though managing seems very comlicate<br />

[2017-04-04 08:19] reasonat commented on #27
➤ Amir Taiar commented:
&#64;Ricky Thomas What is status of this one? If it&#39;s need to be review please update the status. <br />

[2017-04-04 08:19] reasonat commented on #26
➤ Bruria Helfer commented:
&#64;Amir Taiar אני אמורה להוסיף את השדות האלו? האם זה בסדר שיראו אותם בכל עריכה של סדר אבל השם שלהם יהיה משהו כמו &#34;לפסטיבל בלבד&#34;?<br />

[2017-04-04 08:19] reasonat commented on #26
➤ Bruria Helfer commented:
&#64;Amir Taiar לגבי התיבות ביו וקרדיט. מופיעות כרגע רק באתר הסינמטק.<br />

[2017-04-04 08:19] reasonat commented on #27
➤ Ricky Thomas commented:
&#64;Tom Meir  &#64;Amir Taiar It is not finished yet, the views_navigation module is not working , so I am creating a custom module that&#39;s why It take time. Any way It will be complate by today.<br />

[2017-04-04 08:19] reasonat commented on #28
➤ Bruria Helfer commented:
&#64;Alex Voloshchenko עדיין משהו  לא בסדר פה. משום מה כשהדף עולה רואים את השבירה ולאחר מכן זה מסתדר. אולי זה גם גורם לשזה שהדף תקוע כשמנסים לגלול ללמטה?<br />

[2017-04-04 08:19] reasonat commented on #27
➤ Tom Meir commented:
&#64;Ricky Thomas please pause work on this task. move to other tasks. this task is not important enough for the upcoming live date. &#64;Amir Taiar  <br />especially if you plan on using custom code.<br />

[2017-04-04 08:19] reasonat opened #29 "Calendar - Frontend"
Once dependency is done

**Some notes:**
 □  Event box height should be the same in all events. Start time is the top of the box line.

**Responsive notes:**

1. חלק ראשון - שורת תאריכים. דביקה בעת גלילה
1. אולם אחד אחרי השני - תחת כל אולם האירועים שלו אחד תחת השני.
  1. אירוע:
    1. שעה
    1. שם סרט
    1. כרטיסים

[2017-04-04 08:19] reasonat commented on #26
➤ Bruria Helfer commented:
&#64;Amir Taiar והאם השדות האלו יופיעו בכל מקום במקום השדות הקודמים? עמוד אישי, עמוד חיפוש, עמוד הקרנות חודשיות וכ&#39;ו<br />

[2017-04-04 08:19] reasonat commented on #26
➤ Bruria Helfer commented:
&#64;Amir Taiar לגבי הביו והקרדיט. לכל אייטם בתוך הביו או לכל השדה של הביו תהיה אופתיה לומר אם הוא מוצג או לא. זאת אומרת כל אדם אני בוחרת אם הוא מוצג בפסטיבל או לא או שאני בוחרת אם בכלל האישים האלה יויפעו או לא.<br />

[2017-04-04 08:19] reasonat commented on #27
➤ Tom Meir commented:
implelentation does not fulfill the task requirements, time here is waisted. moving task to phase 2 of project. <br />

[2017-04-04 08:19] reasonat commented on #26
➤ Amir Taiar commented:
&#64;Bruria Helfer <br />1. השדות הללו מופיעים בכל מקום, באתר פסטיבל בלבד, במידה והם מלאים. במידה ולא, השדה הדיפולטי של סינמטק יופיע. <br />2. לכל יחידת ביו - כלומר לכל ביו - כל אדם  - שיופיע / לא יופיע<br />

[2017-04-04 08:19] reasonat commented on #26
➤ Bruria Helfer commented:
&#64;Amir Taiar עברתי את הזמן כבר בהרבה... אני צריכה זמן נוסף.<br />בעמוד הבית עוד לא עובד לי שמדפיס את שדה הפסטיבל אם הוא קיים, אני צריכה לבדוק למה.<br />לגבי הביו והקרדיט עוד לא הגעתי לזה...<br />

[2017-04-04 08:19] reasonat opened #30 "Calendar - Read the tasks, understand them"
Before starting to work on this the 2 of you should read the tasks, understand what needed from you and add here comments if needed / on each task.
We will start working once you are clear with what and how this needed to get done. 

[2017-04-04 08:19] reasonat commented on #26
➤ Bruria Helfer commented:
&#64;Amir Taiar בינתיים גם עליתי על עוד בעיות...<br />בגריד דינמי, אם השורה הראשונה לא מלאה לא רואים את הגריד<br />בעמוד החודש יש בעיה של גלילה שמנסים לגלול והעמוד נתקע אני צריכה לבדוק את זה...<br />

[2017-04-04 08:19] reasonat commented on #26
➤ Bruria Helfer commented:
&#64;Amir Taiar אני רואה שרוב הזמן פה הוא לא שלי בכלל.. אז אני ממשיכה.<br />

[2017-04-04 08:19] reasonat commented on #26
➤ Amir Taiar commented:
&#64;Bruria Helfer את יכולה להמשיך עוד שעתיים על המשימה<br /><br />

[2017-04-04 08:19] reasonat commented on #26
➤ Bruria Helfer commented:
&#64;Amir Taiar כעיקרון סיימתי פה מלבד שני הבאגים שציינתי. <br />

[2017-04-04 08:19] reasonat commented on #26
➤ Amir Taiar commented:
&#64;Bruria Helfer צריך לעבוד על שני הבאגים ורק לאחר מכן זה ילך לבדיקה<br />

[2017-04-04 08:19] reasonat opened #31 "Calendar - Extra manual column - New Hall maybe?"
We need to create another column which the editor can add event to in a manual way, meaning they will have a "special Hall" only this isn't a hall really an can be whatever the client want it to be.
The  column finaly will display events the same way other hall columns display events.
We need to think about a way to do this.

[2017-04-04 08:19] reasonat opened #32 "Calendar - general notes"
This is an area below the calendar with genral notes.
The notes will be apart from the columns and each note will be a row.
The note should be like the free paragraph they can add to the Homepage, so maybe we should use the same paragraph?
Each note will be below the other and there should be a management page for all of this.
So maybe the paragraph should be managed in the calendar node itself?
T

[2017-04-04 08:19] reasonat opened #33 "Calendar - Dont display node title for the calendar node"

[2017-04-04 08:19] reasonat opened #34 "Calendar - Main Area - pop-up box content"
pop up box should display:
✓    Event title
✓    Short description of the event
✓    Link to the event node
✓    Screening table - Like in Lobby pages on the main site.

[2017-04-04 08:19] reasonat opened #35 "Calendar - Main Area - Add X to close the pop-up"
Add X to close the pop-up

User can also close the pop-up box when clicking anywhere out of the box on the screen.

[2017-04-04 08:19] reasonat opened #36 "Calendar - Main Area - pop-up should appear when pressing the title of the event"

[2017-04-04 08:19] reasonat opened #37 "Calendar - Main Area -Event pop-up box display"

[2017-04-04 08:19] reasonat opened #38 "Calendar - Main Area -Add option on event form to remove event from festival calendar"
Add option on event form to remove event from festival calendar

Then prevent this events from display in the calendar.

[2017-04-04 08:20] reasonat opened #39 "Calendar - Main Area -Event box display"
Event box should display:
✓    Event time | Event length | Favorite icon  - 20:30 | 112m | favorite icon
✓    Movie title - The movie the event is related to
✓    Screening remarks table - If exist.
✓    Screening ID + Ticket button

**Ticket logic:**
Like on main site
✓    In case the event date is before NOW dont displat ticket button.
✓    In case it's out of stock display "Sold out".
✓    Tick

[2017-04-04 08:20] reasonat opened #40 "Calendar - Main Area -Each event should be display under the related Hall tab column and in the related day of the event"
MIght be a duplication of this
https://www.wrike.com/open.htm?id=142580585

[2017-04-04 08:20] reasonat opened #41 "Calendar - Hall table -Editor can be able to order tabs for the festival site"
Add ordering functionality to Festival site only in the Halls taxonomy so editor can order the halls.
Then the halls should be display according to this order.

[2017-04-04 08:20] reasonat opened #42 "Calendar - Hall table -Each tab is a column to the related events"

[2017-04-04 08:20] reasonat opened #43 "Calendar - Hall table -Create a new field "short hall name fo calendar" for the display"
Add a new field for the term fields Hall "short hall name fo calendar"
Then display this name in the tabs

For testing add you own short names till the client will edit this.

[2017-04-04 08:20] reasonat opened #44 "Calendar - Hall table -Display up to 6 Halls at a time"
Display only 6 halls at current display.
I case there are more then 6 display right and left arrows.
pressing arrow should move full tab right or left, not half tab. 

Here is a node to display 7 Halls http://jff.jer-cin.reasonat.com/en/festival-calendar/2017-04-26

[2017-04-04 08:20] reasonat opened #45 "Calendar - Hall table - Display only active Halls"
Only Halls with active events should be displayed
✓    Display  only Halls with events related to festival.
 □    Display only Halls with event related to current festival [This will later be managed by new taxonomy - Festival archive]

[2017-04-04 08:20] reasonat opened #46 "Calendar - Hall table"
In the attach design I have marked the halls table for better understanding.

Halls are taxonomy terms and events are being referenced to them.

┆Attachments: <a href="https:&#x2F;&#x2F;www.wrike.com&#x2F;extlink&#x2F;445b4c45e8974f729bea3c7db631a881:F35305831.A948692&#x2F;calenday_halls.png">calenday_halls.png</a>

[2017-04-04 08:20] reasonat opened #47 "Calendar - days table - Each day should have his own url end"
So if I on Monday, 12/4 it should have some unique url
jff.jer-cin.reasonat.com/en/calendar/{monday124} for example. Doesn't really matter what it will be.

If this task https://www.wrike.com/open.htm?id=142570218 cause issues with this one the this one is more important.

[2017-04-04 08:20] reasonat opened #48 "Calendar - days table - Ajax load between days"
Changing days should be fast then better using Ajax calls.

[2017-04-04 08:20] reasonat opened #49 "Calendar - days table - navigation between days when there is more then 12 days"
On desktop - Each arrow click jump a full day and not half day.
On Mobile - With the finger

[2017-04-04 08:20] reasonat opened #50 "Calendar - days table - Active day logic"
Calendar should display under each day the relevent events from the event date.
General day logic:
✓   Display only days with events related to festival. Meaning there might be jump between day like 4/5 | 6/5 | 8/5 since 7/5 have no events.
✓   Display only days with event related to current festival [This will later be managed by new taxonomy - Festivak archive]
Active event logic:

1. If today d

[2017-04-04 08:21] reasonat opened #51 "Calendar - days table - Table should display 12 days only with arrows for more days if any"
Table should display up to 12 days in a current display.
In case there is more then 12 days it should display forward and backward arrows.

[2017-04-04 08:21] reasonat opened #52 "Calendar - Check to see if existing calendar help us in any way"
This is the exisiting calendar http://jff.jer-cin.reasonat.com/en/node/3261
It's build on top of panel so it's actually a pane.
We had many troubles with this calendar and we might want to develop new from scratch.
Also there were changes for example now we dont need the time table on the left. One more example, this one use ajax and there is a problem with the day url task.

I suggest reading all

[2017-04-04 08:21] reasonat opened #53 "Calendar - Create the main Festival node - Both languages"
This node [Or any other solution - MIght be view display page] will hold the festival calendar in hebrew and English.
We should start with the English one.

Also, add links in the menu so we can reach to it easly. 

[2017-04-04 08:21] reasonat commented on #53
➤ Alex Voloshchenko commented:
I&#39;ve create new view - http://jff.jer-cin.reasonat.com/en/festival-calendar http://jff.jer-cin.reasonat.com/en/admin/structure/views/view/festival_calendar/edit<br />

[2017-04-04 08:24] reasonat opened #54 "Toptix - בהמשך הדרך נרצה אפשרות לקישור הקרנה/טופטיקס ישירות מעמוד המקבץ"
tom explanation:
a toptix id field should exists for movie group content type where editors can select movie groups from toptix.

it is unclear though what this value effects later once it is set.

we have a future task that in the event admin page, editors can create events in bulk by picking an existing show (movie or movie group) from toptix, and the system them creates events in draft for each

[2017-04-04 08:24] reasonat opened #55 "Toptix - webform toptix purchase button"
יכולת להוסיף כפתור סליקה כחלק מתהליך הגשת הטופס - בעריכת הטופס ניתן לקבוע האם יש להוסיף את הכפתור והאם הוא חובה. הכפתור מוביל לעמוד רכישה של טופטיס עבור מוצר מסויים (אפשר כפופ-אפ, הגדרות הרכיב שומרות את הנתיב הספציפי לרכישת המוצר). במידה והכפתור הוגדר כחובה לא יהיה ניתן להגיש את הטופס לפני שטופטיקס דיווחו (דרך הJS) שהמשתמש סיים את הרכישה. במידת האפשר הטופס ישמור נתוני רכישה שחזרו מטופטיקס בשדה מוס

[2017-04-04 08:24] reasonat opened #56 "Toptix - toptix iframe google analytics"
setup analytics for multiple domains .
https://support.google.com/analytics/answer/1034342

toptix iframe reports using js: event url changes & cart updates. the site google analytics registers these events.

https://support.google.com/analytics#topic=3544906

https://developers.google.com/analytics/devguides/collection/analyticsjs/

┆Attachments: <a href="https:&#x2F;&#x2F;www.wrike.com&#x2F;extl

[2017-04-04 08:24] reasonat commented on #54
➤ Amir Taiar commented:
&#64;yakoub abaya is this task clear to you? What is the estimation hours for this? <br />

[2017-04-04 08:24] reasonat commented on #54
➤ yakoub abaya commented:
&#64;Amir Taiar  what is the CT in &#34;move group CT&#34; ?<br /><br />what xml in toptix shows the movie group ?<br />what is a &#96;movie group&#96; called in toptix ?<br />

[2017-04-04 08:24] reasonat commented on #54
➤ Amir Taiar commented:
&#64;yakoub abaya So its not clear.... &#64;Tom Meir please make this task clear. <br />

[2017-04-04 08:24] reasonat commented on #55
➤ yakoub abaya commented:
we are talking about intigration to webfrom module here, right ?<br />

[2017-04-04 08:24] reasonat commented on #56
➤ yakoub abaya commented:
&#64;Amir Taiar i don&#39;t know if client even aware of this issue .<br />this is about when user opens the toptix window then we need to track their navigation and report it back to drupal site analytics .<br /><br />

[2017-04-04 08:24] reasonat commented on #54
➤ yakoub abaya commented:
i need client to explain and approve this .<br />

[2017-04-04 08:24] reasonat commented on #55
➤ yakoub abaya commented:
&#64;Amir Taiar why do we need this ?<br />are we really talking about webform here or somthing else ?<br />is the client even aware of this feature ?<br />

[2017-04-04 08:24] reasonat commented on #56
➤ yakoub abaya commented:
https://developers.google.com/analytics/devguides/collection/analyticsjs/<br /><br />

[2017-04-04 08:24] reasonat commented on #55
➤ Amir Taiar commented:
&#64;yakoub abaya The client well aware and this is important one. I thinkk it will be best to contact client to get better explenation. <br />

[2017-04-04 08:24] reasonat commented on #56
➤ yakoub abaya commented:
&#64;Amir Taiar &#64;Roei Dahan google analytics is not even currently installed on jer-cin, are you sure we need to go through with this ?<br />

[2017-04-04 08:24] reasonat opened #57 "Person - Person management view"
Create a management view for persons.
Add a link to this view under the Dashboard tab.

**Columns:**
✓   VBO - Can set person type + Profession
✓   Photo
✓   Language -
✓   First name + Last Name
✓   Person type
✓   Job title
✓   Profession
✓   Email address
✓   Search additions

**Filters:**
✓   Number of items
✓   Language
✓   First name and full name search
✓   Person type
✓   Job title
✓   Pro

[2017-04-04 08:24] reasonat commented on #55
➤ yakoub abaya commented:
sent mail to client at Wed, Mar 29, 2017 at 2:18 PM .<br />

[2017-04-04 08:24] reasonat commented on #55
➤ yakoub abaya commented:
client provided toptix account that i can use in my development work, but the iframe doesn&#39;t provide a widget to login to that account .<br />

[2017-04-04 08:24] reasonat commented on #56
➤ yakoub abaya commented:
i will also need at least 2 hours to learn how google analytics api work .<br />

[2017-04-04 08:24] reasonat commented on #55
➤ yakoub abaya commented:
the basket object has property isCommited which seems to indicate that customer commpleted the checkout process, i need to confirm that with toptix support .<br />

[2017-04-04 08:24] reasonat commented on #56
➤ Amir Taiar commented:
&#64;yakoub abaya Anyway you can install GA for the site. This is part of the scope and it&#39;s an important task. So we need to do this. <br />

[2017-04-04 08:24] reasonat opened #58 "Person - Add option field to hide person from search results"
Add a field checkbox which allow the editor to hide the person from the search results.
Then at the search results hide this nodes.

For both festival and cinema main site

[2017-04-04 08:24] reasonat commented on #56
➤ yakoub abaya commented:
reseatch multiple domains setup in google analytics<br />

[2017-04-04 08:24] reasonat opened #59 "Search page - Cancel - Search page - Display content type on each results box"
So if the box is Event - Display Event.
This way the user will know what content type is it.

We will need to design this.

This task is instead of this one
https://www.wrike.com/open.htm?id=115264543

[2017-04-04 08:24] reasonat opened #60 "Search page - Planning - make all exposed search facet filters appear even if they are not helping filter results further or are not relevant to result set."
אני לא חושב שאנחנו צריכים את זה
**מחכה לתשובה מנבות.**

[2017-04-04 08:24] reasonat commented on #56
➤ yakoub abaya commented:
maybe use ecommerce ? https://support.google.com/analytics/answer/1009612?hl&#61;en<br />

[2017-04-04 08:24] reasonat commented on #59
➤ Bruria Helfer commented:
&#64;Amir Taiar אני לא מבינה. על איזה עמודים מדובר? כל התצוגות? איפה אמור להופיע?<br />

[2017-04-04 08:24] reasonat commented on #59
➤ Amir Taiar commented:
&#64;Bruria Helfer המשימה תחת עמוד חיפוש. הכוונה היא להוסיף בתצוגות של התוצאות את סוג התוכן המוצג. למשל אם מוצג סרט אז שיהיה כתוב סרט וכן הלאה. כעת צריך להדפיס את זה ואז לשאול את נבות ותמר איפה בדיוק ואיך זה יראה. <br />

[2017-04-04 08:24] reasonat commented on #56
➤ yakoub abaya commented:
researching tag manager : https://support.google.com/tagmanager/answer/6103657<br />

[2017-04-04 08:24] reasonat commented on #59
➤ Amir Taiar commented:
&#64;Bruria Helfer את אמורה להוסיף. כן, זו המשימה.. :) <br />צריכים כמובן לראות אותם רק בעריכה ורצוי ואם אפשר שיופיעו רק בפסטיבל ולא בסינמטק. בכל מקרה, כן, השם שלהם צריך לכלול משהו עם ״לפסטיבל בלבד״ . <br />ביו וקרדיט גם צריכים להופיע בפסטיבל, כמו שהם בסינמטק. אלא שבפסטיבל שתהיה האופציה תחת כל אייטם לומר אם הוא מוצג / לא בפסטיבל. <br />

[2017-04-04 08:24] reasonat commented on #60
➤ Ricky Thomas commented:
Please expain What you want, I am not clear.<br />

[2017-04-04 08:24] reasonat commented on #56
➤ yakoub abaya commented:
&#64;Amir Taiar i reported toptix as analytics events : https://support.google.com/analytics/answer/1033068?hl&#61;en&amp;ref_topic&#61;1033067<br /><br />event category &#61; toptix<br />event action &#61; {navigation path reporting by toptix}<br />event label &#61; {drupal event title}<br />event value &#61; {toptix event id}<br /><br />problem in analytics is i can&#39

[2017-04-04 08:24] reasonat commented on #56
➤ Amir Taiar commented:
&#64;yakoub abaya Please add me for now<br />

[2017-04-04 08:24] reasonat commented on #60
➤ Amir Taiar commented:
&#64;Ricky Thomas Lets say I am looking for http://jer-cin.tikkewebsites.com/en/search/results/love <br />In this stage I have all the filters. <br />Now I filter by content type to event - http://jer-cin.tikkewebsites.com/en/search/results/love?f[0]&#61;type%3Acm_event <br />and in this stage I left with only 3 relevent filters<br />Anyway I put this on hold since this mak

[2017-04-04 08:24] reasonat commented on #56
➤ yakoub abaya commented:
&#64;Amir Taiar i sent an invite<br />

[2017-04-04 08:24] reasonat commented on #56
➤ yakoub abaya commented:
&#64;Amir Taiar https://youtu.be/LYa27lsv1r8<br />

[2017-04-04 08:24] reasonat commented on #56
➤ yakoub abaya commented:
&#64;Amir Taiar how should i continue with this, maybe it is ready for client to give us feedback ?<br />

[2017-04-04 08:25] reasonat opened #61 "Breaking messages - Display messages on the screen"
**Theming should include this functions:**
 □    Message box should be above site
 □    Can be closed by the user by using the "x" sign.

[2017-04-04 08:25] reasonat opened #62 "Breaking messages - Admin table to manage messages"
Create admin table so the editors can manage messages.
Add view link to dashboard main link as a child.

View include this columns:
✓   Title
✓   Body
✓   Time range
✓   Domain
✓   Manage - Edit / Delete links

**Filters:**
✓   Title search and body
✓   Domain
✓   Time range

[2017-04-04 08:25] reasonat commented on #61
➤ Bruria Helfer commented:
&#64;Amir Taiar על מה מדובר?<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Amir Taiar commented:
&#64;Bruria Helfer I guess &#64;Tom Meir meant messages like &#34;Please fill this field&#34; on webform. And so... &#64;Tom Meir ?<br />

[2017-04-04 08:25] reasonat commented on #62
➤ Amir Taiar commented:
&#64;Bruria Helfer Looks like date range filter is not working well<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Bruria Helfer commented:
&#64;Amir Taiar &#64;Tom Meir which?<br />

[2017-04-04 08:25] reasonat commented on #62
➤ Bruria Helfer commented:
&#64;Reasonat Admin זה אופן באופן כזה שצריך למלא את שני שדות התאריך על מנת לראות את המודעות שפעילו בטווח הזה. אם ממלאים רק אחד אפשר לראות מודעות גם שכבר הסתיימו ולא אמורות להיות מוצגות. אולי אפשר לעשות שהשדות האלה יהיו חובה ואז לא תתאפשר לראות משהו שגוי<br />

[2017-04-04 08:25] reasonat commented on #62
➤ Amir Taiar commented:
&#64;Bruria Helfer kלא הבנתי כלום<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Tom Meir commented:
&#64;Bruria Helfer  this is a sub task for theming a new content type view that is not created yet.<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Tom Meir commented:
&#64;Amir Taiar why is this task cancelled? Navot or Tamar said they dont need breaking messages functionality anymore?<br />

[2017-04-04 08:25] reasonat commented on #62
➤ Bruria Helfer commented:
&#64;Reasonat Admin אז דבר איתי..<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Bruria Helfer commented:
&#64;Amir Taiar אני צריכה לדבר איתך לפני העיצוב וההטמעה של זה.<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Bruria Helfer commented:
&#64;Amir Taiar איפה זה עומד? איך להטמיע? איך זה אמור להיראות? האם לחיצה על איקס סוגרת את זה לתמיד לאותו משתמש? איך הוא יכול לפתוח את זה אחרי זה? לא ברור לי כל הנושא הזה.<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Amir Taiar commented:
&#64;Bruria Helfer מה שכן ברור: <br />1. יכולות להופיע מספר הודעות אחת אחר השניה. <br />2. יש כפתור איקס לסגירה של כל הודעה. <br />3. במידה והודעה נסגרה היא אינה מופיעה יותר בשאר העמודים. <br />מה שטרם ידוע: <br />1. האם הודעה מכילה גם קישור לעמוד המציג את כלל ההודעות . <br />2. האם יש עמוד כלל ההודעות<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Bruria Helfer commented:
&#64;Amir Taiar הוספתי.<br />זה מעוצב זוועה - אני יודעת. אני צריכה שתגידו איך לעצב.<br />לאחר שסוגרים ההודעה לא תופיע יותר (זה נשמר בקוקי) - מה יקרה אם רוצים לראות שוב?<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Amir Taiar commented:
&#64;Bruria Helfer אז בשביל זה יהיה את העמוד המרכז את כל ההודעות. את יכולה כבר להכין אותו במצב ראשוני - רשימה פשוטה של כל ההודעות עם התאריך שלהם וקישור המשך קריאת ההודעה המלאה - עמוד פשוט המציג את ההודעה. <br />

[2017-04-04 08:25] reasonat commented on #61
➤ Bruria Helfer commented:
&#64;Amir Taiar עשיתי משהו ממש בסיסי. בלי עיצוב:<br />http://jer-cin.reasonat.com/en/article/5825<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Amir Taiar commented:
&#64;Bruria Helfer זה בסדר גמור. לבינתיים. בשתי שפות? איפה אני יכול לראות הודעות קופצות? <br />

[2017-04-04 08:25] reasonat commented on #61
➤ Bruria Helfer commented:
&#64;Amir Taiar http://jff.reasonat.com/en<br />אבל אם תבקש לסגור לא תראה את זה יותר כל החיים. שזה לא נראה לי התנהגות נכונה.<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Amir Taiar commented:
&#64;Bruria Helfer מממ.. כן, זה לא טוב כל כך. האם אין אפשרות למשל להציג שוב לאחר זמן מסוים? <br />

[2017-04-04 08:25] reasonat commented on #61
➤ Bruria Helfer commented:
&#64;Amir Taiar ברור שאפשר. כמה זמן?<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Amir Taiar commented:
&#64;Bruria Helfer בואי נאמר 24 שעות<br />

[2017-04-04 08:25] reasonat commented on #61
➤ Bruria Helfer commented:
&#64;Amir Taiar אמור לעבוד. אבדוק מחר שאכן זה חוזר..<br />

[2017-04-04 09:23] #25 closed

[2017-04-04 09:25] #53 closed

[2017-04-04 09:43] #52 closed

[2017-04-04 09:43] reasonat commented on #28
➤ Amir Taiar commented:
&#64;yakoub abaya please review<br />

[2017-04-04 09:43] reasonat commented on #49
➤ Amir Taiar commented:
&#64;Alex Voloshchenko We will need dome dummy content I see in order to see the arrows. Do we? <br />

[2017-04-04 09:48] reasonat commented on #49
➤ Alex Voloshchenko commented:
&#64;Amir Taiar Yes we need it<br /><br />

[2017-04-04 09:53] reasonat commented on #56
➤ Amir Taiar commented:
&#64;yakoub abaya Yes, this can be reviewed by the client<br />

[2017-04-04 10:23] reasonat commented on #51
➤ Amir Taiar commented:
&#64;Alex Voloshchenko From what I can see it display 10 days. Is it because I am on 13 inch screen? <br />

[2017-04-04 10:44] amir commented on #49
Sorry, I don't want to be rude, but I'm receiving lots of notifications today because @amir is getting mentioned. Would it be possible for you to mention the recipients username completely if it exists?

[2017-04-04 10:53] reasonat commented on #44
➤ Amir Taiar commented:
&#64;Alex Voloshchenko I have add 7 events with different Halls at the 26/4<br />

[2017-04-05 05:28] reasonat opened #63 "Movie Group - Add a trailar to a group movie node"

[2017-04-05 05:28] reasonat opened #64 "Movie Group - Add favorite option to group movie node"
This should also add the movies associate with the group movie to the "My movies" on the user page

[2017-04-05 05:28] reasonat opened #65 "Movie Group - Add share pane to group movie node"

[2017-04-05 05:28] reasonat opened #66 "Movie Group - Add tags pane to group movie node"

[2017-04-05 05:33] reasonat opened #67 "User page - Show Similar movies and events"
Display on "my movies" & "My Events" tab a movie/events gallery based on similar terms of his movies.

לא ממש ברור איך זה אמור להיראות. אין עיצוב לזה.
בשלב זה נציג רשימה פשוטה של 3 אייטמים. לאחר מכן נראה איך אנחנו מציגים את זה.

┆Attachments: <a href="https:&#x2F;&#x2F;www.wrike.com&#x2F;extlink&#x2F;4b7fb1d12a014f58a877ee431bf5a967:F37645702.A948692&#x2F;Screenshot+from+2017-05-10+13-15-51.png">S

[2017-04-05 05:53] reasonat opened #68 "Term page - Front end term page"

[2017-04-05 06:03] reasonat opened #69 "Management - Add Block management main link to Dashboard link"
Add a Main item link "Block management" to Dashboard.
Under this one add links to main blocks edit, like:
 □  The Block gellery in the footer.
 □  The logo and site name.
 □  Other important blocks you aware of

[2017-04-05 07:28] reasonat commented on #61
➤ Bruria Helfer commented:
&#64;Amir Taiar עובד..<br />

[2017-04-05 08:18] reasonat commented on #68
➤ Bruria Helfer commented:
&#64;Amir Taiar אני צריכה לדעת איך העמוד הזה אמור להיראות.<br />

[2017-04-05 08:33] reasonat commented on #63
➤ Bruria Helfer commented:
&#64;Amir Taiar יש בעיה להציג פה טריילר כיוון שהתמונות למעלה הם סטטיות ומועלות בשדה אחר. אפשר לעלות את הטריילר בסרטים למטה או שהמצגת העליונה תהיה מורכבת המסרטים למטה.<br />

[2017-04-05 10:32] reasonat commented on #69
We add a new item to Dashboard "Block Management" under which you can see all block edit links

[2017-04-05 10:32] #69 closed

[2017-04-05 10:38] reasonat commented on #62
➤ Amir Taiar commented:
&#64;Bruria Helfer What is the status of this one? <br />

[2017-04-05 10:39] #12 closed

[2017-04-05 11:23] reasonat commented on #63
@navotb We have an issue here.
Now, the top area display static images which uploaded in the movie group node form. Also, there is the group movie node title on all images which is good.

What me and @bruria1 think will be best is:
**Option 1:**
Display the movie trailer under each movie (If there is any) - On top of the image.
**Option 2 - At the top area:**
1. Display Images from the movies inst

[2017-04-05 11:25] reasonat commented on #68
@navotb We have the simple tagging page, example - http://jff.jer-cin.reasonat.com/en/tags/india
Which need a better look.
I was thinking theming this in a list display.
Any comment?

[2017-04-05 12:13] reasonat commented on #62
➤ Bruria Helfer commented:
&#64;Amir Taiar  יש פה באג שאם תנסה לראות את כל המודועות שמוצגות מתאריך מסויים והלאה אתה תראה גם מודעות שכבר הסתיימו. אבל לא נראה לי קריטי. זה רק בטבלת אדמין.<br />

[2017-04-06 05:18] reasonat commented on #67
➤ Bruria Helfer commented:
&#64;Amir Taiar אני לא יודעת איך להציג רק את התכנים שקשורים עם תגיות לתכנים המוצגים. כי זה בעצם לקשר את התכנים להיבט אחר באותו עמוד.. אין לי מושג איך לעשות את זה. כרגע עשיתי את ההיבט בלי הסינון הזה פה:<br />http://jer-cin.reasonat.com/en/admin/structure/views/view/similar_user_flagged_content/edit<br /><br />

[2017-04-06 09:24] reasonat commented on #62
➤ Amir Taiar commented:
&#64;Bruria Helfer <br />1. Move language column after title<br />2. Add VBO option for delete and if it&#39;s possible change dates range. <br />

[2017-04-06 09:24] reasonat commented on #67
➤ Amir Taiar commented:
&#64;Bruria Helfer &#64;yakoub abaya Can you also have a look? <br />

[2017-04-06 13:34] reasonat commented on #41
➤ Alex Voloshchenko commented:
&#64;Amir Taiar Order for different domains should be different?<br />

[2017-04-06 13:35] navotb commented on #41
NO

[2017-04-06 13:36] navotb commented on #67
What is this view?

[2017-04-06 15:39] reasonat commented on #67
➤ yakoub abaya commented:
wrote custom hook : cm_extra_views_post_execute .<br />which embeds the similar terms view in attachment_after of main view .<br />

[2017-04-12 12:02] JerusalemCinematheque commented on #68
תצוגת רשימה כמו שבתוצאות חיפוש

[2017-04-12 12:09] JerusalemCinematheque commented on #23
השם ליד הלוגו צריך להיקבע לפי מילוי שתי השורות בניהול שם האתר. אבל אין בשורה הראשונה בעברית מספיק מקום והשורה מתפצלת לשניים ומעלימה את השורה השנייה. מה שצריך להיות שזה שכל שורה נכנסת כשורה אחת ודוחפת את חלק התפריט שמאלה

[2017-04-12 12:11] JerusalemCinematheque commented on #1
איפה אנחנו עורכים את הצבע?

[2017-04-12 12:21] JerusalemCinematheque commented on #61
בוקסת ההודעות אמורה להופיע מעל האתר, לרוחב כל העמוד
תאריך ההודעה
תוכן הודעה מקוצר
כפתור "לידיעה המלאה"
כפתור סגירה
כל הודעה יושבת או בבוקסה נפרדת או עם איזשהו קו מפריד בין הודעות

[2017-04-12 12:21] JerusalemCinematheque commented on #61
איפה אנחנו מוספים הודעות?

[2017-04-13 11:10] JerusalemCinematheque commented on #8
תפריט ההאדר של הפסטיבל צריך להיות שונה מתפריט ההאדר של הסינמטק. כרגע זה מנוהל באותו מקום

[2017-04-16 08:23] reasonat commented on #43
@navotb @JerusalemCinematheque As can be seen here
http://jff.jer-cin.reasonat.com/en/festival-calendar/2017-04-26
I have add a short name for http://jff.jer-cin.reasonat.com/en/taxonomy/term/202/edit?destination=admin/structure/taxonomy/hall name it to "Cine 3" and the short name get display.

So I suggest updating all Hall short names -
http://jff.jer-cin.reasonat.com/en/admin/structure/taxonomy

[2017-04-16 08:28] reasonat commented on #39
I have add this dummy event http://jff.jer-cin.reasonat.com/en/event/5838  to the calendar as can be seen on this date
http://jff.jer-cin.reasonat.com/en/festival-calendar/2017-04-26 on Cine 3 Hall
All requested field get display

[2017-04-16 08:29] reasonat commented on #36
Popup appear well and fast

[2017-04-16 08:30] reasonat commented on #35
X sign is display and work properly. Also when clicking out of the popup

[2017-04-16 08:33] reasonat commented on #41
➤ Amir Taiar commented:

&#64;Alex Voloshchenko Where can I set the order? <br />

[2017-04-16 08:38] reasonat commented on #34
➤ Amir Taiar commented:

&#64;Alex Voloshchenko I add short event details to this event http://jff.jer-cin.reasonat.com/en/node/5838/edit and I cant see it in the calendar pop up box<br />http://jff.jer-cin.reasonat.com/en/festival-calendar/2017-04-26<br />

[2017-04-16 08:43] reasonat commented on #34
➤ Alex Voloshchenko commented:

&#64;Amir Taiar I&#39;ve fill Short event details (it was empty) and I see text in the calendar<br />

[2017-04-16 08:48] reasonat commented on #34
➤ Amir Taiar commented:

&#64;Alex Voloshchenko Yap, My mistake! <br />

[2017-04-16 12:07] JerusalemCinematheque opened #70 "Header Menu Cinematheque vs Festival"
תפריט ההאדר של הפסטיבל צריך להיות שונה מתפריט ההאדר של הסינמטק. כרגע זה מנוהל באותו מקום

[2017-04-16 12:11] JerusalemCinematheque opened #71 "Mega menu"
המגה תפריט מציג רק את קישורי האב ולא את קישורי הבן שהוספנו

[2017-04-16 12:13] JerusalemCinematheque commented on #43
short names are only for festival calendar view?

[2017-04-16 12:18] JerusalemCinematheque commented on #58
האם זה אמור לתת פתרון לעניין שיש אישים שעושים בהם שימוש פנימי בלבד?

[2017-04-16 12:20] JerusalemCinematheque commented on #49
On mobile > both with finger and arrows, as it is on Cin' side

[2017-04-16 12:25] JerusalemCinematheque commented on #6
כן. תודה

[2017-04-18 07:08] reasonat commented on #68
➤ Bruria Helfer commented:

&#64;Amir Taiar כרגע זה מוצג כרשימה. לא ניתן לשנות את צורת התצוגה כפי שאפשר בלובי אבל אני מבינה שאין דרישה כזו בינתיים.<br />

[2017-04-18 08:53] reasonat commented on #67
➤ Amir Taiar commented:

&#64;Bruria Helfer Please front end this to be like the list above. Make a minor gap between the wishlist and the similar. Also: <br />1. Make it width the same like the wishlist. <br />2. Change title to Similar movies / Events. <br />3. Make a small gap between the title and the list. <br />

[2017-04-18 08:54] reasonat opened #72 "Calendar - Add more dummy events - Make it ready to frontend"
We need to make the calendar ready to frontend and also make more QA.
So add more dummmy events and name them in a pattern like this:
http://jff.jer-cin.reasonat.com/en/event/5836

Put all events on this date -
http://jff.jer-cin.reasonat.com/en/festival-calendar/2017-04-26
And use different time and Halls so we can test this as well.
**Finally we should have at list:**
5 events under each hall in

[2017-04-18 08:55] reasonat opened #73 "Calendar frontend"
Frontend the calendar according to the SS design.

[2017-04-18 09:02] #73 closed

[2017-04-18 09:03] #72 closed

[2017-04-18 09:03] reasonat opened #74 "Calendar - Add more dummy events - Make it ready to frontend"
We need to make the calendar ready to frontend and also make more QA.
So add more dummmy events and name them in a pattern like this:
http://jff.jer-cin.reasonat.com/en/event/5836
Put all events on this date -
http://jff.jer-cin.reasonat.com/en/festival-calendar/2017-04-26
And use different time and Halls so we can test this as well.
**Finally we should have at list:**
5 events under each hall in

[2017-04-18 09:13] #30 closed

[2017-04-18 09:18] reasonat commented on #40
➤ Roei Dahan commented:

&#64;Alex Voloshchenko Seems like this is done via other tasks. Need review? <br />

[2017-04-18 09:19] reasonat commented on #40
➤ Alex Voloshchenko commented:

&#64;Roei Dahan Yes<br />

[2017-04-18 09:28] reasonat commented on #29
➤ Amir Taiar commented:

&#64;Bruria Helfer most functionality as far to the front end is done so we can start frontend this. &#64;Alex Voloshchenko Does this task has some effect on the frontend - https://www.wrike.com/open.htm?id&#61;142570218 ?<br />

[2017-04-18 09:28] reasonat commented on #40
➤ Roei Dahan commented:

&#64;Amir Taiar alex answered yes, i mistakly read the inbox of it. so i&#39;m notifying you.<br />

[2017-04-18 09:33] reasonat commented on #29
➤ Alex Voloshchenko commented:

&#64;Amir Taiar Now view work without ajax, and there are links to all festival days. If ajax is requiered we need to change this view. Anyway I think ajax havn&#39;t any effect on the frontend.<br />

[2017-04-18 09:33] reasonat commented on #37
➤ Amir Taiar commented:

&#64;Alex Voloshchenko This is done via other tasks no? Need review? <br />

[2017-04-18 09:38] reasonat commented on #37
➤ Alex Voloshchenko commented:

&#64;Amir Taiar Yes<br />

[2017-04-18 09:43] reasonat commented on #29
➤ Amir Taiar commented:

&#64;Alex Voloshchenko So this will be same view but different approach? Anyway you have the Ajax task which need to think about and make a decision. So &#64;Bruria Helfer You can start frontend this. <br />

[2017-04-18 09:48] reasonat commented on #67
➤ Amir Taiar commented:

&#64;Bruria Helfer I see no changes but the title... <br />

[2017-04-18 10:25] JerusalemCinematheque commented on #68
לא אין דרישה כזו

[2017-04-18 10:28] JerusalemCinematheque commented on #67
על פי אלו קריטריונים נקבעים התכנים הדומים?

[2017-04-18 10:29] JerusalemCinematheque commented on #67
מבחינת תצוגה יש לזה עיצוב בסקיצות, וזה אמור להיות תצוגת גריד ולא תצוגת רשימה.

[2017-04-18 10:31] JerusalemCinematheque commented on #64
לא. כי יש אפשרות להוסיף כל סרט בנפרד. אנחנו רוצים שתהיה אפשרות להוסיף את המקבץ עצמו

[2017-04-18 10:31] JerusalemCinematheque commented on #66
מה השאלה כאן?

[2017-04-18 10:32] JerusalemCinematheque commented on #65
מה השאלה כאן?

[2017-04-18 12:50] JerusalemCinematheque commented on #47
מה הבעיה בדיוק? כי אנחנו לא יכולים לראות את הקישור ששלחת

[2017-04-18 12:50] JerusalemCinematheque commented on #46
מה השאלה?

[2017-04-18 12:52] JerusalemCinematheque commented on #44
מה השאלה?

[2017-04-18 12:52] JerusalemCinematheque commented on #42
מה השאלה?

[2017-04-18 12:54] JerusalemCinematheque commented on #41
אי אפשר פשוט לגרור את האולמות ולסדר אותם ידנית בעמוד ניהול האולמות?

[2017-04-18 12:56] JerusalemCinematheque commented on #39
השאלה היא האם כל השדות שאנחנו רוצים שיהיו מוצגים מוצגים?

[2017-04-18 12:58] reasonat commented on #42
➤ Amir Taiar commented:

&#64;Alex Voloshchenko Look great! <br />

[2017-04-18 13:02] JerusalemCinematheque commented on #38
זה אופציה שכבר קיימת ועובדת
מקווים שזה עובד עברית / אנגלית. כרגע אי אפשר לבדוק

[2017-04-18 13:03] reasonat commented on #41
➤ Alex Voloshchenko commented:

&#64;Amir Taiar http://jer-cin.reasonat.com/en/admin/structure/taxonomy/hall<br />

[2017-04-18 13:03] reasonat commented on #41
➤ Amir Taiar commented:

&#64;Alex Voloshchenko Test this and it works great<br />

[2017-04-18 13:08] JerusalemCinematheque commented on #36
מה שדיברנו עליו זה שפופ אפ עובד בהובר. לחיצה על האירוע מובילה לעמוד האירוע

[2017-04-18 13:08] JerusalemCinematheque commented on #33
לא מבינה את ההערה

[2017-04-18 13:12] JerusalemCinematheque commented on #26
תוכלו בבקשה להסביר לנו מה אנחנו אמורים לבדוק? האם זה מתייחס לשדות ייחודיים לפסטיבל / סינמטק ולשדות שניתן להסתיר בצד סינמטק?

[2017-04-18 13:19] reasonat commented on #26
➤ Bruria Helfer commented:

&#64;Amir Taiar תיקנתי את שניהם.<br />

[2017-04-23 09:53] reasonat opened #75 "responsive shopping cart"

[2017-04-23 10:02] navotb commented on #75
האם זה הפתיל שעוסק בהצגת עמודי טופטיקס בצורה רספונסיבית? אם כך, לטופטיקס יש כבר רספונסיביות מובנית, הבעיה היא שכאשר אנחנו קוראים לטופטיקס דרך המודל (החלונית) הרספוניסיביות לא מתרחשת, לכן צריך להיות הגדרה אחרת למודל במכשירים סלולריים

[2017-04-23 10:18] reasonat opened #76 "טבלת קרדיטים צ'ק בוקס"
הבחירה צריכה להיות האם להציג בצד סינמטק ולא האם להציג בצד פסטיבל

[2017-04-23 10:28] reasonat opened #77 "ברשימת הסרטים באנגלית, אי שמירה על הריווח בתקציר הסרט. שתי הפסקאות נדבקו לאחת"

[2017-04-23 11:18] reasonat opened #78 "שינויים בהאדר ומגה תפריט"
【 highlighted #2985e0 】✓   בצד עברית, שונה הכיתוב שליד הלוגו. איפה אנחנו עורכים את זה?【 end highlighted 】
【 highlighted #2985e0 】✓   כל הקישורים הפכו לורודים, היו לבנים【 end highlighted 】
【 highlighted #2985e0 】✓   למה הקישור ללוח שנה פסטיבל נמצא בצד דומיין סינמטק? והאם זה בסדר שנוריד אותו משם או שזקוקים לזה לגישה קלה לבדיקה של העמוד?【 end highlighted 】

[2017-04-23 11:43] reasonat opened #79 "Calendar - Send to calendar button jumps row below"
צד עברית בתצוגה ריספונסיבית פתור שלח לקלדנר יורד שורה במקום להיות בצד ימין של כפתור הכרטיסים

[2017-04-23 12:18] reasonat commented on #67
➤ Bruria Helfer commented:

&#64;Unito Bot for Two-Way Sync מה שיש בתצוגת גריד בעיצוב זה היום בפסטיבל. האם הםתכנים הדומים אמורים להיות מוצגים כמו היום בפסטיבל? התכנים המוצגים שם הם התכנים הדומים בתגיות לתכנים שהמתמש בחר.<br />

[2017-04-23 12:23] reasonat opened #80 "When finish editing and save a person page redirect to persons management page"
┆Task is synchronized with this GitHub [issue](https://github.com/Reasonat1/Cinema/issues/80)

[2017-04-23 12:28] reasonat opened #81 "דיפולט ל"איש" > person"

[2017-04-23 12:38] reasonat opened #82 "עמוד לוח שנה"

[2017-04-23 14:10] JerusalemCinematheque commented on #67
זה העיצוב שמוכר לנו

![recommendations design](https://cloud.githubusercontent.com/assets/26960693/25314152/15c54c76-2847-11e7-9f28-86745d8fc9a8.png)

לגבי זיהוי תכנים דומים - לפחות ממה שאני רואה בעמוד האישי שלי אין בתכנים האישים תגיות ובחלק מההמלצות גם אין תגיות ולכן לא ברור איך נקבע הקשר בין הפריטים בהמלצות לפריטים שנבחרו.

[2017-04-25 09:59] reasonat opened #83 "Theme global message"

[2017-04-25 10:14] reasonat commented on #1
We have issue with the top menu icons which need to be icons instead of images. We should find free icons to use. @bruria1 Please find some icons to use and send a link here.

[2017-04-25 10:15] reasonat commented on #63
@navotb @JerusalemCinematheque ?

[2017-04-25 10:17] #82 closed

[2017-04-25 10:59] reasonat opened #84 "תפריט ההאדר של הפסטיבל צריך להיות שונה מתפריט ההאדר של הסינמטק. כרגע זה מנוהל באותו מקום"

[2017-04-25 10:59] JerusalemCinematheque commented on #78
הכיתוב צריך להיות
סינמטק ירושלים
ארכיון ישראלי לסרטים

האם תוכלו להסביר לנו איפה אנחנו יכולים לערוך את הכיתוב?

[2017-04-25 11:02] JerusalemCinematheque commented on #78
@bruria1 האם להתייחס גם לשתי ההערות האחרות?

[2017-04-25 11:03] JerusalemCinematheque commented on #34
@reasonat האם זה משהו שאתה רוצה שנבדוק?

[2017-04-25 11:19] reasonat opened #85 "toptix basket checks user login"
when opening basket and it is empty, redirect to user page .
user page : **crmdetails.aspx (will open login widget automatically)**
user login : **crmlogin.aspx**

[2017-04-25 11:42] JerusalemCinematheque commented on #81
@reasonat האם מחכים לבדיקה שלנו?

[2017-04-25 11:45] JerusalemCinematheque opened #86 "person type לא עובר לצד תרגום"
כשאנחנו בוחרים סוג person type הבחירה לא עוברת לצד מתורגם.
זה היה בסדר בעבר

[2017-04-25 11:52] JerusalemCinematheque commented on #63
@reasonat אמיר תוכל בבקשה להסביר את האופציה השנייה קצת יותר?
1. זה אומר שהתמונות מגיעות ישירות מהסרטים המקושרים כמו שתמונה של הסרט מגיעה לעמוד האירוע?
2. לא הבנתי מה זה אומר ואיך זה קשור לטריילר?
3. הכוונה שהטיילר מגיע ישירות מעמוד הסרט? מה ההבדל בין זה לבין אופציה 1?

[2017-04-25 11:57] JerusalemCinematheque commented on #76
עובד מצויין

[2017-04-25 12:03] JerusalemCinematheque commented on #79
טופל

[2017-04-25 12:04] reasonat commented on #84
➤ Bruria Helfer commented:

&#64;Amir Taiar כעת יש תפריט שונה לתפריט הראשי באתר בפסטיבל ובסינמטק וכן לתפריט הנפתח במובייל ובדסקטופ<br />

[2017-04-25 12:07] JerusalemCinematheque commented on #84
יופי תודה

[2017-04-25 12:11] JerusalemCinematheque commented on #80
כשלוחצים על שמירה ועריכה צריך להישאר בעמוד עריכה.
בלחיצה על שמירה לעבור לעמוד ניהול אישים

[2017-04-25 12:41] JerusalemCinematheque commented on #80
ואם אפשר להוסיף לעמוד הניהול תרגום לכל פריט זה גם מאוד יעזור

[2017-04-25 12:51] #86 closed

[2017-04-25 12:55] JerusalemCinematheque opened #87 "Event - Error message"
@reasonat
Warning: Invalid argument supplied for foreach() ב-__lambda_func() (שורה 4 מ-/home2/jercin/public_html/sites/all/modules/views_php/plugins/views/views_php_handler_field.inc(202) : runtime-created function).
Warning: Invalid argument supplied for foreach() ב-__lambda_func() (שורה 9 מ-/home2/jercin/public_html/sites/all/modules/views_php/plugins/views/views_php_handler_field.inc(202) : run

[2017-04-26 06:57] #84 closed

[2017-04-26 07:01] reasonat commented on #83
@navotb @JerusalemCinematheque
We need to decide what to do here, right now it looks bad and disturbing.
From system we use it always one message at a time and a slideshow which replace messages (Ticker is out of fashion).
Please make up your mind.

[2017-04-26 07:19] JerusalemCinematheque commented on #83
@reasonat @navotb
מסכימה שזה לא נראה כל כך טוב.
הבעיה היא שאם זה סליידר ולא שמים לב שיש מספר הודעות אז האיקס סוגר את כל ההודעות והמשתמש לא יבחין בהודעות הנוספות
האם יש אפשרות למספר את ההודעות?

[2017-04-26 08:17] JerusalemCinematheque opened #88 "Lobby wide list screenings view"
@bruria1 @reasonat
בתצוגה של סרט בעמוד לובי נקבע כי יופיעו עד שלוש הקרנות ואם יש יותר הקרנות יופיע כפתור הקרנות נוספות
בתצוגת לובי תמונה רחבה מופיעות כל ההקרנות וכפתור ההקרנות הנוספות למרות שהוא לא פעיל
http://jer-cin.reasonat.com/en/lobby/all-about-me

[2017-04-26 12:08] reasonat commented on #67
➤ Bruria Helfer commented:

&#64;yakoub abaya התכנים המוצגים לא נכונים. הם צריכים להיות על פי התגיות של התכנים שהמתמש בחר וזה לא כך.<br />

[2017-04-27 07:42] JerusalemCinematheque opened #89 "When film page is updated, the film details in event page doesn't get updated as well"
@reasonat
כשפרטים של סרט מתעדכנים, הם צריכים להתעדכן גם בעמוד האירוע
עמוד הסרט
http://jer-cin.reasonat.com/en/movie/1175

עמוד האירוע
http://jer-cin.reasonat.com/en/event/5842

[2017-04-27 07:43] JerusalemCinematheque commented on #76
@reasonat סליחה, מסתבר שזה לא קשור לצ'ק בוקס, אלא לעדכון של פרטי סרט בעמוד אירוע. פתחתי נושא חדש

[2017-04-30 05:58] reasonat opened #90 "iframe default redirect"
toptix has mechanism which redirects browser after closing the iframe .
(for example after pressing "continue purchase" button)
the problem is the address they redirect to is not dynamic to current site but statically configured (or hard coded).
so if the domain cinematic is eventually installed on is not the same as what is configured in toptix it will redirect to the wrong site .

they describe

[2017-04-30 05:58] reasonat commented on #90
➤ yakoub abaya commented:

&#64;Amir Taiar new task<br />

[2017-04-30 05:58] reasonat commented on #90
➤ Amir Taiar commented:

&#64;yakoub abaya I understand the issues. What might be a solution if any? <br />

[2017-04-30 05:58] reasonat commented on #90
➤ yakoub abaya commented:

i will update the example on : http://jer-cin.reasonat.com/esro/event.php<br />and send new support request for toptix .<br />

[2017-04-30 05:58] reasonat commented on #90
➤ yakoub abaya commented:

updated example page and now waiting for toptix support reply .<br />

[2017-04-30 09:33] reasonat commented on #81
➤ Amir Taiar commented:

&#64;Bruria Helfer Are we talking cbout the person type field with the 3 option to choose from? <br />

[2017-04-30 09:38] reasonat commented on #81
➤ Bruria Helfer commented:

&#64;Amir Taiar Yes<br />

[2017-04-30 09:48] reasonat commented on #81
➤ Bruria Helfer commented:

&#64;Amir Taiar &#64;yakoub abaya ללקוח אין אפשרות לעלות לשרת שלנו הקלטות. רק להכניס כתובת url.<br />

[2017-04-30 11:31] reasonat commented on #81
@navotb @JerusalemCinematheque We have an issue here that this field isnt translatable. We can implement translation for this field but all data will be lost. We can add bulk operation to the person management view so you can bulk edit this info to multiple persons once we have done with the translation change. Is it fine?

[2017-04-30 12:56] JerusalemCinematheque commented on #81
@reasonat @navotb
 כרגע בחירה בצד אחד מעבירה את הבחירה גם לצד התרגום אז איך זה שזה לא שדה מתורגם?

[2017-05-01 07:14] #79 closed

[2017-05-01 07:39] reasonat commented on #78
➤ Amir Taiar commented:

&#64;Bruria Helfer Client is still waiting for answers... <br />

[2017-05-01 07:39] reasonat commented on #78
➤ Bruria Helfer commented:

בתפריט הניהול בתוך block managment יש לכם קישור לעריכה של הכיתוב בפסטיבל ובסינמטק בעברית ובאנגלית <br />

[2017-05-01 07:44] reasonat commented on #83
➤ Bruria Helfer commented:

&#64;Unito Bot for Two-Way Sync אין בעיה למספר את ההודעות אבל למה זה יפתור את הבעיה?<br />את מתכוונת למספור מהצורה:<br />1/4<br />2/4<br />3/4<br />4/4<br />??<br />

[2017-05-01 07:44] reasonat commented on #83
אז מה אנחנו מחליטים בנושא?
מעדיף כעת לא להוסיף משימות כמו מספור אלא לסגור משימות קיימות.

[2017-05-01 07:49] reasonat commented on #63
ביחס לאופציה השניה:
1. כן
2. כי יש לנו בעיה, מוצגת כותרת קבועה של המקבץ בכלל התמונות שבבאנר הראשי. ולכן רצוי להציג גם את שם הסרט. זה קשור לטריילר כי במידה ויהיה טריילר הוא יהיה על התמונה (סעיף3) ולכן זה מייצר הקשר לוגי
3. לא, באופציה 1 הטריילר מוצג בליסטה, בטיזרים ולא בבאנר הראשי כפי שמוצע פה.

[2017-05-01 07:50] reasonat commented on #34
@navotb @JerusalemCinematheque We need to decide where does the pop-up will be open. me and @bruria1 think the best option will be always in the middle of the screen

[2017-05-01 07:51] reasonat commented on #67
@bruria1 Also change to this grid view.

[2017-05-01 07:53] bruria1 commented on #81
ממה שאני רואה רק חברה ופסטיבל מתורגמים. איש ופרסון לא קשורים אחד לשני והתרגום לא מתבצע
אבל כפי שאמיר הציכ אפשר בבת אחת לעדכן הרבה תכנים והעדכון יעשה מהר.

[2017-05-01 07:54] reasonat commented on #67
➤ Amir Taiar commented:

&#64;yakoub abaya I see no updates since the 26/4. What is the real status of this? <br />

[2017-05-01 07:54] reasonat commented on #26
@navotb @JerusalemCinematheque Can be tested now

[2017-05-01 07:55] reasonat commented on #33
כותרת העמוד הראשי של הלוח שנה

[2017-05-01 07:56] reasonat commented on #36
לא, זה לא מה שאמרנו ולא מה שכתוב...
אמרנו שלחיצה על האירוע פותחת את הפופ-אפ אחרת זה משגע את העין. ואז, לחיצה בפופ-אפ על האירוע מכניסה לאירוע.

[2017-05-01 07:56] reasonat commented on #38
למה אי אפשר לבדוק?

[2017-05-01 07:57] reasonat commented on #39
זה ניתן לבדיקה אז סביר להניח שכן. מבדיקה שלי, כן.

[2017-05-01 07:58] #42 closed

[2017-05-01 07:58] #44 closed

[2017-05-01 08:10] reasonat commented on #47
אין פה בעיה אלא תיאור משימה. לכל יום יהיה נתיב משלו.

[2017-05-01 08:11] reasonat commented on #65
אין כאן שאלה אלא תיאור משימה. הוספת תיבת שיתוף לעמוד מקבץ..

[2017-05-01 08:11] reasonat commented on #66
שוב... זה תיאור משימה. נא לבדוק אם נעשה / לא

[2017-05-01 08:12] reasonat commented on #64
איי איי איי... חבל

[2017-05-01 08:13] JerusalemCinematheque opened #91 "If event is marked as domain access > publish to festival do not display on cinematheque side"
@reasonat @navotb
ערכנו עכשיו כל מיני אירועים שהופיעו בקלנדר הסינמטק ונועדו לקלנדר פסטיבל. סימנו אותם כשייכים לדומיין פסטיבל. אבל הם עדיין מופיעים בצד סינמטק
לדוגמא
http://jer-cin.reasonat.com/he/event/6463

[2017-05-01 08:14] reasonat commented on #64
➤ Amir Taiar commented:

&#64;Alex Voloshchenko Please prevent this from happening. Meaning when user add group movie as favorite only this grou movie node will be flaged. For now there is no place the user will see this. This will be another discussion .<br />

[2017-05-01 08:14] reasonat commented on #71
נא להוסיף פרטים נוספים

[2017-05-01 08:15] #6 closed

[2017-05-01 08:17] JerusalemCinematheque opened #92 "Movie group summary does not appear in calander"
@reasonat @navotb
תיאור המקבץ http://jer-cin.reasonat.com/he/movie-group/6777
לא מופיע באירוע של המקבץ בקלנדר. ראו תאריך 7.5

[2017-05-01 08:18] reasonat commented on #58
זה מונע הצגה של אישים דרך מנוע החיפוש.
זהו, רק מסתיר מעמוד תוצאות החיפוש.

[2017-05-01 08:21] bruria1 commented on #67
אמיר,
לא הבנתי את הערה שלך אלי.

[2017-05-01 08:21] JerusalemCinematheque commented on #92
כי אחרת מופיע רק שם המקבץ או שם האירוע ולא מבינים על מה מדובר
קצת נראה כמו טעות

[2017-05-01 08:22] reasonat commented on #81
במשימה הזו אתם מציינים שזה לא קורה.
https://github.com/Reasonat1/Cinema/issues/86

[2017-05-01 08:22] reasonat commented on #43
Yes

[2017-05-01 08:24] reasonat commented on #92
שואל שוב - מה הבקשה?

[2017-05-01 08:24] reasonat commented on #49
➤ Amir Taiar commented:

&#64;Alex Voloshchenko See client comment<br />

[2017-05-01 08:25] reasonat commented on #67
@bruria1 לעדכן את העיצוב בהתאם למה שנבות ותמר העלו פה.

[2017-05-01 08:28] JerusalemCinematheque commented on #78
תודה

[2017-05-01 08:28] #78 closed

[2017-05-01 08:29] reasonat commented on #61
➤ Bruria Helfer commented:

אתם מוסיפים הודעות כמו תכנים אחרים וכן בטבלה של ההודעות יש לינק להוספת הודעה<br />

[2017-05-01 08:31] JerusalemCinematheque commented on #63
1. ואפשר לעשות לזה אוברייד אם מוסיפים תמונה מתוך עמוד האירוע?
2. נראה לי מבלבל במיוחד אם יש גם כיתוב של אירוע ו/או לובי
3. עדיף שהטריילר יופיע בכל סרט ולא בתמונות הגלריה

[2017-05-01 08:32] reasonat commented on #80
שמירה ועריכה - עובד.
ואם אפשר להוסיף לעמוד הניהול תרגום לכל פריט זה גם מאוד יעזור - נעשה
שמירה ומעבר לעמוד ניהול - מדובר בעבודה מרובה דרך הקוד. מקפיא כעת את זה. נא להתייחס רק למה שציינתי שעובד

[2017-05-01 08:33] JerusalemCinematheque commented on #34
@reasonat @bruria1 @navotb
כן במרכז
חסר תיאור קצר של הסרט

[2017-05-01 08:36] JerusalemCinematheque commented on #81
אבל זה עבד בעבר. ואחרי שכתבנו את המשימה זה עבד שוב. עכשיו שוב פעם לא עובד.
איזו סיבה יש שחברה ופסטיבל כן מתורגמים אבל איש לא מתורגם?

[2017-05-01 08:36] reasonat commented on #34
לא אמור להיות תיאור קצר של הסרט אלא של האירוע כפי שסיכמנו.

[2017-05-01 08:37] JerusalemCinematheque commented on #26
@reasonat
 מה אנחנו אמורים לבדוק?

[2017-05-01 08:38] JerusalemCinematheque commented on #33
אוקיי לא מופיע

[2017-05-01 08:39] reasonat commented on #67
➤ yakoub abaya commented:

&#64;Amir Taiar i still need to debug the problem .<br />it works on clean drupal but on cinematic somehow not working .<br />i will work on this from 12:00 to 13:00<br />

[2017-05-01 08:41] bruria1 commented on #88
אני לא רואה את הבעיה.
לפי מה שאני רואה זה עובד בעמוד הספציפי הזה.

[2017-05-01 08:42] JerusalemCinematheque commented on #38
זה היה שהעברתם את האתר לשרת אחר והאתר לא היה זמין
יודע להסתיר. לא יודע להחזיר אם מבקשים כבר לא להסתיר מהקלנדר

[2017-05-01 08:42] bruria1 commented on #32
האם יש הערות/תכנים שונים בתאריכים שונים?
או שהתכנים/הערות שמוסיפים מופיעים בכל עמודי לוח האירועים?

[2017-05-01 08:53] JerusalemCinematheque opened #93 "event details display in movie group"
@reasonat @bruria1 @navotb
שימו לב ששורת ההקרנה בעמוד המקבץ לא מוצגת כמו שצריך. זה היה בסדר בעבר
http://jer-cin.reasonat.com/he/movie-group/6777

[2017-05-01 08:54] JerusalemCinematheque commented on #65
זה מתייחס גם לשלח לסרטים שלי?
השלח עובד רק על הצד בו המשתמש נמצא ולא עובר לצד המתורגם כפי שזה עובד עם סרטים ואירועים

[2017-05-01 08:55] JerusalemCinematheque commented on #71
מצאנו איפה היתה הבעיה או יותר נכון למדנו איך להציג אותם
תודה

[2017-05-01 08:55] #71 closed

[2017-05-01 08:56] JerusalemCinematheque commented on #92
שבעמוד הקלנדר הגדול יופיע התקציר המקוצר של המקבץ

[2017-05-01 08:57] JerusalemCinematheque commented on #43
קיצרנו את מה שהיה אפשר לקצר. אם השם לא מקוצר יש להציג שם מלא

[2017-05-01 08:59] JerusalemCinematheque commented on #61
אין בהוספת תכנים סוג תוכן כזה ומתוך עמוד ניהול ההודעות כשאנחנו מבקשים להוסיף הודעה חדשה אנחנו מקבלים הודעה שאין לנו הרשאה להוספת תוכן זה

[2017-05-01 09:01] JerusalemCinematheque commented on #34
חייב להיות תקציר של הסרט אחרת אין טעם לפופ אפ

[2017-05-01 09:02] JerusalemCinematheque commented on #34
אמור להופיע גם short event details וגם תקציר הסרט המקוצר. בדיוק כמו בעמודי לובי ועמוד הקלנדר שבצד סינמטק

[2017-05-01 09:02] JerusalemCinematheque commented on #88
כן צריך לרפרש את העמוד

[2017-05-01 09:02] #88 closed

[2017-05-01 10:17] bruria1 commented on #88
אז אין בעיה?

[2017-05-01 10:19] reasonat commented on #32
➤ Bruria Helfer commented:

ניתן לערוך את התכנים דרך התיבות שבתפריט הניהול<br />

[2017-05-01 10:22] bruria1 commented on #61
בבקשה בדקו כעת שוב.

[2017-05-01 10:25] bruria1 commented on #93
מה הבעיה? איך זה אמור להיראות?

[2017-05-01 10:26] JerusalemCinematheque commented on #93
כמו בעמוד סרט

[2017-05-01 10:27] bruria1 commented on #67
אבל זה מה שעשיתי כבר. עדכנתי את זה לגריד במקום ליסט.
זה לא טוב?

[2017-05-01 10:27] JerusalemCinematheque commented on #88
לא. הכל בסדר

[2017-05-01 10:31] bruria1 commented on #26
יש טקסטים של פסטיבל בעריכת הסרט.
אם הטקסט של הפסטיבל ריק מוצג הטקסט של סינמטק - בכל המקומות שבו מוצגים תכנים עפ טיזר.
וכן, בקרדיט יש אופציה להסתיר מסנימטק
ווביו להסתיר מהפסטיבל

[2017-05-01 10:32] bruria1 commented on #93
הכוונה שזה אמור להופיע מתחת לתמונה ולא עליה?

[2017-05-01 10:34] bruria1 commented on #81
נכון. אבל זה מיוצר אחרת.
חברה ופסטיבל הם מתורגמים ואילו באיש הם ישויות נפרדות.
לכן אני רוצה שזה יהיה ישות אחת מתורגמת אבל אז הערכים בעברית שיש בהם איש ימחקו
רק נשאר להסתכל בטבלה למי אין ערך ולהוסיף לו את הערך איש.

[2017-05-01 10:39] JerusalemCinematheque commented on #93
השורה עצמה נראית שונה מאיך ששורת ההקרנה נראית בעמוד סרט
יש קו שמפריד בין היום והתאריך
חסר פרטי אולם
חסר שלח לקלנדר שלי
חסר כפתור כרטיסים

[2017-05-01 10:41] bruria1 commented on #93
והכל צריך להופיע מתחת לתמונה או עליה?

[2017-05-01 10:42] JerusalemCinematheque commented on #81
יש מאות פריטים שהם פרסון

[2017-05-01 10:45] JerusalemCinematheque commented on #93
מתחת. איפה שזה עכשיו. רק שיראה כמו שזה נראה בעמוד סרט
![image](https://cloud.githubusercontent.com/assets/26960693/25578124/5aa7688c-2e74-11e7-861f-23cb7b9b4d77.png)

[2017-05-01 11:01] bruria1 commented on #92
בדקו כעת

[2017-05-01 11:02] JerusalemCinematheque commented on #92
יופי. תודה

[2017-05-01 11:02] #92 closed

[2017-05-01 11:18] bruria1 commented on #93
האם כעת זה בסדר? האם יכולות להופיע כמה שורות של הקרנות? האם יש צורך בכותרות?

[2017-05-01 11:19] bruria1 commented on #81
אבל אם אני מוחקת את כל הפרטים בעברית שהם איש, כל מה שיהיה ריק יהיה איש נכון? אין מצב שהשדה ריק נכון?
אז אסנן את הטבלה לכל הריקים ואעדכן אותם לאיש החדש.

[2017-05-01 11:29] reasonat opened #94 "Genrael Frontend issues 1.5.17"

[2017-05-01 12:48] bruria1 commented on #94
**מובייל:**
עמוד קלנדר:
1. הורדתי את הקו
4. מנגנון הגלילה- מה הבעיה באייפון? מה לא נגלל היטב?

עמוד הבית:
2. לא הבנתי את הבעיה

מגה תרפיט:
1. הרקע הורוד עדיין מופיע, לא רואה בעיה

**דסקטופ**
עמוד לובי
2. אני לא רואה בעייה בתצוגת רשימה:
http://jer-cin.reasonat.com/en/lobby/all-about-me
3. מדובר על אירועים? כרגע אירועים שהתאריך שלהם עבר כלל לא מופיעים? ואתם רוצים שכל האירועים האלה יופיעו?

פוטר:
1.

[2017-05-03 06:03] reasonat commented on #67
➤ yakoub abaya commented:

&#64;Amir Taiar i am currently working on this, so hold on the style review<br />

[2017-05-03 06:53] reasonat commented on #67
➤ yakoub abaya commented:

the problem was i showed the view &#34;content pane&#34; display of that view while on my local dev environment i was working with &#34;block&#34; display .<br />and it turns out passing arguments in code to &#34;content pane&#34; doesn&#39;t work like a &#34;block&#34;<br />so now i added block display and it is working .<br /><br />currently i kept the field display fo

[2017-05-03 10:07] JerusalemCinematheque commented on #94
מובייל:
עמוד קלנדר:

מנגנון הגלילה- מה הבעיה באייפון? מה לא נגלל היטב?
השורה של הקלנדר עם המעבר בין הימים

עמוד הבית:
2. לא הבנתי את הבעיה
בקו המפריד נצמד לשעה במקום להיות קו הפרדה

השורה הבעייתית
![image](https://cloud.githubusercontent.com/assets/26960693/25656177/6f183386-3000-11e7-9d1c-ba16cde013c5.png)

התצוגה הנכונה
![image](https://cloud.githubusercontent.com/assets/26960693/25656201/88cfb6

[2017-05-03 10:11] JerusalemCinematheque commented on #93
הלב ושלח לקלנדר רחוקים מידי מכפתור הכרטיסין
כן יכולות להופיע מספר שורות
כן

[2017-05-03 10:32] JerusalemCinematheque commented on #94
3. כמובן מדובר על שורת התאריך. כלומר שהאירוע ישאר (כמו שזה עכשיו) וששורת התאריך באירוע לא תמחק לאחר שמועד האירוע עבר

[2017-05-03 10:52] JerusalemCinematheque commented on #83
אז אם אין מספור, איזה סימון יש לכך שיש מספר הודעות?

[2017-05-03 10:59] JerusalemCinematheque commented on #94
@bruria1 בעמוד הבית > תמונות גלריה > משקל הפונט השתנה. הוא היה כמו בכותרת עמוד סרט

[2017-05-03 11:01] JerusalemCinematheque commented on #61
תודה.
האם להעביר לפה הערות פרונטאנד לבוקסה?
מה עם עיצוב עמוד ההודעה עצמה?

[2017-05-03 11:06] JerusalemCinematheque commented on #81
הערכים > הכוונה היא לperson type? כן?
לא לכל הפריטים?

[2017-05-03 11:10] JerusalemCinematheque commented on #77
טופל

[2017-05-03 11:10] #77 closed

[2017-05-03 11:12] JerusalemCinematheque commented on #80
שמירה ומעבר לעמוד ניהול - מדובר בעבודה מרובה דרך הקוד. מקפיא כעת את זה. נא להתייחס רק למה שציינתי שעובד > זה עבד. פשוט עבד גם בכפתור "שמירה ועריכה"

[2017-05-03 11:37] JerusalemCinematheque opened #95 "Add body field and Short Summary field to Front Page content type"
בהמשך להתכתבות שלנו בקובץ האקסל
כשאנחנו משתמשים בעמוד מסוג פרונט פייג' כעמוד בפני עצמו ולא כעמוד הבית, היינו רוצים שבין כותרת העמוד לפריטים שאנחנו מוסיפים אליו יהיה שדה טקסט, כמו שיש בעמוד מסוג "לובי"
לדוגמא בעמוד הזה
http://jer-cin.reasonat.com/he/5672
ככה אנחנו יכולים לייצר עמודי לובי בלי לייצר אותם כעמוד לובי של ממש

[2017-05-03 11:49] #70 closed

[2017-05-03 13:09] JerusalemCinematheque commented on #47
אוקיי. בינתיים אנחנו לא רואים את זה בפועל

[2017-05-03 13:11] JerusalemCinematheque commented on #58
עובד

[2017-05-03 13:14] JerusalemCinematheque commented on #64
עובד יפה

[2017-05-03 13:18] JerusalemCinematheque commented on #66
התגיות מופיעות בעמוד המקבץ. הן צריכות להופיע גם בעמוד האירוע אליו המקבץ משוייך
לדוגמא זה עמוד המקבץ
http://jer-cin.reasonat.com/he/movie-group/6780
יש לו שתי תגיות

זה עמוד האירוע עם המקבץ
http://jer-cin.reasonat.com/he/event/6782

התגיות לא מופיעות

[2017-05-03 13:20] reasonat commented on #65
לא הבנתי את ההערה שלכם

[2017-05-03 13:21] JerusalemCinematheque commented on #65
כבר לא רלוונטי. העניין נפתר.

[2017-05-03 13:21] #65 closed

[2017-05-03 13:21] JerusalemCinematheque commented on #1
האם מצאתם פתרון לעניין?

[2017-05-03 13:22] JerusalemCinematheque commented on #75
חושבת שאפשר לסגור את העניין הזה. העגלה ריספונסיבית.

[2017-05-03 13:23] reasonat commented on #66
זו הייתה דרישה בעמוד סרט, שתגיות מסרט יופיעו בעמוד אירוע.
כאן הדרישה היא להציג את תיבת התגיות.
הדרישה להציג את התגיות של מקבץ גם באירוע המקושר היא דרישה נוספת שכרוכה בשעות עבודה רבות. מייצר משימה חדשה עבור זה ומקפיא אותה בשלב זה.
יש לציין כי גם דרישה זו הייתה בהקפאה ועברה בסוף לביצוע.
את המשימה הזו מעביר לבוצע.

[2017-05-03 13:23] #66 closed

[2017-05-03 13:23] JerusalemCinematheque commented on #24
אתם רוצים שנבדוק אם אירועים שהם לא אקטיביים מופיעים בעמוד ניהול אירועים?

[2017-05-03 13:24] JerusalemCinematheque commented on #48
מתייחס לקלנדר סינמטק? פסטיבל? שניהם?

[2017-05-03 13:27] #58 closed

[2017-05-03 13:28] JerusalemCinematheque commented on #41
נראה שזה עובד

[2017-05-03 13:28] reasonat opened #96 "Display group movie node tags in the referenced event node"
Disply the group movie node tags
for example this node has 2 tags
http://jer-cin.reasonat.com/he/movie-group/6780

in the event tags pane which display this group movie node
http://jer-cin.reasonat.com/he/event/6782

[2017-05-03 13:31] JerusalemCinematheque commented on #51
אין לנו הרשאה לעריכה של הקלנדר ולכן אנחנו לא יכולים להוסיף ימים ולבדוק אם אכן מוצגים 12 ימים ואת עניין החצים

[2017-05-03 13:33] reasonat opened #97 "this is a test task"

[2017-05-03 13:38] reasonat commented on #95
אתם מדברים פה על פסקה מקדימה.
ממיבט הבנתי ברוריה הוסיפה פרגרפ של טקסט פשוט, למה זה לא פותר את הבקשה?
@bruria1

[2017-05-03 13:39] reasonat commented on #80
כן, המערכת מזהה את שניהם ככפתור אחד ובכדי להפריד ביניהם נדרש להתלכלך פה בקוד כמה שעות.

[2017-05-03 13:42] reasonat commented on #61
אם אני מבין נכון פונקציונאלית הדברים עובדים וכעת אנחנו רק עם משימת העיצוב.
הנה היא -
https://github.com/Reasonat1/Cinema/issues/83
אם כן, אפשר לסגור את זה?

[2017-05-03 13:44] reasonat commented on #83
שוב, אני לא חושב שנכון להציג מספר הודעות ואם כן אז בסלייד.
לא חייב להיות מחווה אבל זה חשוב אפשר להציג מתחת נקודות ממש כמו בגלריה.

[2017-05-03 13:46] JerusalemCinematheque commented on #95
לא רואים שנוסף שדה כזה
יש את שדה טקסט שאפשר להוסיף לפני כל חלק, אבל לא על זה מדובר

[2017-05-03 13:49] JerusalemCinematheque commented on #47
Ctrl+Click does not work. Pnly works with right click.
when clicking on a different day loses different url

[2017-05-03 13:51] reasonat commented on #67
@yakoub We need to display related movies under >> My movies tab.
And display related events under >> My events tab.
So yes.

[2017-05-03 13:52] alex commented on #47
אני לא ה”Alex” שאתה רוצה. בבקשה אל תזכיר אותי.

[2017-05-03 13:52] reasonat commented on #34
Can you write in english what fields need to be here? All of them.

[2017-05-03 13:54] #33 closed

[2017-05-03 13:58] reasonat commented on #47
➤ Amir Taiar commented:

&#64;Alex Voloshchenko The user need to see the different URL when he click on each day in the days table. <br />

[2017-05-03 14:03] reasonat commented on #47
➤ Alex Voloshchenko commented:

&#64;Amir Taiar It is possible only without ajax. Don&#39;t use ajax?<br />

[2017-05-03 18:13] reasonat opened #98 "distinguish dev sites from live"
it is required to copy database between environments , so only way to distinguish between them is to write it in source code
✓ ~~prevent dev sites from affecting seo~~
✓ block site by password
✓ ~~change logo and title~~  instead just added 'dev-site' class to body
 ┆Task is synchronized with this GitHub [issue](https://github.com/Reasonat1/Cinema/issues/98)
 ┆Task is synchronized with this GitHub

[2017-05-04 07:47] bruria1 commented on #94
מובייל:
עמוד קלנדר:
מנגנון הגלילה - טרם טופל

עמוד הבית:
2. תוקן

דסקטופ
עמוד לובי
2. עדיין לא רואה מה הבעיה...
3. לא הבנתי.. מה שאני רואה אירוע שהתאריך שלו עבר (כמו האירוע האחרון לדוגמה שמופיע בעמוד:
http://jer-cin.reasonat.com/en/lobby/all-about-me)
התאריך שלו עבר והוא מופיע עם התאריך שלו. מה הרצוי מבחינתכם?

לגבי שמקל הפונט - תוקן

[2017-05-04 07:57] bruria1 commented on #83
אשמח לקבל סיכום על מה לעשות פה.

[2017-05-04 08:11] bruria1 commented on #93
לבדיקה

[2017-05-04 08:13] reasonat commented on #47
@navotb @JerusalemCinematheque As I was worry, you need to decide between:
- Ajax navigation.
- URL for each day.

[2017-05-04 08:14] bruria1 commented on #81
הכוונה היא לערך "איש" בשדה:
person type
הוא היחיד שיימחק.

[2017-05-04 08:20] JerusalemCinematheque commented on #93
רק שעה אולם אמור להתיישר עם קו הגריד של הטקסט

[2017-05-04 08:29] JerusalemCinematheque commented on #34
event date line - day / date / time / hall / tickets
event title
short event details
film title
leading credit text / length
short summary festival
More screenings
list of other screenings, not including the chosen screening

if event title and film title the same
event date line - day / date / time / hall / tickets
short event details
film title
leading credit text / length
short summary festival

[2017-05-04 08:29] navotb commented on #94
הי ברוריה בענין סעיף 3
הדוגמא שאת מביאה היא של לובי שאליו מקושרים *סרטים*, המציג את ההקרנה הראשונה של כל סרט. הבעיה עם מה שאת מציגה היא מה יקרה כאשר נפתח לובי חדש עם הסרטים האלו בעתיד, כאשר תהיינה להם הקרנות נוספות בעתיד. האם תופיע ההקרנה הנכונה (העתידית) או התאריך ההקרנה הראשון (היסטורית) של כל סרט. יכול להיות שמה שאת מראה לנו זה בעצם באג.

אנחנו מתכוונים ללובי שאליו מקושרים אירועים כמו זה:
http:

[2017-05-04 08:33] JerusalemCinematheque commented on #94
http://jer-cin.reasonat.com/he/lobby/%D7%AA%D7%A8%D7%90%D7%95-%D7%90%D7%95%D7%AA%D7%99
כנראה שהבעיה של תצוגת הגריד בלובי זה רק בצד עברית

[2017-05-04 08:36] JerusalemCinematheque commented on #34
![image](https://cloud.githubusercontent.com/assets/26960693/25695911/aa095480-30bd-11e7-9de1-fefb6a731a27.png)
something like this (of course don't pay attention to font. font size, etc.)

[2017-05-04 08:41] JerusalemCinematheque commented on #81
אז רק לסכם את הכל כדי להיות בטוחה שהבנתי.
מוחקים מכל ה"אישים" שקיימים במערכת את הערך ב-person type
הופכים את השדה לשדה מתורגם
מוסיפים לכל ה"אישים" בבת אחת בחזרה את הערך "איש" בperson type
ואחרי זה הדיפולט בשדה זה הוא "איש" בצד עברית ובצד אנגלית
ואנחנו צריכים לעבור על הרשימה כדי לברור אילו מהפריטים הם לא "איש"

[2017-05-04 08:43] bruria1 commented on #1
אז ככה:
זה אומר להחליף את כל האייקונים שכעת הם תמונה לפונט של אייקונים - fontawsome:
שעון - http://fontawesome.io/icon/clock-o/
חיפוש - http://fontawesome.io/icon/search/
לב - http://fontawesome.io/icon/heart-o/
עגלת קניות - http://fontawesome.io/icon/shopping-cart/
נגישות - http://fontawesome.io/icon/wheelchair/
לוח שנה - http://fontawesome.io/icon/calendar-plus-o/
לוח שנה מלא - אין.. נצטרך לעשות

[2017-05-04 08:52] JerusalemCinematheque commented on #1
מה זה לוח שנה מלא?

[2017-05-04 09:18] bruria1 commented on #95
כעת יש אפשרות להוסיף תוכן

[2017-05-04 09:31] bruria1 commented on #93
לבדיקה

[2017-05-04 09:34] bruria1 commented on #81
הערך שיימחק הוא רק אם הזנתם בו איש. כל ערך אחר שהוזן בשדה הזה לא ימחק.

[2017-05-04 09:35] bruria1 commented on #1
זה כאשר לוחצים על לוח השנה הוא מציג אותו מלא.

[2017-05-04 09:42] navotb commented on #1
סליחה על השאלה, אי אפשר להמיר את האייקונים שיש עכשיו לפונט? איך דרך לעשות את זה?

[2017-05-04 09:50] JerusalemCinematheque commented on #93
אוקיי

[2017-05-04 09:50] #93 closed

[2017-05-04 09:57] navotb commented on #81
אז מה שיקרה:
נעבור על כל רשימת האישים
נמחוק מכל אלו שיש להם ערך person את הערך הזה
נהפוך אותו למתורגם
ואז נוסיף אותו
ערכים שהם פסטיבל או חברה - יישארו כמו שהם.
האם זה התהליך?

[2017-05-04 10:20] JerusalemCinematheque commented on #95
היינו רוצים שהוא יופיע כמו הטקסטים בעמוד לובי, מאמר, סרט. כלומר יהיו לפסקה הזו קווי גריד ורקע

[2017-05-04 10:29] JerusalemCinematheque commented on #87
יש חדש?

[2017-05-04 11:07] JerusalemCinematheque commented on #83
סליידר אוטומטי
נקודות למטה למעבר של המשתמש בין ההודעות
מופיע עד לסגירה של המשתמש – מופיע כל 24 שעות. כמובן אם יש הודעה חדשה מופיע ללא קשר לטיים אאוט
לחיצה על הודעה מובילה לעמוד ההודעה (צריך לעבור על העיצוב של זה)
בכל עמוד הודעה קישור לעמוד ההודעות הכללי (צריך לעבור על העיצוב של זה)
בעמוד ההודעות הכללי מופיעות רק הודעות פעילות

[2017-05-04 11:11] JerusalemCinematheque commented on #83
הודעות יתחילו יותר פנימה באותו קו כמו ה-X, אבל אחריו
להגדיל פונט
 משקל פונט רגיל
בוקסת ההודעות דוחפת את כל האתר למטה. לא רק את ההדר

[2017-05-04 11:15] navotb commented on #67
afterwards,  it would be great use this as a general template to be embedded (manually) in other pages with a manual selection of content (or according to lobby/tag)?

[2017-05-04 11:22] JerusalemCinematheque commented on #39
להתייחס לפרונט פייג' או רק לשדות שמופיעים?

[2017-05-04 12:26] bruria1 commented on #81
בעצם זה יהיה פשוט יותר.
אם מעדכנים ערך באנגלית אז העך המתאים מתעדכן בעברית נכון?
אם כך אם נמחוק את הערך איש שכרגע לא מתורגם, ניצור ערך מתורגם ונשמור בפעם אחת את כל האישים, הערך התעדכן באופן אוטומטי.

[2017-05-04 12:28] reasonat commented on #34
➤ Bruria Helfer commented:

&#64;Alex Voloshchenko <br />http://jff.reasonat.com/he/festival-calendar<br />יש פה שתי בעיות:<br />1. הכותרת של עוד הקרנות צריכה להופיע רק כאשר יש עוד הקרנות<br />2. באם כותרת הסרט וכותרת הסרט זהים, כותרת הסרט אינה צריכה להופיע.<br />

[2017-05-04 12:43] bruria1 commented on #94
לגבי הגריד בעברית - סודר

[2017-05-04 13:29] reasonat commented on #43
➤ Amir Taiar commented:

&#64;Alex Voloshchenko In case short name is empty display the title of the term . <br />

[2017-05-04 13:29] reasonat commented on #43
➤ Alex Voloshchenko commented:

&#64;Amir Taiar It was allready done<br />

[2017-05-04 13:51] JerusalemCinematheque commented on #43
look at 2.5 Sultan's pool hall - name is displayed as Sultan's instead of Sultan's Pool

[2017-05-07 06:18] reasonat commented on #67
➤ yakoub abaya commented:

&#64;Amir Taiar no, i didn&#39;t ask about other pages .<br />for different pages we can have different views so there is no problem .<br /><br />but if we want to have both events and movies on same page and still filter the list according to events date, then this is a compolicated condition which will require to write custom views query alter code .<br /><br />so agai

[2017-05-07 06:53] reasonat commented on #27
➤ Amir Taiar commented:

&#64;Alex Voloshchenko I am trying to QA this while entering this event http://dev.jff.reasonat.com/en/movie/892 fromt his Lobby http://dev.jff.reasonat.com/en/lobby/panorama but cant see any nav arrows. <br />

[2017-05-07 07:23] reasonat commented on #27
➤ Alex Voloshchenko commented:

&#64;Amir Taiar I&#39;ve updated dev.jff.reasonat.com (working with jer-cin.reasonat.com before)<br />

[2017-05-07 07:53] reasonat commented on #27
➤ Amir Taiar commented:

&#64;Bruria Helfer You can start front end this according to the design. <br />

[2017-05-07 07:53] reasonat commented on #27
➤ Amir Taiar commented:

&#64;Alex Voloshchenko Since we want to go live with jer-cin.reasonat.com please remove this from this enviorment and keep only on dev site<br />

[2017-05-07 07:55] reasonat commented on #39
לא הבנתי את השאלה.
מדובר על לוח השנה בפסטיבל ועל התיבה הקטנה, לפני שהיא נפתחת לתיבה הגדולה שזו משימה אחרת

[2017-05-07 08:00] reasonat commented on #67
@yakoub Please pay attention to the requeirments in the task:
"Display on "my movies" & "My Events" tab a movie/events gallery based on similar terms of his movies."
That it. There is nothing here about event dates.
And if we really want to order also by event date then we can always display 2 blocks, one for events and one for movie. True?

[2017-05-07 08:01] reasonat commented on #83
העיצוב של עמוד הודעה יהיה כמו עמוד בסיסי רגיל, לא רואה כעת זמן פיתוח להתחיל לעצב את זה מה גם שזה באמת עמוד פשוט.
בסופו אפשר לשים לינק קבוע לעמוד העדכונים הראשי

[2017-05-07 08:03] reasonat opened #99 "Error message on event page"
┆Task is synchronized with this GitHub [issue](https://github.com/Reasonat1/Cinema/issues/99)

[2017-05-07 08:06] reasonat commented on #87
I duplicate this issue since it wasnt sync well with Wrike
https://github.com/Reasonat1/Cinema/issues/99

[2017-05-07 08:07] #87 closed

[2017-05-07 08:12] reasonat commented on #1
יש דרך לעשות את זה כמובן אבל אין מי שיעשה את זה. בעיקרון אלקנה אמור אבל זה לא חלק מההסכם למיטב הבנתי
וכעת אנחנו צריכים להתקדם עם הנושא.

[2017-05-07 08:24] reasonat commented on #51
מה ז״א? אין דבר כזה הרשאה לעריכת לוח שנה, הוא מציג אירועים בהתאם לתאריך שלהם.

[2017-05-07 08:24] #41 closed

[2017-05-07 08:25] JerusalemCinematheque commented on #51
אז הימים בלוח נקבעים לפי אם יש אירועים ביום או לא?

[2017-05-07 08:25] reasonat commented on #48
לוח שנה פסטיבל

[2017-05-07 08:26] reasonat commented on #24
אין קשר בין המשימה הזו לעמוד ניהול אירועים
מדובר על הצגה/אי הצגה של אירועים לא אקטיביים בלוח השנה של הפסטיבל

[2017-05-07 08:26] #75 closed

[2017-05-07 08:28] reasonat commented on #51
כן

[2017-05-07 08:38] reasonat opened #100 "If event is marked as domain access > publish to festival do not display on cinematheque side"
ערכנו עכשיו כל מיני אירועים שהופיעו בקלנדר הסינמטק ונועדו לקלנדר פסטיבל. סימנו אותם כשייכים לדומיין פסטיבל. אבל הם עדיין מופיעים בצד סינמטק
לדוגמא
http://jer-cin.reasonat.com/he/event/6463

[2017-05-07 08:40] reasonat commented on #91
This task also didnt sync with Wrike. from some reason all your new issues doesnt get synced with Wrike...
See issue on work here https://github.com/Reasonat1/Cinema/issues/100
Closing this one

[2017-05-07 08:41] #91 closed

[2017-05-07 08:43] reasonat opened #101 "Remove all dummy content from Cinemateque live site"
Pleas remove all test content from

[2017-05-07 08:47] reasonat commented on #83
כמו כן, פרסום מחדש כאשר יש הודעה חדשה - זה יהיה משימה חדשה שתיכנס להקפאה

[2017-05-07 08:48] reasonat opened #102 "Global messages - Re display messages after user close them in case there is a new message in the following 24 hours"
When there is a new message within the 24hrs after the user close the messages, re-display the messages

[2017-05-07 08:51] reasonat commented on #94
אנחנו לא מצליחים לשחזר את הבעיה באייפון, אנא שלחו צילום וידאו של המסך בעת ההתנהגות

[2017-05-07 09:18] reasonat commented on #90
➤ yakoub abaya commented:

saif from toptix support requested code update <br />

[2017-05-07 09:54] JerusalemCinematheque commented on #94
כרגע נראה שזה עובד

[2017-05-07 09:55] JerusalemCinematheque commented on #94
בתצוגת גריד בעמוד הבית באייטם אירוע > כותרת האירוע אמורה להיות יותר קטנה מכותרת הסרט אלא אם הכותרות אותו הדבר או אם מדובר רק על אירוע ללא סרט

[2017-05-07 11:18] reasonat commented on #27
➤ Alex Voloshchenko commented:

&#64;Amir Taiar I&#39;ve deleted custom navigation module from jer-cin.reasonat.com<br />

[2017-05-07 14:13] reasonat commented on #100
➤ Alex Voloshchenko commented:

&#64;Amir Taiar I made changes for calendars: full width and pane. May be are there some other page which need to fix?<br />

[2017-05-07 16:08] reasonat commented on #100
➤ Amir Taiar commented:

&#64;Alex Voloshchenko each node which doesnt set on the domain access to publish on Cinemateque shuoldnt get publish all over the Cinemateque site. Node can be however display on both Cinemateque site and Festival if both checked under the domain access. <br />

[2017-05-07 16:33] reasonat commented on #67
➤ yakoub abaya commented:

&#64;Amir Taiar i continued working on view that already existed before and someone else added condition about event time, so that is why i took that as requirement .<br />

[2017-05-07 16:33] reasonat commented on #67
➤ yakoub abaya commented:

if filtering by event time is not a requirement then there then i&#39;ll simply remove these conditions and finish the task .<br />

[2017-05-08 05:41] bruria1 commented on #94
לגבי הכותרות של האירועים - סודר.
לגבי הבקשה להצגת מועד אירועים שעברו בתצוגת לובי - זו בקשה מורכבת ולא פשוטה אמיר?

[2017-05-08 05:45] bruria1 commented on #95
קווי הגירד הם כמו בלובי. איזה רקע צריך להיות?

[2017-05-08 06:42] reasonat commented on #99
Error is solved

[2017-05-08 06:42] #99 closed

[2017-05-08 08:08] JerusalemCinematheque commented on #1
האם כל מעצב גרפי יכול לעשות את זה?

[2017-05-08 08:11] JerusalemCinematheque commented on #83
למה להקפאה? מה אם ההודעה מתייחסת לאירוע של אותו יום? ההודעה לא תגיע למשתמש שנכנס שוב פעם לאתר כי יש למנגנון טיימאאוט?

[2017-05-08 08:15] JerusalemCinematheque commented on #39
הקישור לקלנדר לא פועל. איך אנחנו מגיעים לעמוד?

[2017-05-08 08:17] JerusalemCinematheque commented on #83
עיצוב בסיסי - כלומר כמו עמוד מאמר ללא תמונה?
וכן נשמח לשים לינק קבוע לעמוד עדכונים ראשי

[2017-05-08 08:32] bruria1 commented on #83
לינק קבוע בעמוד הודעה?
איפה הלינק יופיע? מה יהיה רשום עליו?

[2017-05-08 08:34] JerusalemCinematheque commented on #83
בתחתית העמוד
לכלל ההודעות
For all messages

[2017-05-08 09:14] reasonat commented on #98
➤ yakoub abaya commented:

&#64;Bruria Helfer &#64;Amir Taiar we need to add some &#34;landmark&#34; to show us that we are on dev site environment and not the live site .<br />so what do you suggest ? <br />- changing logo <br />- adding some css class to main menu and then bruria writes some css <br />

[2017-05-08 09:14] reasonat commented on #98
➤ yakoub abaya commented:

we need to make it sure people would notice it quickly<br />

[2017-05-08 09:17] JerusalemCinematheque commented on #81
אני עדיין לא בטוחה שאני מבינה את התהליך
אבל כל עוד זה לא מוחק שום פריט והכל נעשה בצורה אוטומטית אז נראה לי שאפשר להתקדם
ברוריה רק תוכלי להסביר לנו מה נצטרך לעשות אחרי שהתהליך מסתיים?

[2017-05-08 11:21] JerusalemCinematheque opened #103 "Low and wide image (for Home Page) if no main picture attached"
@bruria1 @reasonat
אם לנוד אין תמונה מרכזית, אבל יש לו תמונה צרה ונמוכה להוםפייג', לא ניתן להעלות את הנוד להוםפייג'
לדוגמא,
taxonomy/term/591

העליתי תמונה נמוכה וצרה ללובי, אבל לא העליתי תמונה ראשית
עברתי להומפייג' וביקשתי להעלות את הלובי
ניסיתי להוסיף אותו בוון אייטם סטטי וגם בתמונות הגלריה
אבל אחרי השמירה האייטם לא הופיע בפרונטאנד של ההומפייג'
רק אחרי שהוספתי ללובי תמונה ראשית, הופיע האייטם עם

[2017-05-08 11:37] bruria1 commented on #83
לבדיקה

[2017-05-08 13:23] reasonat commented on #94
@bruria1 תפתחי על זה בבקשה משימה בנפרד אני לא מצליח להבין מפה במה בדיוק מדובר.
אני יעבור על זה

[2017-05-08 13:24] reasonat commented on #1
בהחלט. אבל אני מבין מברוריה שמה שהיא שלחה יכול בהחלט לענות על הציפיות לא?

[2017-05-08 13:24] reasonat commented on #39
אני לא מצליח להבין אתכם כלל. סליחה

[2017-05-08 13:26] JerusalemCinematheque commented on #39
אנחנו לא מצליחים להיכנס לעמוד של הקלנדר כדי לבדוק אותו ולשלוח הערות לכל הנושאים הפתוחים
זו ההודעה שאנחנו מקבלים בלחיצה על הקישור לקלנדר בהאדר
We're sorry....

The page you are looking for cannot be found.

[2017-05-08 13:48] JerusalemCinematheque opened #104 "Lobby order"
כאנחנו באים לסדר את פריטי הלובי לפי מועד אירוע, האייטמים לא מסתדרים בצורה כרונולוגית
נראה שזה מסתדר לפי המספר הראשון בתאריך במקום לפי כל התאריך

![image](https://cloud.githubusercontent.com/assets/26960693/25807010/fe67dc56-340d-11e7-9f34-83d081e7fc7c.png)

[2017-05-08 14:39] JerusalemCinematheque opened #105 "personal page title of film list"
משהו השתבש בשורה שנמצאת מעל רשימת הסרטים
במקום שיהיה כתוב
saved films
כתוב
saved movie groups

ובעברית
במקום שיהיה כתוב
סרטים שמורים
כתוב
מקבץ סרטיםים שמורים

[2017-05-09 07:03] JerusalemCinematheque commented on #83
האם אפשר לשים את השורה שמפנה לכל ההודעות לצד הנקודות?
לשנות בעברית ל לכל ההודעות
הבוקסה של ההודעות צריכה לדחוף את כל העמוד למטה ולא רק את ההדר
שהפונט לא יהיה בבולד

[2017-05-09 07:38] reasonat commented on #100
➤ Alex Voloshchenko commented:

&#64;Amir Taiar Now at the dev site you should see only nodes published to current domain<br />

[2017-05-09 07:43] reasonat commented on #49
➤ Alex Voloshchenko commented:

&#64;Amir Taiar For days panel I used very same code like in jer-cin side, so it should work. But I think it make sence fix it after &#64;Bruria Helfer will finish front end<br />

[2017-05-09 08:17] reasonat commented on #100
@navotb @JerusalemCinematheque To review on dev site

[2017-05-09 09:33] reasonat opened #106 "toptix top margin"
toptix frame opens by clicking event tickets button .

the frame top border is too close to page top, please add top margin because the top border has an "X" which allows closing it .

[2017-05-09 10:35] bruria1 commented on #106
לפי מה שאני רואה הבעייה קיימת רק לאדמין.
האם אני טועה?

[2017-05-09 11:39] bruria1 commented on #103
לבדיקה

[2017-05-09 11:47] JerusalemCinematheque commented on #103
יופי תודה

[2017-05-09 12:18] reasonat opened #107 "Lobby page - show screening table also to past events"
כאנחנו באים לסדר את פריטי הלובי לפי מועד אירוע, האייטמים לא מסתדרים בצורה כרונולוגית
נראה שזה מסתדר לפי המספר הראשון בתאריך במקום לפי כל התאריך

┆Task is synchronized with this GitHub [issue](https://github.com/Reasonat1/Cinema/issues/107)

[2017-05-09 12:25] bruria1 commented on #1
https://icomoon.io/app/#/select/library
יש פה הרבה אייקונים חינמיים, צריך פשוט למצוא את האייקונים המתאימים..

[2017-05-09 14:08] JerusalemCinematheque commented on #1
אתם יכולים בבקשה להעביר אלינו את האייקונים ולהסביר מה בדיוק צריך?
אנחנו נעביר את זה לגרפיקה שאנחנו עובדים איתם לראות אם הם יכולים לעשות זאת

[2017-05-09 15:21] #103 closed

[2017-05-10 06:25] bruria1 commented on #83
עודכן

[2017-05-10 06:48] bruria1 commented on #1
שלחתי את הקובץ במייל, לא הייתה אפשרות לעלות פה.
יכול להיות שהוא חלקי ולא מכיל את כל מה שצריך

[2017-05-10 07:29] bruria1 commented on #81
אין צורך שתעשו שום דבר. אמור להיות בסדר כעת.
רק אשמח לדעת איפה השדה הזה משפיע על התצוגה על מנת שאוכל לבדוק שהכל בסדר.

[2017-05-10 08:38] reasonat commented on #106
@yakoub ?

[2017-05-10 08:40] reasonat commented on #39
@bruria1 Can you please check this permission issue?

[2017-05-10 08:47] reasonat commented on #40
➤ Amir Taiar commented:

&#64;Roei Dahan Yes, sorry. Use your account. <br />

[2017-05-10 08:53] JerusalemCinematheque commented on #83
הבוקסה עדיין יושבת על התמונה

[2017-05-10 08:57] JerusalemCinematheque commented on #81
השדה לא אמור להשפיע על התצוגה, אלא רק לעזור למבנה הדאטה בייס

[2017-05-10 09:01] reasonat commented on #105
I have update this related issue with this info.
Closing this one

[2017-05-10 09:01] #105 closed

[2017-05-10 09:03] reasonat opened #108 "Each pane display should also have sort options"
Editor can set views pane display to sort the content by A-Z.
The data to detrmain the sorting is the field 'Title for Indexing' which exist only on Movie content type.
Therefor we also need to be added to event and movie group content type.

[2017-05-10 09:03] reasonat commented on #64
➤ Amir Taiar commented:

&#64;Alex Voloshchenko Issue from the client:<br />משהו השתבש בשורה שנמצאת מעל רשימת הסרטים<br />במקום שיהיה כתוב<br />saved films<br />כתוב<br />saved movie groups<br /><br />ובעברית<br />במקום שיהיה כתוב<br />סרטים שמורים<br />כתוב<br />מקבץ סרטיםים שמורים<br />

[2017-05-10 09:08] reasonat opened #109 "Homepage - ordering by date isn't working well"
כאנחנו באים לסדר את פריטי הלובי לפי מועד אירוע, האייטמים לא מסתדרים בצורה כרונולוגית
נראה שזה מסתדר לפי המספר הראשון בתאריך במקום לפי כל התאריך

┆Attachments: <a href="https:&#x2F;&#x2F;www.wrike.com&#x2F;extlink&#x2F;3f8dae3320f1452eac098d118c2b1b74:F37642833.A948692&#x2F;lobby+order.png">lobby order.png</a>

[2017-05-10 09:08] #101 closed

[2017-05-10 09:12] reasonat commented on #104
Again, syncing from you doesn't work. I cant know why...
Here is the duplicated task I have created. Closing this one.
https://github.com/Reasonat1/Cinema/issues/109

[2017-05-10 09:12] #104 closed

[2017-05-10 09:18] reasonat commented on #50
➤ Amir Taiar commented:

&#64;Alex Voloshchenko Whay is the status of this one? Are you working on it? <br />

[2017-05-10 09:22] reasonat commented on #43
It should display the short name and not the long. So I cant see the problem.

[2017-05-10 09:23] #28 closed

[2017-05-10 09:23] reasonat commented on #49
➤ Amir Taiar commented:

&#64;Bruria Helfer Have done with the frontend of this part. But we need more dummy content to see more days. &#64;Alex Voloshchenko <br />

[2017-05-10 09:23] reasonat commented on #50
➤ Alex Voloshchenko commented:

&#64;Amir Taiar Since there is a comment - [This will later be managed by new taxonomy - Festivak archive] and if we will have this new taxonomy, I&#39;ll make some changes<br />

[2017-05-10 09:23] reasonat commented on #45
➤ Amir Taiar commented:

@sato2004 What is the status of this one? <br />

[2017-05-10 09:23] reasonat opened #110 "dev environment picture problem"
http://dev.jff.reasonat.com/en/event/3365
http://jff.reasonat.com/en/event/3365
 ┆Task is synchronized with this GitHub [issue](https://github.com/Reasonat1/Cinema/issues/110)

[2017-05-10 09:24] JerusalemCinematheque commented on #43
Sultan's pool does not have a short name
which means the system is shortening the title instead of displaying the full name

[2017-05-10 09:28] reasonat commented on #50
➤ Amir Taiar commented:

@sato2004  ok, get it. Thanks<br />

[2017-05-10 09:28] reasonat commented on #45
➤ Alex Voloshchenko commented:

&#64;Amir Taiar same like https://www.wrike.com/open.htm?id&#61;142566918<br />

[2017-05-10 09:28] reasonat commented on #50
➤ Amir Taiar commented:

@sato2004 Thanks<br />

[2017-05-10 09:28] reasonat commented on #67
➤ Amir Taiar commented:

&#64;yakoub abaya For now please do so. Only for Similar movies and events views. Thanks<br /><br />

[2017-05-10 09:28] reasonat commented on #67
➤ Amir Taiar commented:

&#64;yakoub abaya Is this one of this 2 options? I think the second one is better. &#64;Bruria Helfer ? <br />

[2017-05-10 09:31] bruria1 commented on #110
לבדיקה

[2017-05-10 09:33] reasonat commented on #43
➤ Amir Taiar commented:

&#64;Alex Voloshchenko &#64;Bruria Helfer ? Can you take a look? <br />As said, the Hall name should be<br />- The short Hall name<br />- If there is no short name then display term name<br />

[2017-05-10 09:34] #23 closed

[2017-05-10 09:35] #107 closed

[2017-05-10 09:38] reasonat commented on #64
➤ Alex Voloshchenko commented:

&#64;Amir Taiar Sould it be always &#34;saved movie groups&#34;? Now we take content type from first row<br />

[2017-05-10 09:38] reasonat commented on #64
➤ Amir Taiar commented:

&#64;Alex Voloshchenko It should be &#34;My movies&#34; and &#34;My events&#34;. There might be in the future &#34;My grouped movies&#34; but not now<br />

[2017-05-10 09:42] JerusalemCinematheque commented on #64
It's just the title, not the content

[2017-05-10 09:43] reasonat commented on #64
➤ Alex Voloshchenko commented:

&#64;Amir Taiar Now in this liist there are movie groups to, is it ok?<br />

[2017-05-10 09:44] bruria1 commented on #83
התמונה נדחפת ללמטה ורואים שהיא אכן לא מפתפרשת על כל העמוד. אלא יורדת ללמטה.

[2017-05-10 09:44] bruria1 commented on #81
אם כך מבחינתי הטיקט הזה סגור

[2017-05-10 09:48] JerusalemCinematheque commented on #83
אולי זה קשור לקאש אבל ככה אנחנו רואים את זה
זו התמונה המלאה ללא ההודעה
![image](https://cloud.githubusercontent.com/assets/26960693/25892916/97f2480e-357e-11e7-8c64-3ce8c35bdf4d.png)
וזו התמונה עם ההודעה
![image](https://cloud.githubusercontent.com/assets/26960693/25892945/b2a63ea8-357e-11e7-80c6-c4f02b8845e1.png)

[2017-05-10 09:50] #4 closed

[2017-05-10 09:51] JerusalemCinematheque commented on #64
yes. it's only the title of the list, not the content displayed

[2017-05-10 09:54] bruria1 commented on #83
אכן קאש. אנא בדקו כעת

[2017-05-10 09:59] JerusalemCinematheque commented on #83
אוקיי. נראה טוב

[2017-05-10 10:08] reasonat commented on #67
➤ yakoub abaya commented:

&#64;Amir Taiar i removed all reference to event time field in this view : http://jer-cin.reasonat.com/en/admin/structure/views/view/similar_user_flagged_content/edit<br />

[2017-05-10 10:10] bruria1 commented on #67
אני כרגע לא רואה את התיבה הזו כלל. איפה אני אמורה לראות אותה?

[2017-05-10 10:15] yakoub commented on #67
currently this block display fields for debugging purposes, when done you can change view back to rendered entity .

[2017-05-10 10:18] reasonat commented on #67
➤ yakoub abaya commented:

it appears under /user<br />

[2017-05-10 10:31] bruria1 commented on #67
כרגע זה נראה טוב. לא מוצג למשתמשים מלבד אדמין כיוון שזו ההרשאה שניתנה להיבט.

[2017-05-10 10:32] #8 closed

[2017-05-10 10:34] reasonat commented on #61
@navotb @JerusalemCinematheque Please recheck this.
I think in order to make height lower we shoul remove the border around the date.
Also move the dots and "For al message" to the other side.

[2017-05-10 10:37] #97 closed

[2017-05-10 10:43] #108 closed

[2017-05-10 10:48] reasonat commented on #43
➤ Alex Voloshchenko commented:

&#64;Amir Taiar http://dev.jff.reasonat.com/festival-calendar/2017-05-02 I don&#39;t see the problem, if we have short name (it was Sultan&#39;s) we see srot name, now I&#39;ve deleted short name and I see Sultan&#39;s Pool<br />

[2017-05-10 10:58] JerusalemCinematheque commented on #43
okay
what happens if it's a very long name? Does i split into two rows?

[2017-05-10 10:59] JerusalemCinematheque commented on #110
יופי תודה

[2017-05-10 10:59] #110 closed

[2017-05-10 11:40] bruria1 commented on #43
אם ככה תוצג רק השורה השניה, כל מה שיהיה מעבר לשורה השניה לא יראה.
האם תרצו שיוצגו עד שתי שורות?

[2017-05-11 12:48] JerusalemCinematheque opened #111 "Live site issues"
מוסיפה לכאן את רשימת הבעיות שאנחנו מוצאים עם העלייה של האתר
הרשימה תעודכן בכל פעם שנמצא בעיה

[2017-05-11 12:49] JerusalemCinematheque commented on #111
נשלח במייל
בתמונות הירו מופיע קו דק על התמונה

[2017-05-11 12:49] JerusalemCinematheque commented on #111
קלנדר חודשי - צד אנגלית
כשעוברים יום המידע מופיע בעברית

[2017-05-11 12:51] JerusalemCinematheque commented on #111
שייר בפייסבוק
שימו לב למידע שמגיע כעושים שייר לאתר עצמו בפייסבוק
![image](https://cloud.githubusercontent.com/assets/26960693/25949830/8e4862d2-3661-11e7-93ce-f818c748db83.png)

בעיקר לא מובן לי ההופעה של המייל שלי פה

[2017-05-11 13:38] JerusalemCinematheque opened #112 "Editor - adding media content into body text"
Add option to ckeditor to insert entity display mode / existing view into the content.

[2017-05-11 15:59] reasonat opened #113 "Issues Roei Found in 2 minutes crossing the website."
Homepage:
 □ Newsletter checkbox isn't aligned with the first input.
 □ Custom calendar block in first fold > when moving from day to day the indication of this block loading the next day is not understood.
 □ Custom calendar block in first fold > t

[2017-05-11 21:19] reasonat commented on #98
➤ yakoub abaya commented:

https://github.com/Reasonat1/reasonat_dev<br /><br />

[2017-05-14 06:48] reasonat opened #114 "הגלרייה בעמוד הבית לא עובדת"
הגלרייה נקראית מהקובץ basic.js בשורה 1282.
כאשר האתר לא עובר אגרגציה עולה שגיאת js.

[2017-05-14 08:15] yakoub commented on #114
@bruria1 the problem indeed that more-item class was not ready when needed to call the owlcarousel
now i moved the code here : 17a70b11ce1a13bb5904e8f39781b6baed1786f0
and verified owlcarousel is called .
but i don't know if now the page is good or still have other problems

[2017-05-14 08:55] JerusalemCinematheque opened #115 "header menu height"
@bruria1
התפריט בהדר צריך לעלות כמה פיקסלים למעלה ולהיות מיושר עם האייקונים
![image](https://cloud.githubusercontent.com/assets/26960693/26032425/395ea5b4-389c-11e7-95ba-272054ff74c3.png)

[2017-05-14 08:58] JerusalemCinematheque opened #116 "Saving film page error"
@reasonat  ניסינו לערוך את העמוד
http://jer-cin.org.il/he/node/5322/edit

לאחר לחיצה על שמירה קיבלנו את הודעת שגיאה
![image](https://cloud.githubusercontent.com/assets/26960693/26032444/a5cae6f4-389c-11e7-8ca8-69120d3bf430.png)

זה קרה מספר פעמים

[2017-05-14 09:00] JerusalemCinematheque opened #117 "facebook share - information shown"
@reasonat  שימו לב למידע שמגיע כשעושים שייר לאתר עצמו בפייסבוק
![image](https://cloud.githubusercontent.com/assets/26960693/25949830/8e4862d2-3661-11e7-93ce-f818c748db83.png)

בעיקר לא מובן לי ההופעה של המייל שלי פה

[2017-05-14 09:01] #111 closed

[2017-05-14 10:07] JerusalemCinematheque commented on #61
אפשר אולי לצמצם את הריווח של מלבן התאריך
אתם רוצים להראות לנו איך זה נראה אם מזיזים את הנקודות והקישור לצד השני באחד מצדדי האתר ואז נחליט?

[2017-05-14 10:28] reasonat commented on #98
➤ yakoub abaya commented:

metatag hooks not running<br />

[2017-05-14 10:40] JerusalemCinematheque commented on #48
ajax takes longer than cin' site
some times gets stuck
don't know if this is a new issue or not

[2017-05-14 11:08] reasonat commented on #98
➤ yakoub abaya commented:

metatag module hooks running, but difficult to alter and requires too much effort to learn .<br />it is easier to output the tag in simple custom code than use metatag module<br />

[2017-05-14 11:21] JerusalemCinematheque commented on #39
ticket button should be in same place and not relative to title of event (see 27.5) in cin'1 first event and other events

[2017-05-14 11:22] JerusalemCinematheque commented on #39
minutes should not be capitalized
**m**inutes not **M**inutes

[2017-05-14 11:22] bruria1 commented on #61
http://dev.jff.reasonat.com/he
איך זה?

[2017-05-14 11:24] JerusalemCinematheque commented on #39
i think we should add "add to calendar" button next to ticket button

[2017-05-14 11:33] JerusalemCinematheque commented on #39
please note that the spacing between each line appeares different on different browsers
on firefox
![image](https://cloud.githubusercontent.com/assets/26960693/26033300/2cc4ab3a-38b2-11e7-918e-48855a24aca2.png)

on chrome
![image](https://cloud.githubusercontent.com/assets/26960693/26033305/454fd8d2-38b2-11e7-98db-45f41cff9119.png)

[2017-05-14 11:42] JerusalemCinematheque commented on #39
Screening table remarks - need to add a little more spaceing between title and the remark
also need to change font color > parhpas stronger gray

[2017-05-14 11:44] JerusalemCinematheque commented on #40
relative to hour as well - aka if event begings at :15 / :30 / :45 should appeare in middle of line and not aligned to top

[2017-05-14 11:45] JerusalemCinematheque commented on #40
problems with display on Hebrew side
boxes not aligned with hall column

[2017-05-14 11:45] JerusalemCinematheque commented on #39
add a few more pixles to spacing between columns

[2017-05-14 11:47] JerusalemCinematheque commented on #34
הפופ-אפ צריך להיפתח במרכז העמוד ביחס לרוחב ולגובה העמוד
כלומר הוא תמיד נפתח באותו מקום

[2017-05-14 11:55] JerusalemCinematheque commented on #34
עוד מספר בעיות
1. ההקרנה שנבחרה לא צריכה להופיע בהקרנות הנוספות
2. חסר תקציר הסרט המקוצר
3. אפשר לוותר על  הקישור  to event page מכיוון שכותרת האירוע מובילה לעמוד האירוע
4. לשנות באנגלית מ
more screenings
ל
Additional screenings
5. בשורת לידינג קרדיט טקסט ואורך באנגלית צריך להוסיף לדקות
s
כלומר
minute**s**
ולא minute
6. אם לוחצים על עוד אירוע בזמן שפופ-אפ פתוח, הפופ-אפ הפתוח צריך להיסגר
7. בצד עבר

[2017-05-14 12:00] JerusalemCinematheque commented on #61
אולי רק נמרכז את האיקס יחסית למלבן התאריך ואז אפשר לסגור את הנושא הזה

[2017-05-14 12:27] JerusalemCinematheque commented on #51
אולי קשור לזה שזה באתר הdev שלוקח לו זמן להתעדכן
אבל הוספנו אירועים לקלנדר  אחרי ה-31.5 והם לא מופיעים
וגם כשנכנסים אל הקלנדר מופיעים 24.5 25.5 27.5 28.5 29.5 30.5 31.5
אחרי שעוברים יום מופיע גם 26.5
ובקיצור יש שם בעיה ואי אפשר לבדוק את עניין הימים

[2017-05-14 12:36] JerusalemCinematheque opened #118 "calendar frontend on dev site does not update"
@reasonat @bruria1 @yakoub
כתבתי על זה הערה באחד הנושאים הפתוחים, אבל נראה לי שכדאי לפתוח על זה שירשור
משום מה חלק מהאירועים שאנחנו מעדכנים היום באתר הdev לא מתעדכנים בפרונטאנד
או שלוקח להם הרבה זמן עד שרואים אותם בפרונט, גם אחרי שניקינו את הקאש
לדוגמא הוספנו אירועים לימים אחרי ה-31.5, אבל הם לא מופיעים
הערת ההקרנה שהוספנו ב-31.5 בpeople that are not me הופיעה רק אחרי שניקינו את הקאש ועשינו ריפרש

[2017-05-14 12:38] JerusalemCinematheque commented on #24
אירועים שמסומנים כלא אקטיביים מופיעים כשמשתמש אדיטור מחובר ולא מופיעים כמשתמש לא מחובק
השאלה היא איך מי שהוא אדיטור והצוות אמורים לדעת שהאירוע אקטיבי או לא אקטיבי

[2017-05-14 12:40] JerusalemCinematheque commented on #43
כן
אבל רק אם יש באותו יום אולם עם שם ארוך
אחרת שישאר על שורה אחת

[2017-05-14 12:40] bruria1 commented on #39
לסיכום הבקשות פה:
1. לגבי מיקום הכפתור - כרגע הוא אחיד יחסית לתחתית התיבה אך כאשר כותרת האירוע ארוכה תיבת האירוע תהיה גבוהה יותר, יש לכם בקשה אחרת?
2. לגבי כתיבת ה"דקות" סודר
3. הוספה ללוח השנ - איפה לוסיף? בקוביה של האירוע או בקובייה הנפתחת? ואם זו הנפתחת אז איפה?
4. ריווחים שונים בפיירפוקס ובכרום - אצלי הם זהים האם זה קריטי מבחינתכם?
5. Screening table remarks - איפה מופיע? לא הבנתי על מה מדובר.

[2017-05-14 12:43] JerusalemCinematheque commented on #35
okay

[2017-05-14 12:45] bruria1 commented on #61
האם בסדר?

[2017-05-14 12:56] JerusalemCinematheque commented on #39
1. נראה לי שצריך לקבוע גובה קבוע לבוקסה על פי ההגיון של כותרת שמתפצלת לשתי שורות
2. בסדר
3 בקוביה של האירוע
4. הסתכלתי שוב שאני לא מחוברת למערכת הניהול וזה אותו הדבר, אבל הרווח קצת גדול מידי.
5. הערת ההקרנה שמופיע אחרי הכותרת בקוביה של האירוע
6. הכוונה היתה לריווח בין טורי האולמות. זה קצת צפוף כשיש קוביית אירוע ליד קוביית אירוע

[2017-05-14 12:59] JerusalemCinematheque commented on #51
עוד דבר שקשור לפרונטאנד
שימו לב שיש הבדל במיקום של שורת הימים בין כניסה ראשונית לקלנדר ומעבר בין הימים
כניסה לעמוד הקלנדר
![image](https://cloud.githubusercontent.com/assets/26960693/26033982/1f194980-38be-11e7-9694-3c601e3f4ad5.png)

במעבר ליום אחר
![image](https://cloud.githubusercontent.com/assets/26960693/26033986/2cdbc520-38be-11e7-9c48-b7f5e13a5208.png)

צריך להיות כמו בתמונה השנייה

[2017-05-14 12:59] JerusalemCinematheque commented on #51
גם במעבר בין הימים התאריכון קופץ שמאלה

[2017-05-14 13:01] JerusalemCinematheque commented on #61
מעולה. סוגרת את הנושא

[2017-05-14 13:01] #61 closed

[2017-05-15 05:21] bruria1 commented on #39
1. בוצע
3. כעיקרון יש שם מספר זיהוי של האירוע. לא נראה לי שיש מקום גם לקלנדר, אלא אם כן זה במקום?
4. בוצע
5. בעייתי כיוון שאז לא יכנסו שישה אולמות במסך. אלא אם כן מספיק לך שיכנסו חמישה אולמות במסך

[2017-05-15 05:29] reasonat commented on #34
➤ Bruria Helfer commented:

&#64;Alex Voloshchenko <br />http://jff.reasonat.com/he/festival-calendar<br />יש פה שתי בעיות:<br />1. הכותרת של עוד הקרנות צריכה להופיע רק כאשר יש עוד הקרנות<br />2. באם כותרת הסרט וכותרת הסרט זהים, כותרת הסרט אינה צריכה להופיע.<br />

[2017-05-15 06:09] reasonat commented on #34
➤ Bruria Helfer commented:

&#64;Alex Voloshchenko בנוסף באיזור ההקרנות הנוספות ההקרנה הנוכחית לא צריכה להופיע<br />

[2017-05-15 06:43] bruria1 commented on #34
2. האם הכוונה לתקציר הפסטיבל? הוספתי אותו.
3. הורדתי
4. בוצע
5. האם הבעיה עדיין קיימת? אני לא רואה אותה
6. בטיפול
7. אמור להיות בסדר עכשיו
8. אמור להיות בסדר עכשיו

[2017-05-15 07:03] bruria1 commented on #43
בוצע

[2017-05-15 08:54] JerusalemCinematheque commented on #39
2. אפשר להוריד את שם השדה ID ולהשאיר רק את הקוד ואז נראה לי שיהיה מקום גם לקלנדר
3. הריווח קצת גדול מידי עכשיו. האם זה בגלל שנקבע שהערת ההקרנה במיקום קבוע בבוקסה ללא קשר לאורך הכותרת?
4. אי אפשר להוריד פיקסל מכל צד של קובייה?

[2017-05-15 09:04] JerusalemCinematheque commented on #37
אני קצת חוששת שהקשר בין הפופ-אפ והאירוע שנבחר עוד לא מספיק נהיר
מה את חושבת שאפשר לעשות?
להדגיש את קווי הגבול עוד יותר?
להוסיף גם גבול זהב לפופ-אפ?
לשנות את הצבע של קוביית האירוע?
או להשחיר קצת את הרקע כשהפופ-אפ פתוח?

[2017-05-15 09:09] yakoub commented on #118
אתם בטוחים שזה קורה רק ב DEV ?
כלומר זה קורה ב dev.jer-cin.reasonat.com
אבל לא קורה ב jer-cin.org.il

[2017-05-15 09:17] JerusalemCinematheque commented on #118
jer-cin מתעדכן מיידית
אנחנו נתקלים בזה רק באתרי ה-dev
אני לא יודעת אם זה בכל האתר, כי אני כרגע בודקת רק את עמודי הקלנדר
רק עכשיו אני רואה את קוד ההקרנה שהוספנו לאחת ההקרנות
ולדוגמא הנה אירוע שמתקיים ב-27.9
http://dev.jff.reasonat.com/en/event/6858
אבל היום הזה לא מופיע בקלנדר
אז יכול להיות שזה לא כל האתר, אלא רק עמוד הקלנדר

[2017-05-15 09:33] JerusalemCinematheque commented on #34
6. נראה לי כבר עובד
דברים נוספים
גודל הפונט של תיאור אירוע ותקציר הסרט צריך להיות אותו הדבר. 16 נראה לי בסדר
להקטין את שורת לידינג קרדיט טקסט. שיהיה כמו באתר הסינמטק בקלנדר
נראה לי שאם כותרת האירוע וכותרת הסרט לא אותו הדבר, כלומר יש בפופאפ גם כותרת אירוע וגם כותרת סרט, גם כותרת הסרט צריכה להיות בצבע האתר. אחרת זה נראה קצת מוזר שרוב הזמן כותרת הסרט בצבע הפסטיבל ובפעמים אחדות זה לא
אפשר להקטין את כו

[2017-05-15 10:07] bruria1 commented on #34
1. לגבי גודל הטקסט - שניהם בגודל 16, לא רואה מה לסדר..
2. שורת לידינג קרדיט - שיניתי צבע וגודל שייה זהה לסינמטק
3. לגבי צבע כותרת סרט - סודר.
4. הקטנתי את הפונט

[2017-05-15 10:28] JerusalemCinematheque commented on #34
אולי זה הריווח?
![image](https://cloud.githubusercontent.com/assets/26960693/26053587/11f350ca-3972-11e7-9b21-579a266456e1.png)

![image](https://cloud.githubusercontent.com/assets/26960693/26053630/310fb8c2-3972-11e7-835e-8a63cbad4db5.png)

[2017-05-15 10:29] JerusalemCinematheque commented on #34
ככה זה נראה בפיירפוקס

![image](https://cloud.githubusercontent.com/assets/26960693/26053703/78a06f74-3972-11e7-8247-8456b59706d2.png)

[2017-05-15 10:30] JerusalemCinematheque commented on #34
אפשר לקרב את כותרת הסרט ושורת הלידינג טקסט?

[2017-05-15 11:00] bruria1 commented on #34
לבדיקה

[2017-05-15 11:22] JerusalemCinematheque opened #119 "Calendar - toptix window"
@reasonat  כשהפופ-אפ פתוח ולוחצים על כפתור הכרטיסים מתוך הפופ-אפ, חלונית טופטיקס צריכה להיפתח מעל הפופ-אפ ולא מתחתיה

[2017-05-15 14:14] reasonat commented on #39
➤ Bruria Helfer commented:

2. בוצע<br />3. כן. זה מה שהבנתי שרציתם לא?<br />4. &#64;Alex Voloshchenko האם אפשרי שיהיה יותר רווח בין העמודות בלוח שנה?<br />

[2017-05-16 05:55] bruria1 commented on #37
איך עכשיו?
בעיני זה ברור מאוד ונראה טוב..

[2017-05-16 08:20] JerusalemCinematheque commented on #118
יש חדש?

[2017-05-16 08:31] JerusalemCinematheque commented on #39
3. כן יותר ריווח, אבל שיהיה יחסי לכותרת. כך שאם הכותרת תופסת רק שורה יהיה אותו ריווח כמו אם הכותרת תופסת שתי שורות
4. לפי איך שנראה כרגע יש בכלל בעיה עם התצוגה של העמודות כשיש 6 טורים. הקובייה האחרונה נחתכת

[2017-05-16 09:17] JerusalemCinematheque commented on #40
when there are 6 cloumns problem with display of boxes in last column

[2017-05-16 09:19] JerusalemCinematheque commented on #39
האם אפשר לצמצם את גובה כל בוקסת אירוע?
יש מקום למטה ולמעלה

[2017-05-16 09:21] bruria1 commented on #39
3. האם כעת זה טוב?
4. יש עמוד לדוגמה עם 6 עמודות?
5. אני לא רואה מקום לצמצם. יש שוליים של 10 פיקסל ולא נראה לי שיהיה יפה פחות

[2017-05-16 09:22] JerusalemCinematheque commented on #34
אפשר שהריווח הזה יהיה גם כשיש סרט, בלי פרטי אירוע?
![image](https://cloud.githubusercontent.com/assets/26960693/26099060/4b049246-3a32-11e7-961c-940783c3e364.png)

[2017-05-16 09:22] JerusalemCinematheque commented on #34
אפשר להוריד את הבולד מהכותרות?

[2017-05-16 09:23] JerusalemCinematheque commented on #34
בצד עברית בשורת הלידינג טקסט יש בעיית ריווח בין הלידינג טקסט והקו המפריד

[2017-05-16 09:37] JerusalemCinematheque commented on #39
3. כן
4. 27.5
5. האם יש דרך להראות לנו עם ריווח של 5 פיקסל, בלי לעשות את השינוי?

[2017-05-16 09:38] bruria1 commented on #34
לבדיקה

[2017-05-16 09:45] bruria1 commented on #39
4. איך עכשיו
5. בוצע

[2017-05-16 09:53] JerusalemCinematheque commented on #39
4. במסך 1280 עדיין רואים בעיה
5. אפשר להוריד גם מלמעלה ומלמטה?

[2017-05-16 09:57] JerusalemCinematheque commented on #39
עוד דבר, צריך לוודא שכפתור שלח לקלנדר יירד כשמועד האירוע מסתיים

[2017-05-16 10:01] JerusalemCinematheque commented on #39
צריך לוודא שהאירועים ממשיכים להיות מוצגים גם אחרי שהמועד שלהם עבר. בדומה לקלנדר הסינמטק.
@reasonat באיזשהו שלב אנחנו צריכים לדבר על נושא האירכוב של הקלנדר לפי מהדורה

[2017-05-16 10:06] JerusalemCinematheque commented on #39
האם אפשר לצמצם את הרווח בין שורת האולמות לאזור הקוביות?

[2017-05-16 10:20] JerusalemCinematheque opened #120 "hall area display"
1. להחליף את החיווי לאולמות נוספים לשני חצים בבולד ושיהיו באותה שורה כמו האולמות
2. אולי כדאי להוסיף קו מתחת לשם כל אולם. השורה קצת מרחפת לה
3. כשעושים סקרול החלק של הקוביות מציץ מעל שורת האולמות
![image](https://cloud.githubusercontent.com/assets/26960693/26101380/a65e9f2c-3a39-11e7-978f-01ec1f2c54e4.png)

[2017-05-16 10:32] reasonat commented on #46
1. להחליף את החיווי לאולמות נוספים לשני חצים בבולד ושיהיו באותה שורה כמו האולמות
2. אולי כדאי להוסיף קו מתחת לשם כל אולם. השורה קצת מרחפת לה
3. כשעושים סקרול החלק של הקוביות מציץ מעל שורת האולמות

![hall table](https://cloud.githubusercontent.com/assets/741209/26102066/1ecb4242-3a3c-11e7-8444-5d53a13495be.png)

[2017-05-16 10:33] reasonat commented on #120
I have update this task and close this one. Try to comment on exciting tasks instead of pening new one..
https://github.com/Reasonat1/Cinema/issues/46

[2017-05-16 10:33] #120 closed, assigned to nobody

[2017-05-16 10:54] reasonat commented on #40
@bruria1 Here is a summary of issue for this task:

- [ ] Event box arn't relative to there time/
- [ ] Hebrew side there is an alignment problem. See SS (This is also related to what @JerusalemCinematheque Write - This is not a 6 halls issue but a right padding/margin issue):

<img width="1273" alt="columns_1" src="https://cloud.githubusercontent.com/assets/741209/26102755/26e9faec-3a3f-11e7-992e

[2017-05-16 10:54] bruria1 commented on #39
4. את מדברת על זה ששם האולם נקטע על ידי "אולמות נוספים"?
5. הורדתי. עכשיו ישבכל קוביה שולים של 5 פיקסלל מכל הכיוניים
6. הורדתי את הכפתור אם אין כרטיס
7. לגבי הצגת אירועים שהתאריך שלהם עבר - זה כבר נושא לטיקט חדש.. תפתחו.
8. צמצמתי את הרווח

[2017-05-16 10:56] bruria1 commented on #46
אמיר, תסתכל כאשר אינך מחובר כאדמין...

[2017-05-16 10:58] reasonat commented on #40
➤ Amir Taiar commented:

&#64;Alex Voloshchenko the last comment - Event box arn&#39;t relative to there time. Each event should be &#34;close&#34; to his time. It&#39;s not the case now. <br />

[2017-05-16 10:59] reasonat commented on #46
@navotb @JerusalemCinematheque זו תגובה מועתקת של הלקוח

[2017-05-16 11:03] reasonat commented on #46
➤ Amir Taiar commented:

&#64;Bruria Helfer <br />

[2017-05-16 11:52] JerusalemCinematheque commented on #83
הקישור לכל ההודעות לא פועל

[2017-05-16 11:59] bruria1 commented on #46
לגבי סעיף 1. הכוונה להוריד את הטקט ולהשאיר רק את החיצים הקיימים כבר?
לגבי הקו מתחת, ככה הכוונה?

[2017-05-16 12:05] bruria1 commented on #83
עובד כעת

[2017-05-16 13:18] reasonat commented on #40
➤ Alex Voloshchenko commented:

&#64;Amir Taiar Now event appeare in middle of line, if event&#39;s time in second half of hour<br />

[2017-05-17 06:52] #98 closed

[2017-05-17 06:54] #29 closed

[2017-05-17 06:54] reasonat commented on #67
➤ Amir Taiar commented:

&#64;Bruria Helfer Can the client see this then? <br />

[2017-05-17 07:03] reasonat commented on #29
➤ Amir Taiar commented:

Closign this task and comments on frontend should be in specific tasks<br />

[2017-05-17 07:21] reasonat commented on #39
No need to open new task for 7 since it's part of archive logic which yet to start.

[2017-05-17 07:33] bruria1 commented on #67
לא. רק אדמין רואה את זה.
@yakoub תוכל לבדוק למה?

[2017-05-17 07:36] yakoub commented on #67
@bruria1 כתבת בעצמך :
" לא מוצג למשתמשים מלבד אדמין כיוון שזו ההרשאה שניתנה להיבט"
אני לא מודע להרשאה כזאת, למה התכוונת בזה ?

[2017-05-17 08:13] bruria1 commented on #67
כעת רק העורכים יכולים לראות את התיבה. היא מופיעה באתר הלייב מתחת לתכנים המסומנים בעמוד משתמש.
משתמש רגיל לא רואה את התיבה.

[2017-05-17 08:13] JerusalemCinematheque commented on #109
![image](https://cloud.githubusercontent.com/assets/26960693/26144528/e2bf2082-3af1-11e7-8652-d04f34a5258d.png)

מתקבלת הודעת שגיאה

[2017-05-17 08:18] JerusalemCinematheque commented on #39
4. כן
6. שלח לקלנדר כן יכול להופיע לפני שכפתור הכרטיסים מופיע. יכול להיות מצב שבו מופיעים האירועים לפני שמתחילה מכירת הכרטיסים. רק צריך לוודא שאחרי שהאירוע הסתיים האייקון כבר לא מופיע
7. ובכל זאת, כי מי יודע אם נסיים את נושא הארכיון בזמן, רצוי שכבר בשלב זה הגיון תאריכון הקלנדר והאירועים לא נמחקים אחרי מועד האירוע יתקיים
8. אפשר לצמצם אפילו יותר? אפילו בחצי ממה שכרגע

[2017-05-17 08:20] JerusalemCinematheque commented on #64
ok

[2017-05-17 08:28] reasonat commented on #40
➤ Alex Voloshchenko commented:

&#64;Amir Taiar I changed the markup according to the comment, if more than 15 minutes - an event in the middle of the line<br />

[2017-05-17 09:19] JerusalemCinematheque commented on #38
when marked as remove from calendar - works
when we go back to unmark the mark and add to calendar - doesn't work, and event does not appear on calendar

[2017-05-17 09:29] JerusalemCinematheque commented on #40
@reasonat @navotb  אמיר איך שאנחנו מבינים את ההיגיון של גובה כל שורה היא שכל שעה קיבלה גובה של הקובייה (משהו כמו 235 פיקסל) מה שיוצר סקרול ארוך מאוד ורווחים שעלולים לגרום לבלבול בקרב הקהל. מה שאנחנו מציעים כדי לחסוך בסקרול וכדי למנוע בלבול של הרווחים הגדולים שנוצרים בין קובייה לקובייה הוא לקבוע שגובה שורה של שעה הוא 40 או 50 פיקסל ולסדר את הקוביות לפי זה
אני מקווה שהצלחתי להסביר מה הבעיה והכוונה ש

[2017-05-17 09:36] navotb commented on #40
אתקן:
גובה של שעה הוא 160 פיקסל. כל רבע שעה הם 40 פיקסל. בוא נראה איך זה נראה ואז
נדייק את זה.

2017-05-17 12:29 GMT+03:00 JerusalemCinematheque <notifications@github.com>:

[2017-05-17 09:43] reasonat commented on #40
➤ Amir Taiar commented:

איך אתם מציעים שגובה של שורה יהי רק 50 פיקסלים? זה מאד נמוך. <br />

[2017-05-17 09:43] reasonat commented on #40
➤ Amir Taiar commented:

גובה של 160 פיקסלים מצריך לא מעט שינויים בתוכן ובמבנה התיבה. &#64;Bruria Helfer תוכלי לבצע שינוי רק לגובה, בלי להתעסק כעת יותר מדי עם המידע שנמצא בפנים, רק בכדי שנוכל לראות? <br />

[2017-05-17 09:46] navotb commented on #40
אנחנו מציעים לא לגעת בתיבה בכלל.
זה רק בענין המיקום של התיבות על ציר ה-y.
כרגע, מוגדר שאורך כל "שעה" בטור הקלנדרי היא כאורך תיבה, כלומר 235 פיקסל.
אבל אנחנו חושבים שעדיף לצמצם את ההגדרה של זה ל-160 פיקסל.
כלומר: אם תיבה צריכה להיות בשעה 09:00 היא בגובה 0, בגובה 09:15, היא בגובה
40 וכו' וכו'.

On Wed, May 17, 2017 at 12:43 PM, Amir Taiar <notifications@github.com>
wrote:

[2017-05-17 10:48] reasonat commented on #39
➤ Bruria Helfer commented:

4. בטיקט אחר רשמת שאת רוצה שיהיו החיצים של אולמות נוספים ללא הטקסט, זה יכול לפתור את הבעייה הזו.<br />6. &#64;Alex Voloshchenko תוכל לסדר שהקלנדר יופיע רק לפני שהאירוע מתקיים ולא לאחריו? לדוגמה בעמוד פה שהאירוע כבר עבר ועדיין מופיע הקלנדר<br />http://dev.jff.reasonat.com/en/festival-calendar/2017-05-16<br />7. לפי מה שאני רואה אירועי עבר גם מופיעים. ראו 16.5<br />8. צמצ

[2017-05-17 10:56] JerusalemCinematheque commented on #39
4. אוקיי. רק תראי #40 שם אמיר כותב שיש בעיה של פאדינג
7. אנחנו רואים בקלנדר רק 24-31.5. כנראה קשור לבעיה באתר הdev שיעקוב בודק אותה. אז יכול שזה עובד בסדר
8. יופי. רק עכשיו רואים שהבוקסה מיושרת לשמאל (אם בצד אנגלית של האתר) של העמודה במקום להיות ממורכזת בעמודה

[2017-05-17 11:00] JerusalemCinematheque commented on #51
@reasonat במעבר בין ימים, היום הנבחר לא מודגש בצבע. הדגש נשאר על היום הראשון בקלנדר
כלומר התוכן של היום מוצג, אבל זה נראה כאילו הגולש בחר ביום הראשון שמופיע בקלנדר

[2017-05-17 11:10] JerusalemCinematheque commented on #32
@reasonat @bruria1 @navotb
כמה דברים
1. התוכן בחלק הזה קשור ליום, הוא לא אמור להופיע באופן תמידי מתחת לקלנדר, אלא באופן יומי. כל יום, יש לו את התוכן שלו
2. אפשרות להוסיף תוכן מסוג content for homepage / front page
3. אם התצוגה היא תצוגת רשימה, חסר צבע רקע לחלק הזה
4. לוודא שאפשר להוסיף אירועים שמסומנים "hide from festival calendar"?
5. אנחנו רואים איפה מעלים תוכן בצד אנגלית, מה עם צד עברית?
6. האם

[2017-05-17 11:30] JerusalemCinematheque commented on #67
1. חסרה כותרת שמסבירה מה מהות האזור הזה
You might also like...
מומלצים בשבילך...
2. הקישור בין הנודס מתנהל לפי התגיות, אבל יש כאן קרוסרפרנס בין סרטים ואירועים, קרי אם סרט יש לו תגית קלאסיקה ויש אירוע שיש לו תגית קלאסיקה, האירוע מופיע מתחת לחלק של הסרטים, במקום מתחת לחלק של אירועים
3. אירועים שעברו לא אמורים להיות מוצגים
4. בתצוגה של סרטים חסר כותרת הסרט
5. האם אפשרי שכל התמונה תהיה קליקבילית ולא ר

[2017-05-17 12:37] JerusalemCinematheque commented on #100
great

[2017-05-17 12:40] JerusalemCinematheque commented on #83
סוגרת את הנושא

[2017-05-17 12:51] JerusalemCinematheque commented on #22
נראה שאפשר להוסיף את כל סוגי התכנים השונים
יש בעיית תצוגה באתר הdev בעמוד הבית, אבל אני מתארת לעצמי שזו רק בעיית תצוגה שם ולא בעיה אמיתית

[2017-05-17 12:52] JerusalemCinematheque commented on #26
האם השאלה היא האם באתר פסטיבל מופיעים הפרטים שהוזנו בשדות פסטיבל ותוכן שהוזן בשדות סינמטק לא מופיעים?
אם על זה השרשור אז התשובה היא שזה עובד

[2017-05-18 08:32] bruria1 commented on #39
6. האם כעת בסדר?

[2017-05-18 10:23] reasonat commented on #55
➤ yakoub abaya commented:

&#64;Amir Taiar is the client still interested in this ?<br />

[2017-05-18 11:35] bruria1 commented on #32
1. כעת יש סוג תוכן רשיות ללוח שנה שבו לכל תוכן שאתם מוסיפים אתם מקשרים לתאריך והוא יופיע באותו תאריך. יש גם דף ניהול לתכנים אלו
2. ניתן כרגע להוסיף תוכן לעמוד הבית אבל לא עמודים מסוג עמוד בית. לפי מה שהבנתי נחכה עם זה כרגע @reasonat ?
3. האם כל החלק אמור להיות עם רקע ורוד? ואם יש טקסט הוא אמור להיות עם רקע לבן?
4. האם נתקלתם בבעייה כזו?
5. כעת זהו סוג תוכן שאתם מגדירים אותו אם הוא אנגלית או עברית

[2017-05-18 12:36] bruria1 commented on #67
1.  עודכן
2. @yakoub
3. עודכן
4. כותרת הסרט כתובה על התמונה לא?
5. עודכן
6. @yakoub

[2017-05-18 12:46] bruria1 commented on #22
לא ברורה לי הערה האחרונה שלכם פה

[2017-05-18 12:47] bruria1 commented on #26
כן..

[2017-05-18 12:49] bruria1 commented on #115
לבדיקה

[2017-05-18 14:20] JerusalemCinematheque commented on #22
סליחה. אנחנו חושבים שזה בסדר, אבל לא יכולים להגיד במאה אחוז כי יש בעיית תצוגה באתר הDEV

[2017-05-18 14:23] JerusalemCinematheque commented on #67
1. אפשר להקטין קצת
3. עדיין רואה אצלי אירועים שעברו
4. עכשיו יש. מאוד גדול
![image](https://cloud.githubusercontent.com/assets/26960693/26206894/b13a593e-3bee-11e7-9440-545ee7a4f1db.png)

[2017-05-18 14:26] JerusalemCinematheque commented on #39
6. כן. תודה

[2017-05-18 17:52] bruria1 commented on #22
מה הבעיה בתצוגה באתר פיתוח?

[2017-05-18 18:01] bruria1 commented on #67
1. בוצע
2. ביקשתי מ @yakoub לטפל בזה..
3. סודר

[2017-05-21 19:23] reasonat commented on #56
➤ yakoub abaya commented:

here is update about the statistics and how it works <br /><a rel="nofollow noreferrer noopener" href="https://youtu.be/dNyEgokaX-o">https://youtu.be/dNyEgokaX-o<br />

[2017-05-22 05:06] bruria1 commented on #119
אני לא רואה את הבעייה.. או שלא הבנתי אותה?

[2017-05-22 05:12] bruria1 commented on #117
האם עשיתם שייר לעמוד הבית? כי ממה שאני  רואה זה לא מה שקורה..

[2017-05-22 05:18] bruria1 commented on #114
לבדיקה

[2017-05-22 06:22] bruria1 commented on #109
אני לא רואה את הבעייה בעמוד הספציפי הזה. הסדר הנכון התקבל בלחיצה על תאריך ולא קיבלתי הודעת שגיאה. זה קרה בעוד מקומות שאתם יכולים להראות לי?

[2017-05-22 06:51] bruria1 commented on #96
לבדיקה

[2017-05-22 07:52] bruria1 commented on #62
לבדיקה

[2017-05-22 07:54] reasonat commented on #63
➤ Bruria Helfer commented:

&#64;Alex Voloshchenko האם תוכל להסתכל? הוספתי לינק לוידאו בקובץ:<br />views-view-fields--movie-group-ct--panel-pane-1.tpl.php<br />שורות 46-48 אבל משום מה זה לא מדפיס את הוידאו. אפשר לראות בעמוד הזה:<br />http://dev.jer-cin.reasonat.com/en/movie-group/4741<br />שם לסרטים יש וידאו ואמור להיות להם מודפס הפליי של הוידאו.<br />

[2017-05-22 08:14] reasonat commented on #27
➤ Bruria Helfer commented:

&#64;Alex Voloshchenko איפה ניתן לראות את זה?<br />

[2017-05-22 08:24] reasonat commented on #27
➤ Alex Voloshchenko commented:

&#64;Bruria Helfer http://dev.jer-cin.reasonat.com/en/lobby/children-cinema-club-1 from here open any movie<br />

[2017-05-22 08:34] reasonat commented on #27
➤ Bruria Helfer commented:

אני צריכה לדעת איך זה צריך להתנהג כאשר המסך קטן ואין מקום לחץ שעולה על העמודה השמאלי. ובכלל האם במסכים קטנים זה אמור להופיע? מובייל?<br />

[2017-05-22 08:54] reasonat commented on #63
➤ Alex Voloshchenko commented:

&#64;Bruria Helfer I&#39;ve fixed tpl<br />

[2017-05-22 09:10] bruria1 commented on #63
@navotb @JerusalemCinematheque
כעת ניתן לראות בעמוד ה למשל:
http://dev.jer-cin.reasonat.com/en/movie-group/4741
את הטריילרים של הסרטים.

האם יש צורך בעוד משהו במשימה זו?

[2017-05-22 09:49] reasonat commented on #55
➤ Amir Taiar commented:

&#64;yakoub abaya Sure! <br />

[2017-05-23 08:29] JerusalemCinematheque commented on #63
אז יש וידאו למקבץ ויש לכל סרט וידאו שמגיע מעמוד הסרט כן?

[2017-05-23 08:29] JerusalemCinematheque commented on #63
הוידאו של המקבץ לא נפתח כמו שצריך
![image](https://cloud.githubusercontent.com/assets/26960693/26345266/118e14be-3fab-11e7-9116-a06fce38292f.png)

[2017-05-23 08:34] JerusalemCinematheque commented on #109
נראה שזה עכשיו בסדר

[2017-05-23 08:41] JerusalemCinematheque commented on #117
גם אני לא, אבל זה בעמוד שלי משתמשת לא בעמוד של הסינמטק

[2017-05-23 08:43] JerusalemCinematheque commented on #119
![image](https://cloud.githubusercontent.com/assets/26960693/26345874/f12fe240-3fac-11e7-9907-6d52a89066ab.png)

חלונית הרכישה נפתחת מתחת לפופ אפ במקום מעל הפופ אפ

[2017-05-23 08:46] JerusalemCinematheque commented on #67
אתם עובדים על החלק הזה? כי אני כבר לא רואה אותו בעמוד

[2017-05-23 08:46] JerusalemCinematheque commented on #22
לא רואים את תמונות הגלריה

[2017-05-23 08:47] JerusalemCinematheque commented on #115
בצד עברית זה בסדר
בצד אנגלית התפריט התיישר למעלה במקום יישור אמצעי

[2017-05-23 08:59] JerusalemCinematheque commented on #32
אחרי שלוחצים submit החלונית לא נסגרת
2. לא רואים את התוכן לעמוד בית לפי התאריך אליו קישרנו. הוספנו JFF17 poster ל-27.5 והוא לא מופיע. יכול להיות שזה קשור לבעיות עדכון שישי עם העמוד הזה באתר DEV
3. שהכל יהיה ורוד
4. עוד לא ניסינו, רק רצינו לוודא שזה ככה תוכנן
6. ליסט / רחבה / גריד / וון אייטם

[2017-05-23 11:06] bruria1 commented on #117
לא הבנתי.. מה שיתפת שזה מה שקיבלת?

[2017-05-23 12:33] bruria1 commented on #63
לבדיקה

[2017-05-23 12:36] bruria1 commented on #67
אמור להופיע לעורכים בלבד בעמוד משתמש

[2017-05-23 12:38] bruria1 commented on #22
http://dev.jer-cin.reasonat.com/he
פה?? בעמוד הבית?
הגלריה מוצגת..

[2017-05-23 12:42] bruria1 commented on #115
לבדיקה באתר פיתוח

[2017-05-24 07:38] reasonat opened #121 "review features status"
my_pane module caused a conflict with panopoly core feature which was difficult to resolve .

[2017-05-24 07:48] bruria1 commented on #32
1. הכוונה לחלונית לבחירת תוכן? האם זה קורה גם בעמוד הבית? האם בלייב זה גם קורה?
2. היו שני תכנים באותו יום, אין צורך כזה.. התוכן שהעלת בעייתי. חסרה לו שם תמונה ואין תוכן
3. בוצע
4. אמור לעבוד
6. בביצוע..

[2017-05-24 07:52] JerusalemCinematheque opened #122 "Send to all affiliates"
@reasonat @navotb
 האם הקביעה הזו לא נכונה בקביעת affiliates?
Select if this content can be shown to all affiliates. This setting will override the options below, but you must still select a domain that "owns" this content.
אם נוד סומן כשייך לשני הדומיינים, אבל סומן כpublish רק בדומיין אחד, האם הסימון כsend to all affiliates לא קובע שהנוד יהיה מוצג בשני הדומיינים?

מה שאני רואה כרגע שאם לדוגמא איש

[2017-05-24 07:58] JerusalemCinematheque commented on #122
ורק לחדד זה דבר אחד שלא מוצאים נוד בפרונטאנד, אבל המצב עכשיו הוא שגם  אי אפשר למצוא את הנודים במערכת הניהול אם הנוד לא סומן כמוצג בשני הדומיינים

[2017-05-24 09:00] JerusalemCinematheque commented on #122
עוד הערה
כשאנחנו יוצרים סרט ורוצים לקשר איש, אז כן אפשר למצוא אותו גם אם הוא רק publish לדומיין אחד
אז נראה שהבעיה נמצאת בחיפוש של מערכת הניהול

[2017-05-24 09:54] bruria1 commented on #32
6. בוצע. בכל תוכן ניתן בחור את סוג התצוגה

[2017-05-24 12:31] yakoub commented on #122
please provide example node (moive/ event) and full link of the admin page where you expect it to appear .

[2017-05-24 12:35] navotb commented on #122
Check this node:
http://jff.reasonat.com/en/person/1089

Should be apprearing here:
http://jer-cin.org.il/en/admin/persons-manager?language=All&title=&field_person_type_target_id_selective=All&field_cm_person_job_title_value_selective=All&field_cm_person_type_target_id_selective=All&field_hide_search_value=All&tnid=All&items_per_page=25

[2017-05-24 13:55] JerusalemCinematheque commented on #26
אז מסתבר שזה עובד באופן חלקי. כן קרדיטים שמסומנים שלא יופיעו בצד סינמטק לא מופיעים, אבל שדות התקציר לא עובדים.
צד סינמטק עושה אוברייד לצד פסטיבל
הנה לדוגמא  הסרט אוונטי פופולו
http://jer-cin.org.il/he/movie/564
שמסומן כשייך לשני הדומיינים. הזנו עכשיו טקסט ארוך רגיל וטקסט ארוך פסטיבל
בצד פסטיבל מופיע הטקסט הארוך הרגיל
ובתוצאת חיפוש של הסרט מופיעה ההקרנה ששייכת לדומיין סינמטק
http://jff.reasonat.com

[2017-05-24 14:08] JerusalemCinematheque opened #123 "share icons on http://jer-cin.org.il/he/movie/564"
@bruria1 @reasonat
אייקוני השיתוף כאן (ונראה שרק כאן) השתבשו ומוצגים כטקסט במקום אייקון
http://jer-cin.org.il/he/movie/564

[2017-05-25 05:36] bruria1 commented on #123
טופל.
מישהו ערך את הדף הזה ושינה לו את התצוגה. יכול להיות שזה היה כבר ממש ממזמן.

[2017-05-25 05:43] bruria1 commented on #26
לא ברור לי. אתם מתכוונים להקרנות?
כי לפי מה שאני רואה הטקסטים מופיעים נכון. ההקרנות שאמורות להופיע אלה רק הקרנות שקשורות לפסטיבל/סינמטק בהתאמה?
אף פעם לא הוגדר דבר כזה..

[2017-05-25 06:08] reasonat opened #124 "send to all affiliate"

[2017-05-25 06:08] reasonat commented on #121
➤ yakoub abaya commented:

&#64;Bruria Helfer &#64;Amir Taiar i recreated feature /modules/custom/my_pane to resolve the conflict in feature against other feature panopoly_widgets .<br /><br />so keep watchful eye over dev environment to see whether these changes caused any errors .<br />if everything is fine then we can merge these chagnes into live site .<br />

[2017-05-25 06:12] #124 closed, assigned to yakoub

[2017-05-25 06:12] yakoub commented on #124
duplicate

[2017-05-25 07:14] yakoub commented on #122
hi @navotb

this not a problem but a feature and is caused by function my_utilities_views_pre_view which alex wrote .
when i add "return" to that function then the person appears in search results .

more info for alex @sato2004 :
this person : http://jff.reasonat.com/en/person/1089
appears here : http://jff.reasonat.com/en/admin/persons-manager
but not here : http://jer-cin.org.il/en/admin/person

[2017-05-25 07:18] yakoub commented on #122
@sato2004 using views_query_alter will show the changes in views admin page "preview" function and that allows future developer to notice the alter work done .

[2017-05-25 07:26] yakoub commented on #122
@sato2004 also take into consideration this bug : https://www.drupal.org/node/1276694
i fixed it other project campus@reasonat:~/com.git commit 464eedd6081 file campus_logo.views.inc

[2017-05-28 05:27] bruria1 commented on #119
משום מה אני לא מצליחה לראות שום אירועים בלוח הפסטיבל.
@yakoub? @reasonat ?

[2017-05-28 07:17] reasonat commented on #56
@JerusalemCinematheque
From what I can see on the video and on GA this task is ready for review.
Sure, we can do many more with GA and events on the site, but as for the requirements and even more, it's done.

[2017-05-28 07:18] reasonat commented on #121
➤ Amir Taiar commented:

@yakoub abaya Does the site now is feature ready? I am asking since you mention only my_pane feature.

[2017-05-28 07:24] navotb commented on #56
1. we do not have yakoub account on our analytics page
2. can you please show us how we add facebook and google Pixels to the site?

On Sun, May 28, 2017 at 10:17 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-05-28 07:30] reasonat commented on #26
You are mixing 2 tasks -
1. The text field of the main site and festival - Which is this task. And seemd like it's done.
2. Screenings - has nothing to do with this task.
Am I right?

[2017-05-28 07:31] #123 closed, assigned to nobody

[2017-05-28 07:33] reasonat commented on #121
➤ yakoub abaya commented:

@Amir Taiar yes, all freatures are synced .

[2017-05-28 07:38] #109 closed

[2017-05-28 07:40] #114 closed

[2017-05-28 07:43] #100 closed

[2017-05-28 08:03] bruria1 commented on #119
לבדיקה

[2017-05-28 08:08] #64 closed

[2017-05-28 08:12] reasonat commented on #112
Does the need is only for Logo's block? I guess not...
Which node types this is relevant to [movies, events, etc]?

[2017-05-28 08:14] reasonat commented on #56
1. @yakoub please share GA account with the Navot and Tamar accounts.
2. Not related to this task. I will open a new task for this - 2 tasks.

[2017-05-28 08:15] JerusalemCinematheque commented on #112
all node types

not just the logos, as we wrote in a separate email - there is no embed option on the site.
it would be great if we could add different features and contect type to other pages, similar to adding bio in film and article pages.

[2017-05-28 08:18] reasonat opened #125 "Add FB and Google Pixels to the site"
This is an out of scope task which is on hold now.

[2017-05-28 08:19] reasonat commented on #56
2. Here is the task - https://github.com/Reasonat1/Cinema/issues/125

[2017-05-28 08:20] reasonat commented on #125
@JerusalemCinematheque Meanwhile you can provide us with the pixels and details.

[2017-05-28 08:23] navotb commented on #125
We don't have pixels now, but from our experience pixels are add and
changed with every campaign, as you wish to collect users details in order
to retarget. There should be an option of adding and deleting pixels.

On Sun, May 28, 2017 at 11:20 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-05-28 08:35] reasonat commented on #125
option where?
As far as I know, working with pixels with other client, we used to work with SEO person which provide with the info needed.

[2017-05-28 08:43] navotb commented on #125
True, and we have marketing firm which provide us with the pixels. The
issue is that pixels come and go, and they are changed according to
campaign.

On Sun, May 28, 2017 at 11:35 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-05-28 08:47] #121 closed, assigned to nobody

[2017-05-28 08:47] JerusalemCinematheque opened #126 "person list when asking to add person to film page"
@reasonat @yakoub
משום מה כשאנחנו מבקשים לקשר איש בעמוד סרט (טבלת קרדיטים) לא נשלפות כל התוצאות האפשריות בחיפוש.
ראו חיפוש של שו פן
בשליפה של התוצאות לא מוצאים אותו
![image](https://cloud.githubusercontent.com/assets/26960693/26527370/47abcc0a-439b-11e7-85b3-49c528eae193.png)
רק אם כותבים את השם המלא התוצאה נשלפת

[2017-05-28 08:48] reasonat commented on #125
➤ Amir Taiar commented:

This will be bases on bank hours / We can think about developing a way so you can change them - Which will also be on a bank hours.

[2017-05-28 08:53] reasonat commented on #121
➤ Amir Taiar commented:

@yakoub abaya I took a look and it looks great. As for updating, how can we handle entity changes like new fields?

[2017-05-28 09:08] reasonat commented on #121
➤ yakoub abaya commented:

@Amir Taiar when adding field to content type X, you recreate the feature which include content type X .
if the person working on this can't identify which feature involved, then contact me .
i hope through practive the team will learn the workflow .

[2017-05-28 09:20] reasonat commented on #126
אבל אפשר לראות בתמונה שצירפתם שכן רואים את שון פן בתחתית...

[2017-05-28 09:21] JerusalemCinematheque commented on #126
שו
לא
שון

[2017-05-28 09:43] reasonat commented on #126
For my best knowledge it's set up to first 3 letters include space.
@yakoub ?

[2017-05-28 09:53] reasonat opened #127 "Festival Archive - Update Festival taxonomy with related fields"
**Festival taxonomy should have this fields included:**
There are currently many fields which need to stay, and here few more which need to get included if now already exist.
 □ Image  - Main Archive image
 □ Paragraphs elements - The same like homepage functionality

**Update:**
We should have 2 seperate date fields - 1 is already exist.
**Dates for navigation display (Exist - Just update the nam

[2017-05-28 09:54] navotb commented on #56
Is it possible to merge our previous account with the new one, so we could
use historic data in comparison with new one?

On Sun, May 28, 2017 at 11:14 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-05-28 09:58] reasonat commented on #56
➤ yakoub abaya commented:

i don't know why it doesn't appear, i already shared the account with navot .
see screenshot .

[2017-05-28 10:14] yakoub commented on #56
http://imgur.com/a/RAWa6

[2017-05-28 10:28] navotb commented on #56
I think it is not our account.
What account is it?

On Sun, May 28, 2017 at 1:14 PM, yakoub <notifications@github.com> wrote:

[2017-05-28 10:33] navotb commented on #56
My user in analytics is my gmail: navotb@gmail.com

On Sun, May 28, 2017 at 1:28 PM, Navot <navotb@gmail.com> wrote:

[2017-05-28 11:16] JerusalemCinematheque opened #128 "Home page item timing issues"
@reasonat @bruria1
אייטמים בהום פייג' יורדים לפני הזמן שנקבע
לדוגמא
שטח הפקר תוכנן להופיע עד 25.5 בשעה 20:00
![image](https://cloud.githubusercontent.com/assets/26960693/26528250/e3b92e76-43af-11e7-8d76-17e1ab5e4d49.png)

אבל כבר בשעה 17:30 (אם לא לפני) הוא כבר לא הופיע
![image](https://cloud.githubusercontent.com/assets/26960693/26528251/f312a1b8-43af-11e7-968d-940a35dd0892.png)

[2017-05-28 11:19] JerusalemCinematheque opened #129 "screening details on film page is off"
@bruria1 @reasonat
אני עכשיו מסתכלת במסך ברזולוציה 1920 ואני רואה שיש הבדל די משמעותי בתצוגה של שורת ההקרנה בין עמוד סרט לבין עמוד אירוע. כשבעמוד סרט השורה לא נכנסת לתוך קווי הגריד ונמתחת על פני כל המסך
לדוגמא
סרט
http://jer-cin.org.il/he/movie/7388
לעומת האירוע עם הסרט
http://jer-cin.org.il/he/event/7391

[2017-05-28 11:40] JerusalemCinematheque opened #130 "front page - adding event/film"
@bruria1
אנחנו לא מצליחים בתצוגת רשימה רחבה בתוכן מסוג פרונט פייג' להוסיף נודים.
אחרי שאנחנו  פותחים את טבלת ההוספה, עושים חיפוש, לוחצים על האייטם המבוקש ועושים שמירה, החלונית לא נסגרת ולא ניתן לבחור את הנוד המבוקש

[2017-05-28 11:56] JerusalemCinematheque commented on #130
זה גם בתצוגת ליסטה רגילה ותצוגת ספיישל גריד

[2017-05-28 12:06] JerusalemCinematheque commented on #130
עכשיו לא מצליחה להוסיף לכל סוגי התוכן, למרות שלפני כמה דקות כן היה אפשר להוסיף בתצוגת גריד ובוואן אייטם

[2017-05-28 12:43] JerusalemCinematheque commented on #119
אני רואה רק את ה-31.5
קשור אולי ל #118

[2017-05-28 12:50] JerusalemCinematheque commented on #26
1. there was an issue, seems to be okay now
2. okay is there an open issue for this or should i open a new issue?

[2017-05-28 12:54] JerusalemCinematheque commented on #119
כפתור הכרטיסים לא עובד

[2017-05-28 12:58] JerusalemCinematheque commented on #126
החיפוש היה על השם פן, הפן השני שיש במערכת כן נשלף למרות שזה רק 2 אותיות

[2017-05-28 13:01] JerusalemCinematheque commented on #115
עדיין נראה קצת גבו

[2017-05-28 13:02] JerusalemCinematheque commented on #22
סינמטק כן. פסטיבל לא.
אני רואה עכשיו שיש אייקון קטן בצד למעלה של תמונה שבורה

[2017-05-28 13:05] JerusalemCinematheque commented on #67
מחכים לתשובות מיעקוב

[2017-05-28 13:07] JerusalemCinematheque commented on #63
טריילר על תמונות הגלריה בסדר
החלונית שנפתחת בכל סרט צרה וארוכה במקום להיפתח לגודל הטריילר כמו שזה בעמודים אחרים

[2017-05-28 13:12] JerusalemCinematheque commented on #119
הכפתור לא עובד בצד אנגלית. בצד עברית עובד כמו שצריך והבעיה של החלונית נפתרה שם

[2017-05-28 13:16] JerusalemCinematheque commented on #96
רק צריך לדאוג ליישר את התגיות בעמוד האירוע כשיש תגית שמגיעה מהאירוע ותגית שמגיעה מהסרט
http://jer-cin.org.il/he/event/6782

[2017-05-28 13:23] reasonat commented on #67
➤ Amir Taiar commented:

@yakoub abaya Please look at 2. + 6.

[2017-05-28 13:30] JerusalemCinematheque commented on #32
1. כן
2. הוספנו עכשיו אייטמים ל-31.5. אייטם מסוג וואן אייטם מוצג. אייטם מסוג גריד לא מוצג
7. כותרת - יש כאן שני נושאים:
7.1 צריך כותרת שהיא לתצוגה וכותרת שהיא אדמיניסטרטיבית.
7.2 הכותרת לא מופיעה

[2017-05-28 13:32] JerusalemCinematheque commented on #32
בתצוגת וון אייטם הכותרת גדולה מידי והריווח בין הכותרת לשורה הבאה צר מידי
צריך להתאים להגדרות בעמוד הבית סינמטק

[2017-05-28 13:34] JerusalemCinematheque commented on #32
גם אייטמים מסוג ליסטה לא רואים

[2017-05-28 13:37] JerusalemCinematheque commented on #76
seems okay

[2017-05-28 14:01] navotb commented on #56
What is the difference between the new account and the old one? We only
need to implement a new view in the old account for jff,no? It will be a
pity to lose the old data for comparison.

On Sun, May 28, 2017 at 1:33 PM, Navot <navotb@gmail.com> wrote:

[2017-05-28 14:09] JerusalemCinematheque commented on #40
יש התקדמות?

[2017-05-28 14:25] JerusalemCinematheque opened #131 "problem with transfering to English side"
@reasonat @bruria1
כשלוחצים על מעבר לאנגלית של עמוד לובי זה
http://jer-cin.org.il/he/lobby/5-%D7%99%D7%9E%D7%99%D7%9D-%D7%91%D7%99%D7%95%D7%A0%D7%99
עוברים משום מה לעמוד לובי של תכנית אחרת ולא לעמוד הלובי המתורגם

לא יודעים אם זה קשור לכך שבתפריט האתר הלובי אליו עוברים באנגלית הופיע לפני כן גם בצד עברית והחלפנו אותו, אבל עוד לא עשינו זאת בתפריט בצד אנגלית

בכל אופן נוצר איזשהו לינקג' מוזר

[2017-05-28 14:26] JerusalemCinematheque opened #132 "Clickable items"
@bruria1
בכל התצוגות רצוי שכל האייטם יהיה קליקבילי לתוכן המקושר ולא רק התמונה או התמונה והכותרת
אלא גםהכותר,  התת כותרת או הטקסט להופ פייג'

[2017-05-28 14:36] JerusalemCinematheque opened #133 "ipad compatibility"
@bruria1 תוכלי בבקשה לבדוק את האתר בתצוגת אייפד?
 יש שם כל מיני בעיות של מיקום השבירה - בעמוד הבית בתצוגת תמונות הגלריה שאין מרווח בין התמונות, בתצוגת גריד שתמונות נדבקות אחת לשנייה
בעמוד לובי שורת ההקרנה בורחת
וזה רק חלק מהדברים שראינו

[2017-05-28 14:46] JerusalemCinematheque opened #134 "site name"
שם האתר גם בשמירה במועדפים וגם בתוצאות חיפוש מופיע באנגלית
אפשר לשנות את זה כך שאם מגיעים לתוצאות חיפוש או שומרים את צד עברית השם מופיע בעברית
ואם באנגלית אז השם מופיע באנגלית?

[2017-05-28 15:06] JerusalemCinematheque commented on #85
האם אפשר שברגע שיש פעילות בסל הקניות - אם זה משתמש רשום, או שיש אייטמים בסל -  האייקון יהיה "דלוק"?

[2017-05-28 15:29] JerusalemCinematheque opened #135 "send to my calendar icon disappears from main calendar"
@bruria1
בלוח השנה הגדול במעבר ליום אחר אייקון שלח לקלנדר שלי נעלם
כניסה לקלנדר האייקון מופיע
![image](https://cloud.githubusercontent.com/assets/26960693/26529940/7df0be32-43d3-11e7-8925-18d461202af7.png)
עוברים יום והאייקון לא מופיע
![image](https://cloud.githubusercontent.com/assets/26960693/26529941/8aefbd18-43d3-11e7-89e9-09b45275f933.png)

[2017-05-28 16:49] yakoub commented on #56
you don't have to use a new account, only add new views to your current account .

[2017-05-28 21:53] reasonat commented on #67
➤ yakoub abaya commented:

adding random order breakes distinct function and produces duplicate results .

[2017-05-29 05:17] bruria1 commented on #129
לבדיקה באתר פיתוח

[2017-05-29 05:19] bruria1 commented on #130
ואם אתה סוגרים ידנית את החלונית, עם האיקס בצד ימין, התוכן הועלה למקום הנכון?

[2017-05-29 05:20] bruria1 commented on #22
באתר פיתוח? יתכן מאוד. כי העברנו מסד נתונים אך לא העברנו תמונות. אם כך אפשר לסגור את הטיקט הזה?

[2017-05-29 05:51] bruria1 commented on #116
@yakoub הבעייה נגרמת מהסימון של הצ'קבוקס:
Create events
אתה הוספת את זה? אתה יכול לבדוק למה זה גורם לשגיאה?

[2017-05-29 06:07] bruria1 commented on #63
לבדיקה באתר פיתוח.

[2017-05-29 06:34] bruria1 commented on #32
לגבי התצוגות שלא רואים, לא רואה את הבעייה. בתאריך שציינת אני רואה את כל מה שהוספת.
לגבי הכותרת של וואן אייטם - סידרתי.
לגבי הבעייה שהחלונית של הוספת תוכן לא נסגרת - אפתח על זה טיקט חדש

[2017-05-29 06:43] reasonat opened #136 "החלונית של הוספת תוכן לא נסגרת"
אם למשל מוסיפים תוכן מסוג calendar note ושם מוסיפים פרגרפ של קישור לנוד ושם בוחרים  תוכן, לאחר בחירת התוכן החלונית לא נסגרת.

[2017-05-29 06:49] bruria1 commented on #132
@reasonat
אתה חושב שנכון שהטקסט גם יהווה קישור?

[2017-05-29 07:32] navotb commented on #56
But why can not we use the current accounts that we have for our different
websites? is there any problem? I don't want to lose the historic data

On Sun, May 28, 2017 at 7:49 PM, yakoub <notifications@github.com> wrote:

[2017-05-29 08:06] bruria1 commented on #135
@yakoub ?

[2017-05-29 08:07] JerusalemCinematheque commented on #67
אז אפשר שיהיו חצים שמעבירים לאייטמים הבאים?

[2017-05-29 08:09] JerusalemCinematheque commented on #129
ok

[2017-05-29 08:09] JerusalemCinematheque commented on #130
לא

[2017-05-29 08:12] JerusalemCinematheque commented on #22
אוקיי. כל עוד אין לזה משמעות לגבי אתר הלייב

[2017-05-29 08:16] JerusalemCinematheque commented on #63
עדיין נראה שונה
זה מה שנפתח מתוך ליסטת הסרטים
![image](https://cloud.githubusercontent.com/assets/26960693/26541857/2eadb9d2-4460-11e7-8d3f-179f23940ebf.png)

וזה מה שנפתח בעמוד הסרט
![image](https://cloud.githubusercontent.com/assets/26960693/26541868/3ece6438-4460-11e7-8be1-1ca8414dec1d.png)

[2017-05-29 08:24] JerusalemCinematheque commented on #32
כן זה הופיע כמה שעות אחרי
סידרת - זה אומר שהכותרת עכשיו לא מופיע?
עכשיו שראיתי את סוגי התצוגה השוני כמה הערות
1. בתצוגת ליסטה, חסר הרקע הלבן בחלק של הטקסט
2. בתצוגת גריד עם אייטם איורע - גודל פונט אירוע צריך להיות יותר קטן, אלא עם כותרת אירוע וכותרת סרט אותו הדבר או שאין סרט מקושר
3. אייטם לובי צריך להיות קליקבילי
4. תצוגת וון אייטם - הכל צריך להיות קליקבילי גם התמונה וגם הטקסט
5. תצוגת ליסטה - הת

[2017-05-29 08:30] bruria1 commented on #63
לבדיקה

[2017-05-29 08:32] JerusalemCinematheque opened #137 "calendar - mobile view"
@reasonat @bruria1
האם קיימת גרסה ריספונסיבית לקלנדר הפסטיבל?
ראינו שהיה משהו בעבר, אבל כרגע בקישור
http://jff.reasonat.com/en/festival-calendar-mobile
לא רואים שום דבר

[2017-05-29 08:34] JerusalemCinematheque commented on #63
מצויין. תודה.

[2017-05-29 09:06] bruria1 commented on #32
1. בוצע
2. בוצע
3. בוצע
4. בוצע
5. לפי מה שאני רואה התמונה קליקבילית לא?
6. בוצע

[2017-05-29 09:15] bruria1 commented on #137
http://dev.jff.reasonat.com/he/festival-calendar-mobile

[2017-05-29 09:20] bruria1 commented on #119
אני לא רואה בעיה. הכפתור עובד לי בעברית ובאנגלית.

[2017-05-29 09:23] bruria1 commented on #115
עכשיו?

[2017-05-29 09:32] bruria1 commented on #96
בוצע. באתר פיתוח.

[2017-05-29 09:34] bruria1 commented on #130
פתחתי לזה טיקט #136

[2017-05-29 10:13] reasonat opened #138 "enable features on live site"
circular dependency detected .

[2017-05-29 10:51] bruria1 commented on #133
אנא בדקו

[2017-05-29 12:50] yakoub commented on #56
you can continue using your current account, this is what i mean when i wrote you don't have to use a new account .

[2017-05-29 13:02] navotb commented on #56
We have one account with two properties: one for jer-cin and one for jff,
could we keep them? That will be the best for us. Can you embed the
tracking code of the old website in the new one according to domain?

On Mon, May 29, 2017 at 3:50 PM, yakoub <notifications@github.com> wrote:

[2017-05-29 16:09] #130 closed, assigned to nobody

[2017-05-29 16:21] #63 closed

[2017-05-29 16:21] #22 closed

[2017-05-29 16:23] #129 closed, assigned to nobody

[2017-05-29 16:30] reasonat commented on #132
From the title and description I can't even understand which display are we talking about here.

[2017-05-29 16:38] reasonat opened #139 "Highlight cart icon for log in user"
Hightlight the icon at the top menu when:
- There are items in the cart
AND
- When user is log-in

[2017-05-29 16:40] navotb commented on #139
toptix user or drupal user?

On Mon, May 29, 2017 at 7:38 PM, Amir Taiar <notifications@github.com>
wrote:

[2017-05-29 16:40] reasonat commented on #85
I have created a new task for this https://github.com/Reasonat1/Cinema/issues/139
This task as far as I know is done.

[2017-05-29 16:40] #85 closed

[2017-05-29 16:42] reasonat commented on #139
Lets wait for @yakoub to tell us which will be the best option

[2017-05-29 16:47] reasonat commented on #67
@bruria1 Notice in Hebrew the heart icon is on the right side instead of the left side.

[2017-05-29 16:51] reasonat commented on #134
@bruria1 Please translate open-graph and metatag settings to HP
http://jer-cin.org.il/he/admin/config/search/metatags/config/global%3Afrontpage/translate
Then check saving to browsers favorite. Search changes will be only after a while though.

[2017-05-29 16:53] navotb commented on #139
I think it is only toptix user, since i can have tix in basket without
being registered in drupal side.

On Mon, May 29, 2017 at 7:42 PM, Amir Taiar <notifications@github.com>
wrote:

[2017-05-29 16:58] #76 closed

[2017-05-29 17:03] reasonat commented on #126
כאשר אני מחפש ״שון״ זה מציג תוצאות.
לא רוצה שניכנס לזה כעת, זה ברמת הרכיב הדרופלי ולא רואה כך בעיה קריטית כלל.

[2017-05-29 17:05] reasonat commented on #26
2. What the issue? I can't understand.

[2017-05-29 17:06] reasonat commented on #128
@sato2004 Please check this.

[2017-05-29 17:10] reasonat commented on #119
I can't see this issue on en / he site.
Seems to me task https://github.com/Reasonat1/Cinema/issues/118  has nothing to do with it.

[2017-05-29 17:10] reasonat commented on #118
@yakoub Please check this.

[2017-05-29 17:13] reasonat commented on #135
@sato2004 This seems like an API issue - Please check this

[2017-05-29 17:15] reasonat commented on #48
We had some issues with performances on dev site.
I will wait with this.
Anyway for now I cant even see more then one day on http://dev.jff.reasonat.com/en/festival-calendar
Can you add dummy / real future events?

[2017-05-29 17:24] reasonat commented on #24
Thats a good point.
@bruria1 Please highlight in a way, non-active events which get display for editors role.

[2017-05-29 17:27] #35 closed

[2017-05-29 17:30] reasonat commented on #37
אני חושב שזה נראה מצוין. מה גם שהדגשה יתרה תוציא את תשומת הלב מהחלון הנפתח

[2017-05-29 17:31] reasonat commented on #38
@sato2004 Please check this.

[2017-05-29 17:32] reasonat commented on #40
@bruria1 Please schedule a call with @JerusalemCinematheque to go through this online.
And maybe other small frontend issues.

[2017-05-30 05:56] yakoub commented on #139
yes, this is about toptix user .

[2017-05-30 05:57] yakoub commented on #56
yes .
but we will only use the property for jer-cin for both domains .
property jff won't be needed anymore .

[2017-05-30 06:32] yakoub commented on #116
fixed .

[2017-06-01 05:31] bruria1 commented on #67
בקשר ללב - סידרתי. בקשר לאייטמים נוספים - כמה אייטמים סה"כ יופיעו?

[2017-06-01 05:38] bruria1 commented on #134
לבדיקה.

[2017-06-01 06:04] bruria1 commented on #24
בוצע.
ניתן לראות פה:
http://dev.jff.reasonat.com/en/festival-calendar

[2017-06-01 06:44] yakoub commented on #67
@bruria1 i believe i can solve the problem with random items, so wait on pager solution .

[2017-06-01 06:59] JerusalemCinematheque opened #140 "personal page - title before save films and events"
@reasonat @bruria1
הכותרת שמופיע לפני רשימת הסרטים השמורים השתבשה ומופיע כ
3 Saved סרטs
גם בעברית וגם באנגלית

בצד עברית בחלק של ההקרנות שלי מופיע ההסבר על העמוד באנגלית במקום בעברית
Use the  to create your films and events WISH LIST

[2017-06-01 07:17] JerusalemCinematheque opened #141 "home page - adding items"
@bruria1 @reasonat
אי אפשר להוסיף פריטים ברצף בלי לעשות שמירה אחרי הוספה של כל פריט
לדוגמא - הוספנו חלק של גריד
עשינו שמירה
הוספנו אייטם
ביקשנו להוסיף עוד אייטם
השורה עבור האייטם החדש לא נפתחת. ומתקבל מסך כזה
![image](https://cloud.githubusercontent.com/assets/26960693/26668628/496dc4a6-46b3-11e7-9709-68655cc0a5a5.png)
וכשעושים שמירה מתקבלת הודעת השגיאה הבאה
Fatal error: Call to undefined function

[2017-06-01 07:21] JerusalemCinematheque opened #142 "Paragraph form - Add a title to each item in the edit form"
לא לעכשיו, אלא אם זה משהו פשוט
אבל זה מאוד יעזור אם בכל שדה יהיה כתוב איזה אייטם יש בו
יעזור לנו מאוד לנווט ולנהל את העמוד

[2017-06-01 07:44] JerusalemCinematheque opened #143 "film/event hebrew page subtiltes"
@bruria1 @reasonat
בעמודי סרט ואירוע בשדה תרגום מופיעה המילה
subtiltes
במקום תרגום ל

[2017-06-01 08:06] JerusalemCinematheque commented on #32
במערכת הניהול, היינו רוצים שתהיה אפשרות לסדר את סדר הפריטים
לגבי הכותרת של האייטמים - האם זה אמור להיות מוצג או לא? הכי נכון יהיה שניתן לבחור אם הכותרת מוצגת או לא

[2017-06-01 08:09] bruria1 commented on #140
לבדיקה.

[2017-06-01 08:25] bruria1 commented on #141
@yakoub Can you check this?

[2017-06-01 08:27] JerusalemCinematheque commented on #115
נראה מעולה

[2017-06-01 08:28] JerusalemCinematheque commented on #96
אחלה

[2017-06-01 08:32] JerusalemCinematheque commented on #132
בעמוד הבית
בכל סוגי התצוגות היינו רוצים שגם התמונה וגם הטקסט שמופיע על התמונה (כותרת, תת כותרת, טקסט להום פייג') יהיו קליקבילים

[2017-06-01 08:38] bruria1 commented on #143
סודר

[2017-06-01 08:39] JerusalemCinematheque commented on #26
אם הקרנה הוגדרה כשייכת לצד סינמטק, אבל הסרט שייך לצד סינמטק וצד פסטיבל, ההקרנה עדיין צריכה להיות מוצגת רק בצד סינמטק
הנה לדוגמא הסרט אוונטי פופולו משוייך לפסטיבל ולסינמטק
אבל ההקרנה שלו
http://jer-cin.org.il/he/event/7252
משוייכת לסינמטק
בתוצאות החיפוש של בסרט בצד פסטיבל מופיעה ההקרנה שמשוייכת לצד סינמטק
http://jff.reasonat.com/he/search/results/%D7%90%D7%95%D7%95%D7%A0%D7%98%D7%99

[2017-06-01 08:41] JerusalemCinematheque commented on #48
there is a full day on 27.5 and there are events up for more than 10 days, but DEV site does not display any of them. Probably has to do with #118 which you asked yakoub to check

[2017-06-01 08:42] JerusalemCinematheque commented on #37
מצטערת חשבתי שסגרנו את הנושא. מבחינתנו נושא זה סגור

[2017-06-01 08:44] JerusalemCinematheque commented on #134
אפשר שאם שומרים את צד אנגלית השם יופיע באנגלית?

[2017-06-01 08:49] JerusalemCinematheque commented on #140
בצד אנגלית עדיין מופיע משובש

וזה?
בצד עברית בחלק של ההקרנות שלי מופיע ההסבר על העמוד באנגלית במקום בעברית
Use the to create your films and events WISH LIST

אנחנו צריכים לערוך את העמוד מחדש? איפה אנחנו עושים זאת?

[2017-06-01 09:09] yakoub commented on #141
לא הצלחתי לשחזר הבעיה
http://jer-cin.reasonat.com/en/node/7591/edit

[2017-06-01 09:20] JerusalemCinematheque commented on #143
אוקיי

[2017-06-01 09:20] #143 closed, assigned to bruria1

[2017-06-01 11:39] JerusalemCinematheque opened #144 "new person type"
@reasonat
האם אפשר בבקשה להוסיף באיש פרסון טייפ - "פורמט"?

[2017-06-01 11:46] navotb commented on #144
או לחילופין להפוך את person type לטבלת ערכים שאפשר לעדכן אותה?

On Thu, Jun 1, 2017 at 2:39 PM, JerusalemCinematheque <
notifications@github.com> wrote:

[2017-06-01 11:48] JerusalemCinematheque commented on #81
@bruria1
הדיפולט נעלם מעמוד הוספת איש

[2017-06-01 11:52] JerusalemCinematheque opened #145 "management page - Operations options"
@reasonat
אנא תוסיפו בעמודי הניהול השונים
operations options
כפי שיש בעמוד ניהול התוכן הכללי
ואם אפשר להוסיף לאפשרויות שם
change domain access / publish to domain access
יהיה מעולה

[2017-06-01 12:05] yakoub commented on #67
created different block displays for movies and events which allows filtering events by date

[2017-06-01 12:38] bruria1 commented on #140
לבדיקה

[2017-06-01 12:39] bruria1 commented on #141
@yakoub זה קורה כשאתה מוסיף למשל לקבוצה של גריד תוכן, מסיים ואז מוסיף תוכן נוסף לאותה קבוצה.

[2017-06-01 12:41] bruria1 commented on #81
חזר.

[2017-06-01 12:56] JerusalemCinematheque opened #146 "person with only first name"
@reasonat @bruria1
כיש "איש" שיש לו רק שם פרטי כמו מדונה או סאנדנס
בפרונטאנד מוצג שחסר שדה שם משפחה
לדוגמא
http://jff.reasonat.com/he/movie/597
מבינים שבגלל ששם נוצר משדה שם פרטי ושדה שם משפחה אז נוצרת כאן הבעיה, אבל יש לנו מקרים שאין שם משפחה

[2017-06-01 13:03] reasonat opened #147 "features sync"

[2017-06-01 13:41] JerusalemCinematheque opened #148 "home page text - font size"
@bruria1
גודל הפונט של טקסט הום פייג' בתצוגת גריד מופיע פתאום גדול מידי
אמור להיות באותו גודל כמו כותרת אירוע

[2017-06-01 14:43] reasonat commented on #40
➤ Alex Voloshchenko commented:

@Bruria Helfer Is it ok now? I deleted extra space

[2017-06-01 14:51] JerusalemCinematheque commented on #81
יופי תודה

[2017-06-01 14:55] JerusalemCinematheque commented on #140
בצד אנגלית עדיין מופיע כ
Saved **סרטs**
במקום
saved films

[2017-06-04 05:23] reasonat commented on #40
➤ Bruria Helfer commented:

@sato2004  No.. the first columns, the space between "Johnny Guitar" and "Translation by H. Rackham" is 90 minutes so they have to be one after the other without any space.

[2017-06-04 05:58] bruria1 commented on #134
לבדיקה

[2017-06-04 05:58] bruria1 commented on #132
לבדיקה

[2017-06-04 06:01] bruria1 commented on #146
הפיתרון הכי פשוט הוא שאם אין שם משפחה תרשמו בשדה רווח.

[2017-06-04 06:06] navotb commented on #146
אבל אז זה ייצור טעויות במקרה של מספר פריטים בשדה למשל:
משחק: מדונה ,  וורן ביטי

הרווח אחרי מדונה ולפני הפסיק הוא רווח מיותר

On Sun, Jun 4, 2017 at 9:01 AM, Bruria <notifications@github.com> wrote:

[2017-06-04 06:09] bruria1 commented on #148
לבדיקה. בינתיים באתר פיתוח.

[2017-06-04 06:13] bruria1 commented on #146
אם כך מלאו רק את שם המשפחה ואת השם הפרטי השאירו עם רווח. אני חושבת שכך הבעייה לא מתרחשת.

[2017-06-04 06:16] navotb commented on #146
אני חושב שנקבל את אותה הבעיה מהצד השני של הפסיק: במקום רווח אחד, יהיו לנו
שני רווחים.
אי אפשר להגיד לשדה שאם הוא ריק שלא יציג כלום? למה בכלל הוא מציג את שם השדה?

2017-06-04 9:13 GMT+03:00 Bruria <notifications@github.com>:

[2017-06-04 06:23] bruria1 commented on #140
לבדיקה

[2017-06-04 06:24] bruria1 commented on #146
האם ניסית? כי לפי מה שאני ראיתי לא הייתה בעייה.

[2017-06-04 06:32] navotb commented on #146
אחלה, הסתדר
אבל שימי לב לשגיאה אחרת בנוד
http://jff.reasonat.com/he/movie/597

בחלק שמתחת לתמונה
בו מופיעים פרטי הסרט בפונט בולד
מופיע minutes וצ"ל דקות

On Sun, Jun 4, 2017 at 9:24 AM, Bruria <notifications@github.com> wrote:

[2017-06-04 06:37] navotb commented on #146
ועוד ענין לא קשור
אבל נתקלתי בו במהלך העבודה על הענין הזה
שימי לב שבעמוד רשימת האישים person manager
בפילטר המיון "type"
נכנס משום מה "מועדון טרום בכורה" כאפשרות בחירה
למרות שאין כזה "person type" בטקסונומיה

​

2017-06-04 9:31 GMT+03:00 Navot <navotb@gmail.com>:

[2017-06-04 06:59] bruria1 commented on #146
סידרתי את שני הדברים

[2017-06-04 07:13] reasonat commented on #67
➤ yakoub abaya commented:

add random sort using custom hook in module feature cinematheque_feature_views_3 , because drupal default behavior will add random expression to fields list and that will hamper sql distinct caluse and show duplicate resutls .

[2017-06-04 07:26] reasonat commented on #32
בוקר טוב,
הלכנו הרבה יותר מדי רחוק עם המשימה הזו, החל מזה שאפשר לשנות תצוגות וכעת עם הבקשות הללו.
אני מקפיא את שתי הבקשות של סדר הפרטים והכותרות. אפתח על זה משימה נוספת אותה אשים בהקפאה.

האם למעט שתי הבקשות הנוספות הללו המשימה בוצעה?

[2017-06-04 07:28] reasonat opened #149 "Fes"

[2017-06-04 07:30] navotb commented on #1
ברוריה
הייתי רוצה לנסות להמיר את קובץ האילוסטרטור ששלח אלקנה בזמנו לאייקונים
פונטיים - אני אטפל בחלק הזה.
האם זה פתרון טוב עבורך? ואם כן, האם תרצי להנחות איך תרצי לקבל אותם?
נבות

2017-05-10 9:48 GMT+03:00 Bruria <notifications@github.com>:

[2017-06-04 07:38] reasonat opened #150 "שינוי דומיין גורף לתכנים"

[2017-06-04 07:42] bruria1 commented on #1
אני צריכה לקבל את כקובץ מסוג פונט ttf

[2017-06-04 07:44] navotb commented on #1
אוקיי
והקווים/משטחים - שחורים? בלי שני צבעים או משהו כזה, נכון?

On Sun, Jun 4, 2017 at 10:42 AM, Bruria <notifications@github.com> wrote:

[2017-06-04 07:45] bruria1 commented on #1
לא הבנתי אותך

[2017-06-04 07:48] reasonat opened #151 "Festival calendar - Genral notes addons"
**שתי תוספות לחלק של ההערות בלוח השנה: ֿ**
 □ במערכת הניהול - אפשרות לסדר את סדר הפריטים
 □ לגבי הכותרת של האייטמים - האם זה אמור להיות מוצג או לא? הכי נכון יהיה שניתן לבחור אם הכותרת מוצגת או לא

[2017-06-04 07:48] navotb commented on #1
בקובץ של אלקנה האייקונים מופיעים עם שני צבעים לפעמים, למשל: הלב מופיע עם קו
חיצוני שחור ומילוי אדום. ממה שקראתי, את צריכה לקבל את האייקונים בצבע אחד
שחור והשאר לבן/שקוף

On Sun, Jun 4, 2017 at 10:45 AM, Bruria <notifications@github.com> wrote:

[2017-06-04 07:50] bruria1 commented on #1
כן. בצבע אחד בלבד.

[2017-06-04 07:58] bruria1 commented on #145
כוונתכם לאפשרות לשנות באופן גורף את הדומיין של התכנים?
איזה עוד דברים אתם צריכים שם?

[2017-06-04 07:59] bruria1 commented on #144
http://jer-cin.org.il/he/admin/structure/taxonomy/person_type
אתם יכולים להוסיף. תוסיפו באנגלית ואז תוסיפו תרגום לעברית

[2017-06-04 08:05] bruria1 commented on #131
בדקו בבקשה

[2017-06-04 08:24] #11 closed

[2017-06-04 08:24] #18 closed

[2017-06-04 08:26] reasonat commented on #18
This is a main task which I am closing since there are several sub-tasks

[2017-06-04 08:48] reasonat commented on #127
➤ Bruria Helfer commented:

@Amir Taiar תמונה כבר הייתה. הוספתי את השדה של סקשיין. עכשיו נשאר לבדוק שכל העיצוב מתלבש טוב שם. לבדוק את זה?

[2017-06-04 08:59] JerusalemCinematheque commented on #134
מעולה

[2017-06-04 09:02] JerusalemCinematheque commented on #140
ok

[2017-06-04 09:28] reasonat commented on #150
➤ Bruria Helfer commented:

הוספתי כפתור לשינוי דומיין וכן אפשרות לסנן את התכנים שנוצרו עד לתאריך מסויים

[2017-06-04 09:53] reasonat opened #152 "Festival Archive - Create the main archive page"
We need to make the main archive page
**This page should display:**
 □ Grid view of all festivals terms - There should be a link to the term page
 □ organise by date fro new to old.

[2017-06-04 09:58] reasonat opened #153 "Festival Archive - Display logic of nodes on site"
**Now that we have a festival date range we will need to implement this logic on Festival site:**
All over the site (Search, Calendar, Lobby, Person favorite page, etc) the nodes that will be display are those who taged with the current festival.

**For this to happen we will need some:**
 □ Dummy festival terms - Past festivals.
 □ Set current festival date range.

[2017-06-04 10:03] reasonat commented on #50
➤ Amir Taiar commented:

@sato2004  We can finish this one now - https://www.wrike.com/open.htm?id=156591790

[2017-06-04 10:03] reasonat opened #154 "Festival Archive - Festival term management page"
Create a new (if now exist) festival term management page.
Use regular best practices, plus:
 □ Date range column - So editor will know active festival.
 □ Default order by date range starting from current to past festivals.

[2017-06-04 10:03] reasonat commented on #45
➤ Amir Taiar commented:

@sato2004 We can finish this one now - To Do #153 ⁃ Festival Archive - Display logic of nodes on site

[2017-06-04 10:12] navotb commented on #153
What we would like to have is
1. The Content of the current edition of the festival is available until editor decide to move the edition to archive
2. This move is not dependant upon festival dates range (!!!)
3. Archive include editions of each festival, under each edition we can keep the lobbys, film, events etc,

[2017-06-04 11:38] reasonat opened #155 "Festival Archive - Make sure node forms has festival term field reference"
All content type should have an entity reference field to festival taxonomy.
Probably we will make most usage with movies, still all content type should have this field.

example :
http://dev.jer-cin.reasonat.com/he/node/6868/edit
private field - festival

[2017-06-04 11:43] reasonat commented on #152
➤ Bruria Helfer commented:

http://dev.jer-cin.reasonat.com/en/festival-archive @Amir Taiar

[2017-06-04 11:46] reasonat commented on #153
1+2. Means festival edition (term) range and that what this task is about. So I can't understand why it has nothing to do with dates range.
3. Edition (Term) edited manually so you can add Lobbys, films and so on as you wish.

[2017-06-04 11:48] reasonat commented on #152
@navotb @JerusalemCinematheque Should we even have this page? For now it's only for testing.
@bruria1 Please add date range field [where ever you want on each term) just for testing.

[2017-06-04 11:49] reasonat commented on #127
@bruria1 Sure

[2017-06-04 12:01] navotb commented on #152
Should not it be just like a lobby of lobbys page? with the same
capabilities?

On Sun, Jun 4, 2017 at 2:48 PM, Amir Taiar <notifications@github.com> wrote:

[2017-06-04 12:10] navotb commented on #153
(1) Date range of edition for the display of items in the website is
different from the (2) date range of the festival itself, which is 13 to 23
of july this year.
So in the top navigation bar we want these dates to appear (2), but when it
comes to the date range of the content (1) we want it for much longer
period: starting months earlier and ending months later.

On Sun, Jun 4, 2017 at 2:46 PM,

[2017-06-04 12:13] reasonat commented on #154
➤ Bruria Helfer commented:

http://dev.jer-cin.reasonat.com/he/admin/festival-terms-manage @Amir Taiar

[2017-06-04 12:20] bruria1 commented on #152
@reasonat Done

[2017-06-04 12:22] bruria1 commented on #127
@reasonat עובד..

[2017-06-04 12:37] navotb commented on #127
I think we need more fields here

   1.  "festival name"  - is this field is the one that is sent to the
   navigation bar?
   2.  if yes- than all of the festivals under this domain will have the
   same name: Jerusalem Film Festival.
   3.  Since we do want the same name on the navigation bar

but

we don't want to have the same name for all the editions,

3.1 we need a second field for "Edition

[2017-06-04 13:12] reasonat commented on #127
Edition has a title which is the term core title, and this will be the one to reference to.
We can add "Administration title" field, but I see no reason to.

Current festival can always be "Jerusalem Film Festival" and then changed to something like "Jerusalem 2016 Film Festival"...

[2017-06-04 13:23] navotb commented on #127
My worries is per the title in the navigation bar. Other than this i do not
really see a problem. I will prefer to define two different fields: one as
core for reference, and one for the navigation Bar.

On Sun, Jun 4, 2017 at 4:12 PM, Amir Taiar <notifications@github.com> wrote:

[2017-06-04 13:24] navotb commented on #127
My worries is per the title in the navigation bar. Other than this i do not
really see a problem. I will prefer to define two different fields: one as
core for reference, and one for the navigation Bar.

On Sun, Jun 4, 2017 at 4:23 PM, Navot <navotb@gmail.com> wrote:

[2017-06-04 13:28] reasonat commented on #127
➤ Alex Voloshchenko commented:

@Bruria Helfer I added field - Festival publish dates

[2017-06-04 13:38] reasonat opened #156 "Lobby - Add festival terms to management page"
Add a column to the management page +filters, of the Festival terms associated with each Lobby.

[2017-06-05 05:23] reasonat commented on #127
➤ Amir Taiar commented:

@sato2004 We need to make sure that "Festival publish dates" reference field multilanguage behave is as like other reference fields on the site. Meanining when I translate movie node (example) to hebrew, the field will be coresponded with the hebrew term.
This is duplicate of Last comment is a duplicate of https://github.com/Reasonat1/Cinema/issues/155

[2017-06-05 05:28] reasonat opened #157 "Check spam control level"
There are on **live** site, spam users.
Please check which spam control we use and report here.

[2017-06-05 05:38] bruria1 commented on #155
הוספתי את השדה ל-
אירוע, איש, מאמר, סרט, מקבץ סרטים
באתר דב.

[2017-06-05 05:48] reasonat commented on #157
➤ Bruria Helfer commented:

@Amir Taiar עד אתמול לא היה ספאמר כלל. זו היתה משימה שהייתה משוייכת לדביר ורועי העביר אליי. כעת יש הוניפוט והידן קאפצה. צריך לראות אם זה טוב.

[2017-06-05 05:59] bruria1 commented on #156
@reasonat אין שדה כזה בלובי. צריך להיות שדה כזה כמו בשאר סוגי התוכן?

[2017-06-05 06:05] bruria1 commented on #67
@navotb @JerusalemCinematheque
כרגע מופיעים שלושה תכנים באופן רנדומלי. האם זה מספק אתכם?
האם בכל זאת תרצו שיופיעו יותר משלושה ואז יהיו חיצים שמאלה וימינה לדפדפוף?
אם כן, כמה תכנים סך הכל?

[2017-06-05 08:28] #157 closed, assigned to bruria1

[2017-06-05 08:33] reasonat commented on #157
➤ Amir Taiar commented:

@Bruria Helfer Great!

[2017-06-05 14:06] reasonat commented on #67
Lets close this, if there are 3 random items so this what was needed to be done.
More requests will be another task.

[2017-06-05 14:08] reasonat commented on #156
Yes, at the basic level which we are facing now, a lobby can be referenced to a festival term.

[2017-06-05 14:09] reasonat commented on #155
@bruria1 please make sure that this field work in a corresponding multi-language way, like other references fields. So when I add a translation to a node the corresponding term will be auto populate in the field [If exist]

[2017-06-05 14:12] reasonat commented on #152
@navotb It does build in a grid teasers like the lobby pages.
Same functionality meaning the ability to change the display modes - Not in this scope - This page isn't even part of the plan, we just made it for a QA process.

[2017-06-05 14:13] navotb commented on #67
אני מתנצל פשוט תמר חולה ואני לא לגמרי בתמונה של כל הנושאים האלו

On Mon, Jun 5, 2017 at 5:06 PM, Amir Taiar <notifications@github.com> wrote:

[2017-06-05 14:14] reasonat commented on #153
Sure, I have update another task with this details.
@sato2004 @bruria1 Should know by now that when talking about nodes display is according to the new date field which we already created.

[2017-06-05 14:15] #140 closed, assigned to nobody

[2017-06-05 14:16] #134 closed, assigned to bruria1

[2017-06-05 14:17] #144 closed, assigned to bruria1

[2017-06-05 14:37] reasonat commented on #26
ok, let me know it this correct for Alex:
In case:
Node domain access set to both Cinema + Festival
AND
Screening field set to Cinema only
THEN
Screening field shouldn't be display on search results on Festival site -> which is the case now.

[2017-06-05 14:37] #96 closed

[2017-06-05 14:39] #115 closed, assigned to bruria1

[2017-06-05 14:41] reasonat commented on #142
@bruria1 Yes! Actually we do need this also for other projects. This is a module issue, and I think we should look for an issue / report one.

[2017-06-05 14:43] #116 closed, assigned to yakoub, bruria1

[2017-06-05 14:43] reasonat commented on #139
@yakoub Can we a class fir this case? Or other solution?

[2017-06-05 14:46] #37 closed

[2017-06-05 14:48] navotb commented on #56
Yakoub, did you embed the old google tracking in the new cinematheque
website? because the old view is showing 0 sessions.

On Tue, May 30, 2017 at 8:57 AM, yakoub <notifications@github.com> wrote:

[2017-06-05 14:51] reasonat commented on #48
I am closing this issue. Anyway we are waiting for your answer whether to choose AJAX or URL - https://github.com/Reasonat1/Cinema/issues/47

[2017-06-05 14:55] #13 closed

[2017-06-05 14:55] #150 closed, assigned to bruria1

[2017-06-05 14:56] #149 closed, assigned to nobody

[2017-06-05 15:01] #113 closed

[2017-06-05 15:06] #68 closed

[2017-06-05 15:07] reasonat commented on #138
@yakoub can we close this one?

[2017-06-05 15:18] reasonat commented on #154
➤ Amir Taiar commented:

@Bruria Helfer
1.I can see this view as anonimous user.
2. Change Festival date to Publish dates and make sure this is the field which display

[2017-06-06 04:31] yakoub commented on #138
@reasonat yes

[2017-06-06 04:34] yakoub commented on #139
i don't understand

[2017-06-06 05:17] bruria1 commented on #156
Done

[2017-06-06 05:27] bruria1 commented on #155
@reasonat זה לא קורה, ממה שאני יודעת זה קוה רק כאשר המילון מוגדר:
Localize. Terms are common for all languages, but their name and description may be localized.
אבל פה זה לא מתאים כי התוכן צריך להיות לגמרי שונה באנגלית ובעברית.
גם משום מה כאשר באים לבחור פסטיבל מוצגים רק אלה באנגלית. אולי כדאי ש @yakoub יסתכל פה כי הוא עבד על התרגומים.

[2017-06-06 06:46] bruria1 commented on #154
Done

[2017-06-06 07:01] reasonat commented on #155
@bruria1 התוכן שונה אבל המהדורה עדיין מוצגת בשתי השפות ולכן זה כן צריך להיות כך.
@yakoub Please take a look -
1.  This field need to be multi-language as we did with other reference fields.
2.  The term page can

 manually get updated with content - Has nothing to do with 1st request.

[2017-06-06 07:03] reasonat commented on #139
We need to find a way to highlight the cart icon in case there are items in the cart.
How can we do this? Please do it :)

[2017-06-06 07:04] #138 closed, assigned to nobody

[2017-06-06 07:13] JerusalemCinematheque commented on #83
בצד עברית הקישור למעבר לכל ההודעות מופיע בעברית
![image](https://cloud.githubusercontent.com/assets/26960693/26817821/d48c778a-4aa0-11e7-9357-2dbba0688f78.png)

[2017-06-06 07:15] JerusalemCinematheque opened #158 "Event page - subtitles"
בעמוד אירוע אם לסרט המקושר אין שפת תרגום מופיע עדיין תרגום ל... למרות שבעמוד הסרט זה מופיע בסדר
לדוגמא
http://www.jer-cin.org.il/he/movie/7186

http://www.jer-cin.org.il/he/%D7%90%D7%99%D7%A8%D7%95%D7%A2/7189

[2017-06-06 07:18] JerusalemCinematheque commented on #148
ok

[2017-06-06 07:21] JerusalemCinematheque commented on #67
נושא התצוגה הרנדומלית נפתר
יש עוד כמה ענייני פרונטאנד
1. לחיצה על הלב מעבירה לעמוד האייטם במקום להוסיפו לרשימה האישית
2. חסר לב למקבץ
3. במקבץ צבע הכותרת מופיע כצבע האתר, במקום פונט לבן
4. בצד עברית הכותרת שמופיע מעל  היא באנגלית במקום בעברית. אמרנו שהכותרת תהיה "מומלצים בשבילך..."

[2017-06-06 07:24] JerusalemCinematheque commented on #32
רק תסבירו לנו בבקשה את הגיון סדר ההופעה של האייטמים בכל יום
האייטם הראשון שיצרנו ליום יופיע ראשון? או שהוא מופיע אחרון?

[2017-06-06 07:25] bruria1 commented on #155
@reasonat
המילון מוגדר כך:
 Translate. Different terms will be allowed for each language and they can be translated.
ואני חושבת שזה צריך להישאר כך

[2017-06-06 07:36] reasonat commented on #67
1+2+3 נראים לי לא קשורים לפה אלא לדיונים אחרים וגם לא ברור לי מה אתם מציינים

[2017-06-06 07:37] JerusalemCinematheque commented on #145
ניסיתי עכשיו לעשות את השינוי דומיין
בחרתי סרט
לחצתי על שינוי דומיין לדומיין סינמטק
לחצתי אישור
ואז קיבלתי את הודעת השגיאה הבאה

![image](https://cloud.githubusercontent.com/assets/26960693/26818649/2a5e617a-4aa4-11e7-8847-1d50cdd45ba3.png)

אבל כשחזרתי אחורה ראיתי שהשינוי כן נעשה

[2017-06-06 07:45] JerusalemCinematheque commented on #26
yes

[2017-06-06 07:53] JerusalemCinematheque commented on #67
הדיון כאן כלל גם הערות פרונטאנד
אפשר לפתוח דיון חדש אם צריך
לאייטמים שמוצגים כמומלצים יש את אייקון הלב להוספה לרשימה שלי. אבל לחיצה על האייקון לא עושה את הפעולה שהוא אמור לעשות אלא מוביל לעמוד של האייטם המומלץ
יכול להיות אייטם מומלץ מסוג מקבץ. כשהוא מופיע אין לו את האייקון של הלב והכותרת של המקבץ מופיע בצבע ורוד במקום בצבע לבן. ראו האייטם הימיני ביותר
![image](https://cloud.githubusercontent.com/a

[2017-06-06 08:03] bruria1 commented on #32
האחרון שהוספתם יופיע ראשון

[2017-06-06 08:03] bruria1 commented on #142
בבקשה הסתכלו כעת באתר פיתוח

[2017-06-06 08:05] bruria1 commented on #67
סידרתי את 1,3,4
בעצם בכל מקום בעמוד הבית שיש מקבת אמור להופיע הלב שמוסיף את כל הסרטים שבתוך המקבץ לסרטים שמורים? כרגע בשום מקום אין את הלב על המקבץ.

[2017-06-06 08:08] bruria1 commented on #83
Done

[2017-06-06 08:14] bruria1 commented on #145
כרגע עשיתי זאת ולא עלתה לי שגיאה.
איפה עשית? בלייב? בדב?
מה בדיוק עשית?

[2017-06-06 08:25] JerusalemCinematheque commented on #145
בלייב
נכנסתי לעמוד ניהול סרטים
בחרתי נודס שנוצרו עד ה-20.6.2016
סימנתי את הסרט הצחוק האחרון
לחצתי על change domain
בחרתי בnew domain settings
jerusalem cinematheque
ובaction to perform
replace
ואז הבא
נפתח מסך שבו נראה שהמערכת מבצעת את הפעולה
ואז הופיעה השגיאה

[2017-06-06 08:26] JerusalemCinematheque commented on #67
ברמת העיקון כן
בעמוד המקבץ זה מופיע כמו שהוא מופיע בעמוד סרט בצד של השיתוף

[2017-06-06 08:31] JerusalemCinematheque commented on #142
אני לא רואה שמשהו השתנה.
זה אמור להיות תקף גם על פריטים שכבר נמצאים שם או רק על פריטים שנוסיף מעכשיו?

From: Bruria [mailto:notifications@github.com]
Sent: Tuesday, June 06, 2017 11:04 AM
To: Reasonat1/Cinema
Cc: Tamar Freeman; Author
Subject: Re: [Reasonat1/Cinema] Paragraph form - Add a title to each item in the edit form (#142)

בבקשה הסתכלו כעת באתר פיתוח

—
You are receiving this because you

[2017-06-06 08:33] JerusalemCinematheque commented on #118
קשה לנו להתקדם עם סגירת ענייני הקלנדר עד שהבאג הזה ייפתר

[2017-06-06 08:35] JerusalemCinematheque commented on #156
האם לא צריך להוסיף ללובי גם domain access?

[2017-06-06 08:39] bruria1 commented on #142
כעת זה עובד.
אך אם משנים נוד בתוך אחד מהלמנטים זה לא מתעדכן אלא רק ברענון ל העמוד. האם זה קריטי?

[2017-06-06 08:41] bruria1 commented on #67
לבדיקה

[2017-06-06 09:13] bruria1 commented on #145
אכן מופיעה שגיאה כאשר מבצעים סינון.
@yakoub האם תוכל לבדוק את זה?

[2017-06-06 09:16] JerusalemCinematheque opened #159 "film page - credits"
@reasonat @yakoub
שימו לב לנוד סרט הבא
http://jff.reasonat.com/he/movie/7769

בקרדיט פסטיבלים אמורים להופיע רק סאנדנס וsxsw
נכנס לשם המון זבל, נודס שלא קשורים לא לאישים ולא לשדה הזה

[2017-06-06 09:18] JerusalemCinematheque commented on #159
תעשו לו רגע publish כדי לראות את הבעיה
אבל בבקשה אחרי זה תעבירו אותו חזרה לunpublish

[2017-06-06 09:30] bruria1 commented on #156
הוספתי באתר פיתוח

[2017-06-06 09:58] reasonat commented on #155
➤ yakoub abaya commented:

@Bruria Helfer or @Amir Taiar please provide example where translation synchronization is not working :
1 - node id
2 - taxonomy reference field name

[2017-06-06 10:18] yakoub commented on #118
@reasonat can someone please provide an updated example because much time has passed since this issue was opened .
i need detailed example so i understand the problem because i am not familiar with the calendar .

[2017-06-06 10:23] JerusalemCinematheque commented on #118
a few examples
1. there are dates that have events that do not show up on the calendar/ such as events on 27.6 frankenstein / 2.8 hangmen / 22.8 peter pan / 29.8 rosencrantz and guilderstern / 27.9 amadeus
so days that have events in them are not displayd
2. we created a day full of events in 7 or 8 halls on 27.5. Only one event is displayed
3. when we add events it takes the system some time to s

[2017-06-06 10:30] bruria1 commented on #155
למשל פה:
http://dev.jer-cin.reasonat.com/he/node/6868/edit
private field - festival
מופיעים גם הערכים בעברית וגם באנגלית
וכאשר אני הולכת לעמוד באנגלית:
http://dev.jer-cin.reasonat.com/en/node/6867/edit
הערך המוזן זה הערך בעברית

[2017-06-06 11:43] JerusalemCinematheque opened #160 "film page - when language field is empty"
@bruria1
ראו דוגמא
http://jff.reasonat.com/he/movie/7784

אם שדות השפה לא מולאו אין צורך שיופיעו הקווים המפרידים בשורת המידע שמופיעה מעל התקציר
כמו כן לא צריך להופיע תרגום ל....

[2017-06-06 13:20] JerusalemCinematheque commented on #132
נראה שעובד בכל התצוגות
רק בוואן אייטם עובד קצת יותר מידי טוב וכפתור הכרטיסים גם מפנה לעמוד האייטם במקום לפתוח את כפתור הכרטיסים

[2017-06-06 14:59] reasonat commented on #118
Moving this task to Alex

[2017-06-06 18:43] bruria1 commented on #160
לבדיקה

[2017-06-06 18:49] bruria1 commented on #132
עודכן בסביבת הפיתוח

[2017-06-07 06:08] JerusalemCinematheque commented on #132
ok

[2017-06-07 06:09] JerusalemCinematheque commented on #160
רק יש פייפ מיותר אחרי הדקות

[2017-06-07 06:12] JerusalemCinematheque commented on #67
לא רואים שינוי. זה רק בסביבת הפיתוח?

[2017-06-07 06:12] JerusalemCinematheque commented on #142
רענון העמוד כלומר בשמירה?

[2017-06-07 06:33] sato2004 commented on #118
What calendar are we talking about? This one http://dev.jer-cin.reasonat.com/en/article/4284 or http://dev.jff.reasonat.com/en/festival-calendar ?

[2017-06-07 06:47] yakoub commented on #56
the site is now working with your account which has property UA-7605141-1 .

[2017-06-07 06:49] navotb commented on #56
Great thank you!

On Wed, Jun 7, 2017 at 9:47 AM, yakoub <notifications@github.com> wrote:

[2017-06-07 06:54] JerusalemCinematheque commented on #118
festival calendar

[2017-06-07 08:47] bruria1 commented on #160
בדקו כעת

[2017-06-07 08:56] bruria1 commented on #67
רק בסיבת הפיתוח. כן. ברגע שתאשרו את השינוי של האייקונים נוכל לעלות את כל השינויים ללייב

[2017-06-07 09:01] bruria1 commented on #142
כן. אם תשנו תוכן הכותרת לא תעודכן. רק על ידי שמירה הכותרות יתעדכנו.

[2017-06-07 09:03] JerusalemCinematheque commented on #160
הפייפ שלפני הדקות עכשיו נעלם

[2017-06-07 09:15] sato2004 commented on #118
This calendar shows only events published to Jerusalem Film Festival. After I've changed published options for each event, you can see these events on the calendar.  Moreover, this calendar shows only days from the range - Dates for navigation for current festival (This range you can change when editing the festival, for example here - http://dev.jer-cin.reasonat.com/en/taxonomy/term/12/edit )

[2017-06-07 09:34] reasonat commented on #155
➤ Amir Taiar commented:

@yakoub abaya Please take care of this. Main task is corresponeding field data. Secondery is that the data populated in the field widget will be in the language I am in. We can skip this 2nd issue.

[2017-06-07 09:38] #83 closed

[2017-06-07 09:39] reasonat commented on #26
➤ Amir Taiar commented:

@sato2004 Please notice last 2 comments.

[2017-06-07 09:43] #132 closed, assigned to bruria1

[2017-06-07 09:44] bruria1 commented on #160
צרפת 2016 | 28 דקות

מה הבעייה?

[2017-06-07 09:50] #56 closed

[2017-06-07 09:53] reasonat commented on #106
I can approve this is only for admin user. Closing this issue.

[2017-06-07 09:53] #106 closed

[2017-06-07 09:53] #9 closed

[2017-06-07 10:07] JerusalemCinematheque commented on #118
We were told that the festival calendar has no connection to the festival range. has this changed?
also i created many more events that have disappeared from the system
here are screen shots of the 27.5 of all the events that we created

![image](https://user-images.githubusercontent.com/26960693/26873234-c9ba7e2e-4b81-11e7-8c1e-61a325688ed6.png)
![image](https://user-images.githubusercontent.com/

[2017-06-07 10:08] JerusalemCinematheque commented on #160
http://jff.reasonat.com/en/movie/7876

[2017-06-07 10:15] bruria1 commented on #159
לבדיקה

[2017-06-07 10:22] bruria1 commented on #160
לבדיקה

[2017-06-07 10:29] reasonat commented on #127
Seems like we can close this issue now

[2017-06-07 10:44] reasonat commented on #155
➤ yakoub abaya commented:

@Amir Taiar
1 - i don't understand what is "corresponding field data"
2 - the taxonomy select shows only english terms on both translation versions which is not default drupal behavior that shows all terms in all languages .

i remeber the taxonomy issue was passed for @Alex Voloshchenko for handling, was there any custom work done on the widget ?

[2017-06-07 11:54] reasonat commented on #136
➤ yakoub abaya commented:

http://dev.jer-cin.reasonat.com/en/node/add/calendar-note
add node reference -> add item

[2017-06-07 12:10] JerusalemCinematheque opened #161 "movie collection title in the films of the collection"
@bruria1 @reasonat
האם יש אפשרות להוסיף לסרטים שמקושרים למקבץ את שם המקבץ אליו הם מקושרים?
לא בהופעה שלהם במקבץ, אלא בכל עמוד סרט
לדוגמא זה המקבץ שנקרא "שניים תיעודיים של וורנר הרצוג"
http://jer-cin.org.il/he/movie-group/6780

זה אחד הסרטים שמקושרים למקבץ זה
http://jer-cin.org.il/he/movie/6652

האם אפשר שבעמוד זה יהיה כתוב איפשהו  - שניים תיעודיים של וורנר הרצוג

[2017-06-07 12:26] JerusalemCinematheque commented on #126
יש כאן עוד דוגמא לבעיתיות של העניין
בהוספה של סרטים למקבץ יש לי סרט עם שלוש אותיות שאני לא יכולה למצוא כי לא מוצגות לי כל התוצאות
הסרט נקרא out
![image](https://user-images.githubusercontent.com/26960693/26878233-6c81e7a6-4b95-11e7-9bf5-2347a5a0e350.png)

[2017-06-07 14:49] JerusalemCinematheque commented on #160
Ok

[2017-06-07 15:09] JerusalemCinematheque commented on #67
ok

[2017-06-07 15:09] JerusalemCinematheque commented on #142
אז הכל בסדר

[2017-06-07 15:14] JerusalemCinematheque opened #162 "home page one item responsive display"
@bruria1
בתצוגה ריספונסיבית בעמוד הבית
בוואן אייטם עם אירוע
נעלמו כותרות האירוע והסרט
![image](https://user-images.githubusercontent.com/26960693/26886051-0f85c28a-4bad-11e7-8b4f-7ca6a5edcf3e.png)

[2017-06-07 15:16] JerusalemCinematheque commented on #159
אוקיי
זו בעיה שחוזרת על עצמה כבר כמה פעמים, אז אנחנו רק רוצים לוודא שהבאג אכן נפתר

[2017-06-07 15:17] JerusalemCinematheque opened #163 "Add publish button to films / events after saved as draft"
@reasonat
אפשר בבקשה להוסיף בעמודי סרטים / אירועים כפתור "פרסם" אחרי שהנוד שמור כדראפט?

[2017-06-07 15:33] JerusalemCinematheque opened #164 "Body text area"
@reasonat
משהו השתנה  בתיבות הטקסטים
אי אפשר לעשות בו סקרול כדי לראות את כל הטקסט
וצריך לגרור אותו מלמטה כדי להגדיל את האזור ולראות את כל הטקסט
תראו לדוגמא כאן
http://jer-cin.org.il/en/node/4236/edit

[2017-06-08 05:37] bruria1 commented on #162
לבדיקה באתר פיתוח

[2017-06-08 05:38] bruria1 commented on #159
מה שעשיתי אמור לפתור את הבאג הזה.

[2017-06-08 08:09] reasonat commented on #118
➤ Alex Voloshchenko commented:

In the calendar there is a navigation for the days, these days are taken from the range - Dates for navigation. is it ok?
If I set here - http://dev.jer-cin.reasonat.com/en/admin/events-manager a filter by date 27.05 I dont see these events, It looks like these events have been deleted

[2017-06-08 08:35] reasonat commented on #159
סוגר את זה אבל באמת גם מקווה שזהלא יחזור...

[2017-06-08 08:38] #142 closed, assigned to bruria1

[2017-06-08 08:38] navotb commented on #159
אתם יודעים להגיד למה זה קורה?

On Thu, Jun 8, 2017 at 11:35 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-06-08 08:39] #67 closed

[2017-06-08 08:40] #160 closed, assigned to bruria1

[2017-06-08 08:42] reasonat commented on #126
I think the best solution will be to change the widget to the one which open a dialog with advance search. @bruria1 ?

[2017-06-08 08:42] reasonat commented on #161
מקפיא את זה כעת

[2017-06-08 08:46] #3 closed

[2017-06-08 08:46] #5 closed

[2017-06-08 08:46] #7 closed

[2017-06-08 08:46] #15 closed

[2017-06-08 08:46] #19 closed

[2017-06-08 08:46] #10 closed

[2017-06-08 08:53] #14 closed

[2017-06-08 08:53] #16 closed

[2017-06-08 09:06] bruria1 commented on #126
@reasonat
את כל שדות הרפרנס??? יש המון כאלה

[2017-06-08 09:10] JerusalemCinematheque commented on #126
אין אפשרות פשוט להגדיל את כמות התוצאות שנשלפות?

[2017-06-08 09:19] JerusalemCinematheque commented on #118
@reasonat we decided yesterday in our conversation that festival navigation range will no longer be a field in the term page. Or maybe i didn't understand.
the events were published on the jff dev site. how can it be that all of them were deleted? perhaps it's a bug?

[2017-06-08 09:25] JerusalemCinematheque commented on #118
i just created an event on 11.6
http://dev.jff.reasonat.com/en/event/7180
it does not showup on the calendar

[2017-06-08 09:26] JerusalemCinematheque commented on #118
could this have anything to do with linking events/films to festival term?

[2017-06-08 10:08] reasonat commented on #126
@bruria1 אני חושב שפשוט נתחיל בשדה הזה שמעורר בעיות, ככל הנראה בגלל כמות הערכים
@JerusalemCinematheque בטוח שאפשר אבל זה להתלכלך כעת כמה שעות.

[2017-06-08 10:11] reasonat commented on #118
@JerusalemCinematheque It's what we have talked about :)
Again - Festival term have public date range.
Nodes that associate with the current festival get publish on the calendar

[2017-06-08 10:52] JerusalemCinematheque commented on #118
okay i think then that we need full instructions about how to operate the calendar
we go to the festival term
we put in what dates? right now it's 8.4-30.9.17 in both festival publish date and navigation dates
then with every film and event we connect them to the festival term?

[2017-06-08 10:54] JerusalemCinematheque commented on #118
but look the event i mentioned before
we didn't see it when we wrote the comment
but now an hour plus later it does show up in the calendar

[2017-06-08 11:08] bruria1 commented on #163
הוספתי באתר פיתוח

[2017-06-08 11:12] bruria1 commented on #159
כן. היה שם קוד לא נכון

[2017-06-08 11:14] reasonat commented on #118
➤ Alex Voloshchenko commented:

This is a cache issue, if an event is not displayed on the calendar, you need to clear cache

[2017-06-08 11:28] bruria1 commented on #164
סידרתי. באתר פיתוח

[2017-06-08 11:54] JerusalemCinematheque commented on #118
i had to clear cache a couple of times and reopen the browser to see the updates
is this going to be an issue on the live site as well?
we might have hourly updates, no one clears their cache that often
I also don't understand how all the events that i created for 27.5 were deleted and hope it's not a bug

[2017-06-08 12:19] reasonat commented on #118
➤ Alex Voloshchenko commented:

Not browser cache, drupal cache

[2017-06-08 12:24] reasonat commented on #118
➤ Alex Voloshchenko commented:

I think some time ago @yakoub abaya made update database of dev site from live site. After the update, the content of the site became the same as on a live site

[2017-06-08 12:25] JerusalemCinematheque opened #165 "festival calendar responsive view"
@reasonat @bruria1

רוחב פס אולם רחב מידי

להתאים לתצוגה היומית של צד סינמטק:
שעה וכפתור כרטיסים באותה שורה
כותרת אירוע בשורה חדשה בבולד

פתיחה/ סגירה של אולם צד אנגלית לא עובד (ראו 11.6)

שורת הימים
חסרים חצי דפדוף

**הקובייה הימינית ביותר (צד אנגלית) נחתכת ואם עוברים ימים אז הקוביה השמאלית נחתכת**

![image](https://user-images.githubusercontent.com/26960693/26928368-8f20c4f2-4c5e-11e7-9baa-b072c

[2017-06-08 12:31] JerusalemCinematheque commented on #118
ok. so are we going to have to clear drupal cache after every update?

[2017-06-08 12:45] #94 closed

[2017-06-08 12:45] #74 closed

[2017-06-08 12:48] #1 closed

[2017-06-08 12:56] #36 closed

[2017-06-08 13:01] #45 closed

[2017-06-08 13:01] #2 closed

[2017-06-08 13:02] #147 closed, assigned to nobody

[2017-06-08 13:03] #20 closed

[2017-06-08 13:07] reasonat commented on #119
Closing this issue. Please open if this happens again.

[2017-06-08 13:07] #119 closed, assigned to bruria1

[2017-06-08 13:09] reasonat commented on #152
Closing this issue

[2017-06-08 13:09] #152 closed, assigned to bruria1

[2017-06-08 13:10] #137 closed, assigned to bruria1

[2017-06-08 13:11] reasonat commented on #136
As far as I see this can be closed. @bruria1 @yakoub ?

[2017-06-08 13:13] reasonat commented on #90
@yakoub What is the status of this one?

[2017-06-08 13:13] #60 closed

[2017-06-08 13:24] reasonat commented on #155
➤ yakoub abaya commented:

@Amir Taiar someone changed the widget to autocomplete and that solved the problem unless it is required that it will be select list .

i tested it and synchronization is working, only if no translation exists for some term that you 'll get same term in different languages .

[2017-06-08 13:35] JerusalemCinematheque opened #166 "event translation"
@reasonat @yakoub
הקמנו אירוע בצד אנגלית
http://dev.jff.reasonat.com/en/event/7183
ביקשנו לתרגם אותו
עברנו לצד עברית
עשינו שמור
מקבלים הודעת שגיאה שהדף לא נמצא
אבל בעמוד ניהול אירועים נראה שהאירוע קיים
בקלנדר נוסף יום האירוע (11.6) אבל לא מופיע שום בו שום אירוע
http://dev.jff.reasonat.com/he/event/7219

[2017-06-08 13:52] sato2004 commented on #135
@reasonat  fixed on the dev site

[2017-06-08 13:56] yakoub commented on #90
@reasonat in wrike i marked it complete .
the redirection stopped happening on esro framework, but because of *flagrant* lack of cooperation from toptix people i can't confirm the reason this redirection has stopped .

given the redirection is gone then problem is solved .
if client still have complains about this issue they are welcome to explain .

[2017-06-08 13:58] JerusalemCinematheque commented on #135
ok

[2017-06-08 15:01] sato2004 commented on #128
fixed on the dev

[2017-06-08 15:42] JerusalemCinematheque commented on #164
http://dev.jer-cin.reasonat.com/en/node/4752/edit
לא רואים

[2017-06-08 16:05] JerusalemCinematheque commented on #152
רגע יש לי שאלה
כל מהדורה זה term
איך אנחנו מייצרים את עמוד הלובי של הארכיון עם כל המהדורות?
האם אפשר לקשר את הterm לעמוד מסוג פרונט פייג'?

[2017-06-08 16:09] JerusalemCinematheque commented on #128
ok

[2017-06-11 05:56] yakoub commented on #136
@reasonat no, problem not fixed yet

[2017-06-11 06:29] yakoub commented on #155
@reasonat this is working now with autocomplete widget .

[2017-06-11 07:19] JerusalemCinematheque commented on #159
תראו כאן
http://jer-cin.org.il/he/event/7286

זה אומנם לא עמוד הסרט אבל זה אותה בעיה

[2017-06-11 07:21] JerusalemCinematheque commented on #26
also chack this please
in this node http://jer-cin.org.il/he/movie/1176 we hid several credits from cinematheque side
but on the evnt page with the film the credits still appear
http://jer-cin.org.il/he/event/7286

[2017-06-11 08:24] bruria1 commented on #164
ברגע שהתוכן יחרוג מהחלונית יהיה סקרול

[2017-06-11 08:55] sato2004 commented on #158
fixed on a live

[2017-06-11 08:58] reasonat opened #167 "Homepage - Add option to add Festival term"
When creating/editing HP, PG's should have the option to add Festival terms nodes in all display styles.

**At the basic level add this fields:**
- Image
- Title
Both linked to the term page.

[2017-06-11 08:59] reasonat commented on #152
Sure, here is the task
https://github.com/Reasonat1/Cinema/issues/167

[2017-06-11 09:03] reasonat opened #168 "Festival Archive - Make sure current festival linked to Homepage"
Current Festival term (both language) should redirect to the Festival homepage.

[2017-06-11 09:11] #128 closed, assigned to sato2004

[2017-06-11 09:11] JerusalemCinematheque commented on #128
is this fixed on live site as well?

[2017-06-11 09:12] #90 closed

[2017-06-11 09:12] JerusalemCinematheque commented on #135
this hasn't been fixed on live site yet

[2017-06-11 09:12] reasonat commented on #166
@bruria1 Please review this

[2017-06-11 09:14] reasonat commented on #128
No, on dev. I close issues before deploy. They can always be open again.

[2017-06-11 09:14] reasonat commented on #135
See other comment...

[2017-06-11 09:14] #135 closed, assigned to sato2004

[2017-06-11 09:16] JerusalemCinematheque commented on #164
http://dev.jff.reasonat.com/he/node/6794/edit?destination=admin/content%3Ftitle%3D%26type%3Dcm_article%26author%3D%26status%3DAll%26vid%3DAll

[2017-06-11 09:20] #127 closed, assigned to bruria1

[2017-06-11 09:26] bruria1 commented on #159
האם כעת בסדר?

[2017-06-11 09:54] bruria1 commented on #166
@yakoub ??

[2017-06-11 10:00] bruria1 commented on #165
בדקו כעת

[2017-06-11 10:03] reasonat opened #169 "dev site has problem with path event/%"
related :  [https://www.wrike.com/open.htm?id=142672742https://www.wrike.com/open.htm?id=142672742](https://www.wrike.com/open.htm?id=142672742)

[2017-06-11 10:03] JerusalemCinematheque commented on #155
אם נוד לא משוייך לפסטיבל אז לא יראו אותו?

[2017-06-11 10:04] yakoub commented on #166
this is probably same issue as #169

[2017-06-11 10:12] JerusalemCinematheque commented on #165
אפשר להצר את פס האולם אפילו עוד קצת

הפונט של השעה וכותרות האירועים גדול מידי. כדי להתאים לגודל מיני קלנדר סינמטק
כנ"ל כפתור הכרטיסים

סדר האולמות לא נשמר

כשעוברים יום, לחזור לתחילת העמוד

[2017-06-11 10:13] JerusalemCinematheque commented on #159
ok
נקווה שלא יצוץ שוב

[2017-06-11 10:26] JerusalemCinematheque commented on #154
@reasonat דיברנו על להוציא את
navigation dates

Change Festival date to Publish dates and make sure this is the field which display
רק רוצים לוודא שאין קשר בין פאבליש דייטס והתאריך שמופיע בראש האתר

[2017-06-11 10:27] JerusalemCinematheque commented on #154
@bruria1 בעיות התצוגה שיש כאן קשורות לכך שזה בdev?

[2017-06-11 10:30] JerusalemCinematheque commented on #24
okay
רק צריך למצוא פתרון לתצוגה במובייל

[2017-06-11 10:33] JerusalemCinematheque commented on #39
כשעוברים ליום חדש העמוד צריך להתחיל בטופ שלו ולא באותו מיקום מיום אחר

[2017-06-11 10:37] JerusalemCinematheque commented on #47
Ajax navigation