[2017-06-11 10:42] JerusalemCinematheque commented on #164
ועכשיו קיבלנו הודעת שגיאה כשהכנסנו טקסט לקוביית פרטי אירוע מקוצרים שהטקסט ארוך מידי למרות שהוא לא
Short event details cannot be longer than 255 characters but is currently 905 characters long.

**
![image](https://user-images.githubusercontent.com/26960693/27010373-84534424-4eab-11e7-8758-14461e20b55e.png)
**

נראה שנכנס מלא טקסט לpath ומחרבש את ספירת האותיות

[2017-06-11 10:44] JerusalemCinematheque commented on #34
גודל פונט תיאור אירוע מקוצר בפופ אפ עדיין 18
אמור להיות 16 כמו פונט תקציר סרט

[2017-06-11 10:47] JerusalemCinematheque opened #170 "event page - event detials spacing issue on dev site"
@bruria1
באתר dev יש בעיה בריווח של תקציר האירוע
http://dev.jff.reasonat.com/en/event/7223
יכול להיות שזה קשור לdev?

[2017-06-11 10:48] JerusalemCinematheque commented on #170
הפונט באופן כללי נראה לי לא בסדר

[2017-06-11 10:50] JerusalemCinematheque commented on #34
בעיה שכבר עברנו עליה אבל עכשיו שוב חזרה
אם יש פרטי אירוע אבל כותרת האירוע וכותרת הסרט אותו הדבר
פרטי האירוע יופיעו לפני כותרת הסרט
למעשה כותרת האירוע מתמזגת עם כותרת הסרט (אם אותו הדבר)
![image](https://user-images.githubusercontent.com/26960693/27010432-dccc971c-4eac-11e7-8c28-628fbdde6dba.png)

[2017-06-11 10:55] JerusalemCinematheque commented on #46
כן זו הכוונה
ושאלה לגבי תצוגה ריספונסיבית. אנחנו יודעים שיש תצוגה למובייל עם URך נפרד
באיזה גודל משך הוא עובר לתצוגה כזו?
כי הסתכלנו על מסכים קטנים יותר והתצוגה משתבשת

[2017-06-11 10:55] JerusalemCinematheque commented on #43
ok

[2017-06-11 10:56] bruria1 commented on #154
התאריך שמופיע בראש האתר הוא תאריך שמוזן ידנית בתיבה הזו:
http://dev.jer-cin.reasonat.com/en/block/festival-title---hebrew/edit

[2017-06-11 10:57] JerusalemCinematheque commented on #154
זה מה שחשבתי. רק רציתי לוודא כי ההערה לא היתה לי ברורה

[2017-06-11 11:02] bruria1 commented on #170
done

[2017-06-11 11:04] bruria1 commented on #46
יש עמוד אחר למובייל. במובייל ההפנייה לעמוד הזה תהיה הפניה לעמוד המתאים. מאיזה תפריט אמורים להגיע לעמוד הזה?

[2017-06-11 11:05] JerusalemCinematheque commented on #46
ההפניה לקלנדר תהיה מתוך תפריט המגה
גם במובייל וגם בדסקטופ
אבל זה אותו תפריט, אז איך זה יעבוד?

[2017-06-11 11:19] bruria1 commented on #165
רוחב פס האולם הוא על כל רוחב המסך. מה זאת אומרת להצר אותו?
השאר בסדר כעת?
לגבי סדר האולמות. מה זאת אומרת לא נשמר? איך הוא אמרו להיות?

[2017-06-11 11:20] bruria1 commented on #46
יש להכניס את שני הלינקים כאשר במובייל נסתיר את זה של הדסקטופ ובדסקטופ נ סתיר את זה של המובייל

[2017-06-11 11:26] JerusalemCinematheque commented on #40
בענין מיקום משבצות האירועים בטורי האולמות

כל טור מייצג את שעות היום

כך שכל 2 פיקסל = 1 דקה

כל בוקסה של אירוע מייצגת 80 דקות

יש למקם את הפאה העליונה של כל בוקסה באופן יחסי לשעת האירוע על ציר ה-y.

נקודת מוצא לחישוב של כל הטורים תקבע ע"פ שעת ההקרנה הראשונה של אותו היום, אותה "נצמיד" לראש הטור המתאים. ממנה נמדוד את מיקום שאר הבוקסות בכל הטורים.

אם שעת ההקרנה הראשונה היא 09:00 נמקם אותה בנקודת ה-

[2017-06-11 11:28] JerusalemCinematheque commented on #165
להצר מבחינה של גובה סליחה. אפשר להוריד לו כמה פיקסלים למעלה ולמטה
cinmeatheque 1
cinmeatheque 2
cinmeatheque 3
cinmeatheque 4

אם תיכנסי ל11.6 תראי שהסדר שם הוא
cinmeatheque 2
cinmeatheque 3
cinmeatheque 1
lev smadar
egypt hall
cinmeatheque 1
cinmeatheque 4
וכו'

[2017-06-11 11:29] JerusalemCinematheque commented on #46
הבנתי. אוקיי.
אז שנגיע לשם אני מקווה לזכור להגיד לעדכן

תודה

[2017-06-11 11:46] bruria1 commented on #164
אני לא רואה איפה יש בעייה עם ספירת התווים

[2017-06-11 11:51] bruria1 commented on #165
הסדר הוא לפי האירוע הקרוב ביותר.
האם אתם רוצים את הסדר לפי שמות האולמות?
לגבי הכותרת הנמכתי אותה

[2017-06-11 11:52] bruria1 commented on #24
מה הבעייה שם?

[2017-06-11 11:53] JerusalemCinematheque commented on #24
שאין הבחנה בין אירועים מפורסמים לאירועים לא מפורסמים

[2017-06-11 12:00] bruria1 commented on #34
לגבי גודל הפונט סידרתי.
לגבי כותרת האירוע - לא הבנתי איך אמור להיות

[2017-06-11 12:01] JerusalemCinematheque commented on #34
תקציר אירוע מקוצר
כותרת סרט
פרטי הסרט

אלא אם כותרת באירוע וכותרת הסרט שונים ואז זה
כותרת אירוע
תקציר אירוע מקוצר
כותרת סרט
פרטי הסרט

[2017-06-11 12:02] bruria1 commented on #24
אבל במובייל גם אדיטור גולש? לא ברור לי למה צריך

[2017-06-11 12:04] JerusalemCinematheque commented on #24
יכול להיות שאדיטור או אנשי צוות יגלשו במובייל או בטאבלט
צריך לביות לו איזשהו סימון שונה כמו שיש בתצוגת דסקטופ

[2017-06-11 12:17] bruria1 commented on #34
לבדיקה

[2017-06-11 12:23] bruria1 commented on #24
הוספתי

[2017-06-11 12:57] yakoub commented on #169
@reasonat there is no problem actually, what happened was event published to domain jff while i was checking it under jer-cin .
this started with admin page : `admin/events-manager` which shows events regardless of current domain .
maybe we need to fix that view so that table display for each event in the table which domain it belongs to .

[2017-06-11 13:17] JerusalemCinematheque commented on #154
הם אפשר לשנות את הווידג'ט כך שהבחירה המרובה תהיה בשדה נפרד כל פעם ולא על ידי פסיקים?

[2017-06-11 13:30] sato2004 commented on #168
It is ready on dev site

[2017-06-11 15:31] JerusalemCinematheque commented on #34
ok

[2017-06-11 18:29] bruria1 commented on #154
לא הבנתי על איזה שדה מדובר..

[2017-06-12 06:08] yakoub commented on #139
@reasonat i added class "active" to the basket <button> .

[2017-06-12 06:33] bruria1 commented on #167
הוספתי את האופציה הזו בכל אפשרויות התצוגה בעמוד הבית

[2017-06-12 06:49] bruria1 commented on #57
Done

[2017-06-12 08:49] JerusalemCinematheque commented on #154
סליחה אולי ההערה לא מתאימה לשרשור הזה
השדה בחירת פסטיבל בכל העמודים
האם אפשרי להפוך את השדה שיהיה כמו של השפות /מדינות וכו'
כלומר בחירה מרובה נפרדת בכל שדה

[2017-06-12 08:50] JerusalemCinematheque commented on #24
מעולה

[2017-06-12 08:51] JerusalemCinematheque commented on #165
כן לפי סדר האולמות

[2017-06-12 08:53] JerusalemCinematheque commented on #165
האם אפשר להתאים את גודל כפתור הכרטיסים לגודל שלו במיני קלנדר סינמטק?

[2017-06-12 08:58] JerusalemCinematheque commented on #46
האם הקישורים יהיו
jff.org.il/en/festival-calendar

jff.org.il/en/festival-calendar-mobile

[2017-06-12 09:02] JerusalemCinematheque commented on #170
ok

[2017-06-12 09:09] JerusalemCinematheque commented on #158
ok

[2017-06-12 10:24] yakoub commented on #166
fixed by @sato2004
problem was caused by view pane included in that page which was altered in custom hook views_query_alter in my_utilities.module .

[2017-06-12 10:24] yakoub commented on #166
@reasonat please review
should i move this fix to live now or wait until all branch master is ready ?

[2017-06-12 10:52] sato2004 commented on #40
I've change position of events related to time

[2017-06-12 11:06] bruria1 commented on #165
האם כעת זה בסדר?

[2017-06-12 11:08] bruria1 commented on #46
כן

[2017-06-12 11:17] JerusalemCinematheque commented on #165
אני לא מצליחה לגלול בתוך היום

[2017-06-12 11:22] JerusalemCinematheque commented on #165
לגבי גודל כפתור הכרטיסים לצורך השוואה
![image](https://user-images.githubusercontent.com/26960693/27031770-4dfbb51c-4f7a-11e7-9f1f-dea565ae44b5.png)

![image](https://user-images.githubusercontent.com/26960693/27031816-7e5311b0-4f7a-11e7-8def-be4dfba82bb7.png)

[2017-06-12 12:01] bruria1 commented on #165
וכעת?

[2017-06-12 13:00] JerusalemCinematheque commented on #165
אני רואה את זה אותו הדבר
ועדיין לא מצליחה לגלוש ביום עם הרבה אירועים כמו ה-11.6 (צד אנגלית)
ניקיתי קאש של האתר ושל הבראוזר

[2017-06-12 13:02] JerusalemCinematheque commented on #40
great
i dn't know if the this is the right place to make the comment
when going to a new date, page should start at the beginning and not where the user was on the previous selected date

[2017-06-12 13:07] JerusalemCinematheque opened #171 "main menu - english/hebrew"
@reasonat @bruria1
באתר פסטיבל אין תפריט ראשי נפרד לעברית ולאנגלית
הוספתי עכשיו קישור במה שחשבתי שהוא התפריט לצד אנגלית והוא מופיע לי גם בצד עברית

[2017-06-12 13:29] reasonat opened #172 "Festival Calendar - Jump to top when nav between days"
When I change dates in the calendar the display should be from the start and not from the scrolling point I was before changing the day.

[2017-06-12 13:30] reasonat commented on #46
I add Slack reminder to @bruria1 tomorrow at 2PM

[2017-06-12 13:30] #46 closed

[2017-06-12 13:31] reasonat commented on #40
Here is the issue for this comment. Closing this task
https://github.com/Reasonat1/Cinema/issues/172

[2017-06-12 13:31] #40 closed

[2017-06-12 13:32] reasonat commented on #166
@yakoub  You can make a delivery at the end of this day

[2017-06-12 13:34] #170 closed, assigned to bruria1

[2017-06-12 13:34] #24 closed

[2017-06-12 13:35] reasonat commented on #154
לא קשור לפה אבל ברוריה ביצעה עדכון על זהשדה ומחיקה של השדה הקיים.

[2017-06-12 13:35] #154 closed, assigned to bruria1

[2017-06-12 13:38] reasonat commented on #169
Sure, admin pages should also take into consideration domain access.
I think -
 on Cinema there should be both Festival and Cinema nodes,
and on Festival only Festival nodes.
@JerusalemCinematheque ?

[2017-06-12 13:38] reasonat commented on #139
@bruria1 Please frontend this.

[2017-06-12 13:40] #43 closed

[2017-06-12 13:41] reasonat commented on #47
Then this is how it works now.

[2017-06-12 13:41] #47 closed

[2017-06-12 13:42] reasonat commented on #39
There is a new issue for this.
Closing this one

[2017-06-12 13:42] #39 closed

[2017-06-12 13:43] reasonat commented on #155
לא יראו אותו בלוח שנה

[2017-06-12 13:57] sato2004 commented on #172
fixed on dev site

[2017-06-12 14:03] JerusalemCinematheque opened #173 "tickets button does not work"
@reasonat
כפתור הכרטיסים לא עובד
לא בקוביות ולא בפופ אפ

[2017-06-12 14:04] JerusalemCinematheque opened #174 "Calendar - Pop up linkage"
@reasonat
בפופ אפ כותר האירוע או הסרט (אם זו אותה כותרת) אמורה להיות קליקבילית ולהוביל לעמוד האירוע
היה ככה ועכשיו לא

[2017-06-12 14:06] JerusalemCinematheque opened #175 "send to my films loading time"
@reasonat
הלחיצה על הלב לוקחת זמן רב מידי

[2017-06-12 14:13] JerusalemCinematheque opened #176 "calendar hebrew side - discrepancy in view between user that is logged in and user that is not logged in"
@reasonat
בצד עברית של הקלנדר יש הבדל בוויו בין משתמש מחובר ומשתמש לא מחובר
כשמשתמש לא מחובר חלק מהקוביות "יוצאות מהמקום שלהן"
תסתכלו על ה-11.6 בעברית
מפלצת עם אלף ראשים משובצת באולם לב סמדר
האולם לא מופיע כשלא מחוברים
וההקרנה קופצת לטור של סינמטק 1
ופעם נוספת לטור של אולם מצרים
יש שם עוד מספר דוגמאות כאלו
אלו אירועים שסומנו כמפורסמים אז לא אמורה להיות להם תצוגה שונה

משתמש מחובר
![image](https://

[2017-06-12 14:17] JerusalemCinematheque commented on #155
ואם מדובר על מאמר / איש לדוגמא?
או שמספיק שעשינו להם שיוך לדומיין פסטיבל?

[2017-06-12 14:19] JerusalemCinematheque commented on #34
עוד הערה. שוב דבר שכבר טופל ועכשיו צץ פעם נוספת
בצד עברית בשורת הלידינג טקסט יש בעיית ריווח בין הלידינג טקסט והקו המפריד

[2017-06-12 14:28] JerusalemCinematheque commented on #164
מכניס איזשהו קוד לpath ולא נתן לשמור
אז עשיתי שוב קופי פייסט והיה בסדר

בכל אופן לא נפתח סקרול כשיש טקסט ארוך יותר

[2017-06-12 14:29] JerusalemCinematheque commented on #164
וכשאני מגדילה את הקופסא כל פעם שאני עושה פעולה הקופסא חוזרת למצבה הראשוני

[2017-06-12 14:50] JerusalemCinematheque opened #177 "inserting link in body text"
ניסיתי להכניס בתוך עמוד קישור לעמוד חיצוני וקיבלתי הודעת שגיאה

[{"command":"settings","settings":{"basePath":"\/","pathPrefix":"en\/","ajaxPageState":{"theme":"cinemateque","theme_token":"MJ0EZpE30Wjef5VDg5G3VINCjpynBX5YFRT45AsV2gY","jquery_version":"1.10"},"colorbox":{"opacity":"0.85","current":"{current} of {total}","previous":"\u00ab Prev","next":"Next \u00bb","close":"Close","maxWidth":"98%",

[2017-06-12 16:04] yakoub commented on #169
i think the optimal way is all content shows on admin page but each row link should lead to the correct domain and table new column should show each content domain name .

[2017-06-13 05:18] reasonat opened #178 "features sync"

[2017-06-13 05:42] reasonat commented on #177
איזה עמוד ?
מהם הצעדים שנעשו בכדי להוסיף את הלינק?

[2017-06-13 05:43] reasonat commented on #34
@bruria1

[2017-06-13 05:44] reasonat commented on #155
אני לא מבין את השאלה

[2017-06-13 05:46] reasonat commented on #175
באיזה אתר? באיזו סביבה?

[2017-06-13 06:44] bruria1 commented on #171
כעת כשתוסיפי קישורים תוכלי לבחור את השפה

[2017-06-13 06:56] bruria1 commented on #139
Done

[2017-06-13 07:12] JerusalemCinematheque commented on #171
אני לא רואה איפה בוחרים את השפה

[2017-06-13 07:18] sato2004 commented on #38
It seems that is cache issue. After cleaning the cache, everything is ok

[2017-06-13 07:21] bruria1 commented on #176
@sato2004
משום מ ה למשתמש לא מחובר האולם "לב סמדר" בדוגמה פה לא מופיע.
תוכל לבדוק?

[2017-06-13 07:23] bruria1 commented on #174
לבדיקה

[2017-06-13 07:23] bruria1 commented on #173
איפה? אני לא רואה בעיה..

[2017-06-13 07:34] JerusalemCinematheque commented on #177
http://jer-cin.org.il/en/node/7299/edit
בשדה תקציר ניסינו להכניס קישור חיצוני
כתבנו  טקסט. סימנו אותו. לחצנו על הכנסת קישור. הדבקנו את הקישור
לחצנו אישור
ואז קיבלנו את הודעת השגיאה

[2017-06-13 07:36] yakoub commented on #136
@reasonat  @bruria1  i don't understand this setup and don't know about paragraphs .
is this standard paragraph widget which opens a view like that ?
how can i create similar setup on clean drupal installation ?

[2017-06-13 07:37] JerusalemCinematheque commented on #155
אם יש לנו נודס מסוג מאמר / איש שלא עשינו להם שיוך לפסטיבל, האם לא יראו אותם במהדורה?
אם לא חיברנו איש למהדורה אבל הוא מקושר לסרט במהדורה, אז לא יראו אותו בעמוד הסרט?
או לא יוכלו להיכנס אליו?

[2017-06-13 07:37] JerusalemCinematheque commented on #175
עמוד קלנדר בdev festival

[2017-06-13 07:39] JerusalemCinematheque commented on #173
בקלנדר תראי לדוגמא 27.9

[2017-06-13 07:54] bruria1 commented on #34
לבדיקה

[2017-06-13 08:03] bruria1 commented on #165
לא רואה בעיה.. @reasonat

[2017-06-13 08:15] bruria1 commented on #171
![screen](https://user-images.githubusercontent.com/5786526/27072602-8d9747a4-5029-11e7-8c7f-b0a05dd040bd.png)

[2017-06-13 08:17] bruria1 commented on #173
@yakoub

[2017-06-13 08:22] JerusalemCinematheque opened #179 "film page subtitles in english"
@bruria1
בעמוד סרט במקום שיהיה כתוב תרגום ל
כתוב
subtitles
http://jer-cin.org.il/he/movie/3046

[2017-06-13 08:23] JerusalemCinematheque opened #180 "event page subtitles"
@bruria1
בעמוד אירוע במקום שיהי כתוב תרגום ל[שפת התרגום]
כתוב [שפת התרגום] תרגום ל
http://jer-cin.org.il/he/event/7304

[2017-06-13 08:27] JerusalemCinematheque commented on #171
באתר לייב אין בחירה

![image](https://user-images.githubusercontent.com/26960693/27073067-3fc7d2c6-502b-11e7-904c-f651a44a1a32.png)

[2017-06-13 08:53] JerusalemCinematheque opened #181 "JFF live site - heart icon color on event page"
@bruria1
בעמודי אירועים באתר הפסטיבל הלייב
ללב אין את צבע האתר וכשלוחצים עליו הוא מתמלא בצבע שחור
http://jff.reasonat.com/en/event/8527

[2017-06-13 09:03] JerusalemCinematheque opened #182 "Event page - event details - spacing"
@bruria1
בעמוד אירוע הריווח שקבענו בעריכה לא נשמר בפרונטאנד

http://jff.reasonat.com/en/event/8527

[2017-06-13 09:16] JerusalemCinematheque commented on #164
מקווה שאפשר להבין מהוידאו מה הבעיה
https://www.youtube.com/watch?v=n5jfwV_k-C4

[2017-06-13 09:44] reasonat commented on #181
I guess this related to all heart over the site and not only to events?

[2017-06-13 09:44] yakoub commented on #173
@bruria1 how do i reach 27.9 in the calendar ?

[2017-06-13 09:46] JerusalemCinematheque commented on #173
it's the last day in the calendar on the english side

[2017-06-13 09:49] reasonat commented on #175
נבדוק באתר לייב ונשפר ביצועים במידת הצורך לאחר מכן

[2017-06-13 09:49] JerusalemCinematheque commented on #181
seems fine on film pages for add to my films function
not sure about the event line. I don;t have a working example

[2017-06-13 09:51] reasonat commented on #155
מאמר / איש יופיעו במהדורה במידה ותוסיפו אותם - שוב, זה עריכה ידנית
אם איש קשור לסרט דרך עמוד סרט אז יראו אותו בעמוד הסרט ללא קשר למהדורה כלל

[2017-06-13 09:52] JerusalemCinematheque opened #183 "send to my list on live site reloads page"
@reasonat
לחיצה על הלב לשליחה לסרטים שלי / אירועים שלי גורם לכל העמוד לעשות reload
זה בכל העמודים
זה לא היה ככה לפני

[2017-06-13 09:54] reasonat commented on #183
לא ברור
אם אתם משלבים מילה באנגלית עם העברית זה מבלבל...

[2017-06-13 09:56] JerusalemCinematheque commented on #183
כשלוחצים על הלב העמוד נטען מחדש

[2017-06-13 10:06] JerusalemCinematheque commented on #155
למעשה אנחנו לא מבינים למה צריך לשייך את כל סוגי התוכן למהדורה
ברור שאירועים, סרטים, מקבצים, לובי צריכים להיות מקושרים למהדורה
זה ייצור את החיווי העתידי בתוך העמודים ויערוך את הפילטור בחיפוש
לא ברור לי לגבי שאר סוגי התוכן ומה זה אומר אם הם לא משוייכים למהדורה

[2017-06-13 10:14] bruria1 commented on #179
סודר. מקווים שלא יקרה שוב.

[2017-06-13 10:15] bruria1 commented on #180
סודר. מקווים שלא יקרה שוב

[2017-06-13 10:24] bruria1 commented on #181
סודר
זו היתה תקלה רק בפסטבל

[2017-06-13 10:38] JerusalemCinematheque commented on #181
ok

[2017-06-13 10:38] JerusalemCinematheque commented on #179
ok

[2017-06-13 10:39] JerusalemCinematheque commented on #180
ok

[2017-06-13 10:41] bruria1 commented on #182
עכשיו זה בסדר?
הוספתי עורך תוכן חדש. ניתן להעביר אליו מהסלקט מתחת לעורך התוכן ולבחור:
ckeditor
הוא טוב יותר ואמור לא לעשות את הבעיות שניתקלתם בהם עד עכשיו.

[2017-06-13 10:44] bruria1 commented on #164
האם עורך התוכן החדש פותר את הבעיה?
בכל מקום שכבר יש תוכן יהיה עליכם להעבירלעורך התוכן החדש אם תרצו לערוך את התוכן.
שדות חדשים יופיעו עם עורך תוכן זה.

[2017-06-13 10:48] bruria1 commented on #177
נסו עם עורך התוכן החדש

[2017-06-13 10:49] bruria1 commented on #171
כשאת יוצרת לינק חדש את יכולה להגדיר שפה.
ברגקע שהלינק נוצר לא ניתן לשנות את השפה שלו

[2017-06-13 10:50] JerusalemCinematheque commented on #34
עוד הערה
![image](https://user-images.githubusercontent.com/26960693/27079126-23e73ec0-503f-11e7-84af-6061690ea00f.png)
יש כאן מקרה של אירוע ללא סרט. כותרת האירוע מופיעה פעמיים.
לא בטוחה איזה שדות הפופ אפ לוקח במקרה כזה אבל בעל אופן רק הכותרת העליונה אמורה להופיע

[2017-06-13 10:53] JerusalemCinematheque opened #184 "finding events on JFF live site"
@reasonat
אני לא מצליחה למצוא אירועים שהקמנו באתר לייב של הפסטיבל
לדוגמא
http://jff.reasonat.com/en/event/8531

אי אפשר למצוא אותו במערכת ניהול אירועים ותוכן

[2017-06-13 11:04] JerusalemCinematheque commented on #164
הבדל משמעותי. תודה.
האם אפשר להגדיר ששורה חדשה  תהיה בריווח של פסקה חדשה ולא כמו ריווח בין משפטים באותה פסקה?

[2017-06-13 11:23] bruria1 commented on #34
זה קורה כאשר לאירוע לא מקושר שום סרט.
מצב שלא אמור להיות
בכל מקרה סידרתי.

[2017-06-13 11:23] reasonat opened #185 "views text translate problem"
event_ct_view/edit/panel_pane_6
has global text field which needs translation fix .
seem to break whenever features are reverted

movie view also need same fix : movie_top_pane_view/edit/panel_pane_8

another view : movie_group_ct:panel_pane_1

[2017-06-13 11:25] bruria1 commented on #164
לא הבנתי..

[2017-06-13 11:25] JerusalemCinematheque commented on #34
זה כן מצב שיכול להיות
עכשיו אבל בקובייה של האירוע אין את שם האירוע

![image](https://user-images.githubusercontent.com/26960693/27080338-109dec60-5044-11e7-937c-95a03ae58964.png)

[2017-06-13 11:27] JerusalemCinematheque commented on #164
כרגע כשעושים אנטר ומתחילים שורה חדשה הריווח בין שתי השורות הוא כמו של שתי שורות בתוך פסקה
היינו רוצים שכשלוחצים על אנטר יהיה רווח יותר גדול בין שתי השורות
כמו ריווח כפול (שזה מה שאני עושה עכשיו כדי שלא כל הטקסט יראה כמו פסקה אחת)

[2017-06-13 11:33] JerusalemCinematheque commented on #164
לא שמנה
אנחנו כבר נסדר את זה ידנית
תודה

[2017-06-13 11:51] bruria1 commented on #34
האם כעת בסדר?

[2017-06-13 11:53] JerusalemCinematheque commented on #34
כן

[2017-06-13 12:01] JerusalemCinematheque commented on #155
וגם שדה השיוך לא שולף תוצאות
לדוגמא כאן
http://jff.reasonat.com/en/node/8524/edit
ניסינו לשייך את הסרט לטרם פסטיבל
Jerusalem film festival 2017
אבל התוצאה הזו לא נשלפת

[2017-06-13 12:18] JerusalemCinematheque opened #186 "error message when updating event on jer-cin site"
@reasonat
כשאנחנו מבקשים לעדכן אירוע אחרי השמירה מתקבלת ההודעה הבאה
דף לא נמצא
הודעת סטטוס
One node translation has been synchronized.
אירוע סיפורה של יהדות ארה”ב בראי הקולנוע עודכן.
English
סליחה,

הדף שחיפשת לא נמצא....

האירוע כן מעודכן אבל העורך נזרק לעמוד עם הודעת שגיאה

זה האירוע
http://jer-cin.org.il/he/event/7304

[2017-06-13 12:29] JerusalemCinematheque commented on #186
נראה שזה גם בעמודים אחרים
עדכנתי עכשיו את האיש הזה
http://jff.reasonat.com/he/person/1006
וקיבלתי אחרי שמירה את ההודעה הזו
דף לא נמצא
הודעת סטטוס
One node translation has been synchronized.
איש קרן יהושע רבינוביץ' לאמנויות תל אביב – פרויקט קולנוע עודכן.
English
סליחה,

הדף שחיפשת לא נמצא....

[2017-06-13 12:32] JerusalemCinematheque opened #187 "person page list of titles on live site"
בעמוד איש לא רואים את כל הסרטים שמקושרים אליו
http://jff.reasonat.com/he/%D7%90%D7%99%D7%A9/1006

זה תמונת מסך מתי שהעמוד מתחיל לעלות

![image](https://user-images.githubusercontent.com/26960693/27082438-61ccfd8e-504d-11e7-87dd-d58b52458f86.png)

וזה אחרי שהעמוד עולה
![image](https://user-images.githubusercontent.com/26960693/27082456-79bf63e6-504d-11e7-816e-be3495ffd9d6.png)

[2017-06-13 13:51] reasonat commented on #187
It looks like frontend issue. @bruria1

[2017-06-13 13:53] reasonat commented on #155
הוספנו את השדה לכל סוגי התוכן והישויות, גם אם כעת זה לא בשימוש.
בקשר לבעיה שהעלית
@bruria1 please have a look

[2017-06-13 13:54] #34 closed

[2017-06-13 13:58] reasonat commented on #182
This is a duplication of https://github.com/Reasonat1/Cinema/issues/164#issuecomment-308078138

[2017-06-13 13:58] #182 closed, assigned to bruria1

[2017-06-13 13:58] #180 closed, assigned to bruria1

[2017-06-13 13:58] #179 closed, assigned to bruria1

[2017-06-13 13:59] #181 closed, assigned to bruria1

[2017-06-13 14:15] navotb commented on #179
יש סיבה שזה חוזר?

On Tue, Jun 13, 2017 at 4:58 PM, Amir Taiar <notifications@github.com>
wrote:

[2017-06-13 20:33] reasonat commented on #185
➤ yakoub abaya commented:

case : http://dev.jff.reasonat.com/he/event/7254

[2017-06-14 05:29] reasonat commented on #179
יש איזשהו עניין במעבר קונפיגורציות בין הסביבת פיתוח ללייב ואנחנו מנסים למצוא למה התרגומים נכנסים למסד נתונים במקום להגדרות.

[2017-06-14 05:33] bruria1 commented on #187
לבדיקה

[2017-06-14 05:49] bruria1 commented on #155
@sato2004 Can you look at this?
cautocompete custom is not working properly. it upload another taxonomy.

[2017-06-14 05:52] reasonat opened #188 "Calendar - Event merge between hall columns"
When looking at http://dev.jff.reasonat.com/he/festival-calendar day 11.6 there is a merge between event boxes one over the other.

[2017-06-14 05:54] bruria1 commented on #184
http://jer-cin.org.il/en/admin/events-manager
הוא נמצא פה.
אם את מחפשת את הכותרת:
JFW - Jerusalem Film Workshop 2017
הוא מופיע.

[2017-06-14 05:55] reasonat opened #189 "Calendar - First events display bug"
Each day, the first events get cut on the top
Have a look at 11.6

<img width="890" alt="cal01" src="https://user-images.githubusercontent.com/741209/27117426-34d1f5f4-50df-11e7-80d0-51efbd3f563e.png">

[2017-06-14 05:59] bruria1 commented on #189
Done

[2017-06-14 06:04] reasonat commented on #185
➤ yakoub abaya commented:

@Bruria Helfer please review .
i changed global text to only include subtitle field, and then in pre_render hook cm_extra i put in the field t('@language subtitle')
now it is working like before but without the span wrappers that you put on the subtitle text .
i didn't see any css applied on that span struture .

he : http://dev.jff.reasonat.com/he/event/7254
en: http://

[2017-06-14 06:05] #189 closed, assigned to bruria1

[2017-06-14 06:09] bruria1 commented on #185
רק שהתרגום ל צריך להיות בלי רווח אחריו.
@yakoub

[2017-06-14 06:11] reasonat opened #190 "Search - User will know about festival nodes"
We talked about a way so when user search item he will know from looking at the results which entity results is related to current festival.
I think the best way is to display:
- Festivals related on each movie & event results - Not the current one.
- Current festival - In a more clear way.

Thoughts?

[2017-06-14 06:30] reasonat opened #191 "Search - Display festivals on festival filters"
On dev site there are few festival terms, yet only current one display as filter option in the search page.
I thought it's about no nodes related to more fetival terms but I reference
http://dev.jff.reasonat.com/en/node/7187/edit & http://dev.jff.reasonat.com/he/node/7230/edit to "festival 3" term and still this festival doesnt show as option in the search page
http://dev.jff.reasonat.com/he/searc

[2017-06-14 06:49] sato2004 commented on #155
I changed the fields with autocomplete widget

[2017-06-14 07:23] yakoub commented on #185
translation string not working as expected

[2017-06-14 07:34] JerusalemCinematheque commented on #187
עדיין רואים משובש

[2017-06-14 07:37] JerusalemCinematheque commented on #184
אני לא מוצאת אותו גם לא בצד סינמטק

[2017-06-14 07:42] JerusalemCinematheque commented on #155
ok

[2017-06-14 07:54] yakoub commented on #185
got confused between two different strings "@language subtitles" and "@languages subtitles"

[2017-06-14 07:56] bruria1 commented on #187
זה לא עודכן בלייב. אבקש מיעקוב לעדכן.

[2017-06-14 08:07] #155 closed, assigned to bruria1, sato2004

[2017-06-14 08:18] yakoub commented on #185
movie view also need same fix : movie_top_pane_view/edit/panel_pane_8

[2017-06-14 08:19] reasonat opened #192 "Domain Access - Management an nodes display logic"
**Management tables for editors (Event, movies, terms, etc)**
**Cinema** - All nodes are display whether the target Festival/Cinema/none.
**Festival** - Only nodes target to Festival.
OK to both

**On site** - See cases but take into consideration there are more "if's" like event publish dates / node publish / active events / etc.
**Calendar (mini, full, festival) for anonymous and log-in users:**

[2017-06-14 08:19] sato2004 commented on #89
fixed

[2017-06-14 08:45] JerusalemCinematheque commented on #172
ok

[2017-06-14 08:47] JerusalemCinematheque commented on #174
ok

[2017-06-14 08:47] JerusalemCinematheque commented on #32
הערות לקלנדר צריכות להופיע גם בגרסת המובייל של הקלנדר

[2017-06-14 08:54] #174 closed, assigned to bruria1

[2017-06-14 08:57] navotb commented on #32
אמיר מוכרח להיות כאן מנגנון כלשהו של סידור, זה בלתי אפשרי שהסידור הוא לפי
תאריך היצירה. זה לא מאפשר שום שינוי.

On Wed, Jun 14, 2017 at 11:47 AM, JerusalemCinematheque <
notifications@github.com> wrote:

[2017-06-14 08:58] #172 closed, assigned to bruria1

[2017-06-14 09:01] JerusalemCinematheque commented on #49
ok

[2017-06-14 09:16] JerusalemCinematheque commented on #165
אם סוגרים אולם אז אפשר לראות את האולם אחרי

[2017-06-14 09:29] reasonat commented on #32
המשימה הזו מזמן מזמן יצאה מגבולות הגזרה שלה ונעשו פה המון שעות מעבר למה שהיה צריך להיות.
כן אפשר לסדר את הסדר אייטמים במידה וכולם מועלים באותו העמוד ויש להם תצוגה אחידה
מעבר לכך לא ניתן יהיה לממש כעת.

[2017-06-14 09:33] navotb commented on #32
מובן, אבל אנחנו צריכים מיון בסיסי ביותר לפי שדה מספרי. אחריות שלנו למספר את
האייטמים עבור כל יום. אם יש בעיה מבחינת התצוגות השונות, זה בעיה שלנו,
ונפתור אותה ע"י שינוי הסדר או שינוי התצוגה.
 אבל להסתמך סדר יצירת הפריטים זה מטורף.

2017-06-14 12:29 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-06-14 09:36] reasonat commented on #32
שוב נבות, יש פה כבר חריגה של כמעט 400% בפיתוח המשימה הזו.
אתה כעת מבקש להוסיך עוד.
מצטער, בשלב זה זה בלתי אפשרי.
למה שלא תציגו הכל בתצוגה אחת זהה ותסדרו? זו הייתה המטרה בהתחלה

[2017-06-14 09:37] #49 closed

[2017-06-14 10:30] JerusalemCinematheque commented on #32
הסדר למעשה נקבע לפי סדר ההוספה
אבל בכל נוט אפשר לשנות את
Authoring information
למועד אחר
האם זה יכול לעזור לנו?

[2017-06-14 10:49] JerusalemCinematheque opened #193 "jercin live site homepage edit - add nodes window"
@bruria1
כשאנחנו מבקשים לחפש נודס החלונית חיפוש נפתחת במיקום של השדה בו אנחנו רוצים להוסיף את הנוד. כך שאם השדה הוא בתחתית העמוד החלונית נפתתחת בסוף העמוד וצריך לגלול עד למטה כדי להוסיף נודס במקום שהחלונית תפתח בראש העמוד
מקווה שהוידאו מסביר מה הכוונה
https://www.youtube.com/watch?v=RPx1gUG2Ekc

[2017-06-14 10:59] JerusalemCinematheque commented on #81
@bruria1
הדיפולט נעלם מעמוד הוספת איש
האם אפשר בבקשה להוסיף לכל האישים שנוספו היום את הדיפולט הזה?

[2017-06-14 11:14] JerusalemCinematheque opened #194 "live site adding credits in film page"
@reasonat
בחלק של הוספת הקרדיטים, כל פעם שמבקשים להוסיף קרדיט העמוד נגלל למעלה וצריך לגלול למטה כדי להגיע לשדה ההוספה

[2017-06-14 11:17] JerusalemCinematheque opened #195 "save as draft button missing from live site"
@reasonat
בעמוד עריכת סרט / אירוע נעלם כפתור שמור כדראפט
אנחנו צריכים אותו חזרה בבקשה די דחוף

[2017-06-14 12:14] reasonat commented on #185
➤ yakoub abaya commented:

example moviegroup : http://dev.jer-cin.reasonat.com/en/movie-group/4741

[2017-06-14 13:35] reasonat opened #196 "remove temporary domains"
remote jer-cin.reasonat.com and jff.reasonat.com and add redirect .

[2017-06-14 13:46] JerusalemCinematheque commented on #176
יכול להיות שקשור ל
#188

[2017-06-14 13:58] JerusalemCinematheque commented on #89
looks okay
will let you know if we experience this bug again

[2017-06-14 14:04] JerusalemCinematheque commented on #177
ok

[2017-06-14 14:37] JerusalemCinematheque opened #197 "festival site name"
@reasonat @bruria1
האם אפשר בבקשה לשנות את שם אתר הפסטיבל בעברית ל
פסטיבל הקולנוע ירושלים
ובאנגלית
Jerusalem Film Festival

[2017-06-14 15:47] JerusalemCinematheque opened #198 "unpublish "person""
@reasonat
can we ask that all "person" added from 1.6 until today become unpulished?
or to mark them all as "hide the person from the search results"
if you can add that to person managing page we can do it ourselves

[2017-06-14 15:59] JerusalemCinematheque opened #199 "article title appears twice"
@bruria1
באתר הפסטיבל כותרת המאמר מופיעה פעמיים
http://jff.org.il/en/article/2484
צד עברית וצד אנגלית

[2017-06-15 04:39] #177 closed, assigned to bruria1

[2017-06-15 04:40] #89 closed

[2017-06-15 04:46] reasonat commented on #198
@bruria1 Please add publish date to manage page and option to sort this column.

[2017-06-15 05:12] bruria1 commented on #195
הוחזר.
עכשיו יש לכם כפתור פרסום/בטל פרסום

[2017-06-15 05:23] bruria1 commented on #199
לבדיקה

[2017-06-15 05:40] bruria1 commented on #198
הוספתי לכם אפשרות סינון ואפשרות לפרסם/להוריד מפרסום בעמוד ניהול

[2017-06-15 06:08] reasonat commented on #185
➤ yakoub abaya commented:

translation code didn't check whether value is empty

[2017-06-15 06:08] reasonat commented on #185
➤ yakoub abaya commented:

some views had misplaced pipe character

[2017-06-15 06:17] bruria1 commented on #32
כן. אם תשנו את זה הסדר ישתנה

[2017-06-15 06:37] bruria1 commented on #193
@yakoub תוכל להסתכל? משהו שם לא עובד. העמוד אמור להיגלל למקום שבו הוא נפתח ולא לחזור ללמעלה.

[2017-06-15 06:58] bruria1 commented on #81
עודכן.
מקווה שלא יקרה שוב.

[2017-06-15 07:00] bruria1 commented on #197
אתם עושים את זה פה:
http://jer-cin.org.il/he/block/festival-title---hebrew/edit
http://jer-cin.org.il/he/block/festival-title---english/edit

[2017-06-15 07:03] bruria1 commented on #194
חזרה על הבעיה בטיקט #193
@yakoub

[2017-06-15 07:04] bruria1 commented on #165
אין כרגע אירועים?
לא ניתן לראות את העמוד..

[2017-06-15 07:14] JerusalemCinematheque commented on #197
סליחה הכוונה הייתה לא השם בהאדר אלא השם בטאב
כשנכנסים לעמוד הבית רשום סינמטק ירושלים - ארכיון ישראלי לסרטים
אבל כשנכנסים לעמודים פנימיים רשום פסטיבל הקולנוע ירושלים
כנ"ל מתי כשמבקשים לשמור בפייבוריטס

[2017-06-15 07:15] JerusalemCinematheque commented on #165
יש ב-31.5 אירועים

[2017-06-15 07:26] #194 closed, assigned to bruria1

[2017-06-15 07:28] JerusalemCinematheque commented on #198
עובד מצויין
אבל עכשיו אי אפשר למצוא את האישים שהעברנו למצב לא מפורסם במערכת ניהול אישים
ואי אפשר להוסיף את האישים הלא מפורסמים בקרדיטים בעמוד הסרט

[2017-06-15 07:30] JerusalemCinematheque commented on #195
אני רואה שיש כפתור
שמירה ועריכה
שמירה
פרסם

רק לוודא זה אומר שכפתורי שמירה ועריכה ושמירה זה למעשה שמירה כדראפט?

[2017-06-15 07:32] JerusalemCinematheque commented on #199
ok

[2017-06-15 07:47] bruria1 commented on #165
לא רואה כלל אירועים..
בלייב?

[2017-06-15 07:48] JerusalemCinematheque opened #200 "film page - hebrew side - minutes appear in english"
@bruria1
http://jff.org.il/he/movie/8725

[2017-06-15 07:48] JerusalemCinematheque commented on #165
לא. באתר פיתוח

[2017-06-15 07:50] bruria1 commented on #198
הוספתי לניהול את הלא מפורסמים.
נכון. אי אפשר להוסיף אישים לא מפורסמים כי לא ניתן להציג באתר כאשר הם לא מפורמים..

[2017-06-15 08:04] JerusalemCinematheque commented on #198
ואי אפשר לשנות את זה כך שישלפו גם תוצאות של אישים שלא מפורסמים?

[2017-06-15 08:35] bruria1 commented on #197
לבדיקה

[2017-06-15 08:37] JerusalemCinematheque commented on #197
מצויין

[2017-06-15 08:43] sato2004 commented on #188
Fixed on dev, but these events no longer exists on dev site (after dev database was updated from live site)

[2017-06-15 08:58] bruria1 commented on #198
אבל אז הם לא יוצגו.. כי לא ניתן להציג באתר מי שלא מפורסם

[2017-06-15 08:59] bruria1 commented on #165
פה?
http://dev.jff.reasonat.com/he/festival-calendar
ריק...

[2017-06-15 09:04] bruria1 commented on #195
![buttons](https://user-images.githubusercontent.com/5786526/27173763-6954839e-51c2-11e7-93ae-c80637912538.png)
שמירה והמשך עריכה - להמשיך לערוך (מצב מפורסם/לא מפורסם נשאר כפי שהיה)
שמירה - שמירת השינויים (מצב מפורסם/לא מפורסם נשאר כפי שהיה)
בטל פרסום- שמירה ושינוי מצב הפרסום ללא מפורסם
פרסום- שמירה ושינוי מצב הפרסום למפורסם

[2017-06-15 09:20] JerusalemCinematheque opened #201 "icons color"
@bruria1
האייקונים באתר איבדו את הצבע שלהם
חוץ מאייקון הנגישות

[2017-06-15 09:36] JerusalemCinematheque commented on #195
אבל איך אני שומרת את זה מהתחלה במצב לא מפורסם?

[2017-06-15 10:20] bruria1 commented on #201
cache issue

[2017-06-15 10:52] bruria1 commented on #195
תראי אם עכשיו זה טוב

[2017-06-15 10:53] bruria1 commented on #195
תראי אם עכשיו זה טוב

[2017-06-15 11:20] JerusalemCinematheque opened #202 "JFF homepage edit - cant find content for homepage"
@bruria1
בצד פסטיבל
אני מנסה לקשר תכנים מסוג
content for homepage
הכנתי עכשיו 9 כאלו אבל כשאני מבקשת למצוא אותם במערכת עריכת עמוד הבית אני לא מצליחה למצוא אותם
לדוגמא
http://jff.org.il/he/node/8738

[2017-06-15 11:33] JerusalemCinematheque commented on #202
עשיתי עכשיו עוד בדיקה
נראה שזה קורה בוואן אאיטם סטטיק

[2017-06-15 11:37] bruria1 commented on #202
תבדקי כעת

[2017-06-15 11:41] JerusalemCinematheque commented on #202
מעולה
תודה

[2017-06-15 12:05] yakoub commented on #173
currently http://dev.jff.org.il/he/festival-calendar is empty page .

[2017-06-15 12:09] JerusalemCinematheque commented on #173
what happened to all the dummy events we created on dev side?

[2017-06-15 12:10] yakoub commented on #173
i copied live database over dev one by request from @reasonat

[2017-06-15 12:11] yakoub commented on #173
in future if you find it required we can put dummy content in csv file and import it after each database copy from live .

[2017-06-15 12:32] yakoub commented on #173
@JerusalemCinematheque can you please add some new content so i can work on this ?

[2017-06-15 12:34] JerusalemCinematheque commented on #173
see 27.9

[2017-06-15 12:51] yakoub commented on #173
@JerusalemCinematheque i only see 13.7 and 19.7

[2017-06-15 12:58] JerusalemCinematheque commented on #173
it's on dev site

[2017-06-15 13:00] yakoub commented on #173
here http://dev.jff.org.il/he/festival-calendar
i see 17.6 and it has tickets button and it opens without problem

seems like you have read previous comment that i copied live site into dev site and all dummy content was lost

[2017-06-15 13:02] JerusalemCinematheque commented on #173
button working on hebrew side
please check english side 27.9

yes we are creating new dummy events

[2017-06-15 13:12] yakoub commented on #173
the tickets button in 27.9 working for me .

[2017-06-15 13:15] JerusalemCinematheque commented on #173
ok thank you
maybe it was a cache issue

[2017-06-15 13:15] #173 closed, assigned to bruria1

[2017-06-15 13:37] yakoub commented on #196
i completely removed dns entries for jer-cin.reasonat.com .
if you prefer redirect then i'll need to return them and defined 301 redirect on cinematic server cpanel .
@reasonat

[2017-06-15 13:38] #185 closed, assigned to nobody

[2017-06-15 14:32] JerusalemCinematheque opened #203 "Festival logos footer - navigation arrows missing in responsive view"
@bruria1
בצד פסטיבל בסטריפ הלוגואים בתצוגה ריספונסיבית חסרים חצי המעבר

[2017-06-15 14:42] yakoub commented on #193
similar issue, maybe combine them ?
anyway the window opened for me in correction position and not at the bottom .
https://github.com/Reasonat1/Cinema/issues/136#issuecomment-308032955

[2017-06-16 08:00] JerusalemCinematheque commented on #193
זה קורה בכל פעם שמבקשים להוסיף פריט אחר בשדה כלשהו בעמוד סרט

[2017-06-17 16:41] JerusalemCinematheque commented on #203
האם אפשר להפוך את זה לסליידר אוטומטי כמו הסליידר של הספונסר?

[2017-06-18 05:34] bruria1 commented on #203
תסתכלי כעת. באתר פיתוח

[2017-06-18 05:37] bruria1 commented on #200
Done

[2017-06-18 06:14] JerusalemCinematheque commented on #203
אני עוד לא רואה שינוי

[2017-06-18 06:26] yakoub commented on #196
@reasonat do you need redirect or is it enough to remove the addresses ?

[2017-06-18 06:33] bruria1 commented on #203
http://dev.jff.reasonat.com/he

[2017-06-18 06:41] JerusalemCinematheque commented on #203
יופי
זה אפשרי שהמעבר בין הלוגואים יהיה גם אוטומטי?
נגיד מעבר כל שתיים-שלוש שניות

[2017-06-18 06:43] JerusalemCinematheque commented on #200
ok

[2017-06-18 06:50] bruria1 commented on #203
ובלי חיצים או להשאיר אותם?

[2017-06-18 06:50] JerusalemCinematheque commented on #203
עם

[2017-06-18 06:54] JerusalemCinematheque commented on #203
כל המנגנון אבל רק כשזה נכנס לתצוגה ריספונסיבית נכון?
אם התצוגה היא תצוגה רגילה בגודל מסך מלא אין למעשה צורך בחצים ובמעבר בין הלוגואיים
אלא רואים את כל הלוגואים מחולקים לשורות
כמו שזה עכשיו ב
jff.org.il

[2017-06-18 07:26] JerusalemCinematheque commented on #165
הוספנו אירועים גם לקלנדר וגם להערות קלנדר ב-15.6 בצד אנגלית בסביבת פיתוח

[2017-06-18 07:27] JerusalemCinematheque commented on #32
האייטמים מופיעים פעמיים
תראי 15.6 בסביבת הפיתוח

[2017-06-18 08:07] bruria1 commented on #203
לבדיקה באתר פיתוח

[2017-06-18 08:17] bruria1 commented on #32
לבדיקה

[2017-06-18 08:19] bruria1 commented on #165
עדיין לא הבנתי  מה הבעיה...

[2017-06-18 08:22] JerusalemCinematheque commented on #165
יש ב-15.6 צד אנגלית אירועים בחמש אולמות
בתצוגה במובייל כשמנסים לגלול בתוך הקלנדר כל העמוד נגלל ולא רק הקלנדר, כל שלמעשב אי אפשר להגיע לכל האירועים שנמצאים ביום הזה
בנוסף לא רואים את הקלנדר נוטס

[2017-06-18 08:24] JerusalemCinematheque commented on #203
מעולה

[2017-06-18 08:56] bruria1 commented on #165
לבדיקה

[2017-06-18 09:01] JerusalemCinematheque commented on #165
עובד
בקלנדר נוטס הכותרת ממורכזת במקום להיות מיושרת שמאלה / ימינה (בהתאם לשפה)

כשעוברים בין הימים אומנם העמוד חוזר להתחלה, אבל לא לגמרי להתחלה שלו אלא לכותרת של האירוע הראשון ביום

[2017-06-18 09:04] JerusalemCinematheque opened #204 "jff responsive view - add icons"
@bruria1
אפשר להוסיף בתצוגה ריספונסיבית את האייקון של השעון שיפתח את הקלנדר למובייל של הפסטיבל?

ואת אייקון סל הקניות?

[2017-06-18 09:12] JerusalemCinematheque opened #205 "film page subtitles"
@reasonat @bruria1
בעמוד סרט באנגלית בשורה מעל תקציר הסרט בשדה תרגום אין קיבוץ של שפות התרגום וכתוב
Hebrew subtitles, English
במקום
Hebrew, English subtitles

http://jff.org.il/en/movie/8928

[2017-06-18 09:43] bruria1 commented on #204
לבדיקה

[2017-06-18 09:46] bruria1 commented on #205
@yakoub

[2017-06-18 10:06] JerusalemCinematheque commented on #204
למעשה צריך את האייקון רק כשנכנסים למצב של תצוגה ריספונסיבית
כשהתפריט הראשי "נעלם" מההדר

[2017-06-18 10:14] reasonat opened #206 "anayltics historical data"
jff.org.il previously had independent analytics property .
but new configuration reports both domains to same property .
the problem is past jff data does not show up in new property .

[2017-06-18 10:18] reasonat commented on #206
➤ yakoub abaya commented:

related documentation : https://support.google.com/analytics/answer/6370521?hl=en

[2017-06-18 10:20] bruria1 commented on #204
בדסקטופ אין צורך באייקון שמוביל ללוח הפסטיבל??

[2017-06-18 10:46] bruria1 commented on #165
לבדיקה

[2017-06-18 11:03] JerusalemCinematheque commented on #204
לא כי יהיה קישור ישיר מהתפריט הראשי

[2017-06-18 11:05] navotb commented on #206
I don't understand what it means, but fact is our account do not have data
since we switched to new site.

On Sun, Jun 18, 2017 at 1:18 PM, Amir Taiar <notifications@github.com>
wrote:

[2017-06-18 11:07] bruria1 commented on #204
הורדתי מהדסקטופ

[2017-06-18 11:08] JerusalemCinematheque commented on #165
רק המעבר בין הימים
זה נפתח ככה
![image](https://user-images.githubusercontent.com/26960693/27260226-9a16d76a-542f-11e7-8d86-df5c5f8ed247.png)

במקום
![image](https://user-images.githubusercontent.com/26960693/27260229-a3a3cb26-542f-11e7-948c-acf706adca2f.png)

[2017-06-18 11:19] bruria1 commented on #165
בטוח? זה סודר.. נסו לרענן ולנקות את הקאש.

[2017-06-18 11:28] JerusalemCinematheque commented on #165
עשינו ולא רואה שינוי
תגללי למטה באחד הימים ואז תעברי יום

בנוסף בצד עברית סדר האולמות לא נשמר. לב סמדר לדוגמא מופיע לפני סינמטק 4 למרות שבעמוד ניהול אולמות הוא מופיע אחריו (15.6)

[2017-06-18 11:29] JerusalemCinematheque commented on #204
אני עדיין רואה את האייקון בדסקטופ
זה בגלל שזה בסביבת הפיתוח?
בנוסף אייקון עגלת הקניות בתצוגה ריספונסיבית חתוך. רואים רק את החלק של העגלה, בלי הגלגלים

[2017-06-18 11:39] bruria1 commented on #165
אמור להופיע כפי שהסדר בעמוד הסיווגים.

לגבי האג'קס האם ניקיתם את הקאש של הדפדפן במובייל?

[2017-06-18 11:42] bruria1 commented on #204
כמובן שכל התיקונים נעשים כעת בסביבת הפיתוח.
לאחר מכן נעביר לליב
בסביבת הפיתוח את לא אמורה לראות את האייקון והעגלה מופיעה עם גלגלים לפי מה שאני רואה. תוכלי להראות לי צילום מסך?

[2017-06-18 11:42] JerusalemCinematheque commented on #165
עכשיו הסדר בסדר

וכן ניקיתי את הקאש של הדפדפן ושל האתר

[2017-06-18 11:43] bruria1 commented on #165
ועדיין לחיצה לא מפנה לראש העמוד?
באתר פיתוח?

[2017-06-18 11:44] JerusalemCinematheque commented on #204
עכשיו לא רואים. כנראה הייתי צריכה לנקות את הקאש

![image](https://user-images.githubusercontent.com/26960693/27260420-9773ad94-5434-11e7-928f-37923950d00c.png)

[2017-06-18 11:45] JerusalemCinematheque commented on #165
לא

[2017-06-18 11:46] JerusalemCinematheque commented on #112
יש איזו התקדמות עם עניין זה?

[2017-06-18 11:49] bruria1 commented on #204
ויש בעיה אחרת..?

[2017-06-18 12:10] JerusalemCinematheque commented on #204
רק האייקון של סל הקניות

אני גם רוצה לחכות קצת עם ההעברה של האייקונים לאתר לייב

[2017-06-18 12:21] JerusalemCinematheque commented on #139
don't see a difference between when signed in or not signed in

[2017-06-18 12:26] JerusalemCinematheque opened #207 "heart icon - problematic functions"
@reasonat
Heart icon on live site has a few issues
1. on home page in grid display - links to the item instead off adding to "my list"
2. on home page (other displays), film page, event page, lobby view - reloads the page insted of just adding to "my list"

i might have written about this in other tickets, but couldn't find them

[2017-06-18 12:26] #197 closed, assigned to bruria1

[2017-06-18 12:27] JerusalemCinematheque commented on #195
ok

[2017-06-18 12:28] JerusalemCinematheque commented on #139
working now

[2017-06-18 12:29] JerusalemCinematheque commented on #163
ok

[2017-06-18 12:29] JerusalemCinematheque commented on #164
i think this can be closed

[2017-06-18 12:30] JerusalemCinematheque commented on #145
יש חדש?

[2017-06-18 12:31] JerusalemCinematheque commented on #118
just wanted to make sure that this wont be an issue on live site

[2017-06-18 12:33] JerusalemCinematheque commented on #32
ok

[2017-06-18 12:33] bruria1 commented on #204
האייקונים כבר באתר לייב...
אני לא רואה את הבעייה עם סל הקניות.. איזה דפדפן? איזה מכשיר?

[2017-06-18 12:35] JerusalemCinematheque commented on #204
כרום באייפון
וגם בספארי באייפון

[2017-06-18 12:38] JerusalemCinematheque commented on #146
ok

[2017-06-18 12:38] JerusalemCinematheque commented on #81
ok

[2017-06-18 12:41] JerusalemCinematheque commented on #184
ברוריה זה דומה למה שהיה בעמוד הניהול של אישים שלא היה אפשר למצוא אישים שהם בסטטוס "לא מפורסם"
גם פה אי אפשר למצוא אירועים לא מפורסמים
לפחות ככה נראה לי

[2017-06-18 12:42] JerusalemCinematheque commented on #166
we are still receiving messages that the page is not found after editing a saved item

[2017-06-18 12:44] JerusalemCinematheque commented on #27
אנחנו יכולים לראות איך זה נראה בתצוגה מלאה?
אולי אז נוכל לענות על השאלה של ברוריה

[2017-06-18 12:44] JerusalemCinematheque commented on #168
איך אנחנו בודקים את זה?

[2017-06-18 12:47] #207 closed, assigned to nobody

[2017-06-18 12:47] JerusalemCinematheque commented on #183
Heart icon on live site has a few issues

on home page in grid display - links to the item instead off adding to "my list"
on home page (other displays), film page, event page, lobby view - reloads the page insted of just adding to "my list"
i might have written about this in other tickets, but couldn't find them

[2017-06-18 12:48] JerusalemCinematheque commented on #171
ok

[2017-06-18 12:52] JerusalemCinematheque commented on #204
ברוריה אני רק רוצה לוודא שאין זליגה בין קלנדר פסטיבל וקלנדר סינמטק בגלל תוספת האייקון שעון
כי בסביבת פיתוח במיני קלנדר סינמטק מופיעים אירועים שסומנו לפרסום בצד פסטיבל

[2017-06-18 12:57] JerusalemCinematheque commented on #162
ok

[2017-06-18 13:02] JerusalemCinematheque commented on #156
לא רואה שדה דומיין

[2017-06-18 13:04] JerusalemCinematheque commented on #156
אני מסתכלת בעמוד ניהול לוביים
http://jff.org.il/he/admin/taxonomy-manage?language=All&machine_name=lobby&name=&field_administrative_title_value=&field_festival_tid_selective=All

ורואה את כל הלובי שאני קישרתי לפסטיבל הקולנוע 2017

אבל כשאני נכנסת לעריכה של כל אחד מהם או עושה סינון בעמוד ניהול של פסטיבל 2017
לא נראה שיש קישור לפסטיבל

[2017-06-18 13:08] JerusalemCinematheque opened #208 "when pressing on festival term - moves to unrelated page"
@reasonat
לחצתי על טרם פסטיבל מתוך עמוד ניהול הלובי
והגעתי לעמוד הזה
http://jff.org.il/he/taxonomy/term/12

שהוא איזשהו גרסה מוקדמת של עמוד הבית
ושאין בו שום קשר למה שנמצא בצד העריכה של הטרם

ברור שאי אפשר להגיע לעמוד הטרם כרגע בפרונטאנד אבל אנחנו רוצים לוודא שכנקשר את הטרם לעמוד הארכיון זה לא יוביל לעמוד הזה

[2017-06-18 13:10] yakoub commented on #206
@navotb
באימייל ששלחתה לי לא אמרתה שהבעיה שהחשבון לא מכיל נתונים אלא הבעיה אחרת , ציטוט
"הבעיה היא שהחשבון שהצבעתי עליו הוא החשבון עם הנתונים ההיסטורים ואילו החשבון שאליו נאספים הנתונים עכשיו לא כולל את הנתונים האלו"

כתבתה "החשבון שאליו נאספים נתונים", כלומר הוא כן מכיל נתונים ולא לא מכיל נתונים בכלל .

תחליט בבקשה מה הגדרת הבעיה בדיוק לפני שאני ממשיך לעבוד

ממה שאני רואה הנתונים משני הדומיינים מ

[2017-06-18 13:14] yakoub commented on #206
@navotb both domains data are captured into your analytics account property UA-7605141-1

what i understood is that you need data from jff that have accumulated through the years .

but if your problem is that you simply do not know how to access the current data for domain jff,
then it is waste of time for me to find solution for merging or migrating the old property data .

[2017-06-18 13:18] navotb commented on #206
My problem is that current data is sent to view 152302598 from account
UA-7605141-1

But our historic data is on UA-7605141-2 view 32530427, and I wish to keep
gathering data to this account and view.

On Sun, Jun 18, 2017 at 4:14 PM, yakoub <notifications@github.com> wrote:

[2017-06-18 13:23] yakoub commented on #166
this problem is not related to translation .
please follow here instead : https://github.com/Reasonat1/Cinema/issues/186

[2017-06-18 13:23] #166 closed, assigned to bruria1

[2017-06-18 13:49] yakoub commented on #206
@navotb alright then what i wrote in issue main description is correct .

you request that we report data to the old jff property, but
what i want to try instead is to migrate data from old jff property to the new property we currently report to and not change the way we report data .
because reporting to different properties from same website is not recommended setup for analytics .

[2017-06-18 14:39] navotb commented on #206
Ok. So give it a short try, and if it doesnot work we will work the old way.

On Sun, Jun 18, 2017 at 4:49 PM, yakoub <notifications@github.com> wrote:

[2017-06-19 05:10] bruria1 commented on #204
לא הבנתי.
בפסטיבל אין מיני קלנדר. לחיצה על האייקון מובילה ללוח הפסטיבל.

[2017-06-19 05:12] bruria1 commented on #27
@sato2004 אתה יכול להחזיר שיראו את זה?

[2017-06-19 05:19] bruria1 commented on #165
אצלי עובד :(
נסו שוב..

[2017-06-19 05:20] bruria1 commented on #184
זה בטיפול. בטיקט אחר.

[2017-06-19 06:01] bruria1 commented on #156
לא ברורה לי ההערה.
נכנסתי למשל לעריכה של הסיווג א-ת והוא אכן מסווג ל "פסטיבל הקולנוע ירושלים 2017"
איפה עוד זה אמור להופיע?

[2017-06-19 06:55] JerusalemCinematheque commented on #204
אבל במיני קלנדר בצד סינמטק בסביבת פיתוח מופיעים אירועים שסומנו לפרסום בצד פסטיבל
זה לא היה ככה (לפחות לא נראה לי) עד אתמול כשביקשתי להוסיף את אייקון השעון לצד פסטיבל

[2017-06-19 06:56] JerusalemCinematheque commented on #156
לדוגמא
http://jff.org.il/he/taxonomy/term/693/edit?destination=admin/taxonomy-manage%3Flanguage%3DAll%26machine_name%3Dlobby%26name%3D%26field_administrative_title_value%3D%26field_festival_tid_selective%3DAll**

**

[2017-06-19 07:59] JerusalemCinematheque commented on #188
we added some more events. this seems to happen once we add more than six halls.
look at dev site now

[2017-06-19 08:00] bruria1 commented on #204
תוכלו להראות לי דוגמה למצב כזה?
אין כלל קשר בין הדברים...

[2017-06-19 08:02] JerusalemCinematheque commented on #204
![image](https://user-images.githubusercontent.com/26960693/27275101-aa942e1c-54de-11e7-8a85-ff16c9f98b55.png)

כמעט כל האירועים כאן משוייכים לדומיין פסטיבל

[2017-06-19 08:07] JerusalemCinematheque commented on #203
תוכלו בבקשה רק לעדכן אותנו כשזה עובר ללייב? תודה

[2017-06-19 08:19] bruria1 commented on #156
אמור להיות בסדר כעת. אבל מחקתי לכם ערכים של הפסטיבל.
הוספתי לכם אופציה מהטבלה לעדכן באופן גורף את שדה בפסטיבל.

[2017-06-19 08:55] bruria1 commented on #204
טופל

[2017-06-19 08:56] bruria1 commented on #203
יעודכן עד סוף היום

[2017-06-19 08:56] yakoub commented on #205
@JerusalemCinematheque problem fixed

[2017-06-19 09:24] JerusalemCinematheque commented on #205
ok

[2017-06-19 09:30] reasonat commented on #168
@sato2004 Seems like all terms lead to HP.
Also I have freeze this task but have a look, seems this issue link to this one.
https://github.com/Reasonat1/Cinema/issues/208

[2017-06-19 09:30] reasonat commented on #208
Closing this one and work on this one
https://github.com/Reasonat1/Cinema/issues/168

[2017-06-19 09:30] #208 closed, assigned to sato2004

[2017-06-19 09:31] JerusalemCinematheque commented on #204
העניין הזה בסדר
ראינו שהעניין עבר ללייב
והאייקון של השעון נמצא בתצוגה הרגילה. אמור להיות רק כשנכנסים לתצוגת מובייל

[2017-06-19 09:39] #162 closed, assigned to bruria1

[2017-06-19 09:39] #171 closed, assigned to bruria1

[2017-06-19 09:46] #81 closed

[2017-06-19 09:46] #146 closed, assigned to bruria1

[2017-06-19 09:46] #32 closed

[2017-06-19 09:49] #164 closed, assigned to bruria1

[2017-06-19 09:50] #163 closed, assigned to bruria1

[2017-06-19 09:50] #195 closed, assigned to bruria1

[2017-06-19 09:51] #200 closed, assigned to bruria1

[2017-06-19 09:53] #202 closed, assigned to bruria1

[2017-06-19 09:54] #201 closed, assigned to bruria1

[2017-06-19 09:54] #199 closed, assigned to bruria1

[2017-06-19 09:55] #205 closed, assigned to nobody

[2017-06-19 10:11] JerusalemCinematheque commented on #195
האם אפשר להוסיף גם לעמוד מסוג מקבץ?

[2017-06-19 10:15] yakoub commented on #206
@navotb
there is no standard way to migrate data between properties .

to add the second property id like you request is also complicated .
the reason it is complicated is we have single website with same database while your previous website i assume were separated so reporting to two separate properties was more straight forward .

the drupal analytics module allows working with only one property

[2017-06-19 10:21] JerusalemCinematheque opened #209 "film collection page - jff - synopsis missing"
@reasonat @bruria1
בעמוד מקבץ של סרטים בהם התקציר נמצא בשדה תקציר פסטיבל חסר התקציר ברשימת הסרטים
http://jff.org.il/he/%D7%9E%D7%A7%D7%91%D7%A5-%D7%A1%D7%A8%D7%98%D7%99%D7%9D/8041

[2017-06-19 10:23] JerusalemCinematheque commented on #209
האם זה קשור לכך שהסרטים עוד לא לפרסום?

[2017-06-19 15:05] JerusalemCinematheque opened #210 "add spacing between sponsor area and logo area"
@bruria1
אפשר בבקשה להוסיף קצת ריווח בין החלק של באנר ספונסר לחלק של הלוגואים
והאם אפשר שהריווח מעל הבאנר יהיה מתוך העמודים ולא בחלק של הבאנר מכיוון שצבע העמוד משתנה (לפעמים הוא לבן ולפעמים ורוד)

[2017-06-20 05:26] bruria1 commented on #204
פה?
http://jff.org.il/he
הוא רק בתצוגת מובייל

[2017-06-20 05:37] bruria1 commented on #209
מה שמוגדר שם זה להציג את התוכן של הסרט ואם הוא ריק להציג את התקציר.
לפי מה שאני מבינה זה אם זה אתר פסטיבל להציג את התקציר שלו ואם הוא ריק להציג את התקציר הרגיל ואם זה אתר סינמטק אז להציג את התקציר הרגיל. נכון?

[2017-06-20 05:44] bruria1 commented on #210
בוצע. באתר פיתוח בינתיים

[2017-06-20 05:46] bruria1 commented on #195
הוספתי

[2017-06-20 06:49] sato2004 commented on #188
This happens if the event does not have a hall. What to do with such events? Hide them? Or something else? Now I added halls to 2 events and everything looks ok.

[2017-06-20 07:24] sato2004 commented on #168
I can't see the bug, this link http://dev.jff.reasonat.com/en/festivals/jerusalem-film-festival-2017 have redirect to hp, this one http://dev.jff.reasonat.com/en/festivals/2017 does not have.
About link http://jff.org.il/he/taxonomy/term/12 this is language issue, link should be http://jff.org.il/en/taxonomy/term/12

[2017-06-20 07:28] JerusalemCinematheque commented on #188
ok. there shouldn't be any event that doesn't have a hall.
but yes may on the safe side if event does not have a hall and is not marked as "hide from festival calendar" it should be hidden

[2017-06-20 08:00] JerusalemCinematheque opened #211 "ckeditor short event details - does not save text"
@bruria1
משום מה בשדה תקציר אירוע מקוצר כשאנחנו מכניסים טקסט במצב סיקייאדיטור ומבקשים לשמור
הטקסט לא נשמר
תראי כאן
http://jer-cin.org.il/he/node/9093/edit

כשעוברים לויזיוויג אין בעיה

[2017-06-20 08:02] JerusalemCinematheque commented on #211
בצד אנגלית נכון גם לשדה תקציר אירוע

[2017-06-20 08:30] sato2004 commented on #183
fixed on dev

[2017-06-20 08:42] reasonat commented on #168
@sato2004 Thanks. @JerusalemCinematheque I approve this after QA, Please review

[2017-06-20 08:43] sato2004 commented on #118
Yes, if there are some issues, it makes sense to clear drupal cache after update.

[2017-06-20 08:49] #153 closed, assigned to sato2004

[2017-06-20 08:51] #80 closed

[2017-06-20 08:52] reasonat commented on #50
Seems like we can close this one. @JerusalemCinematheque @navotb ?

[2017-06-20 10:23] JerusalemCinematheque opened #212 "screening table remarks on films/events page on Eng side gets cut"
@reasonat
 שדה הערת הקרנה בצד אנגלית נקטע
http://jff.org.il/en/event/9096

[2017-06-20 11:23] #212 closed, assigned to nobody

[2017-06-20 13:13] JerusalemCinematheque opened #213 "Festival calendar final issues"
@reasonat @bruria1
פותחת טיקט חדש לעניינים אחרונים בכל הקשור לקלנדר

1. כפתור "אולמות נוספים" גולש לחלק של הקלנדר נוטס
1. קבענו שאם יש לסרט המקושר באירוע הקרנה נוספת יופיע בפופ-אפ הקרנות נוספות. זה עבד בעבר וכעת לא. ראו "האירוע" ב-15.6 שיש לו הקרנה נוספת ב17.6
1. תצוגה ריספונסיבית - אנחנו מבינים שבגודל מסויים של מסך הקלנדר עובר למצב מובייל. אבל נראה לנו שיש בעיה בתצוגה של מסכים קטנים יותר כמו טאבל

[2017-06-20 15:24] JerusalemCinematheque opened #214 "film synopsis on this event page is shown in wrong font"
@bruria1
תראי את האירוע הבא
http://jer-cin.org.il/he/event/9093
שדה תקציר הסרט מופיע בפונט הלא נכון

מה שקרה הוא שהעתקתי את הטקסט של התקציר משדה תקציר פסטיבל לשדה תקציר סינמטק
קופי-פייסט הכי פשוט
ובהדבקה נוסף ב
HTML
עוד תגיות
תראי כאן
http://jer-cin.org.il/he/node/7771/edit

בעמוד הסרט הטקסט מוצג נכון, אבל בעמוד האירוע של הסרט לא
מה שגם משפיע על התצוגה שלו בעמוד הבית בתצוגת ליסטה

[2017-06-21 05:24] bruria1 commented on #211
לבדיקה

[2017-06-21 06:31] bruria1 commented on #213
1. תוכלי להראות ל צילום מסך? אני לא רואה את הבעיה
2. ההגדרה היא שמוקרנות רק הקרנות נוספות עתידיות
3. מאוד מורכב להציג את זה במסכים קטנים. אולי כדאי לעבור מנקודה גדולה יותר של מסך לתצוגה הרספוניבית?
4. סודר
5. איך עכשיו?
6. בוצע
7. זו בעיה כי זה יגרום לנו לשיבושים בעיצוב. הקטנתי את הפונט בפיקסל וכעת זה נראה טוב
8. בוצע

[2017-06-21 06:36] bruria1 commented on #214
מה שקרה הוא שהעתקתם תגיות הטמל לתוך העורך.
יש כפתור בעורך שנראה כמו מחק ואם את עומדת עליו רשום
remove format
תסמני את הטקסט ותלחצי עליו ואז כל התגיות יוסרו

[2017-06-21 07:35] JerusalemCinematheque commented on #214
אבל התגיות הועתקו מתוך הסיקיי אדיטור
ועכשיו כשעושים קופי פייסט של טקסט לתוך הסיקיי אדיטור הוא מוסיף תגיות שמופיעות בפרונטאנד
http://jff.org.il/he/movie/9260

[2017-06-21 07:41] navotb commented on #214
נראה שצריך להוסיף "הדבק מוורד". אמור להיות כפתור כזה ב-CKeditor

2017-06-21 10:35 GMT+03:00 JerusalemCinematheque <notifications@github.com>:

[2017-06-21 07:42] JerusalemCinematheque commented on #214
אולי קשור לתוכנת הוורד פרוססר של המק שהשתמשתי בה
ניסיתי מוורד אונליין ונראה שזה בסדר

[2017-06-21 07:45] bruria1 commented on #214
הוספתי כפתור של הדבקה מוורד אם זה עוזר.
אפשר לסגור את זה?

[2017-06-21 07:48] navotb commented on #214
ברוריה
בטופס עריכת סרט בטאב תוכן יש לינקים "disable rich text". מה זה?

On Wed, Jun 21, 2017 at 10:45 AM, Bruria <notifications@github.com> wrote:

[2017-06-21 07:51] bruria1 commented on #214
אופצייה לראות את הטקסט ללא האדיטור עם כל תגיות ההטמל. אפשר להוריד את זה

[2017-06-21 08:47] JerusalemCinematheque commented on #213
1. מוזר אתמול זה התנהג ככה. וגם אתמול לא ראו את המעבר של האירועים מאחורי שורת האולמות
![image](https://user-images.githubusercontent.com/26960693/27375105-c96b81b6-5676-11e7-8ba0-a592f814b0e7.png)
אפשר לראות מעל סינמטק 2 את הקצה של קוביית האירוע
2. אוקיי
3. מאיזה גודל מסך את מציעה לעשות זאת?
4. אוקיי
5.מצויין. אפשר ליישם גם בקלנדר נוטס?
6. מעולה
7. אוקיי
8. אוקיי

[2017-06-21 08:49] JerusalemCinematheque commented on #214
בעמוד הבית התקציר של האירוע הבעייתי מופיע עדיין בפונט שונה

[2017-06-21 09:06] bruria1 commented on #214
בעמוד הבית זה היה שדה אחר של תקציר שעדיין הכיל את התגית של הפונט.
הורדתי.

[2017-06-21 09:39] bruria1 commented on #213
1. סודר
3. אני רואה שמאוד מהר זה מוצג לא טוב. בטיפול.
5. בשורה של ההקרנה???

[2017-06-21 11:29] JerusalemCinematheque commented on #213
בשורה של ההקרנה???
זה בהקשר של כפתור שלח לקלנדר בקלנדר נוטס?
אז כן בשורת ההקרנה בתצוגת ליסטה

[2017-06-21 11:31] bruria1 commented on #213
זה ממש ישבש את העיצוב אם נשים את הקלנדר צמודלשמאל כאשר אין כרטיס בתצוגת ליסטה.
לגבי הקלנדר במסכים קטנים לפני המובייל. כעת זה נראה טוב - תבדקו

[2017-06-21 11:35] JerusalemCinematheque commented on #175
בדקתי עכשיו בלייב בעמוד הקלנדר
לוקח לו איזה שלוש שניות לעבוד
הבעיה המרכזית היא ה"גרפיקה" של הפעולה. כלומר כשלוחצים על הלב המסך חמשיר ויש סימן של לודינג
מה שלא קיים בעמודים אחרים בפונקציה של הלב

[2017-06-21 11:36] JerusalemCinematheque opened #215 "home page gallery"
@bruria1
האם זה בעייתי להפוך את הסליידר גם לסליידר אוטומטי
ואם לא האם זה משפיע על התצוגה במובייל?

[2017-06-21 12:25] bruria1 commented on #215
אין בעיה. עדכנתי בדב.

[2017-06-21 12:36] JerusalemCinematheque commented on #215
צריך לוודא שכשפותחים את חלונית הרכישה באייטמים של הגלריה הגלריה לא מתחלפת
זה אפשרי?

[2017-06-21 13:13] JerusalemCinematheque opened #216 "Lobby reference title"
@reasonat
אחרי שהוספנו לסרט / אירוע לובי רפרנס ועושים שמור
הלובי רפרנס בעמוד עריכה מופיע בשם שלו לפרונטאנד במקום בכותרת האדמיניסטרטיבית
לדוגמא פה
http://jff.org.il/he/node/8521/edit
השם האדמיניסטרטיבי של הלובי המקושרים הם
א - ת פסטיבל 17
תחרות בינלאומית פסטיבל 17
אפשר בבקשה לשנות זאת?

[2017-06-21 14:26] JerusalemCinematheque commented on #213
אוקיי
בהחלט יותר טוב. נראה לי שרק נשאר בעיה עם התצוגה בטאבלטים במצב אנכי. אבל אולי אז כבר צריך לעבור לתצוגת מובייל
![image](https://user-images.githubusercontent.com/26960693/27389154-42c5dce4-56a6-11e7-9c9c-ffb88b20c307.png)

[2017-06-21 14:57] JerusalemCinematheque commented on #112
@reasonat
האם יש אפשרות לפחות להכניס את מנגנון הלוגואים לתוך סוגי התכנים השונים?

[2017-06-21 15:03] JerusalemCinematheque commented on #214
אוקיי

[2017-06-21 15:04] JerusalemCinematheque commented on #211
ok

[2017-06-21 15:07] JerusalemCinematheque commented on #204
כנראה היה בדיוק בזמן עדכון או משהו
הדבר היחיד שנשאר הוא אייקון סל הקניות במובייל שנחתך
![image](https://user-images.githubusercontent.com/26960693/27391348-74e340e4-56ac-11e7-926a-87f2b3c4366e.png)

[2017-06-21 15:07] JerusalemCinematheque commented on #203
הכל פיקס

[2017-06-21 15:08] JerusalemCinematheque commented on #187
ok

[2017-06-21 15:15] JerusalemCinematheque commented on #183
on home page ok
on film / event page pressing the heart makes the credits jump a few notes right / left
everytime you press on the heart they jump a bit further

[2017-06-21 15:20] JerusalemCinematheque opened #217 "event details on film page are removed to soon"
@reasonat
קבענו בצד סינמטק ששורת ההקרנה נעלמת מעמודי הסרטים כשמועד ההקרנה עבר
מה שגילנו הוא שהמידע הזה נעלם מוקדם מידי
לדוגמא לסרט הזה
http://jer-cin.org.il/he/movie/5353
יש הקרנה היום ב-21:00
בתמונת המסך שצילמתי עכשיו רואים ששורת ההקרנה לא מופיעה

![image](https://user-images.githubusercontent.com/26960693/27391864-bbba4fa2-56ad-11e7-94b9-6f975101d424.png)

בדקתי את זה גם עם סרט אחר שמוקרן היום ו

[2017-06-21 15:27] JerusalemCinematheque commented on #156
מה עם דומיין אקסס לעמודי לובי?

[2017-06-21 15:28] JerusalemCinematheque commented on #51
סוגרת את הטיקט הזה. יש דיון כמעט סגור בכל ענייני הקלנדר בטיקט אחר

[2017-06-21 15:28] #51 closed

[2017-06-21 15:28] JerusalemCinematheque commented on #38
ok

[2017-06-22 05:35] bruria1 commented on #215
אפשר להגדיר שהיא לא מתחלפת כשעומדים עליה. הבעיה היא שהיא גדולה אז תמיד יעמדו.
בעייתי.

[2017-06-22 05:38] bruria1 commented on #213
תנסזו לראות מאיזה גודל של מסך זה מתחיל להיראות טוב ואז נעדכן. בכל שינוי גודל מסך יש לרענן את העמוד.

[2017-06-22 05:42] bruria1 commented on #204
אני לא מצליח הלראות את הבעיה.
אמיר אתה רואה את זה? @reasonat

[2017-06-22 05:44] bruria1 commented on #156
הכוונה לאפשרות לשייך לובי לדומיין מסויים?

[2017-06-22 07:12] JerusalemCinematheque commented on #215
אז אפשר להחליף את המנגנון למתחלף
תודה רבה

[2017-06-22 07:12] JerusalemCinematheque commented on #156
כן. כך שאם הסרט מוצג לאחר מכן בדומיין אחר לא יעבור איתו הלובי

[2017-06-22 07:28] JerusalemCinematheque commented on #213
זה נראה לרוב בסדר במסכים של טאבלט
יש שתי בעיות שרואים
1. המיקום של האולמות מול מיקום החיצים שבאנגלית חץ שמאל נדבק לאולמות וחץ ימין רחוק מהם
![image](https://user-images.githubusercontent.com/26960693/27421963-3c76db24-5735-11e7-8eb1-cd27ab620a40.png)
2. בצד עברית בוקסות האירועים בורחות שמאלה מחוץ לפריים ומחוץ להגדרות האולם שלהן
![image](https://user-images.githubusercontent.com/26960693/27422001-5

[2017-06-22 09:46] bruria1 commented on #215
איך שקיים עכשיו בדב כן?

[2017-06-22 10:07] JerusalemCinematheque commented on #215
כן

[2017-06-22 11:14] bruria1 commented on #215
יעודכן בעדכון הבא של הקבצים

[2017-06-22 11:19] bruria1 commented on #213
לבדיקה

[2017-06-22 11:28] JerusalemCinematheque commented on #213
עכשיו בתצוגה אנכית בטאבלט הקוביות נראות באופן בולט מעבר לקו האולמות בגלילה
![image](https://user-images.githubusercontent.com/26960693/27431895-c61bcfe4-5756-11e7-87f2-b2acefae0af5.png)
זה לא קורה בתצוגה אופקית

[2017-06-22 12:02] #215 closed, assigned to bruria1

[2017-06-22 12:04] reasonat commented on #204
לא רואה את הבעיה הזו

[2017-06-22 12:04] #38 closed

[2017-06-22 12:04] yakoub opened #218 "טאג מנג'ר"
מצורפים הקודים של הטאג מנגר שיש להדביק באתר של הסינמטק:

קובץ HEAD--> יש להדביק בכלי עמודי האתר מיד לאחר פתיחת תגית <head>.

קובץ BODY--> יש להדביק בכל עמודי האתר מיד לאחר פתיחת תגית <body>.

[BODY.txt](https://github.com/Reasonat1/Cinema/files/1094665/BODY.txt)
[HEAD.txt](https://github.com/Reasonat1/Cinema/files/1094664/HEAD.txt)

[2017-06-22 12:08] reasonat commented on #183
Re-assign to @bruria1

[2017-06-22 12:08] #187 closed, assigned to bruria1

[2017-06-22 12:08] #203 closed, assigned to bruria1

[2017-06-22 12:09] #211 closed, assigned to bruria1

[2017-06-22 12:09] JerusalemCinematheque commented on #204
זה באייפון

[2017-06-22 12:09] #214 closed, assigned to bruria1

[2017-06-22 12:10] reasonat commented on #112
אנחנו בודקים את הנושא.

[2017-06-22 12:11] reasonat commented on #216
לא ברור מה הבעיה

[2017-06-22 12:12] reasonat commented on #175
שלוש שניות זה הגיוני כל לא עושים שיפור ביצועים רציני יותר.
@bruria1 למה במסך הלוח שנה יש החשכה להבדיל מעמודים אחרים?

[2017-06-22 12:14] navotb commented on #216
אנסה להסביר

ממשק בחירת לובי לסרט, מציג בעת הבחירה את שדה "כותרת אדמיניסטרטיבית", הכוללת
שם מפורט יותר של הלובי
אחרי השמירה, מופיע באותו ממשק שדה "כותרת" שכולל פחות נתונים
לכן, בעתיד, כאשר נרצה לדעת לאיזה לובי מחובר הסרט - לא נוכל לעשות זאת מצד
הסרט מפני שאנחנו רואים שם חלקי

לדוגמא
בוחרים לובי בשם "פנורמה פסטיבל 2017" - זה השם האדמיניסטרטיבי המכיל גם את שם
הלובי "פנורמה" וגם את שם הפסטיבל "פסטיבל

[2017-06-22 12:26] reasonat commented on #216
אני מקפיא את הבקשה הזו.
ההתנהגות של הרכיב היא להציג את הכותרת ליבה של הישות. שינוי ועדכון של זה יקח לא מעט שעות עבודה.

[2017-06-22 12:35] navotb commented on #216
אבל במהלך הבחירה זה מציג את השדה האדמיניסטרטיבי. רק בזמן התצוגה זה לא מציג
את זה.

2017-06-22 15:26 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-06-22 13:03] #218 closed, assigned to nobody

[2017-06-25 05:24] bruria1 commented on #213
סודר. למרות שלא אמורים להגיע למסך הזה בגודל כזה אלא למסך המובייל.
אלא אם כן, היית במסך אופקי וסובבת את המכשיר לאנכי.

[2017-06-25 05:27] bruria1 commented on #215
עודכן בלייב

[2017-06-25 05:29] bruria1 commented on #204
לבדיקה

[2017-06-25 05:36] bruria1 commented on #183
לבדיקה

[2017-06-25 05:38] bruria1 commented on #175
@reasonat על מה מדובר אמיר? אני לא רואה..

[2017-06-25 08:14] sato2004 commented on #217
fixed

[2017-06-25 08:25] reasonat commented on #216
כן, כי שילבנו פה וודג׳ט שונה למהלך הבחירה. התצוגה היא עדיין הרכיב המקורי והתנהגות הליבה שלו

[2017-06-25 08:28] navotb commented on #216
אפשר לפתור את זה עם display suite. אם לא מותקן, אז צריך איזה טלאי קטן שיציג
את השם האדמיניסטרטיבי, מפני שהבחירה בכיוון הזה של בחירת לובי ובחירת פסטיבל
התבססה על השימוש בשם אדמיניסטרטיבי. אם הוא לא מוצג, זה קצת בעיה.

2017-06-25 11:25 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-06-25 08:46] JerusalemCinematheque commented on #204
רק בפיתוח נכון?

[2017-06-25 08:46] JerusalemCinematheque commented on #183
רק בפיתוח נכון?

[2017-06-25 08:47] JerusalemCinematheque commented on #204
אוקיי בפיתוח

[2017-06-25 08:47] JerusalemCinematheque commented on #215
יופי
תודה

[2017-06-25 08:50] sato2004 commented on #188
fixed on dev and live

[2017-06-25 08:50] JerusalemCinematheque commented on #213
מעולה
נראה לי שאפשר להעביר לאתר החי

[2017-06-25 08:52] reasonat commented on #216
בדיוק, הטלאי הזה לוקח זמן שכבר מזמן אין לנו נבות..
הדרך היחידה לעבור את זה היא על ידי שימוש בטבלת הניהול

[2017-06-25 09:04] navotb commented on #216
האם בטבלת הניהול של הסרטים אפשר לראות הלובי האדמיניסטרטיבי של כל סרט? זו
אמורה להיות אותה בעיה הדורשת את אותו טלאי.

ואפרופו - אנחנו צריכים טבלת ניהול עבור לוביים (חיפוש וכו')

2017-06-25 11:52 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-06-25 09:07] reasonat opened #219 "Add to favorite frontend behave on festival calendar"
When I am on the festival calendar and I add an event to my favorite, the screen get a dark background ajax load, like when you move between days.
There should be no behave like this, but a simple load like on other places in which I add to favorite.

[2017-06-25 09:08] reasonat commented on #175
I opened this issue and closing this one
https://github.com/Reasonat1/Cinema/issues/219

[2017-06-25 09:08] #175 closed, assigned to bruria1

[2017-06-25 09:18] bruria1 commented on #183
בינתיים כן.

[2017-06-25 09:25] JerusalemCinematheque commented on #183
ok

[2017-06-25 10:45] sato2004 commented on #219
fixed on dev

[2017-06-26 04:12] JerusalemCinematheque commented on #209
כן

[2017-06-26 04:15] JerusalemCinematheque opened #220 "homepage - adding article and person node to gallery view"
@bruria1
 אי אפשר להוסיף בעמוד הבית בגלריה תוכן מסוג ״מאמר״ או ״איש״

[2017-06-26 05:23] bruria1 commented on #209
זה מה שעשיתי. לבדיקה באתר פיתוח.

[2017-06-26 06:16] bruria1 commented on #220
לבדיקה באתר פיתוח

[2017-06-26 06:43] reasonat opened #221 "Management pages - Add Lobby administrative title to movie management page"
At the movie management page add a new column to display the administrative title of the referenced Lobby term. Also add the option to search this value.

[2017-06-26 06:44] reasonat opened #222 "Management pages - Add Lobby management page"
Add Lobby management page with all the related fields and filters.

[2017-06-26 06:44] reasonat commented on #216
1. https://github.com/Reasonat1/Cinema/issues/221
2. https://github.com/Reasonat1/Cinema/issues/222

[2017-06-26 06:46] reasonat commented on #192
@navotb @JerusalemCinematheque Waiting for your approve

[2017-06-26 06:49] reasonat commented on #156
לא מבין למה שיעבור איתו הלובי?
אין לנו אפשרות להוסיך שיוך דומיין לסיווג, יש לזה בעיקרון רכיב המאפשר את זה אלא שהוא מלא בבאגים ותקלות. כתיבת קוד ייעודי תיקח המון שעות עבודה.
כיוון שגם כך מגיעים ללובי דרך העמודים עצמם לא רואה סיבה להשקיע בזה

[2017-06-26 06:50] #57 closed

[2017-06-26 07:48] bruria1 commented on #221
עכשיו זה הכותרת האדמינסטרטיבית במקום הכותרת של הלובי

[2017-06-26 07:50] bruria1 commented on #222
האם זה:
http://dev.jer-cin.org.il/he/admin/taxonomy-manage?language=All&machine_name=lobby&name=&field_administrative_title_value=&field_festival_tid=All
לא מספיק?

[2017-06-26 07:57] navotb commented on #156
אז איך אתה רוצה לעשות "השתתף בפסטיבל. 2017, בלובי X"?

2017-06-26 9:49 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-06-26 07:58] navotb commented on #221
השאלה היא איך אפשר לראות עבור סרט מסוים את הלובי האדמיניסטרטיבי שלו? אם
לסרט משוייכים 20 לוביים, זה קצת מסובך לראות את זה דרך הטבלת הניהול.

On Mon, Jun 26, 2017 at 10:48 AM, Bruria <notifications@github.com> wrote:

[2017-06-26 08:12] navotb commented on #156
סליחה, בלבלתי בין טקסנומיה פסטיבל לשיוך דומיין.

2017-06-26 10:56 GMT+03:00 Navot <navotb@gmail.com>:

[2017-06-26 08:35] JerusalemCinematheque opened #223 "Movie manager page - each node appears twice"
@reasonat
כל נוד סרט שיש לו יותר מלובי אחד מופיע מספר פעמים בתוך מערכת ניהול הסרטים
כל פעם מתחת ללובי השונים אליו הסרט מקושר
זה מאוד מבלבל

[2017-06-26 09:43] JerusalemCinematheque commented on #209
אוקיי
רק שאמור להופיע התקציר המלא לא התקציר המקוצר

[2017-06-26 09:44] JerusalemCinematheque commented on #220
אוקיי

[2017-06-26 11:18] sato2004 commented on #145
fixed on dev

[2017-06-26 12:09] sato2004 commented on #26
fixed

[2017-06-26 12:16] sato2004 commented on #26
fixed

[2017-06-26 12:19] JerusalemCinematheque commented on #26
ok

[2017-06-26 12:21] JerusalemCinematheque commented on #112
אמיר תוכל לעדכן אותנו בבקשה תוך כמה זמן אתם חושבים שזה יעמוד

[2017-06-26 12:51] #220 closed, assigned to bruria1

[2017-06-26 13:19] JerusalemCinematheque opened #224 "Article - Bio order"
@reasonat @bruria1
בעמוד מאמר כשאנחנו מוסיפים מספר אישים ב"ביו" הם לא מופיעים בפרונטאנד בסדר ההוספה שלהם לעמוד
ראו
http://jff.org.il/en/%D7%9E%D7%90%D7%9E%D7%A8/10021

אמור להיות
Nadav Lapid
Evgenia Dodina
Sturla Brandth Grøvlen

[2017-06-26 13:22] JerusalemCinematheque commented on #183
בעמוד הבית לחיצה על הלב כשהמיני קלנדר סגור
פוצח את המיני קלנדר

[2017-06-26 13:50] sato2004 commented on #122
fixed

[2017-06-26 20:49] JerusalemCinematheque commented on #26
reopening this ticket
"In case:
Node domain access set to both Cinema + Festival
AND
Screening field set to Cinema only
THEN
Screening field shouldn't be display on search results on Festival site -> which is the case now"

this should also include any other area where screening details are shown, such as lobby page.
See this example
this film http://www.jer-cin.org.il/he/movie/7771 is assigned to

[2017-06-26 20:53] JerusalemCinematheque opened #225 "festival calendar mobile view"
@bruria1
שורות ההקרנה לא נפרסות על כל רוחב הדף. זה בצד עברית ובצד אנגלית
![image](https://user-images.githubusercontent.com/26960693/27559754-64f290aa-5aca-11e7-89ba-2c3c3ee8c3fe.png)

[2017-06-26 20:59] JerusalemCinematheque commented on #204
מתארת לעצמי שאין הרבה משתמשים בספארי אבל תראי את האייקון של עגלת הקניות בספארי בדסקטופ
![image](https://user-images.githubusercontent.com/26960693/27560024-5aecd8da-5acb-11e7-8364-d3b3db82d77a.png)

![image](https://user-images.githubusercontent.com/26960693/27560039-60a34ca0-5acb-11e7-9b8c-7618bd276999.png)

[2017-06-27 05:30] bruria1 commented on #221
איך עכשיו? תסתכלו באתר פיתוח.

[2017-06-27 05:32] bruria1 commented on #209
בסינמטק השדה Long summary
בפסטיבל השדה Long summary - Festival
???

[2017-06-27 05:40] bruria1 commented on #204
לבדיקה

[2017-06-27 05:41] bruria1 commented on #223
לבדיקה

[2017-06-27 05:41] JerusalemCinematheque commented on #209
נכון
________________________________
מאת: Bruria <notifications@github.com>
‏‏נשלח: יום שלישי 27 יוני 2017 08:32:34
‏‏אל: Reasonat1/Cinema
עותק: Tamar Freeman; Author
‏‏נושא: Re: [Reasonat1/Cinema] film collection page - jff - synopsis missing (#209)

בסינמטק השדה Long summary
בפסטיבל השדה Long summary - Festival
???

—
You are receiving this because you authored the thread.
Reply to this email d

[2017-06-27 05:51] bruria1 commented on #224
לבדיקה

[2017-06-27 06:02] bruria1 commented on #183
לבדיקה בפיתוח

[2017-06-27 06:07] bruria1 commented on #225
לבדיקה

[2017-06-27 06:17] bruria1 commented on #209
לבדיקה באתר פיתוח

[2017-06-27 06:41] JerusalemCinematheque commented on #209
ok

[2017-06-27 06:47] JerusalemCinematheque commented on #225
בפיתוח כן?
אני לא חושבת שצריך שוב את היום והתאריך

[2017-06-27 06:49] JerusalemCinematheque commented on #183
ok

[2017-06-27 06:49] JerusalemCinematheque commented on #224
ok

[2017-06-27 06:50] JerusalemCinematheque commented on #223
ok

[2017-06-27 07:09] JerusalemCinematheque opened #226 "Front page - timing issue"
@bruria1
הקמתי עמוד מסוג פרונט פייג'
הכנסתי איזור מסוג גריד וננתי לו שעת התחלה היום ב-10:00
לפריטים שהוספתי בגריד נתתי מועדי התחלה שונים, חלקם היום וחלקם בעוד מספר ימים
אבל כל הפריטים הופיעו בעמוד, למרות מועדי ההתחלה שנקבעו להם

אני לא יכולה לשלוח לזה דוגמא כי הייתי צריכה למחוק את הפריטים מהעמוד שעולה היום

[2017-06-27 07:11] navotb commented on #221
הקלקה על "רשימת הלובי" מעבירה להומפייג' - זו הכוונה?
מכל מקום, הענין יהיה בעייתי יותר כאשר סרט יהיה מקושר ל-20 לוביז.
והדבר המשונה מכל, אי אפשר לתקוע סטאטית כזו בתוך טופס עדכון הסרט? רק רשימה?

On Tue, Jun 27, 2017 at 8:30 AM, Bruria <notifications@github.com> wrote:

[2017-06-27 07:19] reasonat commented on #112
So this is the case:
Embed entity inside the content using the editor - We can only embed nodes (Not terms or block or views) and in 1 display.
Embed block - We can do this below the main content. This was we can embed logos gallery for example.

[2017-06-27 07:21] JerusalemCinematheque commented on #112
below content meaning lets say in lobby - after lobby descirption or after content list?

embeded block - but it's a different logos gallery each time yes?

[2017-06-27 07:27] yakoub commented on #136
fixed .

[2017-06-27 07:41] reasonat commented on #216
@bruria1 can change the reference field so you will choose the administrative title instead of the title, then later when done editing it will display, on the form, the administrative title.
We need to recheck frontend after this but we assume there will be no issues.

[2017-06-27 07:41] reasonat commented on #221
@bruria1 will take care of the first 2.
As fot the 3rd one, I reopen this https://github.com/Reasonat1/Cinema/issues/216

[2017-06-27 07:43] #223 closed, assigned to bruria1

[2017-06-27 07:43] #224 closed, assigned to bruria1

[2017-06-27 07:44] #183 closed, assigned to bruria1, sato2004

[2017-06-27 07:45] #209 closed, assigned to bruria1

[2017-06-27 07:46] reasonat commented on #26
@sato2004

[2017-06-27 07:48] bruria1 commented on #225
אז להוריד את הכותרת עם היום והתאריך?

[2017-06-27 07:49] reasonat commented on #112
We talk here only about content pages - Movie, article. No Lobby term page.
What do you mean by "different logos" ?

[2017-06-27 07:49] bruria1 commented on #226
בבקשה תצרי כזה עמוד באתר פיתוח שנוכל לראות את הבעיה

[2017-06-27 07:53] bruria1 commented on #221
תסתכלו באתר פיתוח.
מעבר על הרשימה מציגה חלון נפתח עם כל הלובים המקושרים.

[2017-06-27 08:00] #125 closed, assigned to sato2004

[2017-06-27 08:01] #54 closed

[2017-06-27 08:01] #102 closed

[2017-06-27 08:01] #126 closed, assigned to nobody

[2017-06-27 08:01] #151 closed, assigned to nobody

[2017-06-27 08:01] #161 closed, assigned to bruria1

[2017-06-27 08:04] JerusalemCinematheque commented on #225
כן

[2017-06-27 08:05] navotb commented on #221
אם זה לא השתנה, אז זה טוב אבל הבעיה עם זה היא שכאשר לסרט יהיו הרבה יותר
לובים מקושרים, הרשימה הזו תהיה יותר קשר לקריאה או דפדוף. ענין שני הוא
שהקלקה על כפתור הרשימה מוביל להומפייג'. ואם אפשר לזרוק את הבלוק הזה כמו
שהוא לתוך טופס יצירת/עדכון סרט - הכי טוב.

On Tue, Jun 27, 2017 at 10:53 AM, Bruria <notifications@github.com> wrote:

[2017-06-27 08:07] JerusalemCinematheque commented on #112
we have to have the logos gallery on lobby page as well
it's a different logo strip added to each page

[2017-06-27 08:10] JerusalemCinematheque commented on #226
http://dev.jff.reasonat.com/he/8809
האייטם אמור להופיע ב-29.6

[2017-06-27 08:16] navotb commented on #112
we are asked to publish logos in each different page (film, lobby, articel
etc.) of the supporters of the film/event/program etc. so for each item it
is a different selection of logos.

On Tue, Jun 27, 2017 at 11:07 AM, JerusalemCinematheque <
notifications@github.com> wrote:

[2017-06-27 08:36] sato2004 commented on #26
fixed on dev

[2017-06-27 09:14] reasonat commented on #159
@bruria1 Please have a look - http://jff.org.il/en/movie/8771
and here http://jff.org.il/en/movie/9397

[2017-06-27 09:23] #159 closed, assigned to bruria1

[2017-06-27 09:23] navotb commented on #159
In early stages it was a matter of bilingual issue. Is it still this
problem? If it is a frontend issue - do you know why it affects the backend?

On Tue, Jun 27, 2017 at 12:14 PM, Amir Taiar <notifications@github.com>
wrote:

[2017-06-27 09:26] reasonat opened #227 "Credits- All credits get same profession"
After saving a movie node all credits receiving the same profession.
This is a repeatable bug issue.
Example -
http://jff.org.il/en/movie/9397
http://jff.org.il/en/node/9397/edit

[2017-06-27 09:35] reasonat opened #228 "Option to display different logos set on each content type"
Editor can have the option to display different set of logos on each content type pages - Movie nodes, event nodes, lobby terms, etc.

Not clear if editor want the option to add different set to each node.
@navotb ?

Also have the option to add a different logo set on Lobby term pages

Also - does this need to be at the footer (And replace the footer logos gallery) or below the content area?

[2017-06-27 09:36] reasonat commented on #112
This are 2 separated  requests which will be in freeze.
I combine them into one issue - https://github.com/Reasonat1/Cinema/issues/228

[2017-06-27 09:38] reasonat commented on #221
נבות הדיון על טופס יצירה ועדכון הוא במקום אחר אליו הפניתי, לא לפה
אלא אם כן אתה מתכוון למשהו אחר

[2017-06-27 09:40] JerusalemCinematheque commented on #228
אמיר עניין הלוגואים די דחוף
כרגע המצב הוא שאי אפשר להכניס שום אימאג' לתוך איזור התכנים

כן, סט שונה של לוגואים לכל נוד
 זה לא במקום הפוטר
חשבנו שיהיה נכון להשתמש במנגנון של הפוטר שעובד מצויין בעמודים אחרים

[2017-06-27 09:41] navotb commented on #221
לא ראיתי את הנושא השני.

2017-06-27 12:38 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-06-27 09:41] JerusalemCinematheque commented on #228
וכמובן הכוונה היא גם לכל טרם

[2017-06-27 11:35] bruria1 commented on #225
בוצע

[2017-06-27 11:38] bruria1 commented on #226
@sato2004

[2017-06-27 13:22] JerusalemCinematheque commented on #192
**Management tables for editors (Event, movies, terms, etc)**
Cinema - All nodes are display whether the target Festival/Cinema/none.
Festival - Only nodes target to Festival.
**OK to both**

**On site - See cases but take into cinsiduration there are more "if's" like event publish dates / node publish / active events / etc.**
Calendar (mini, full, festival) for anonymous and log-in users:
Cinema

[2017-06-27 13:33] JerusalemCinematheque opened #229 "movie collection - movie order"
@bruria1
סדר ההופעה של הסרטים בעמוד מקבץ הוא לא לפי הסדר שהוספנו אותם למקבץ
לדוגמא
http://jff.org.il/he/%D7%9E%D7%A7%D7%91%D7%A5-%D7%A1%D7%A8%D7%98%D7%99%D7%9D/8063

[2017-06-27 14:12] sato2004 commented on #227
fixed on dev

[2017-06-27 14:14] JerusalemCinematheque commented on #26
ok

[2017-06-27 14:16] JerusalemCinematheque commented on #225
ok

[2017-06-27 14:17] JerusalemCinematheque commented on #217
ok

[2017-06-27 16:14] navotb commented on #227
I had this happening again now after editing an existing film node and
saving.

On Tue, Jun 27, 2017 at 5:12 PM, Alexander Voloshenko <
notifications@github.com> wrote:

[2017-06-27 19:43] JerusalemCinematheque opened #230 "movie collection - responsive issues"
@bruria1
בתצוגה ריספונסיבית של מקבץ הופיעו מספר עניינים
http://jff.org.il/he/%D7%9E%D7%A7%D7%91%D7%A5-%D7%A1%D7%A8%D7%98%D7%99%D7%9D/8041

1. כותרת המקבץ אמורה להופיע מתחת לתמונות ולא עליהם. בדומה לכותרת בעמוד סרט ועמוד אירוע (קורה בצד עברית ואנגלית
1. בצד עברית יש בעיה באזור התצוגה של כותרת הסרט ברשימת הסרטים המקושרים
הכותרת נדחפת שמאלה ורואים מצד ימין קוביה שחורה, נראה שאמור להופיע שם כפתור וידי

[2017-06-28 05:37] bruria1 commented on #230
לבדיקה באתר פ יתוח

[2017-06-28 05:44] bruria1 commented on #229
לבדיקה

[2017-06-28 06:22] sato2004 commented on #191
@reasonat This task is not clear for me. What this filter should to do? We should see only items related to current festival in search results. Is not?

[2017-06-28 06:28] reasonat commented on #55
➤ yakoub abaya commented:

@Amir Taiar
i added field toptix purchase to webform content type .
and then to enable toptix you simply assign value to that field on node edit form .
example : http://dev.jff.org.il/en/webform/8817

[2017-06-28 06:34] JerusalemCinematheque commented on #230
אוקיי
רק החצים בתמונות גלריה קצת יושבים גבוה

[2017-06-28 06:35] JerusalemCinematheque commented on #229
ok

[2017-06-28 07:26] JerusalemCinematheque commented on #186
any updates?

[2017-06-28 07:36] JerusalemCinematheque opened #231 "importing LEV SMADAR hall when creating events from film page"
@yakoub
כשאנחנו מייבאים אירועים מתוך עמוד סרט, משום מה אולם "לב סמדר" לא מיובא
אם אנחנו מייבאים את אותו אירוע מתוך עמוד "אירוע" אז אין בעיה

לדוגמא הסרט הזה
http://jff.org.il/he/movie/9068

אחרי שעשיתי ייבוא מתוך העמוד בפרונטאנד ראו את מועד ההקרנה הראשונה אבל לא ראו את האולם
אחרי זה נכנסתי לאירוע עצמו ועשיתי ייבוא פעם נוספת מטופטיקס והפעם האולם כן הופיע

נכנסתי פעם נוספת להגדרות האולם ועשיתי לו עד

[2017-06-28 07:48] reasonat opened #232 "change password and fix permissions"
anonymous user had permission to create webform content

[2017-06-28 08:14] bruria1 commented on #230
אני לא רואה את הבעיה. הם יושבים כמו בכל שאר העמודים

[2017-06-28 08:35] #232 closed, assigned to nobody

[2017-06-28 08:36] yakoub commented on #196
@reasonat i didn't add redirect, i don't think it is required .
should we close this ?

[2017-06-28 10:08] JerusalemCinematheque commented on #231
ראינו עכשיו שהבעיה קוראת רק מצד עברית
כלומר אם אנחנו עושים את הייבוא מצד אנגלית הכל בסדר

[2017-06-28 12:16] JerusalemCinematheque commented on #186
at least on film page this seems to happen after we import screenings from toptix

[2017-06-28 12:21] JerusalemCinematheque commented on #231
קורה גם עם אולם שנקרא "בית הנסן"

[2017-06-28 12:56] JerusalemCinematheque commented on #227
I'm not sure how we can check this on DEV site as it seems random to us
here is another example from today
http://jff.org.il/he/movie/8505

[2017-06-28 13:14] JerusalemCinematheque commented on #213
@bruria1
כפתור שלח לקלנדר קפץ שורה ומופיע מעל שורת הקוד / כפתור כרטיסים
תראו ביום הראשון של הקלנדר

[2017-06-28 13:24] JerusalemCinematheque commented on #227
http://jff.org.il/he/movie/9911

[2017-06-28 13:45] navotb commented on #156
the problem with this issue it this
assume film x is screened in festival under lobby 1
assume the same film x is being screened later in cinema under lobby 2
now, when we have the film page in cinema site, it will show both lobby 1
and lobby 2 as the film's lobbies (since lobby 1 does not have end date)

so we need to find a way to prevent festival lobbies from crossing to
cinema site

2017-06-26

[2017-06-28 14:43] JerusalemCinematheque commented on #209
@bruria1
פותחת את הנושא מחדש
 בעמוד האירוע של המקבץ חסרים התקצירים של הסרטים שמקושרים למקבץ
http://jff.org.il/he/event/10608

[2017-06-28 14:51] sato2004 commented on #227
This can happen in 2 cases
1 after you click save and translate, and then save the translation
2 when you edit a movie in an inappropriate language
example http://dev.jer-cin.reasonat.com/he/node/8506/edit
English translation, site in Hebrew.
Now I fixed both cases on the dev site

[2017-06-28 14:51] JerusalemCinematheque opened #233 "movie collection event page"
@bruria1
כמה עניינים בעמוד אירוע של מקבץ

1. לא כל תמונות ההירו מהמקבץ עוברות לעמוד האירוע
2.  הראסטר לא מופיע כמו שצריך על תמונת ההירו
![image](https://user-images.githubusercontent.com/26960693/27643592-261f6464-5c2a-11e7-9f9d-e67967236936.png)
3.  חסרים התקצירים של הסרטים שמקושרים למקבץ

דוגמא כאן
http://jff.org.il/en/event/10611

[2017-06-28 15:02] JerusalemCinematheque commented on #233
נראה שעניין הראסטר קורה כשיש למקבץ יותר מתמונה אחת
לדוגמא במקבץ הזה שיש לו רק תמונה אחת הראסטר בסדר
http://jff.org.il/he/event/10618

[2017-06-28 15:55] JerusalemCinematheque commented on #48
@reasonat
הלינו עכשיו את כל ההקרנות לקלנדר פסטיבל
לוקח לעמוד הרבה זמן להיטען
והמעבר בין הימים לוקח משהו כמו 30 שניות

[2017-06-28 16:30] JerusalemCinematheque opened #234 "Festival calendar - Days nav bug"
אחרי שעברנו מספר ימים וביקשנו לעבור לעוד יום בצד אנגלית, הקלדנר חזר ליום הראשון שלו ולא עלה
הוא הציג איזשהו קיבוץ של כל מיני אירועים שמופיעים אחד על השני
ולא היה את שורת הימים
![image](https://user-images.githubusercontent.com/26960693/27648109-291a66a8-5c36-11e7-81d6-7ac583453a97.png)

רק אחרי שניקינו את הקאש של האתר הקלנדר חזר

[2017-06-28 16:35] navotb commented on #48
Hi

I am sorry to push but we have to publish the festival calendar tomorrow
and at the moment the loading time of each page is very long (30-40
seconds)

and after 4-5 page loading, the calendar collapses and the pages are
distorted totally

On firefox the browser details this function as a possible source for the
problem

http://jff.org.il/sites/default/files/js/js_MpKfe1sTh5JIVGCZ17DsAuT1rqAC38

[2017-06-28 20:08] yakoub commented on #231
when i look at the movies events :
http://jff.org.il/he/node/9068/events
http://jff.org.il/en/node/9069/events

i see these events :
http://jff.org.il/en/node/10081/edit
http://jff.org.il/he/node/10080/edit

which have lev smadar hall as expected .

so i don't see the problem .

please provide another example if you believe the problem persists .
@JerusalemCinematheque

[2017-06-28 20:10] yakoub commented on #231
please provide another example if you believe the problem persists .

[2017-06-28 20:12] yakoub commented on #231
related video : https://www.youtube.com/watch?v=giDutnkrc68

[2017-06-29 06:01] JerusalemCinematheque commented on #234
במסך מקבוק 13 אינץ' יש בעיית תצוגה כשיש 6 אולמות ומעלה
![image](https://user-images.githubusercontent.com/26960693/27673397-1e3c9cd8-5ca9-11e7-825a-fe8ef41f7658.png)

![image](https://user-images.githubusercontent.com/26960693/27673439-751adb64-5ca9-11e7-9866-31edd10b7fec.png)

[2017-06-29 07:04] navotb commented on #222
האם אפשר שיהיה קיצור מיידי לעמוד הזה כמו "ניהול סרטים" ואחרים?
האם אפשר להוסיף כאן חיפוש לפי סרט (כלומר, תוצאת החיפוש תציג את רשימת כל
הלוביים שסרט מקושר אליהם) - זה יפתור באופן עקום את רשימת הלוביים שמקושרים
לסרט.

On Mon, Jun 26, 2017 at 10:50 AM, Bruria <notifications@github.com> wrote:

[2017-06-29 07:18] reasonat opened #235 "Festival Calendar - Hall display mistake"
ב-23.7 מופיע בקלנדר אולם סינמטק 2, אבל לא הקמנו שום אירועים באולם הזה ביום הזה

[2017-06-29 07:19] reasonat opened #236 "Festival calendar - Pop-Up Hebrew label issue"
בצד עברית בפופ-אפ כותרת הקרנות נוספות באנגלית. צריך להיות הקרנות נוספות לא
Additional screenings

[2017-06-29 07:24] reasonat opened #237 "Festival calendar - 6 halls macbook 13inch issue"
See this comment with attach screen shots
https://github.com/Reasonat1/Cinema/issues/234#issuecomment-311870389

[2017-06-29 08:00] JerusalemCinematheque commented on #48
@reasonat
כמובן שמכל הנושאים שהעלינו בקשר לפסטיבל זה הנושא הדחוף ביותר
תודה על הכל

[2017-06-29 08:16] JerusalemCinematheque commented on #231
i added the hall individually

here is an example on DEV site

http://dev.jff.reasonat.com/he/movie/8523

[2017-06-29 08:29] bruria1 commented on #213
לא הכל עבר לאתר החי. עכשיו זה טוב.

[2017-06-29 08:36] bruria1 commented on #236
לבדיקה

[2017-06-29 09:03] bruria1 commented on #233
לבדיקה. פה:
http://dev.jff.org.il/en/event/8820

[2017-06-29 09:09] JerusalemCinematheque commented on #233
הראסטר והתמונות בסדר
רק נשאר עניין התקציר

[2017-06-29 09:18] bruria1 commented on #233
לבדיקה

[2017-06-29 09:20] JerusalemCinematheque commented on #233
אחלה
תודה

[2017-06-29 09:44] bruria1 commented on #222
הוספתי קישור.
בעצם אתם צריכים טבלה שמציגה לובי ורשימת כל הסרטים שמקושרים אליו?

[2017-06-29 10:05] navotb commented on #222
לא, שדרך ממשק ניהול הלובי, אני אוכל לסנן רשימה של כל הלובייז שסרט איקס
משויך אליו, בצורת טבלת הלוביז (כולל אלטרנטיב טייטל) (כמו שבטבלת סרטים אפשר
לסנן סרטים לפי לובי, אז הפוך: בטבלת לובי לסנן לוביז לפי סרט)

On Thu, Jun 29, 2017 at 12:44 PM, Bruria <notifications@github.com> wrote:

[2017-06-29 10:05] #233 closed, assigned to bruria1

[2017-06-29 10:20] bruria1 commented on #222
הוספתי מסנן שנקרא movie title
תראה אם זה עושה את מה שאתה רוצה.

[2017-06-29 10:27] navotb commented on #222
זה לא רע, הבעיה תהיה כשתהיינה תוצאות שרלוונטיות ליותר מסרט אחד במסנן
כלומר, נגיד שנסנן לפי שם סרט חלקי, אז התוצאות תהיינה קשורות לכל אחד מהסרטים
שעונים לפילטר

On Thu, Jun 29, 2017 at 1:20 PM, Bruria <notifications@github.com> wrote:

[2017-06-29 10:35] bruria1 commented on #222
נכון.
אז איך תרצו את זה? רק מי שעונה לסרט המדוייק שנרשם שם?

[2017-06-29 12:50] yakoub commented on #48
i am making progress on this issue, will update again at end of the day .

[2017-06-29 12:52] navotb commented on #48
Thank you Yakoub. Much appreciated.

On Thu, Jun 29, 2017 at 3:50 PM, yakoub <notifications@github.com> wrote:

[2017-06-29 14:09] #196 closed, assigned to nobody

[2017-06-29 14:23] #225 closed, assigned to bruria1

[2017-06-29 14:26] reasonat commented on #193
@navotb @JerusalemCinematheque   Can you recheck this? I can't see this.

[2017-06-29 14:27] reasonat commented on #198
Can I close this issue?

[2017-06-29 14:30] reasonat commented on #191
@sato2004 No, on search results as mention in other task, we can see all nodes, even once which isn't related to current festival. So this filter will allow me as a user to see nodes related to different festivals. Later on we will add some symbol to each result telling the related festival.

[2017-06-29 14:31] #178 closed, assigned to nobody

[2017-06-29 14:33] reasonat commented on #165
Closing this one and focusing on this one
https://github.com/Reasonat1/Cinema/issues/225

[2017-06-29 14:33] #165 closed, assigned to bruria1

[2017-06-29 14:35] #148 closed, assigned to bruria1

[2017-06-29 14:36] #26 closed

[2017-06-29 14:38] #50 closed

[2017-06-29 14:46] #184 closed, assigned to bruria1

[2017-06-29 14:52] #217 closed, assigned to sato2004

[2017-06-29 15:51] JerusalemCinematheque commented on #193
seems okay now

[2017-06-29 15:57] JerusalemCinematheque commented on #198
it would be better if "unpublished" persons could be found when adding credits
it will be the editor's responsibility to make sure they are published later on

[2017-06-29 19:05] navotb commented on #48
Hi Yakoub,
Sorry to nudge, we have to report to our superiors, can you please update
about the calendar upload speed?
Thank you
Navot

On Jun 29, 2017 3:52 PM, "Navot" <navotb@gmail.com> wrote:

[2017-06-30 09:30] yakoub commented on #48
i finished optimizing and fixing problems in javascript,
i still need to work on sql query since the server response sometimes takes 15 seconds .
so i believe i can finish this sunday morning before 12:00 .
@navotb

[2017-06-30 09:46] JerusalemCinematheque opened #238 "Event Management page - finding events that don't have films attached"
@reasonat
אי אפשר למצוא במערכת הניהול של האירועים
אירועים שלא מקושר אליהם סרט
לדוגמא
http://jff.org.il/en/event/10650
אפשר למצוא אותו במערכת ניהול התוכן הכללי, אבל לא בניהול אירועים

כנ"ל
http://jff.org.il/he/event/8528

[2017-06-30 09:50] JerusalemCinematheque opened #239 "Events page in English with no film - event details display issue"
@bruria1
באירוע הזה
http://jff.org.il/en/event/8529
שהוא אירוע ללא סרט יש בעיה עם איזור גבולות הגריד של תיאור האירוע

[2017-06-30 11:25] JerusalemCinematheque opened #240 "Festival calendar days jump"
@reasonat
כשמבקשים לעבור מיום ליום בעמוד הקלנדר, שורת הימים קופצת וצריך פעם נוספת ללחוץ על היום המבוקש
הסבר ויזואלי בוידאו
https://youtu.be/wPsrQOY-Q2Y

זה לא קורה כל הזמן, אבל קורה מספיק

[2017-06-30 13:08] JerusalemCinematheque opened #241 "Film page english side - events details - "halls field" written in hebrew"
@reasonat
בעמודי הסרטים באנגלית בשורות ההקרנה שם השדה
halls
כתוב בעברית במקום באנגלית

[2017-06-30 16:04] navotb commented on #48
Great. Is there a way to cache this queries, instead of running it every
click?

On Fri, Jun 30, 2017 at 12:30 PM, yakoub <notifications@github.com> wrote:

[2017-07-01 20:41] JerusalemCinematheque opened #242 "festival calendar - sold out button does not work"
@reasonat
האירוע הזה
http://jff.org.il/he/event/10132
סומן כאזלו כרטיסים. ואכן כפתור הכרטיסים הפך לאזל בעמוד האירוע, בלובי של הסרט ובעמוד הסרט
אבל בעמוד הקלנדר - בקוביה של האירוע ובפופ-אפ כפתור הכרטיסים עדיין פעיל

[2017-07-02 06:46] sato2004 commented on #235
fixed

[2017-07-02 07:14] bruria1 commented on #239
תוקן באתר פיתוח

[2017-07-02 07:28] JerusalemCinematheque commented on #239
קווי הגריד בסדר עכשיו
יש עניין עם בריווח בין איזור בתמונה, איזור פרטי ההקרנה ואיזור פרטי האירוע

[2017-07-02 08:07] reasonat opened #243 "Article - Option to add attach files"
On Article node type add the option to attach files which can be download by the end user.

[2017-07-02 08:07] bruria1 commented on #198
בוצע. באתר הלייב. אםשר להוסיף אנשים לא מפורסמים אבל הם לא יוצגו.

[2017-07-02 08:08] bruria1 commented on #239
צריך שיהיה רווח גדול יותר מעל פרטי האירוע?

[2017-07-02 08:12] JerusalemCinematheque commented on #239
אני לא רואה באתר פיתוח את פרטי ההקרנה
אבל החלק של פרטי האירוע דבוקים לתמונה

[2017-07-02 08:22] bruria1 commented on #239
לא היו פרטי אירוע כיוון שמועד האירוע שהיה שם עבר. כעת רואים את הפרטי האירוע כי עדכנתי את תאריך האירוע. והוספתי רווח.

[2017-07-02 08:26] JerusalemCinematheque commented on #239
מעולה

[2017-07-02 08:30] reasonat commented on #216
Sorry, The case now is that you can choose administrative title in the reference field, but once choosen it display the title + node ID.
This is the module core behave which we can change.
Remain freeze.

[2017-07-02 08:30] #216 closed, assigned to bruria1

[2017-07-02 08:31] bruria1 commented on #228
@JerusalemCinematheque @navotb
מה שניתן לעשות כרגע זה להוסיף שדה שבו אפשר להוסיף לוגויים כמה שרוצים והוא יוצג בדיוק באופן שמוצגים הלוגויים למטה.
באופן כזה אתם צריכים לומר לנו איפה בדיוק בעמוד הלוגויים צריכים להופיע.
האם זה עונה על בקשתכם?

[2017-07-02 08:36] yakoub commented on #48
hi @navotb
we already enabled cache for calendar and it improved response time from 15 seconds to 6 seconds .

in addition i fixed several javascript problems which caused the page ui to break and stop responding after clicking through the days of the calendar .

i can try to improve the sql query and page build logic for additional 5 hours if you approve .

[2017-07-02 08:42] JerusalemCinematheque commented on #228
וזה שדה לוגואיים לכל אייטם כן?
הכי נכון להציג את הלוגואים ככה:
**לובי - אחרי שדה**
Lobby description & teaser
**מאמר - אחרי שדה**
Body
**סרט - אחרי שדה**
Long summary
או
Long summary - Festival
**אירוע - אחרי שדה**
Event Details
**מקבץ - אחרי שדה**
Body

[2017-07-02 08:51] bruria1 commented on #228
האם תצטרכו למחזר את אותו סט של לוגויים בכמה מקומות?
אם כן, ניישם את זה בצורה אחרת:
יהיה סוג תוכן של לוגויים ששם תייצרו את הסט ותוכלו לשייך אותו לכל סוג תוכן שתרצו.

[2017-07-02 08:52] JerusalemCinematheque commented on #228
לא זה סט שונה בכל מקום
זה רק צריך לעבור גם לצד תרגום

[2017-07-02 08:54] navotb commented on #48
Hi Yakoub, Thank you for your great work.
We measure 16 sec for each page load, which is much better but still very
long.

I don't know what is the cache mechanism, but what i meant by cached qurey
is not have at all sql qurey with each click and just send to the user's
browser the "right" results from last "approved" query in the right format.
Is there a way of doing it?

On Sun, Jul 2, 2017 at 1

[2017-07-02 09:03] yakoub commented on #48
it looks like there is general performance problem with the server, because when i checked the calendar pages this morning it was responding in 6 seconds .
also alex just cleared the cache in the past hour so maybe that corresponded with the time of your check .

[2017-07-02 09:05] navotb commented on #48
Now there is now server at all and it looks like the site is down.

On Sun, Jul 2, 2017 at 12:03 PM, yakoub <notifications@github.com> wrote:

[2017-07-02 09:18] navotb commented on #48
Ok, where are the bottlenecks of this issue and how can we solve it? We
have 16-22 seconds for page upload.
What is the most efficient way to cut it down? We must have this calendar
up and functioning with good user experience.

On Sun, Jul 2, 2017 at 12:05 PM, Navot <navotb@gmail.com> wrote:

[2017-07-02 09:23] yakoub commented on #48
i am not sure this is the bottleneck .

but i believe i can improve the sql query significantly .

[2017-07-02 09:29] navotb commented on #48
But the question is this:
if we cache the query, than once we have it results done - we don't need it
to be very efficient, because we send to the browser with the known
results.

the question is what taking it so long to process? is it the query or is it
the javascript of the page? can we eliminate the query and send cached
results (for each day its own results)?

On Sun, Jul 2, 2017 at 12:23 PM,

[2017-07-02 09:30] navotb commented on #48
btw, now the calendar does not upload correctly on my firefox: it is
distorted again.

On Sun, Jul 2, 2017 at 12:29 PM, Navot <navotb@gmail.com> wrote:

[2017-07-02 09:37] yakoub commented on #48
javascript problem seems to be related to browser cache, meaning it is loading outdated js file .
can you please try refreshing the page ?

[2017-07-02 09:41] JerusalemCinematheque commented on #48
we cleared browser cache and reloaded page
it's still not uploading correctly
![image](https://user-images.githubusercontent.com/26960693/27768742-76d94432-5f23-11e7-91ed-9fb52ebaebc1.png)

[2017-07-02 09:43] yakoub commented on #48
this is strange .
try visiting this url directly in browser : view-source:http://jff.org.il/sites/default/files/js/js_MpKfe1sTh5JIVGCZ17DsAuT1rqAC38MLLlkjqjQ1X_k.js

[2017-07-02 09:43] yakoub commented on #48
then reload the page again .

[2017-07-02 09:47] navotb commented on #48
nothing changed. clicked the js file, viewed it in browser, than refreshed
calendar page - no change

On Sun, Jul 2, 2017 at 12:43 PM, yakoub <notifications@github.com> wrote:

[2017-07-02 09:50] navotb commented on #48
if works on chrome, not on firefox

On Sun, Jul 2, 2017 at 12:47 PM, Navot <navotb@gmail.com> wrote:

[2017-07-02 09:53] navotb commented on #48
NO!! the problem is that it works for signed-in user.

But anonymous user get the distorted page on both browsers.

On Sun, Jul 2, 2017 at 12:50 PM, Navot <navotb@gmail.com> wrote:

[2017-07-02 10:04] yakoub commented on #48
i checked it using anonymous and in both browser and it is fine .
@reasonat can you check as well please ?

[2017-07-02 10:05] bruria1 commented on #228
איך התצוגה אמורה להיראות? כמו הלוגויים למטה? רשימה של כל הלוגויים ובמובייל גלריה?

[2017-07-02 10:13] bruria1 commented on #228
בינתיים אתם יכולים לראות איך זה עובד בסוג תוכן סרט באתר פיתוח

[2017-07-02 10:16] navotb commented on #48
It works now.
15-17 sec per pageload.
On dev site it takes 7-8 seconds.
Do you know what makes the difference?

On Sun, Jul 2, 2017 at 1:04 PM, yakoub <notifications@github.com> wrote:

[2017-07-02 11:14] JerusalemCinematheque commented on #228
נוצרה איזו שגיאה אחרי שהוספתי את הלוגואים
![image](https://user-images.githubusercontent.com/26960693/27769365-9ce3b844-5f30-11e7-96ed-c2f86f436049.png)

http://dev.jff.reasonat.com/he/movie/8523

[2017-07-02 11:15] JerusalemCinematheque commented on #228
אני מתנצלת, עכשיו שאני רואה את העמוד נראה יותר נכון שהלוגואים ישבו אחרי הקרדיטים

[2017-07-02 11:18] JerusalemCinematheque commented on #48
still not working for me
Hebrew side uploads properly
but English side is still distorted

[2017-07-02 11:24] bruria1 commented on #228
איך עכשיו?
תבדקי בכל סוגי התוכן שרשמת.
כרגע הלוגויים הם לא גלרייה. האם זה צריך להיות?

[2017-07-02 11:26] bruria1 commented on #243
איזה סוגי קבצים? איך זה צריך להיות מוצג? מספר קבצים בלתי מוגבל?

[2017-07-02 11:31] navotb commented on #243
pdf, docx, xlsx, txt, jpeg וכאלו (gif  וכו')

לא קבצי קוד או קצבים שמפעילים את עצמם איך שהם יורדים, לא קבצי exe או משהו
שיכול להפעיל משהו מאיפשהו.
אפשר להוסיף יותר מקובץ למאמר

On Sun, Jul 2, 2017 at 2:26 PM, Bruria <notifications@github.com> wrote:

[2017-07-02 11:46] JerusalemCinematheque commented on #228
מה הכוונה בגלריה? שבתצוגה ריספונסיבית הם מופיעים כמו סטריפ הלוגואים למטה??

[2017-07-02 11:49] bruria1 commented on #243
הוספתי באתר פיתוח.
ברגע שתאשרו אעלה ללייב.
עדכנו אותי איפה זה צריך להופיע ואיך להראות.
תוכלו לראות דוגמה פה:
http://dev.jer-cin.org.il/en/article/4248

[2017-07-02 11:49] bruria1 commented on #228
האם התצוגה רספוניבית הם צריכים להראות כמו הלוגויים למטה? זאת אומרת עם חיצים בושרה אחת בלבד?

[2017-07-02 11:51] JerusalemCinematheque commented on #228
נראה נהדר בעמוד סרט
אבל, הלוגואים צריכים לעבור גם לעמוד האירוע של הסרט
לדוגמא:
http://dev.jff.reasonat.com/he/event/8818

בעמוד אירוע עם מקבץ - הלוגואים צריכים להופיע לפני פרטי המקבץ, לא אחרי
http://dev.jff.reasonat.com/en/event/8820

בעמוד אירוע עם סרט - הם צריכים להופיע לפני פרטי הסרט
http://dev.jff.reasonat.com/he/event/8806

בעמוד לובי צד עברית - לא רואים את הלוגואים
http://dev.jff.reasonat.co

[2017-07-02 11:53] bruria1 commented on #228
האם התצוגה רספוניבית הם צריכים להראות כמו הלוגויים למטה? זאת אומרת עם חיצים בושרה אחת בלבד?

[2017-07-02 11:54] bruria1 commented on #228
אם כך השדה לא אמור להופיע בעמוד אירוע? כי הלוגויים נלקחים מהסרט?

[2017-07-02 11:56] JerusalemCinematheque commented on #228
כן לריספונסיבי

[2017-07-02 11:57] JerusalemCinematheque commented on #228
השדה כן צריך להיות גם באירוע וגם בסרט
אבל אם לסרט יש לוגואים אז הם צריכים להופיע גם בהופעה שלו בעמוד האירוע בלי קשר ללוגואים שאולי יצורפו לעמוד האירוע

[2017-07-02 12:05] JerusalemCinematheque commented on #243
אחלה
העניין היחיד הוא שזה לא צריך להיות שדה מתורגם
אלא שדה נפרד בעברית ובאנגלית

[2017-07-02 12:43] navotb commented on #48
Yakoub, Amir - how are we proceeding with this? IT is now about 15-17 sec
per click. We would be happy if it could be 10 seconds less. WE must
publish this pages already.

On Sun, Jul 2, 2017 at 2:18 PM, JerusalemCinematheque <
notifications@github.com> wrote:

[2017-07-02 13:00] yakoub commented on #48
לדעתי יש בעית ביצועים כללית ברמת השרת וזה לא תלוי בדפי לוח האירועים .
בכל מקרה בדיקה שלי אני מוצא זמנים 6-7 שניות לכל מעבר בלוח האירועים ואני מצרף צילום מסך שמראה הזמנים ב מילישניות
![screenshot from 2017-07-02 15-54-58](https://user-images.githubusercontent.com/478740/27769987-9704e678-5f3f-11e7-92ab-00d0aaffb6bd.png)

[2017-07-02 13:01] bruria1 commented on #228
1. לגבי עמודי לובי - אם נעשו שינויים בעמוד מבחינת הפאנלים השינוי לא נתפס לכן יש ללכת לעמוד הזה:
http://dev.jff.reasonat.com/he/admin/panopoly/pages
לחפש את העמוד המבוקש ולאפס אותו. ואז הלוגויים יחזרו. אחר כך יש להחזיר אותו לתצוגה הרצויה.
כמובן שיהיה עליכם לעשות זאת בלייב.
השאר עודכן גם במובייל, תעשו בדיקות ותעדכנו אותי.

[2017-07-02 13:04] yakoub commented on #48
אבל יכול להיות כשאנחנו ניגשים לדפים ביחד זמן  התוגבה עולה, כלומר הצילום שאני צירפתי זה עבור מקרה שאני ביקשתי הדפים לבד .

[2017-07-02 13:04] bruria1 commented on #243
זה לא מסתנכרן האחד עם השני.

[2017-07-02 13:06] JerusalemCinematheque commented on #48
אז מה יקרה כשיהיו 100 איש או אפילו יותר שמתסכלים בעמוד בו זמנית?

[2017-07-02 13:08] #239 closed, assigned to bruria1

[2017-07-02 13:14] #193 closed, assigned to bruria1

[2017-07-02 13:19] navotb commented on #48
יעקב בפיירפוקס אתה יכול להקליט מה קורה בדפדפן כשהוא מעבד את התגובה
אני לא יודע איך לשלוח לך את זה
אבל אתה יכול לראות מה אוכל משאבים וזמן ולפי זה אפשר לטייב את התגובה

On Sun, Jul 2, 2017 at 4:06 PM, JerusalemCinematheque <
notifications@github.com> wrote:

[2017-07-02 13:26] yakoub commented on #48
לא צריך לקליט אפשר להבחין בקלות שברגע שהבקשה מהשרת מסתימת אז הדף מתעדכן
אין משהו משמעותי  לשפר בצד של הדפדפן .

[2017-07-02 13:28] reasonat opened #244 "Festival calendar - When switching language remain in the same day"
When user see a date, lets say 19.7, then switch to another language, he should be remain in the same date.

[2017-07-02 13:28] reasonat commented on #234
מה הבעיה עם התצוגה במקבוק? אני גם עם אותו מחשב ולא רואה בעיה.
ובאשר לההערה הראשונה - https://github.com/Reasonat1/Cinema/issues/244

[2017-07-02 13:29] navotb commented on #48
אבל אתה יכול להסתכל על התהליכים ולראות שיש תהליכים שלוקחים הרבה זמן
למשל, יש תהליך שנקרא Paint שיש לפחות 1000 כמוהו, והוא די ארוך בין 5-10 Ms
כל אחד. אם נטייב אותו, או נבין איפה אפשר לקצר אותו, נצליח להוריד את זמן
העבודה של השרת.

2017-07-02 16:26 GMT+03:00 yakoub <notifications@github.com>:

[2017-07-02 13:30] reasonat commented on #176
I cant see this issue again, and 188 waiting for review.
CLosing this one

[2017-07-02 13:30] #176 closed, assigned to bruria1, sato2004

[2017-07-02 13:31] #237 closed, assigned to bruria1

[2017-07-02 13:31] navotb commented on #244
could be great if it will also work for "back" - assume i was on 17/07, i
clicked on a film, go to filmpage, now when i click back (from filmpage to
calendar) i get the first day of the calendar (in mobile anyway)

On Sun, Jul 2, 2017 at 4:28 PM, Amir Taiar <notifications@github.com> wrote:

[2017-07-02 13:33] JerusalemCinematheque commented on #234
לדוגמא ב-19.7
אולם יס פלאנט חתוך וגם הקוביות מתחתיו
והכיתוב לאולמות נוספים יושב על האולם

![image](https://user-images.githubusercontent.com/26960693/27770270-18a47dac-5f44-11e7-8a91-65599548b06d.png)

[2017-07-02 13:34] #118 closed, assigned to sato2004

[2017-07-02 13:35] JerusalemCinematheque commented on #228
לאפס אותו זה אומר ללחוץ על "שחזר"?
ונצטרך לעשות את זה לכל עמוד לובי?

[2017-07-02 13:37] JerusalemCinematheque commented on #228
?וזה נכון גם למקרה הזה
http://dev.jff.reasonat.com/he/event/8818

[2017-07-02 13:43] reasonat commented on #234
Approve @bruria1

[2017-07-02 13:48] reasonat commented on #192
Search page >> Festival
If current festival chacked user will see only current festival nodes will be displayed.

**Archive**
When festival term has passed, add to all nodes linked to term -
Festival term and Lobby term as tags

[2017-07-02 13:49] JerusalemCinematheque commented on #228
בעמוד אירוע עם מקבץ - צריך לרווח בין איזור הלוגואים לפרטי המקבץ.
http://dev.jff.reasonat.com/en/event/8820

בעמוד אירוע עם סרט - צריך לרווח בין איזור הלוגואים לפרטי הסרט
http://dev.jff.reasonat.com/he/event/8806

בעמוד לובי צד אנגלית - אפשר להוסיף עוד קצת רווח בין הטקסט ללוגואים
http://dev.jff.reasonat.com/en/lobby/5-days-june

[2017-07-02 13:56] JerusalemCinematheque commented on #243
אוקיי

[2017-07-02 13:57] navotb commented on #192
To answer the question of how to manifest the fact that a films was part
(in the past) in a festival. Instead of adding this to the credits of the
film, we suggest to add it to the "tags" of the film: one tag as the
festival "edition" (click will lead to the festival archive page) and one
of the lobby(ies) of the film (click will lead to the archive lobby page)
what to do you think?

On Sun, Jul 2

[2017-07-02 14:00] JerusalemCinematheque commented on #192
אמיר, האם אפשר לפחות בינתיים להפעיל את מנגנון החיפוש בצד עברית?
בצד אנגלית ניתן לעשות חיפוש, אומנם בלי הסינון בהתכתבות פה, אבל בצד עברית לא ניתן לחפש סרטים בכלל

[2017-07-02 14:03] navotb commented on #48
הי
מה זה התהליך הזה paint שמתרחש המון זמן המון המון פעמים והתיעוד שלו הוא כזה

"end": 6525.103441949934,
      "endStack": null,
      "isOffMainThread": false,
      "name": "Paint",
      "processType": 0,
          "width": 39,
      "rectangles": [
        {
          "height": 39,
          "y": 304
          "x": 759,

2017-07-02 16:19 GMT+03:00 Navot <navotb@gmail.com>:

[2017-07-02 14:05] reasonat opened #245 ""No page" error after node update"
There is a no page error after updating nodes.
Example:
http://dev.jff.org.il/he/node/1006/edit

**Cant approve on:**
Movie, event (Even when importing from Toptix), Movie group.
Please provide step by step examples when happen.

[2017-07-02 14:06] reasonat commented on #186
לא הצלחתי לשכפל למעט איש.
ולכן פתחתי על זה קריאה אחרת ואת זו סוגר.
אם יש מקרים בהם זה קורה אנא הגיבו שם.
https://github.com/Reasonat1/Cinema/issues/245

[2017-07-02 14:06] #186 closed, assigned to yakoub

[2017-07-02 14:12] JerusalemCinematheque commented on #186
מתוך עמוד ניהול אירועים לחצנו על עדכן אירוע
http://dev.jff.reasonat.com/he/event/8818
ייבאנו את ההקרנה מטופטיקס
לחצנו שמור
וקיבלנו את ההודעה
![image](https://user-images.githubusercontent.com/26960693/27770567-87aa4cc2-5f49-11e7-8798-21c3077a89b5.png)

[2017-07-02 14:12] JerusalemCinematheque commented on #245
מתוך עמוד ניהול אירועים לחצנו על עדכן אירוע
http://dev.jff.reasonat.com/he/event/8818
ייבאנו את ההקרנה מטופטיקס
לחצנו שמור
וקיבלנו את ההודעה
![image](https://user-images.githubusercontent.com/26960693/27770567-87aa4cc2-5f49-11e7-8798-21c3077a89b5.png)

[2017-07-02 14:17] JerusalemCinematheque commented on #228
עוד שני דברים
בעמוד האירוע עם סרט שיש לו לוגואיים, הלוגואיים צריכים להופיע כפי שהם מופיעים בעמוד הסרט, אחרי הקרדיטים
עמוד הסרט
http://dev.jff.reasonat.com/en/movie/8524
עמוד האירוע
http://dev.jff.reasonat.com/en/event/8819

דבר שני, שאני לא יודעת אם זה קשור ולא יודעת אם זה קשור לזה שמדובר על סביבת עבודה,
אבל משהו השתבש עם התצוגה של שדה "תרגום" בעמוד הסרט ובעמוד האירוע
בצד אנגלית חזרה המילה
subtitl

[2017-07-02 14:48] navotb commented on #48
Yakoub, Amir

Please record the upload of the page through Chrome console.

It seems there is a lot of time that is being wasted on the preparation
side of the graphic processes and idle activity. Can you please have a look
and suggest how can we eliminate it? is not there a way to cache this data
and just send it as a file to the browser, instead of rearrange it with
each click?

Thank you,
Navot

[2017-07-02 20:19] #243 closed, assigned to bruria1

[2017-07-02 20:24] reasonat commented on #112
@bruria1 Since on https://github.com/Reasonat1/Cinema/issues/228 we are dealing with embeding the logos block into nodes and lobby, here lets bring the focus back on the simple task which I guess already done:
- Adding image using wysiwyg

[2017-07-02 20:29] reasonat commented on #158
משהו השתבש עם התצוגה של שדה "תרגום" בעמוד הסרט ובעמוד האירוע
בצד אנגלית חזרה המילה
subtitles
ובצד עברית כתוב
תרגום ל|תרגום לעברית
במקום רק תרגום לעברית

[2017-07-02 20:29] reasonat commented on #228
As for the second comment - I reopen this one - https://github.com/Reasonat1/Cinema/issues/158

[2017-07-02 21:01] #210 closed, assigned to bruria1

[2017-07-02 21:02] #62 closed

[2017-07-03 05:21] bruria1 commented on #234
@reasonat כדאי שאלכס יסתכל על זה. הוא יודע מה הולך שם. זה פחות עניין של עיצוב אלא יותר של הקוד שנכתב שם ממה שאני יודעת.

[2017-07-03 05:25] bruria1 commented on #228
לאפס אותו זה אומר ללחוץ על "שחזר"?
ונצטרך לעשות את זה לכל עמוד לובי?
כן. תצטרכו לעשות את זה לכל עמוד שתרצו שהלוגויים יתווספו ולאחר מכן לעדכן את העמוד לתצוגה שאתם רוצים.

[2017-07-03 05:25] bruria1 commented on #228
?וזה נכון גם למקרה הזה
http://dev.jff.reasonat.com/he/event/8818
לא. זה אירוע. מה הבעיה פה?

[2017-07-03 05:48] bruria1 commented on #228
שאר הדברים נעשו. אנא בדקו.

[2017-07-03 05:55] reasonat commented on #192
אנא מכם, אל תערבבו דיונים בדיונים, דברים נופלים בין הכסאות וגם כך יש לא מעט משימות ותגובות לנהל.
את הדיון על החיפוש עצמו ובעיות שהעלתם מעביר לפה - https://github.com/Reasonat1/Cinema/issues/191
את הדיון על כיצד לסמן סרט הקשור במהדורה יש לקיים פה - https://github.com/Reasonat1/Cinema/issues/190

לעניינו אני חוזר על השאלות:
1. אם ברירת המחדל בתוצאות החיפוש היא שהפסטיבל הנוכחי מסומן, לא יהיו תוצאות ש

[2017-07-03 05:56] sato2004 commented on #242
I don't see a problem
![sold_out](https://user-images.githubusercontent.com/15141149/27779673-4a2f5098-5fcd-11e7-89d9-a0bcee0cbd51.PNG)
It seems it is a cache issue.

[2017-07-03 05:56] reasonat commented on #191
@JerusalemCinematheque you mention here https://github.com/Reasonat1/Cinema/issues/192#issuecomment-312493594 search isn't working in Hebrew? I can't see this issue.

[2017-07-03 05:57] bruria1 commented on #241
עודכן

[2017-07-03 05:58] bruria1 commented on #240
@sato2004

[2017-07-03 06:00] bruria1 commented on #238
לא הבנתי כנראה..
אם אני מחפשת אותו פה:
http://jer-cin.org.il/he/admin/events-manager
הוא מופיע..

[2017-07-03 06:01] reasonat commented on #234
@sato2004 Please have a look

[2017-07-03 06:10] reasonat commented on #221
יש דיון על הווידג׳ט בטופס ההוספה של נוד
ופה זה דיון על הצגת כותרת לובי בעמודי הניהול.

[2017-07-03 06:10] bruria1 commented on #112
@reasonat האם יש בעיה עם זה? עם העורך הקודם היתה בעיה אבל כעת נראה ליזה עובד מצויין.
http://dev.jff.reasonat.com/en/movie/8524

[2017-07-03 06:23] reasonat opened #246 "performance issues"
[https://www.wrike.com/open.htm?id=142672742https://www.wrike.com/open.htm?id=142672742](https://www.wrike.com/open.htm?id=142672742)
https://www.wrike.com/open.htm?id=142672742

[2017-07-03 06:23] reasonat commented on #169
This is a related issue - https://github.com/Reasonat1/Cinema/issues/192
Yet this one deals with another aspect.
@yakoub Please explain again

[2017-07-03 06:51] navotb commented on #48
איפה אנחנו עומדים עם הנושא של לוח השנה? זה הדבר הכי דחוף כרגע מהבחינה שלנו.

On Sun, Jul 2, 2017 at 5:48 PM, Navot <navotb@gmail.com> wrote:

[2017-07-03 06:57] JerusalemCinematheque commented on #158
this is on the DEV site
http://dev.jff.reasonat.com/he/movie/8523

http://dev.jff.reasonat.com/en/movie/8524

And it happened after we added the logos

We still see the issue here

[2017-07-03 07:05] JerusalemCinematheque commented on #228
בעמוד אירוע עם מקבץ - צריך לרווח בין איזור הלוגואים לפרטי המקבץ. - אפשר עוד לרווח כמו הריווח בעליון שיש בעמוד לובי
http://dev.jff.reasonat.com/en/event/8820

בעמוד אירוע עם סרט - צריך לרווח בין איזור הלוגואים לפרטי הסרט - אפשר עוד לרווח כמו הריווח בעליון שיש בעמוד לובי
http://dev.jff.reasonat.com/he/event/8806

לאפס אותו זה אומר ללחוץ על "שחזר"?
ונצטרך לעשות את זה לכל עמוד לובי?
כן. תצטרכו לעשות א

[2017-07-03 07:06] yakoub commented on #48
i am currently working on #158 and not this .

i'll switch to this around 11:00 .

[2017-07-03 07:09] bruria1 commented on #141
האם זה עדיין קורה? מבדיקה שלי זה עובד טוב כעת.

[2017-07-03 07:16] JerusalemCinematheque commented on #228
תצוגה ריספונסיבית
עמודי סרטים אירועים מאמרים - הגלרייה לא פרוסה לכל רוחב המסך מה שיוצר תצוגה משובשת
![image](https://user-images.githubusercontent.com/26960693/27781607-538a1efc-5fd7-11e7-92d8-e31c904a5942.png)

![image](https://user-images.githubusercontent.com/26960693/27781872-b9ec108c-5fd8-11e7-8b3e-612bf1d305cd.png)

עמוד לובי - הלוגואים לא נכנסים נכון לתוך תצוגת גלרייה וחסרים חצי המעבר
![ima

[2017-07-03 07:18] JerusalemCinematheque commented on #242
site cache issue?

[2017-07-03 07:23] JerusalemCinematheque commented on #191
for example
this film http://jff.org.il/he/movie/9396
can't be found when searching in hebrew
here are the search results
http://jff.org.il/he/search/results/%D7%94%D7%A4%D7%99%D7%AA%D7%95%D7%99

when searching on english side, item is found
http://jff.org.il/en/search/results/The%20Beguiled

[2017-07-03 07:24] JerusalemCinematheque commented on #241
ok

[2017-07-03 07:25] sato2004 commented on #234
Fixed on dev site

[2017-07-03 07:29] JerusalemCinematheque commented on #238
אני מחפשת אירוע שנקרא סרט הפתעה
יש ארבעה אירועים כאלו
ולא מקבלת שום תוצאות חיפוש

[2017-07-03 07:34] JerusalemCinematheque commented on #141
עובד בסדר גמור עכשיו

[2017-07-03 07:37] JerusalemCinematheque commented on #234
ok

[2017-07-03 07:41] JerusalemCinematheque opened #247 "article - responsive view hebrew side"
@bruria1
בעמוד מאמר בתצוגה ריספונסיבית בצד עברית, קווי בגריד קצת השתבשו והטקסט נצמד לקצה המסך
![image](https://user-images.githubusercontent.com/26960693/27782676-2214bcba-5fdc-11e7-904c-902b1d121d59.png)

[2017-07-03 07:44] yakoub commented on #158
@JerusalemCinematheque problem fixed .

[2017-07-03 07:45] JerusalemCinematheque commented on #158
great

[2017-07-03 07:53] bruria1 commented on #228
בדקו כעת.
לגבי איפוס עמוד הלוגויים. בצעו את החיפוש עם החיפוש של הדפדפן יש שם בסך הכל שני עמודים. וזה משהו חד פעמי

[2017-07-03 07:54] navotb commented on #228
עכשיו יש שני עמודים. עוד חצי שנה יהיו 10 עמודים.

2017-07-03 10:53 GMT+03:00 Bruria <notifications@github.com>:

[2017-07-03 07:55] sato2004 commented on #240
fixed on the dev site

[2017-07-03 07:56] bruria1 commented on #156
זו הבעיה היחידה?
כי אם כך אפשר לעשות זאת עם שדה פשוט בעמודי לובי.
@reasonat ?

[2017-07-03 08:04] bruria1 commented on #238
לבדיקה

[2017-07-03 08:04] JerusalemCinematheque commented on #228
אוקיי לכל ענייני תצוגת הלוגואים
ברוריה תוכלי בבקשה לעדכן אותנו כשזה באתר החי?
תודה

[2017-07-03 08:05] bruria1 commented on #228
לגבי השחזור של עמודי הלובי זה משהו חד פעמי שאתם צריכים לעשות. כל להלוביים החדשים לא תהיה בעיה

[2017-07-03 08:07] JerusalemCinematheque commented on #156
מה זה אומר שדה פשוט?
כמו הצ'ק בוקס שיש בקרדיטים בעמוד סרט
הצג בצד סינמטק
הצג בצד פסטיבל

[2017-07-03 08:08] JerusalemCinematheque commented on #238
אחלה

[2017-07-03 08:16] bruria1 commented on #156
כן

[2017-07-03 08:19] bruria1 commented on #247
סודר באתר פיתוח
עוד מעט מעדכנים את הלייב

[2017-07-03 08:37] navotb commented on #227
It still happens in this scenario
Back office Hebrew side>
Films Management Page>
Search for English Title
Click Edit
Go to Credits Tab
All credits are with same profession
Click Back in order not to Save

On Wed, Jun 28, 2017 at 5:51 PM, Alexander Voloshenko <
notifications@github.com> wrote:

[2017-07-03 08:48] reasonat opened #248 "features update"

[2017-07-03 09:10] yakoub commented on #169
@reasonat explain what ?

[2017-07-03 10:22] reasonat commented on #227
אבל למה לעשות הפוך ממה שהמערכת צריכה לעשות?
למה להיכנס לעמוד אנגלית דרך ממשק העריכה בעברית?
למה לא להיכנס לעמודי האנגלית דרך ניהול האנגלית?

[2017-07-03 10:26] #158 closed, assigned to bruria1

[2017-07-03 10:26] #234 closed, assigned to bruria1, sato2004

[2017-07-03 10:27] navotb commented on #227
למה הפוך? זה לא ממשק עריכה. זה ממשק חיפוש. אני יכול למצוא את כל הנודים -
בעברית ובאנגלית. ומכאן אני יכול להכנס לכל אחד מהם ולטפל בו. זו צריכה להיות
המטרה של ממשק הניהול - שהוא אוניברסלי ולא תלוי שפה.

2017-07-03 13:22 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-07-03 10:28] navotb commented on #48
Yakoub, any news regarding this issue?
Thank you

On Mon, Jul 3, 2017 at 10:06 AM, yakoub <notifications@github.com> wrote:

[2017-07-03 11:06] sato2004 commented on #244
fixed on the dev site

[2017-07-03 11:20] yakoub commented on #48
i was preoccupied with other issue regarding synchronizing configuration between live site and dev site because the operation was too heavy and causing server failures .

what i plan about this issue is to optimize the sql query, but it won't be done until the end of the day .
i will update you once i make progress .

[2017-07-03 11:30] bruria1 commented on #228
מעודכן בלייב. עדכנו שזה בסדר.

[2017-07-03 11:30] yakoub commented on #48
i don't know how to explain, in the morning admin configuration operation kept crashing database .
but now the operations got completed smoothly, so i'm free to return to this issue .

[2017-07-03 11:33] navotb commented on #48
Great Yakoub. We really have to publish the calendar already. If it is
possible to have it done today, it will be great.

Thank you!

On Mon, Jul 3, 2017 at 2:30 PM, yakoub <notifications@github.com> wrote:

[2017-07-03 11:38] reasonat commented on #248
➤ yakoub abaya commented:

server database kept crashing in the morning and that made this task take lot of time .
but in the afternoon i was able to perform feature revert at live website smoothly whithout database creashes .

[2017-07-03 11:59] #141 closed, assigned to bruria1

[2017-07-03 12:32] reasonat commented on #227
אני יכול למצוא עוד המון מטרות לממשק ניהול, זה לא העניין.
הליבה של דרופל עובדת באופן כזה שאם אתה עמוד עברית >> ממשקי ניהול >> עריכה  >> אתה נשאר בשפה למרות שזה נוד בשפה אחרת. זה הגיוני כמובן
אלא שבמקרה שלנו יש לזה מחיר.

[2017-07-03 12:32] JerusalemCinematheque opened #249 "add pagination to lobby pages"
@reasonat
נשמח אם יהיה אפשר להוסיף פג'ינציה לעמודי הלובי
בעמוד כמו זה שיש בו רשומות רבות זמן הטעינה ארוך מידי
http://jff.org.il/en/lobby/z
אם אנחנו יכולים לשלוט במספר התוצאות בכל עמוד מעולה, אם לא האם  נוכל לקבוע 25 תוצאות בכל עמוד?

[2017-07-03 12:33] reasonat commented on #169
This comment isn't clear
https://github.com/Reasonat1/Cinema/issues/169#issuecomment-307835857

[2017-07-03 12:35] navotb commented on #227
אז תכלס אתה אומר לא להכנס לנוד ממשק בשפה ההפוכה אלא אם עוברים דרך ממשק
התרגום?

2017-07-03 15:32 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-07-03 12:59] JerusalemCinematheque opened #250 "lobby title attached to film / event does not appear on film / event page frontend"
@reasonat
הלוביים אליהם מקושרים הסרטים לא מופיעים בפרונטאנד של הסרטים או האירועים של הסרטים
לדוגמא
http://jff.org.il/en/movie/9944
שמקושר ללובי
international competition

[2017-07-03 13:02] JerusalemCinematheque opened #251 "HOME PAGE - event title does not appear when event is attached to gallery view"
@bruria1
משום מה נעלמה הכותרת של האירוע הזה
http://jer-cin.org.il/he/event/7549
בתצוגה של האירוע בעמוד הבית בחלק של הגלריה
עד אתמול זה הופיע

[2017-07-03 13:04] JerusalemCinematheque commented on #250
זה נכון גם לגבי אירועים שמקשורים ללובי
כמו זה
http://jer-cin.org.il/he/event/7527
שמקושר ללובי "חגיגת קולנוע לילדים יוני 2017"

[2017-07-03 13:27] JerusalemCinematheque opened #252 "home page - grid view - home page text cut when there is a video button"
@bruria1
בעמוד הבית של הפסטיבל בצד עברית
בתצוגת הגריד הטקסט אקסטרה של האייטמים מופיע על כפתור הוידאו
האם אפשר לקבוע שהחיתוך לשורה השנייה של הטקסט יתאים למיקום של כפתור הוידאו?

[2017-07-03 13:44] JerusalemCinematheque commented on #228
נראה שעבר לכל סוגי התוכן חוץ מעמוד לובי

[2017-07-03 13:47] JerusalemCinematheque commented on #240
i hope it's okay
it's difficult to check as this doesn't happen all the time

[2017-07-03 13:50] JerusalemCinematheque commented on #244
okay on dev site

[2017-07-03 13:51] JerusalemCinematheque commented on #247
ok

[2017-07-03 13:57] JerusalemCinematheque commented on #136
ok

[2017-07-03 14:03] JerusalemCinematheque commented on #230
אוקיי לחצים
נושא חדש
בשורת ההקרנה של המקבץ בריספונסיבי אין את פרטי המועד (יום ותאריך) וכפתור שלח לקלנדר שלי
בנוסף חסרי כפתורי השיתוף

![image](https://user-images.githubusercontent.com/26960693/27796070-577a2fa4-6011-11e7-9fcc-f6b4a0e8d36c.png)

[2017-07-03 14:05] JerusalemCinematheque commented on #230
בעמוד האירוע של המקבץ שמות הסרטים זזים ימינה בצד עברית
![image](https://user-images.githubusercontent.com/26960693/27796181-c1179a5a-6011-11e7-92df-8f5012ccfd6e.png)

[2017-07-03 14:06] JerusalemCinematheque commented on #219
ok

[2017-07-03 14:08] JerusalemCinematheque commented on #204
ok

[2017-07-03 14:09] JerusalemCinematheque commented on #198
כמובן שברגע שהם מפורסמים הם מפורסמים גם בעמוד הסרט כן?

[2017-07-03 14:47] JerusalemCinematheque commented on #240
we checked again and problem seems to be now that the days jump and then go back to their place
also at times days get stuck - when pressing to select a different day, it shows the "loading", but the day does not appear
a video of the days getting stuck
https://www.youtube.com/watch?v=pmUrpTP4mcQ

[2017-07-03 15:34] JerusalemCinematheque opened #253 "front page - grid view - does not show next screening date for movie"
@bruria1
הוספנו בפרונט פייג' הזה
http://jff.org.il/he/10703

סרט בתצוגת גריד
http://jff.org.il/he/movie/10694

לסרט יש שתי הקרנות, אבל בתצוגה רואים רק את שם הסרט ללא המועד

[2017-07-03 16:18] navotb commented on #48
Yakoub, any progress?
We have to update our bosses everyday what is the status of this. We are in
the middle of tickets sale and this is quite important feature for us.

Thank you for your understanding
Navot

On Mon, Jul 3, 2017 at 2:32 PM, Navot <navotb@gmail.com> wrote:

[2017-07-03 19:07] JerusalemCinematheque opened #254 "front page - wide list view - event item - film synopsis missing"
@bruria1
http://jff.org.il/he/10705
 ביקשתי לקשר בעמוד פרונט פייג׳ אירוע עם סרט (האייטם האחרון בעמוד)
התמונה, כותרת, לידינג קרדיט טקסט ואורך מופיעים
אבל התקציר המקוצר של הסרט לא מופיע
מדובר על סרט שיש לו תקציר בשדות תקציר פסטיבל מקוצר

האירוע עצמו כרגע לא מפורסם. אבל עשיתי בדיקה גם כשהאירוע היה לפרסום וגם אז התקציר לא הופיע

[2017-07-04 05:11] yakoub commented on #48
i am deeply sorry i couldn't continue work on this yesterday, something urgent came up in my personal life .

i noticed dev environment have much better response time, so now i am creating staging environment to copy live site and work on it without loosing current state on dev .

i still encounter server issues and i contacted eurovps support again .

[2017-07-04 05:13] yakoub commented on #169
correction : "and new table column should show each content domain name"

so again, the link in each row should already have the correct domain when generated and not relative path to current domain .
and we need to add new column to the table that says each content which domain it belongs to .

[2017-07-04 05:18] bruria1 commented on #228
לבדיקה

[2017-07-04 05:47] navotb commented on #48
Yakoub please remember that dev site has much fewer events in calendar.

On Jul 4, 2017 8:11 AM, "yakoub" <notifications@github.com> wrote:

[2017-07-04 06:31] bruria1 commented on #230
לבדיקה.
ההערה השניה תוקנה כרגע רק בדב.

[2017-07-04 06:34] yakoub commented on #48
yes that is why i wanted to create staging environment .
but also i discovered that live website database had problem with table cache_form reaching size 14G which is huge and probably responsible server and performance problems .

now i cleared that table and will continue to investigate

[2017-07-04 07:12] bruria1 commented on #251
עודכן באתר פיתוח

[2017-07-04 07:14] bruria1 commented on #198
נכון

[2017-07-04 07:14] JerusalemCinematheque commented on #230
ok

[2017-07-04 07:20] JerusalemCinematheque commented on #228
ok

[2017-07-04 07:23] bruria1 commented on #252
עודכן באתר פיתוח

[2017-07-04 07:24] JerusalemCinematheque commented on #228
http://jff.org.il/en/lobby/jewish-experience
הלוגואים שהוספתי בצד העברית של עמוד זה לא מוצגים בצד אנגלית

הלכתי לעמוד הזה כדי לעשות שחזור
http://jff.org.il/en/admin/panopoly/pages?page=1
אבל אני לא מוצאת את הלובי הזה שם

[2017-07-04 07:26] JerusalemCinematheque commented on #251
ok

[2017-07-04 07:28] bruria1 commented on #228
שכחתי לגרום לכך שזה יעודכן בשמירה. כעת זה טוב.

[2017-07-04 07:29] navotb commented on #48
Yakoub,
Thank you very much.
Our top priority is the Calendar, we just can not wait with it any longer
as it effects the festival's performance.
We really need it to be corrected and published soon.

Please let us know if it is possible to both finish the calendar and
monitor the server on the same time.

Thank you,
Navot

On Tue, Jul 4, 2017 at 9:34 AM, yakoub <notifications@github.com> wrote:

[2017-07-04 07:30] JerusalemCinematheque commented on #228
אוקיי
בתצוגה הריספונסיבית של הלובי הלוגואים לא שומרים על המרווח ביניהם
![image](https://user-images.githubusercontent.com/26960693/27819635-d020dd3a-60a3-11e7-8fbb-8b2f90ecf62e.png)

[2017-07-04 07:33] JerusalemCinematheque commented on #252
ok

[2017-07-04 07:34] JerusalemCinematheque commented on #250
@reasonat @bruria1
נשמח אם יהיה אפשר לתת לזה פוש קדימה
תודה רבה

[2017-07-04 07:42] bruria1 commented on #253
הוגדר שם שרק אם מסומן:
 Include Ticket Sale?
אז מופיעה פרטי ההקרנה בעמוד הבית
הורדתי את התנאי הזה באתר פיתוח

[2017-07-04 07:44] bruria1 commented on #228
צריך לרענן את העמוד. זה לא מתעדכן בהקטנת המסך

[2017-07-04 07:50] JerusalemCinematheque commented on #253
ok

[2017-07-04 07:51] yakoub commented on #48
currently the cleared cache_form content and it is not urgent to solve its problem, i'll return to it latter to prevent it getting large once again .
now i create staging environment and will try to solve the calendar problem .
i don't think i will have solution before 14:00 .

[2017-07-04 08:00] navotb commented on #48
Ok, So please update us on 14:00 about the situation with the Calendar.
Thank you very much
Navot

On Tue, Jul 4, 2017 at 10:51 AM, yakoub <notifications@github.com> wrote:

[2017-07-04 08:48] bruria1 commented on #250
לבדיקה

[2017-07-04 08:50] JerusalemCinematheque commented on #250
מעולה
תודה

[2017-07-04 11:10] bruria1 commented on #254
עודכן באתר פיתוח

[2017-07-04 11:23] navotb commented on #48
Yakoub,
Is there a light at the end of this tunnel already?

On Tue, Jul 4, 2017 at 11:00 AM, Navot <navotb@gmail.com> wrote:

[2017-07-04 11:31] JerusalemCinematheque commented on #254
ok

[2017-07-04 11:35] yakoub commented on #48
i tried eliminating some components of the page and query but didn't observe performance improvement .
i suspect i can't observe it because there is general performance load on the server .
so i want to try and copy the website to our server and test it there in isolated environment .

[2017-07-04 11:40] bruria1 commented on #254
הכל עודכן גם באתר לייב

[2017-07-04 12:03] navotb commented on #48
@reasonat @bruria

Ok, so until there is a solution for this problem, would it be possible to
use the mobile calendar on desktop.

The only needed adjustment at the moment is to change the column width to
650-750 pixels, while keeping the day pager on top as is.

On Tue, Jul 4, 2017 at 2:35 PM, yakoub <notifications@github.com> wrote:

[2017-07-04 12:45] navotb commented on #48
Yakoub, if it is the Cache Form problem, could it be because we have
sign-in form in the footer of the website?
So every time a page is loaded a form is created?

On Tue, Jul 4, 2017 at 3:03 PM, Navot <navotb@gmail.com> wrote:

[2017-07-04 12:54] yakoub commented on #48
no, it shouldn't be a problem to present forms on homepage .

i discovered that the new server you moved to didn't have cron configuration, while the cron job is what is supposed to clean that table periodically .
so now i configured cron to run twice a day .

anyway now the table is much smaller around 200M, but it is still the biggest table .
i will investigate it more latter on .

[2017-07-04 12:55] navotb commented on #48
Ok. So let's try to see whats make the problem with the calendar. IF there
is anything we can do to help with the solution - let us know.

On Tue, Jul 4, 2017 at 3:54 PM, yakoub <notifications@github.com> wrote:

[2017-07-04 14:45] navotb commented on #48
Yakoub, any progress with this? Thank you!

On Tue, Jul 4, 2017 at 3:55 PM, Navot <navotb@gmail.com> wrote:

[2017-07-04 15:08] yakoub commented on #48
i copied the website to our server and tried to strip the view of its components one by one but there is no improvement .
next i can try to build a new minimalist page from scratch similar to the calendar and see how it performs and its ajax response time (edited)

it should take 2 hours max i think .
if that page performs considerably better, then we can make the calendar work .
but if it doesn't

[2017-07-04 15:15] navotb commented on #48
OK, so let's try it.
On the copied site- do you have logs of performance that can hint where is
the problem?

On Tue, Jul 4, 2017 at 6:08 PM, yakoub <notifications@github.com> wrote:

[2017-07-04 15:26] yakoub commented on #48
currently i disabled the logs on live site because it may cause greater performance penalty .
i'll enable it on my local computer and see what i can find .

[2017-07-04 15:27] yakoub commented on #48
but last log file from live site showed slow queries for captcha and cache_form tables and some other queries related to site content .

[2017-07-04 15:40] navotb commented on #48
But when you copies the website - you can check the logs over copied site.

On Tue, Jul 4, 2017 at 6:27 PM, yakoub <notifications@github.com> wrote:

[2017-07-04 15:44] yakoub commented on #48
i copied it to our production server which hosts many other site, and i can't enable the logs only for specific website .

[2017-07-04 15:48] navotb commented on #48
Ok. So what can we do to make progress here? We really need to correct this
problem and have a functioning calendar. Do you have any clue if it is
query? Graphics? javascripts?

On Tue, Jul 4, 2017 at 6:44 PM, yakoub <notifications@github.com> wrote:

[2017-07-04 15:56] JerusalemCinematheque opened #255 "intermediate solution to calendar issue"
@reasonat @bruria1
 פותחת טיקט חדש ומעתיקה לכאן את הבקשה שלנו מ #48

Ok, so until there is a solution for calendar problem, would it be possible to
use the mobile calendar on desktop.

The only needed adjustment at the moment is to change the column width to
650-750 pixels, while keeping the day pager on top as is.

[2017-07-04 16:13] yakoub commented on #48
i think it is most probably query, but :
i can try to build a new minimalist page from scratch similar to the calendar and see how it performs and its ajax response time, with minimalist page i can identify problems easier .

[2017-07-04 16:16] navotb commented on #48
Ok. I really want to this solved, if this is the best way- than go on. Is
not there a tool that can tell you which process is taking most of the time
and resources?

On Tue, Jul 4, 2017 at 7:13 PM, yakoub <notifications@github.com> wrote:

[2017-07-04 16:29] navotb commented on #48
Anyway, lets be in touch later the evening to see where we are standing
with it. Thank you. Navot

On Tue, Jul 4, 2017 at 7:16 PM, Navot <navotb@gmail.com> wrote:

[2017-07-04 16:45] navotb commented on #48
Yakoub, does the mobile calendar is using the same query? Because I have a
feeling it is performing a little faster in the query process.

On Tue, Jul 4, 2017 at 7:29 PM, Navot <navotb@gmail.com> wrote:

[2017-07-04 20:48] yakoub commented on #48
i created this new page : http://jff.org.il/he/slim-calendar
it has response time around 2 seconds .
i couldn't figure out the problem with current calendar page .
how about we get a functional calendar that works instead of all the fancy UI in current calendar ?

i'm not saying the fancy UI is causing the drop in performance at all, just that if we want to use the new calendar we won't have time

[2017-07-05 03:58] navotb commented on #48
Hi Yakoub,

Thank you for the efforts. It does runs the query and load this page much
faster.

Still we need some kind of a UI

(1) to have different page for Hebrew and English
(2) to navigate between the different days of the calendar, and show only
available days
(3) to represent each hall as a column, to keep the order of the halls
according to the hall hierarchy in the halls taxonomy table
(4

[2017-07-05 05:30] sato2004 commented on #191
fixed

[2017-07-05 06:52] yakoub commented on #48
first three items are easy .
for (4) i can add data but i don't know what is "screening code"
as for "add to my .." if it was implemented using standard flags then no problem .
(5) not problem either .

i can't use existing UI code myself because it was done by alex and bruria,
but after i finish the basic html and design, they might be able to adapt their code .

i estimate 6-8 hours to finish th

[2017-07-05 08:48] reasonat commented on #191
@navotb @JerusalemCinematheque to QA this I need movie which also (And for current one) refer to old festival term. Is there any?

[2017-07-05 08:49] reasonat commented on #255
Closing this issue and focus on 48. No need for another one.

[2017-07-05 08:49] #255 closed, assigned to nobody

[2017-07-05 08:50] #254 closed, assigned to bruria1

[2017-07-05 08:51] #250 closed, assigned to bruria1

[2017-07-05 08:58] JerusalemCinematheque commented on #191
I'm sorry i don't understand the question
you need a movie that is in this festival and was also in a past festival?

[2017-07-05 12:42] JerusalemCinematheque opened #256 "festival dedicated menu - calendar link - desktop / mobile"
@bruria1
ברוריה את זוכרת שבאחד הדיונים שלנו אמרת שכשנעלה את קלנדר הפסטיבל יהיו למעשה שני קישורים
אחד לדסקטופ ואחד למובייל
וכשגולשים במובייל הלינק של הדסקטופ יהיה מוחבא וההפך?
בתפריט הראשי אין בעיה
אבל במגה תפריט נשמח אם יהיה אפשר לעשות את הפעולה הזו
קראנו לקישור בעברית
לוח הקרנות
ובאנגלית
schedule

[2017-07-05 12:46] reasonat opened #257 "Fesitival calendar - Hebrew - Add to calendar and Ticket issues"
Hebrew Festival calendar
Add to calendar is missing from the display.
Ticket buttons arn't working.

[2017-07-05 12:54] JerusalemCinematheque opened #258 "festival calendar notes don't appear on the calendar page"
@reasonat @bruria1
הכנו את הקלדנר נוט הזה ל-13.7.17
http://www.jff.org.il/he/node/10730/edit

אבל התכנים לא מופיעים בקלנדר עצמו

[2017-07-05 13:01] reasonat commented on #191
Yes

[2017-07-05 13:01] #253 closed, assigned to bruria1

[2017-07-05 13:02] #252 closed, assigned to bruria1

[2017-07-05 13:03] #251 closed, assigned to bruria1

[2017-07-05 13:03] #230 closed, assigned to bruria1

[2017-07-05 13:04] #198 closed, assigned to bruria1

[2017-07-05 13:07] reasonat commented on #169
You mean, if lets say, I want to review movie /love and it's display both on jer-cin & jff, then on:
jer-cin it will be jer-cin.org.il/movie/love
jff it will be jff.org.il/love

Which I think is the opposite of what you mean.

[2017-07-05 13:08] reasonat commented on #240
Please review again after massive change in the calendar

[2017-07-05 13:08] #204 closed, assigned to bruria1

[2017-07-05 13:09] #219 closed, assigned to sato2004

[2017-07-05 13:09] #136 closed, assigned to nobody

[2017-07-05 13:10] #247 closed, assigned to bruria1

[2017-07-05 13:10] navotb commented on #169
BTW, Films that are assigned only to jff are still available through
jer-cin, but without synopsis. The desired result is either (1) there is
not such film on jer-cin or to redirect to jff.

On Wed, Jul 5, 2017 at 4:07 PM, Amir Taiar <notifications@github.com> wrote:

[2017-07-05 13:11] #244 closed, assigned to sato2004

[2017-07-05 13:12] reasonat commented on #227
כן.

[2017-07-05 13:15] #238 closed, assigned to bruria1

[2017-07-05 13:16] #241 closed, assigned to bruria1

[2017-07-05 13:20] #248 closed, assigned to nobody

[2017-07-05 13:26] navotb commented on #227
אוקיי, אבל יש בעיות אמיתיות שתלויות ממשק
למשל
מניהול אירועים
יש אפשרות להכנס לעריכת הסרט שבליין אפ
אבל אם אתה נמצא בניהול אירועים בצד אנגלית
נוד הסרט נפתח דווקא בעברית, כלומר יש כאן איזה לינק אוטומטי שפותח את השפה
ההפוכה

On Wed, Jul 5, 2017 at 4:12 PM, Amir Taiar <notifications@github.com> wrote:

[2017-07-05 14:56] JerusalemCinematheque opened #259 "Festival calender - add to my list jump"
@reasonat
לחיצה על הוספה / הסרה של אירוע לרשימה שלי בעמוד קלנדר פסטיבל גורמת לעמוד לעלות מחדש או לקפוץ למעלה
מצורף וידאו
https://www.youtube.com/watch?v=2q2F4svdjOc

[2017-07-05 17:15] JerusalemCinematheque opened #260 "mobile festival calendar - calendar note appears on every day"
@reasonat @bruria1
הקלנדר נוט שהקמנו בשביל ה-13.7 (צד עברית) מופיע בכל ימי הקלנדר במובייל
ואף ״מחק״ קלנדר נוט שהקמנו בשביל ה-16.7

[2017-07-06 06:14] bruria1 commented on #256
1. אין צורך לרשום בקישורים את הקישור המלא. מספיק לרשום את הכתובת שבאה אחרי השפה. למשל בהפנייה ללוח ההקרנות מספיק לרשום בקישור:
festival-calendar
2. כרגע יש קישורים ללוח במובייל וללוח בדסקטופ. כל אחד מוצג היכן שאמור להיות מוצג.
3. ממה שאני רואה אם נותנים קישור המכיל כבר את היום הראשון של הפסטיבל. זא קישור בצורה הזו:
festival-calendar/2017-07-13
ולא רק:
festival-calendar
ההגעה לדף מהירה יותר. אז אול

[2017-07-06 06:15] bruria1 commented on #258
ממה שאני רואה זה מופיע..
אולי עניין של קאש?

[2017-07-06 06:23] bruria1 commented on #249
לבדיקה

[2017-07-06 06:32] bruria1 commented on #260
לבדיקה

[2017-07-06 07:00] sato2004 commented on #257
@reasonat It is a problem with js aggregate, and I can't find fast solution for this. I turned off js aggregate, and now it is working. @yakoub Do you have some idea about this?

[2017-07-06 07:07] yakoub commented on #257
i suspect the problem happens whenever we clear-cache which will generate a new aggregate js file but it gets interrupted for some reason and the aggregation is not complete .
but i need to investigate more, because this error doesn't persist so i didn't debug it .

[2017-07-06 07:08] reasonat opened #261 "Event management page"
Issues

[2017-07-06 07:09] reasonat commented on #227
טוב, זה לא קשור לדיון הזה כלל
תוכל לעלות בעיות במקרה הזה - https://github.com/Reasonat1/Cinema/issues/261
אני יכול להבין שהדיון הזה סגור?

[2017-07-06 07:17] navotb commented on #227
אני לא יודע אם זה לא קשור, זה פשוט עוד נתיב שדרכו נוצר המעבר הלא נכון בין
צד אנגלית לצד עברית, דרך טבלת האינדקס.

On Thu, Jul 6, 2017 at 10:09 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-07-06 07:25] JerusalemCinematheque commented on #256
מעולה
תודה

[2017-07-06 07:28] JerusalemCinematheque commented on #249
מצויין

[2017-07-06 07:32] JerusalemCinematheque commented on #260
יופי

[2017-07-06 08:28] reasonat commented on #246
➤ yakoub abaya commented:

cache_form has grown again to 1.3G

[2017-07-06 08:28] reasonat commented on #246
➤ yakoub abaya commented:

i will empty it manually for now

[2017-07-06 14:45] yakoub commented on #231
@JerusalemCinematheque maybe you have updated that example manually again ?
i am sorry for late response, but i don't see the problem with the last example either .

i need detail explanation of the steps you take with paths, example :
i visit path : node/add/cm_movie or node/999/edit
i assign toptix hall : צבא הצללים
then i expect to see events X,Y added but the result only X .
or before saving w

[2017-07-06 15:06] yakoub commented on #257
i enabled js aggregation again, but i don't see the error .
so again the problem doesn't persist so i can debug it .
lets keep aggregation on, and when you encounter it again i 'll be able to examine it .

[2017-07-06 15:12] yakoub commented on #246
related issue : https://www.drupal.org/node/1506196

[2017-07-06 15:15] navotb commented on #246
there is also this article by acquia which might be useful

https://docs.acquia.com/article/keeping-cacheform-table-reasonable-size

On Thu, Jul 6, 2017 at 6:12 PM, yakoub <notifications@github.com> wrote:

[2017-07-06 16:29] JerusalemCinematheque commented on #257
this seems to happen if you enter the calendar through jff.org.il/he/festival-calendar and then through changing the days
if you go to another day by changing the url to the date then the buttons work
but then when you choose a different day through the days navigation system then the buttons
don't work again
also if you go to http://jff.org.il/he/festival-calendar/2017-07-13 the buttons don't wor

[2017-07-06 16:40] JerusalemCinematheque commented on #257
I don't know what js aggregate does, but can you turn off js aggregate until a solution is found?
We have to have the calendar working and selling tickets tomorrow, as it is the busiest tickets selling day

[2017-07-06 17:26] JerusalemCinematheque commented on #257
we checked every day and it seems that some days are working and some are not
not working
13/7
14/7
15/7
18/7
19/7
22/7

then i cleared browser cache
and now the 23/7 isn't working either

[2017-07-06 17:28] JerusalemCinematheque commented on #257
and if i am logged in then everything works just fine

[2017-07-06 17:51] yakoub commented on #257
i turned off aggregation .

[2017-07-06 18:04] JerusalemCinematheque commented on #257
everything works now
thank you

[2017-07-06 18:09] navotb commented on #257
Thank you Yakoub.
Is there any risk in turning it off?

On Thu, Jul 6, 2017 at 9:04 PM, JerusalemCinematheque <
notifications@github.com> wrote:

[2017-07-06 19:15] yakoub commented on #257
it will increase load over the server, since js will be loaded in separate files instead of one big file .

[2017-07-06 19:28] navotb commented on #257
Is there a way to prevent overload?

On Jul 6, 2017 10:15 PM, "yakoub" <notifications@github.com> wrote:

[2017-07-06 20:44] JerusalemCinematheque commented on #139
when user (anonymous or not) has items in basket, basket supposed to be highlighted

![image](https://user-images.githubusercontent.com/26960693/27932048-ecffbd56-62a4-11e7-9e39-c261dc7696a1.png)

[2017-07-07 03:33] JerusalemCinematheque opened #262 "shopping cart behavior when shopping on home page - hebrew side"
@yakoub @reasonat
On hebrew side of the site
we established that when anonymous user adds items to shopping cart, pressing on cart icon opens toptix purchase window
this works fine when user is inner pages
but if user adds items on home page or goes back to home page, pressing on cart icon opens the register/log-in toptix window

https://www.youtube.com/watch?v=t7TNjVVq1t0

also when user is logge

[2017-07-07 05:56] yakoub commented on #262
לא הצלחתי לשחזר הבעיה .

נא לספק צעדים מסודרים שמובילים לבעיה .

[2017-07-09 05:13] bruria1 commented on #139
@yakoub I need a class for that case.

[2017-07-09 11:03] JerusalemCinematheque opened #263 "getting notifications to users add to calendar action"
@reasonat
קיבלתי היום למייל שלי את אישור קבלת "שלח לקלנדר שלי" של משתמש באתר
וזה נראה כאילו אני שלחתי את הזימון ליומן של המשתמש

![image](https://user-images.githubusercontent.com/26960693/27993262-42a12860-64af-11e7-8420-889368e01e73.png)

[2017-07-09 11:08] JerusalemCinematheque commented on #262
נכנסתי לעמוד הבית בצד עברית
גללתי למטה ולחצתי על כפתור הכרטיסים מאחד הסרטים שמפורסמים בעמוד והוספתי כרטיס לסל הקניות
סגרתי את חלונית הרכישה והמשכתי לשוטט בעמוד
לחצתי על עוד כפתור כרטיסים והוספתי עוד כרטיס לסל הקניות
סגרתי את חלונית הרכישה
ביקשתי לחזור לסל הקניות ולכן לחצתי על אייקון סל הקניות
במקום שתיפתח חלונית סל הקניות נפתחה חלונית הרשמה לטופטיקס
ואם כבר הייתי לוגאין לטופטיקס, נפתחה חלונית עמוד

[2017-07-09 12:24] sato2004 commented on #259
fixed

[2017-07-09 15:54] JerusalemCinematheque opened #264 "home page galllery pictuers jump"
@bruria1 @reasonat
שימו לב לוידאו המצורף
https://www.youtube.com/watch?v=AKy5A6RIgUI

לחיצה על אחת מתמונות הגלריה גורמת לעמוד לקפוץ למסך ריק
זה לא קורה כל הזמן אבל מספיק כדי שמשתמשים חיצוניים ישימו לב

[2017-07-10 05:41] bruria1 commented on #264
תוכלו לבדוק האם זה כבר לא קורה באתר פיתוח?

[2017-07-10 09:42] JerusalemCinematheque opened #265 "Lobby on film / event page not clickable"
@bruria1 @reasonat
הלובי בעמודי הסרטים והאירועים לא קליקבילי

[2017-07-10 10:39] JerusalemCinematheque commented on #264
זה נראה לי בסדר

[2017-07-10 13:17] JerusalemCinematheque opened #266 "Calendar note 13.7 - problem with display after update"
@bruria1
עידכנתי את
http://jff.org.il/he/node/10725

ועכשיו בקלנדר ב-13.7 החלק של הנוטס השתבש
![image](https://user-images.githubusercontent.com/26960693/28019924-40a89cb4-658b-11e7-9f9b-cc4b885ad9b5.png)

[2017-07-10 15:47] JerusalemCinematheque opened #267 "festival calendar - update time"
@reasonat
משום מה לוקח לקלדנר הפסטיבל זמן ממושך להתעדכן
אם זה בסימון של כפתור  כרטיסים שסומן כ"אזל"
או אם זה בהקרנות נוספות שהוספנו
לדוגמא ה-23.07
האירוע
http://jff.org.il/he/event/10764
לא מופיע בקלנדר בצד עברית, למרות שהוא כן מופיע בצד אנגלית
ושהאולם בו האירוע מתקיים גם כן מופיע
![image](https://user-images.githubusercontent.com/26960693/28026809-d484735e-659f-11e7-8598-d062e4d32528.png)

והאירו

[2017-07-11 05:45] bruria1 commented on #265
סודר

[2017-07-11 05:49] bruria1 commented on #266
מה משובש? הכל נראה לי טוב..

[2017-07-11 06:48] yakoub commented on #139
fixed

[2017-07-11 08:25] JerusalemCinematheque opened #268 "facebook code"
@yakoub
please upload Facebook code to site (jercin/jff)

┆Attachments: <a href="https:&#x2F;&#x2F;www.wrike.com&#x2F;extlink&#x2F;9b568c0b9fdc4cf393a90acedd7fb398:F40796437.A948692&#x2F;pixel+facebook.txt">pixel facebook.txt</a>

[2017-07-11 08:42] yakoub commented on #246
i am following the table size through time to determine best practice .
will check again on Thursday .

[2017-07-11 08:48] yakoub commented on #246
there seems to be problem with cron not running every day as required, well check that tomorrow .

[2017-07-11 08:50] navotb commented on #246
Over all sites' tables or only this table?

On Tue, Jul 11, 2017 at 11:48 AM, yakoub <notifications@github.com> wrote:

[2017-07-11 08:59] yakoub commented on #246
cron doesn't run regardless of which table .

[2017-07-11 09:10] navotb commented on #246
From the link that Amir sent:

From the DrupalCache perspective, {cache_form} is treated like everything
else, and pruned by system_cron() along with everything else. The main
difference is that drupal_flush_all_caches() doesn't clear it to prevent
problems if someone is filling out a form at that exact instant.

On Tue, Jul 11, 2017 at 11:59 AM, yakoub <notifications@github.com> wrote:

[2017-07-11 11:22] #139 closed, assigned to bruria1

[2017-07-11 11:23] reasonat commented on #266
גם אצלי הכל בסדר

[2017-07-11 11:30] reasonat commented on #267
למה הכוונה לוקח לו זמן להתעדכן? הייתי בטוח שהיינו בדיון הזה ושצריך לנקות קאש.
את האירוע בעברית אני רואה.
ובעניין האירוע אני לא מבין מה הבעיה. נראה שבאולם 2 יש כרטיסים ובאולם 3 נגמר המלאי. לא?

[2017-07-11 11:31] navotb commented on #267
סליחה על השאלה הסתמית: איזה קאש צריך לנקות? של הדפדפן?

2017-07-11 14:30 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-07-11 11:31] #264 closed, assigned to bruria1

[2017-07-11 11:33] reasonat commented on #267
@sato2004 Can you reply tot his question?

[2017-07-11 11:35] JerusalemCinematheque commented on #267
הכוונה היא שלוקח לאתר  מספר שעות לעדכן את עמוד הקלנדר (לדוגמא האירוע שהוספנו ב-23.7 הופיע רק בעשר בלילה)
אם זה בכרטיסים שאזלו
אירועים חדשים שמתווספים
או בדוגמא שכתבתי למעלה שהאירוע מתעדכן בצד אחד של האתר, אבל לא בצד השני

לעומת זאת אזלו כרטיסים מתעדכן מייד בעמודי הסרטים, אירועים, לובי
המקום היחיד שלוקח זמן רב עד שרואים את העדכון זה עמוד הקלנדר

זה נראה לי קצת מוזר שצריך לנקות את הקאש של האתר אחרי

[2017-07-11 11:38] navotb commented on #267
אמיר
זה נשמע כמו בעיה בתהליך הבניה של עמודי הקלנדר עצמם
נבות

2017-07-11 14:35 GMT+03:00 JerusalemCinematheque <notifications@github.com>:

[2017-07-11 11:39] reasonat commented on #262
שחזרתי את הצעדים ואני לא נתקל בבעיה הזו.
באף אחד מהתרחישים

[2017-07-11 11:41] reasonat commented on #263
לא ברור

[2017-07-11 11:44] yakoub commented on #262
this is same problem as #139, so it got fixed as well .

[2017-07-11 11:46] #260 closed, assigned to bruria1

[2017-07-11 11:46] #249 closed, assigned to bruria1

[2017-07-11 11:46] #256 closed, assigned to bruria1

[2017-07-11 11:48] reasonat commented on #227
למה הכוונה טבלת האינדקס?

[2017-07-11 11:50] reasonat commented on #267
ניקוי קאש נידון בטיקט אחר פה הקשור בביצועי לוח השנה.
זה נשמע לי אותו הדיון בדיוק.
ביצענו שם הליך שמירת קאש בכדי לשפר ביצועים אז זה לא מוזר שצריך לנקות קאש לאחר מספר עדכונים.

[2017-07-11 11:51] #262 closed, assigned to nobody

[2017-07-11 11:53] navotb commented on #227
טבלת ניהול סרטים (אינדקס הסרטים)

On Tue, Jul 11, 2017 at 2:48 PM, Amir Taiar <notifications@github.com>
wrote:

[2017-07-11 11:54] navotb commented on #267
אני מבין. אבל אנחנו מציעים שאחרי הפסטיבל נסתכל על תהליך יצירת העמודים כדי
לזרז את הטעינה ולפתור את בעיות העדכון האלו

2017-07-11 14:50 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-07-11 11:59] #48 closed

[2017-07-11 12:00] reasonat commented on #48
I am closing this issue since we have a performances issue open.

[2017-07-11 12:14] reasonat commented on #227
הבנתי. אתה מגדיר זאת כמעבר לא נכון למרות שזו התנהגות נכונה.
בכלל, עמודי הניהול באופן תקני אמורים להציג סרטים בשפה בה אתה נמצא כעת ולא להציג למשל נודים בעברית כאשר אני בטבלת ניהול באנגלית

[2017-07-11 12:14] #227 closed, assigned to sato2004

[2017-07-11 13:12] JerusalemCinematheque commented on #266
אני חושבת שזה אותו עניין כמו #267

[2017-07-11 13:14] JerusalemCinematheque commented on #264
עוד לא עבר לחי נכון?

[2017-07-11 13:15] JerusalemCinematheque commented on #263
אני לא יודעת עוד איך להסביר את העניין הזה
נבות אמר שגם רואים את זה באנליטיקס שהמייל שלי מופיע בכל פעם שמישהו משתמש בתוסף

[2017-07-11 13:16] navotb commented on #263
http://addtocalendar.com/atc/google?utz=180&uln=en-US&vjs=
1.5&e[0][date_start]=2017-07-18%2020%3A30%3A00&e[0][date_
end]=2017-07-18%2022%3A30%3A00&e[0][timezone]=Asia%
2FJerusalem&e[0][title]=%D7%9E%D7%A0%D7%A9%D7%94&e[0][
description]=&e[0][location]=Cinematheque&e[0][organizer]=
tamarf&e[0][organizer_email]=tamarf%40jer-cin.org.il

אלו אירועים מהאנליטיקס של "add to calendar", אתה יכול לראות שמו

[2017-07-11 13:18] JerusalemCinematheque commented on #227
אבל בעמודי הניהול רואים את כל הנודס משתי השפות

[2017-07-11 19:53] yakoub commented on #268
[pixel facebook.txt](https://github.com/Reasonat1/Cinema/files/1140047/pixel.facebook.txt)

[2017-07-11 20:09] yakoub commented on #268
done

[2017-07-12 05:41] bruria1 commented on #264
עודכן בלייב

[2017-07-12 06:30] reasonat commented on #227
כי זה מה שאתם ביקשתם :)

[2017-07-12 06:31] reasonat commented on #263
@sato2004 As far as I see on the widget site, this is how it works no?

[2017-07-12 06:33] reasonat commented on #266
לא חושב שזה קשור אחד לשני.
סוגר את הכרטיס הזה.

[2017-07-12 06:33] #266 closed, assigned to bruria1

[2017-07-12 06:49] yakoub commented on #245
i have encountered this error before, but so far i can't reproduce it .

[2017-07-12 06:49] navotb commented on #227
כן, אבל אף פעם לא אמרתם לנו - אתם תוכלו להכנס מעמוד ניהול בשפה איקס רק
לנודים בשפה איקס.
מעבר לכך: כאשר מנסים להכנס מטבלת ניהול אירועים באנגלית ל"סרטים מקושרים"
נפתח הנוד בעברית, כלומר כאן זה כבר בעיה אחרת

On Wed, Jul 12, 2017 at 9:30 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-07-12 06:55] navotb commented on #245
It happens when you edit person page and press button "save and edit" and
not just "save"

On Wed, Jul 12, 2017 at 9:49 AM, yakoub <notifications@github.com> wrote:

[2017-07-12 06:57] JerusalemCinematheque commented on #245
this happens on a daily basis after editing existing film/events/person nodes
there is no consistency, one time it will work properly, and then the next you get the error message

[2017-07-12 07:07] sato2004 commented on #27
Go from here http://dev.jer-cin.reasonat.com/en/lobby/5-days-june to any event, and you will see the arrows next, prev

[2017-07-12 12:02] sato2004 commented on #263
@reasonat We can change this address to any other

[2017-07-12 12:05] JerusalemCinematheque commented on #263
So it has to be an actual adress? We can't change it to just "Jerusalem Cinematheque"

[2017-07-12 12:57] JerusalemCinematheque opened #269 "home page - editing operation not working on hebrew side"
@bruria1 @reasonat
מנגנון הוספת נודס בעמוד הבית פסטיבל צד עברית הפסיק פתאום לעבוד
הייתי באמצע הוספת נודס בחלק של הגלריה ואחרי מספר הוספות כשביקשתים להוסיף נוד החלונית נפתחת
אפשר לעשות חיפוש
אבל לחיצה על הוספה לא סוגרת את החלונית
ואי אפשר להוסיף את הנוד הנבחר

זה קורה רק בצד עברית. צד אנגלית עובד כרגיל

[2017-07-12 15:27] JerusalemCinematheque commented on #269
עכשיו גם בצד אנגלית

[2017-07-12 16:33] JerusalemCinematheque commented on #269
מבינים עכשיו שיש הגבלה על מספר האייטמים שאפשר להעלות
תוכלו בבקשה להגיד לנו מה המגבלה
והאם אפשרי שלא תהיה מגבלה כזו

[2017-07-13 11:03] bruria1 commented on #261
@reasonat מה יש לעשות פה...?

[2017-07-13 14:02] sato2004 commented on #263
Done

[2017-07-14 12:30] JerusalemCinematheque opened #270 "Ticket button on festival calendar does not disappear at scheduled time"
@reasonat @yakoub
the tickets button is supposed to disappear on the festival calendar when scheduled on event page
this does not happen
http://jff.org.il/en/node/10501 (the samourai)
was scheduled to end tickets sales on 14.7 at 15:00
it is now 15:25 and the ticket button is still operative
![image](https://user-images.githubusercontent.com/26960693/28212227-14eec92e-68a9-11e7-8c5a-50e3da410d13.p

[2017-07-16 06:43] bruria1 commented on #265
מחכה לאישורכם..

[2017-07-16 06:45] bruria1 commented on #235
מחכה לאישורכם..

[2017-07-16 06:45] bruria1 commented on #228
מחכה לאישורכם..

[2017-07-16 06:45] bruria1 commented on #222
מחכה לתגובתכם..

[2017-07-16 06:46] bruria1 commented on #213
מחכה לאישורכם..

[2017-07-16 06:46] bruria1 commented on #167
מחכה לאישורכם..

[2017-07-16 06:46] bruria1 commented on #156
מחכה לאישורכם..

[2017-07-16 06:46] bruria1 commented on #145
מחכה לאישורכם..

[2017-07-16 06:46] bruria1 commented on #133
מחכה לאישורכם..

[2017-07-16 06:46] bruria1 commented on #131
מחכה לאישורכם..

[2017-07-16 06:46] bruria1 commented on #117
מחכה לתגובתכם..

[2017-07-16 06:47] bruria1 commented on #112
מחכה לתגובתכם..

[2017-07-16 06:47] bruria1 commented on #95
מחכה לתגובתכם..

[2017-07-16 06:47] bruria1 commented on #27
מחכה לתגובתכם..

[2017-07-16 06:57] sato2004 commented on #226
fixed

[2017-07-16 07:10] JerusalemCinematheque opened #271 "Frontpage items doesn't display when they don't have end publish dates"
@bruria1 @reasonat
עמודי תוכן מסוג פרונטפייג' הפסיקו להציג את התוכן שלהם
לדוגמא:
http://jff.org.il/he/10017

דחוף מאוד

[2017-07-16 07:11] JerusalemCinematheque commented on #265
ok

[2017-07-16 07:12] JerusalemCinematheque commented on #228
ok

[2017-07-16 09:25] JerusalemCinematheque opened #272 "Calendar notes don't appear on frontend"
@reasonat @bruria1
הקלנדר נוטס פתאום לא מופיעים באתר
עד אתמול הם הופיעו כמו שצריך

[2017-07-16 09:52] reasonat commented on #258
Reopen this issue and close this one - https://github.com/Reasonat1/Cinema/issues/272

[2017-07-16 09:52] reasonat commented on #272
Closing this one and reopen this one - https://github.com/Reasonat1/Cinema/issues/258

[2017-07-16 09:52] #272 closed, assigned to nobody

[2017-07-16 10:33] #228 closed, assigned to bruria1

[2017-07-16 10:34] #265 closed, assigned to bruria1

[2017-07-16 10:34] reasonat commented on #226
ממתין לאישור שלכם

[2017-07-16 10:39] reasonat commented on #213
This is already checked. If any more issues please reopen this.

[2017-07-16 10:39] #213 closed, assigned to bruria1

[2017-07-16 10:41] reasonat commented on #235
Cant see this issue again. Reopen if so.

[2017-07-16 10:41] #235 closed, assigned to bruria1, sato2004

[2017-07-16 10:45] reasonat commented on #263
Please check

[2017-07-16 10:46] reasonat commented on #261
זו משימה להעלאת רידג׳טים הקשורים בעמודי ניהול אירוע. משאיר אותה פתוחה

[2017-07-16 10:54] reasonat commented on #270
Then it another clear cache issue/non-issue. As said before Festival calendar page need cache clear to display changes. I am closing this issue since this is already discussed several time at other issues.

[2017-07-16 10:54] #270 closed, assigned to sato2004

[2017-07-16 10:56] reasonat commented on #236
Closing this issue. Reopen if needed.

[2017-07-16 10:56] #236 closed, assigned to bruria1

[2017-07-16 10:59] reasonat commented on #221
Closing this issue. Reopen if needed.

[2017-07-16 10:59] #221 closed, assigned to bruria1

[2017-07-16 11:01] #206 closed, assigned to nobody

[2017-07-16 11:03] JerusalemCinematheque commented on #270
i clear the cache on a daily basis
sometimes even more than once
it's strange that we have to clear cache every hour all day long

[2017-07-16 11:04] reasonat commented on #259
Test again and looks good.  Closing this issue. Reopen if needed.

[2017-07-16 11:04] #259 closed, assigned to sato2004

[2017-07-16 11:10] reasonat commented on #191
I have test this and it looks fixed.  Closing this issue. Reopen if needed.

[2017-07-16 11:10] #191 closed, assigned to sato2004

[2017-07-16 11:11] reasonat commented on #188
Closing this issue. Reopen if needed.

[2017-07-16 11:11] #188 closed, assigned to sato2004

[2017-07-16 11:14] reasonat commented on #168
Tested:
http://www.jff.org.il/en/festivals/jerusalem-film-festival-2017 - Lead to HP
http://www.jff.org.il/en/taxonomy/term/12 - Lead to HP
http://www.jff.org.il/he/festivals/%D7%A4%D7%A1%D7%98%D7%99%D7%91%D7%9C-%D7%94%D7%A7%D7%95%D7%9C%D7%A0%D7%95%D7%A2-%D7%99%D7%A8%D7%95%D7%A9%D7%9C%D7%99%D7%9D-2017 - Lead to HP

[2017-07-16 11:14] #168 closed, assigned to sato2004

[2017-07-16 11:16] reasonat commented on #167
Closing this issue. Reopen if needed.

[2017-07-16 11:16] #167 closed, assigned to bruria1

[2017-07-16 11:16] reasonat commented on #133
Test and it looks good. Closing this issue. Reopen if needed.

[2017-07-16 11:16] #133 closed, assigned to bruria1

[2017-07-16 11:18] reasonat commented on #131
Test and it looks good. Closing this issue. Reopen if needed.

[2017-07-16 11:18] #131 closed, assigned to bruria1

[2017-07-16 11:18] reasonat commented on #122
Closing this issue. Reopen if needed.

[2017-07-16 11:18] #122 closed, assigned to sato2004

[2017-07-16 11:19] reasonat commented on #112
Test and it looks good. Closing this issue. Reopen if needed.

[2017-07-16 11:19] reasonat commented on #95
Test and it looks good. Closing this issue. Reopen if needed.

[2017-07-16 11:19] #95 closed

[2017-07-16 11:20] reasonat commented on #55
@JerusalemCinematheque @navotb Please check this

[2017-07-16 11:23] reasonat commented on #27
@bruria1 The link isnt working and there is no hover effect as needed.

[2017-07-16 11:27] reasonat commented on #27
ok sorry. @JerusalemCinematheque @navotb , @bruria1 was waiting for you to say what to do in 13inch screens since arrows are over the body area. We will push this and Roei and Bruria will find a solution.

[2017-07-16 12:02] reasonat commented on #270
You have to clear cache upon site content update - which is multi time a day, I know.
I will talk with Yakoub about this tomorrow

[2017-07-16 12:03] bruria1 commented on #271
בעמוד הספציפי הזה לא הזנתם תאריכים לסיום המקטע ולכן שום דבר לא מוצג.
הוספתי תאריך וכעת הוא מוצג.

[2017-07-16 12:05] JerusalemCinematheque commented on #271
אוקיי, אבל אני הכנסתי להכל תאריכים הבוקר אחרי שראיתי שזה הפסיק להציג את התכנים
אין לי מושג למה עכשיו התאריכים לא מופיעים
גם עד הבוקר לא היתה בעיה של תצוגה. גם ללא התאריכים

[2017-07-16 12:09] bruria1 commented on #269
לא אמורה להיות מגבלה.
תוכלו לומר לי איפה ניסיתם לעלות ולא עבד?

[2017-07-16 12:11] JerusalemCinematheque commented on #269
תנסי עכשיו להעלות עוד תוכן לא משנה איפה בעמוד
ברגע שהעלינו 24 פריטים בסך הכל בעמוד אנחנו לא יכולים להעלות עוד אייטמים

[2017-07-16 12:14] JerusalemCinematheque commented on #271
האם אפשר לקבוע שאם לא הוזן תאריך סיום תצוגה האייטם ממשיך להיות מוצג?

[2017-07-16 12:14] bruria1 commented on #258
לבדיקתכם

[2017-07-16 12:18] JerusalemCinematheque commented on #258
יופי תודה

[2017-07-16 12:31] bruria1 commented on #269
איפה? בעמוד הבית?

[2017-07-16 12:32] JerusalemCinematheque commented on #269
כן
אחרי שמוסיפים 24 פריטים
כשפותחים את חלונית החיפוש להוספת סרט / אירוע
עושים חיפוש
מוצאים את הפריט המבוקש
ולוחצים על הוספה
החלון נתקע ואי אפשר להוסיף את האייטם
אם מוחקים פריט ואז מוסיפים אחר במקומו אז אין בעיה, כי "התפנה" מקום

[2017-07-16 13:09] JerusalemCinematheque opened #273 "Sold Out button display"
@reasonat
התצוגה של כפתור הסולד אאוט השתבשה
הכיתוב סולד אאוט מתפצל על שתי שורות מה שגורם לכפתור להיראות שונה מכפתור הכרטיסים הרגיל
![image](https://user-images.githubusercontent.com/26960693/28247826-2572b38e-6a41-11e7-9d9a-e778ed329137.png)

[2017-07-16 13:24] JerusalemCinematheque commented on #258
סליחה לא שמתי לב
אבל תראי כאן
http://jff.org.il/en/node/10785/edit?destination=admin/calendar-notes-manager
יש שלושה אייטמים שהוספנו
בפרונטאנד של הקלנדר של ה-16.7 צד אנגלית מופיעים רק שניים מהאירועים
http://jff.org.il/en/festival-calendar/2017-07-16

[2017-07-17 06:44] bruria1 commented on #258
זאת כיוון שלאייטם השלישי אין תמונה.

[2017-07-17 09:36] JerusalemCinematheque opened #274 "homepage extra text - same font weight display"
@bruria1

אפשר בבקשה לסדר כך שהפונט של ההום פייג' טקסט תמיד יהיה במשקל קל, כמו שהוא מופיע כשהוא מגיע מעמוד סרט
בתמונה  המשקל הנכון הוא זה שבגריד מצד שמאל, לעומת המשקל המלא יותר של האייטמים מצד ימין ובאמצע
יכול להיות שהבעיה רק בתצוגת גריד
![image](https://user-images.githubusercontent.com/26960693/28262611-4bbffdde-6aec-11e7-997a-58ea4c829e3d.png)

[2017-07-17 11:27] bruria1 commented on #274
לבדיקה

[2017-07-18 07:09] reasonat commented on #268
Closing the issue. Please reopen if needed.

[2017-07-18 07:10] reasonat commented on #258
Closing the issue. Please reopen if needed.

[2017-07-18 07:10] #258 closed, assigned to bruria1

[2017-07-18 07:14] reasonat commented on #273
אני לא רואה את הבעיה הזו.
באיזה רזולוציית מסך? האם התצוגה על 100%?

[2017-07-18 07:18] reasonat commented on #271
הייתה בקשת פיתוח שלא להציג אייטם במידה והתאריך סיום אינו מוזן. כעת לשנות את זה יקח משך פיתוח שאין

[2017-07-18 07:19] reasonat commented on #269
@yakoub Please review comments and check.

[2017-07-18 07:24] reasonat commented on #240
I can't see this issue again. Closing the issue, please reopen if needed.

[2017-07-18 07:24] #240 closed, assigned to sato2004

[2017-07-18 07:25] reasonat commented on #231
Please recheck this @JerusalemCinematheque @navotb

[2017-07-18 07:27] reasonat commented on #156
@JerusalemCinematheque @navotb We are waiting...

[2017-07-18 07:28] reasonat commented on #145
I test and it looks fine. Closing this issue, pleaser reopen if needed.

[2017-07-18 07:28] #145 closed, assigned to bruria1, sato2004

[2017-07-18 07:29] JerusalemCinematheque commented on #231
we are still experiencing problems here
for example we want to update an event in hall Lev Smadar
http://jff.org.il/en/node/10073
we go to toptix button and find the said event
we select it
save event
the hall reference disappears
then we have to put in the hall manually, otherwise the evnt appears without the hall name and does not appear in the festival calendar
we don't have a live example

[2017-07-18 07:33] reasonat commented on #117
I have checked several pages and share open graph configured well.
I am closing this issue, reopen if needed with examples.

[2017-07-18 07:33] #117 closed, assigned to bruria1

[2017-07-18 07:34] JerusalemCinematheque commented on #231
https://www.youtube.com/watch?v=DLPOz1k5yAc

[2017-07-18 07:34] #21 closed

[2017-07-18 07:40] reasonat commented on #190
@navotb @JerusalemCinematheque How do we push this further?

[2017-07-18 08:00] reasonat commented on #242
Yes, and it's not an issue. It's cache limitations

[2017-07-18 08:00] #242 closed, assigned to sato2004

[2017-07-18 08:24] navotb commented on #156
where is the checkbox? on the lobby edit page? i can not find it, sorry.

On Tue, Jul 18, 2017 at 10:27 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-07-18 08:36] bruria1 commented on #27
יש פה אפשרויות כיצד לעצב את זה:
1. ברוחב שבו החיצים כמעט עולים על התוכן הם יעלו מעל קופסת התוכן ומתחת לקופסת ההקדמה עם רווחים מינימאלים מעל ומתחת
2. ברוחב שבו החיצים כמעט עולים על התוכן הקופסת של השיתופים בצד ימין תרד מתחת לקופסת התוכן
עדכנו אותי איך תרצו ואבצע

[2017-07-18 08:37] bruria1 commented on #273
טופל כבר. לכן אתה לא רואה את זה..

[2017-07-18 09:22] navotb opened #275 "apostroph in language select widget"
While trying to find language
צ'כית
the widget could not find it, directly, After adding only first letter
צ,
could select it from list of option. However, upon selection the value at the widget is:
צ&#039;כית (88)
and not with the apostroph.

[2017-07-18 09:32] JerusalemCinematheque opened #276 "Error message"
@reasonat
קיבלתי את הודעת השגיאה הזו מספר פעמים הבוקר
אני לא בטוחה מתי זה קורה
![image](https://user-images.githubusercontent.com/26960693/28310397-0e632690-6bb5-11e7-8d29-4e1661ad3fcb.png)

[2017-07-18 10:07] JerusalemCinematheque commented on #276
ועוד אחת
![image](https://user-images.githubusercontent.com/26960693/28311939-fd3673ae-6bb9-11e7-9ac7-30d33135da2e.png)

[2017-07-18 11:14] navotb opened #277 "person selection widget"
while trying to select ג'ניפר קונלי
after clicking ג'ני  the result is
![image](https://user-images.githubusercontent.com/5830669/28314431-36b370ec-6bc3-11e7-907e-80dca023056e.png)

but after clicking ג'ניפ the results are:
![image](https://user-images.githubusercontent.com/5830669/28314476-5e10e958-6bc3-11e7-924a-996b503e7395.png)

do you have any idea why it cuts our ג'ניפר קונלי??

[2017-07-18 11:39] JerusalemCinematheque commented on #273
רק נשארה בעיה בפופ-אפ
![image](https://user-images.githubusercontent.com/26960693/28315388-d7ef9dac-6bc6-11e7-8ea2-85fc6f5c46c9.png)

[2017-07-18 11:49] navotb commented on #275
following up on this issue, see the difference while searching for ג'ייקוב היינה
he is not returned in the results for some reason.

[2017-07-18 13:02] bruria1 commented on #273
לבדיקה

[2017-07-18 14:24] reasonat commented on #246
➤ yakoub abaya commented:

cron.php is not found although it exist on filesystem, so that is why cron never runs and doesn't clean form_cache table properly .

[2017-07-19 06:07] yakoub commented on #276
this is normal behavior, it happens when you click several times on widget that calls ajax without waiting for the ajax to complete .
nothing to fix here .

[2017-07-19 09:18] reasonat commented on #156
➤ yakoub abaya commented:

@Bruria Helfer

[2017-07-19 09:53] reasonat commented on #156
➤ yakoub abaya commented:

fixing something

[2017-07-19 09:58] reasonat commented on #156
➤ yakoub abaya commented:

@Bruria Helfer please review
http://dev.jer-cin.org.il/he/event/8830
http://dev.jer-cin.org.il/he/taxonomy/term/688/edit

[2017-07-19 12:50] bruria1 commented on #156
@yakoub זה טוב.
אמור לעבוד אותו הדבר בעמוד סרט:
http://dev.jer-cin.org.il/he/movie/7322
זה היבט אחר.

[2017-07-19 13:18] reasonat commented on #231
➤ yakoub abaya commented:

"Summer 1993" doesn't appear in toptix browser any more

[2017-07-19 13:21] JerusalemCinematheque commented on #231
try this one
http://jff.org.il/he/event/10100
should be there till friday morning

[2017-07-19 14:59] #276 closed, assigned to nobody

[2017-07-19 15:08] reasonat commented on #231
➤ yakoub abaya commented:

as for the other example 1945, then the term "lev smadar" had empty toptix assignment .
http://jff.org.il/en/taxonomy/term/204/edit

after assigning the toptix field, then at event edit page the hall reference also received the value .

[2017-07-19 15:08] reasonat commented on #231
➤ yakoub abaya commented:

please provide more examples .

[2017-07-19 15:17] JerusalemCinematheque opened #278 "credits in film collection page when the film is both festival and jercin"
@bruria1
כשסרט שייך לדומיין סינמטק ופסטיבל ויש לו קרדיטים שמסומנים ל"לא לתצוגה בצד סינמטק" והוא משוייך למקבץ בסינמטק
הקרדיטים שמסומנים לא צריכים להופיע בעמוד המקבץ
לדוגמא
http://jer-cin.org.il/en/movie-group/11404
הסרט "ביקור בית" כל הקרדיטים חוץ צ
dir
סומנו לא להצגה בצד סינמטק
במקבץ פה הם כן מופיעים

[2017-07-19 15:19] JerusalemCinematheque commented on #231
what does
empty toptix assignment
mean?

[2017-07-19 19:25] yakoub commented on #231
the field toptix hall was empty .

[2017-07-20 05:24] bruria1 commented on #278
@yakoub
זה הקוד שנכתב בהבט הזה:
http://dev.jer-cin.org.il/en/admin/structure/views/view/movie_group_ct/edit/panel_pane_1
בשדה: php
אמור להראות רק את מה שבעריכה של זה:
http://jer-cin.org.il/en/movie/3221
לא נבחר: hide from cinemateqe
באיזור בקרדיטים.

[2017-07-20 07:01] yakoub commented on #156
@bruria1 הוספתי גם לעמוד סרט

[2017-07-20 07:04] bruria1 commented on #156
לבדיקה

[2017-07-20 11:18] JerusalemCinematheque commented on #231
empty from the toptix feed?

[2017-07-20 12:43] yakoub commented on #231
no, the hall term page edit form : http://jff.org.il/en/taxonomy/term/204/edit
has field called "toptix hall" .
and if you want automatic import on event pages to happen then this field need to assigned a value using the toptix browser like other toptix fields .

[2017-07-20 15:10] JerusalemCinematheque opened #279 "Content not visible on site"
@reasonat
אנחנו לא בטוחים מה בדיוק קרה עכשיו,
אבל לא היה אפשר לראות את התוכן של האתר בפרונטאנד
זה לדוגמא איך שנראה המגה תפריט
![image](https://user-images.githubusercontent.com/26960693/28424557-966ac350-6d76-11e7-8240-df17732239c4.png)

בעמוד הבית ועמודים פנימיים ראו רק את ההדר והפוטר
![image](https://user-images.githubusercontent.com/26960693/28424594-ac6a3e6a-6d76-11e7-9afa-88cd84001ea7.png)

ע

[2017-07-23 07:13] yakoub commented on #277
information for developers :

credits auto complete is a view : admin/structure/field-collections/field-cm-movie-credits/fields/field_cm_movie_credits_person

bio auto complete is generic : admin/structure/field-collections/field-person-bio/fields/field_person_bio_name

auto complete code happens in module entityreference under plugin/selection
and called from entityreference.module line 1108

i c

[2017-07-23 07:18] yakoub commented on #277
@navotb while working on this the problem disappeared and connelly appears also after continuing the name .
but i wrote in above comment information about the mechanism behind the autocomplete, and if problems happen again we can continue examining it .

[2017-07-23 08:26] reasonat commented on #275
@sato2004 This might be same issue like https://github.com/Reasonat1/Cinema/issues/277 please have a look

[2017-07-23 08:34] yakoub commented on #275
fixed .

note for @sato2004  : check plain was used on matches array which escapes the character "`" and it match doesn't latter on .
check_plain is needed only on labels which are displayed in html but data keys don't need check_plain

[2017-07-23 08:36] yakoub commented on #275
@reasonat this is not same as #277, this is custom coding and not entityrefence module .

[2017-07-23 08:41] reasonat commented on #275
ok. Thanks

[2017-07-23 08:44] navotb commented on #275
Thank you !

On Sun, Jul 23, 2017 at 11:41 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-07-23 08:44] navotb commented on #277
Thank you!

On Sun, Jul 23, 2017 at 10:18 AM, yakoub <notifications@github.com> wrote:

[2017-07-23 11:04] bruria1 commented on #279
המסך היה ריק?
לא הבנתי מה בדיוק קרה..

[2017-07-23 13:36] sato2004 commented on #269
I can't reproduce this bug, I added more then 24 items, and everything looks good

[2017-07-23 14:44] JerusalemCinematheque commented on #269
We didn't have an issue on jer-cin side
but on JFF live site we do
As soon as we tried to add more than 24 items the window to select film/event/homepage content/article would get stuck

[2017-07-23 14:45] JerusalemCinematheque commented on #279
כן בדיוק
לא היה אפשר לראות את התוכן של האתר
חוץ מכותרות של פרונטפייג' ואת לוח ההקרנות

[2017-07-23 14:46] JerusalemCinematheque commented on #231
that's the first thing we checked
it seems to be okay now

[2017-07-23 14:59] JerusalemCinematheque commented on #156
can the setting be according to the domain the lobby was created in?
as in, if we created the lobby in jer-cin domian the lobby automatically gets jer-cin domain
but if we created the lobby on jff domain then the lobby gets jff domain automatically

[2017-07-23 15:04] JerusalemCinematheque commented on #273
יכול להיות שהכפתור בפופ-אפ גדול מידי?\
גם של סולד אאוט וגם הכרטיסים
אפשר לראות בתמונה שיש הבדל בגדלים בין הכפתור בפופאפ והכפתור בקוביית האירוע
![image](https://user-images.githubusercontent.com/26960693/28500455-5c6ca3a0-6fd1-11e7-8d7d-fcf4c2a9ddb9.png)

[2017-07-23 15:14] JerusalemCinematheque commented on #190
isn't this related to #192 ?

[2017-07-23 15:16] JerusalemCinematheque commented on #271
זה היה נראה לי עוד לפני שהיו לנו עמודים מסוג זה
האם אפשר אז לעדכן את לוח השנה של בחירת טווחי התאריכים?
זה קצת מלחיץ אותי שהוא רק עד דצמבר 2020

[2017-07-23 15:18] JerusalemCinematheque commented on #274
ok

[2017-07-23 15:21] JerusalemCinematheque commented on #55
please send us a tutorial about creating forms
we don't understand how this works and how we incorporated the toptix button

[2017-07-23 15:22] JerusalemCinematheque commented on #112
is there no way to have embedding on the site?

[2017-07-23 15:40] JerusalemCinematheque commented on #168
so if i want to add the 2017 festival term to a front page i created for festival archive
it will lead back to the home page instead of the term page?
and it continues to be the current festival term untill its date range passes?
what happens if the next festival term and the current festival term have corresponding dates?
and does it matter if there is no current festival term?

[2017-07-24 04:58] bruria1 commented on #112
לא הבנתי את שאלתכם?
להטמיע את מה? איפה?

[2017-07-24 05:17] bruria1 commented on #271
כעת אפשר עד 10 שנים קדימה

[2017-07-24 06:58] bruria1 commented on #273
לבדיקה

[2017-07-24 07:43] sato2004 commented on #278
fixed

[2017-07-24 15:56] reasonat commented on #271
Closing this issue. Reopen if needed.

[2017-07-24 15:56] #271 closed, assigned to bruria1

[2017-07-24 16:00] reasonat commented on #168
As we discussed, dates scheduling are on your responsible.
But to unswer this, @sato2004 please answer:
1. If 2 festival terms set to current date, what will happen to the homepage?
2. If there is not term set for current dates, what happen to homepage?

[2017-07-24 16:01] reasonat commented on #55
@yakoub is on a vacation for the next 4 days.
When he will come back he will call you.

[2017-07-24 16:01] #274 closed, assigned to bruria1

[2017-07-24 16:03] reasonat commented on #190
No. This is a suggestion as for the display of the search results.
So I suggested 2 way to let the user know, in the search results, which festival the node result is related to.

[2017-07-24 16:05] reasonat commented on #156
הבקשה הזו חורגת
I am closing this issue. Please reopen if needed.

[2017-07-24 16:06] #231 closed, assigned to nobody

[2017-07-24 16:08] reasonat commented on #279
For this isn't happening again, and looks like for you as well. Reopen if needed.

[2017-07-24 16:08] #279 closed, assigned to bruria1

[2017-07-24 16:10] #277 closed, assigned to sato2004

[2017-07-24 16:12] #275 closed, assigned to sato2004

[2017-07-25 07:15] JerusalemCinematheque opened #280 "homepage grid view - event title display is missing"
@bruria1
בעמוד הבית בתצוגת גריד לא מוצגת כותרת האירוע
לדוגמא כרגע בצד עברית סינמטק
בקוביה של גנוב על העולם
אמורה להיות הכותרת
המצאות עתידניות מהסרטים

[2017-07-25 07:22] JerusalemCinematheque commented on #269
please try to add film or event content to jer-cin homepage hebrew side now
we have 24 items on the hebrew side of the homepage
can't add any more items

[2017-07-25 07:29] sato2004 commented on #269
Yes, now I see the problem

[2017-07-25 07:41] JerusalemCinematheque opened #281 "film details view on event page - responsive"
@bruria1
בעמוד אירוע בריספונסיבי פרטי הסרט לא נמצאים בגבולות הגריד של העמוד אלא נכנסים קצת פנימה. פרטי הסרט צריכים להיות באותם קווי הגריד כמו פרטי האירוע והקרדיטים
![image](https://user-images.githubusercontent.com/26960693/28561057-96f00094-7125-11e7-97c2-893e8d4d6194.png)

[2017-07-25 09:11] bruria1 commented on #280
לבדיקה

[2017-07-25 09:21] JerusalemCinematheque commented on #280
אוקיי
רק שאם כותרת האירוע וכותרת הסרט אותו הדבר אז רק כותרת הסרט מוצגת

[2017-07-25 09:25] bruria1 commented on #280
כן. זה היה באמצע.. עכשיו אמור להיות טוב

[2017-07-25 09:25] bruria1 commented on #281
לבדיקה

[2017-07-26 09:33] JerusalemCinematheque commented on #281
ok

[2017-07-26 09:33] JerusalemCinematheque commented on #280
ok

[2017-07-26 09:34] JerusalemCinematheque commented on #278
fixed on DEV or live?

[2017-07-26 10:45] JerusalemCinematheque commented on #273
ok

[2017-07-26 10:46] JerusalemCinematheque commented on #263
nope.
look at this email i got
![image](https://user-images.githubusercontent.com/26960693/28617362-bc3f60e0-7208-11e7-8629-976d6654d32d.png)

[2017-07-26 10:49] JerusalemCinematheque commented on #112
מלהטמיע סרטוני יוטיוב  להטמעה של מפות גוגל או דף חיצוני שמאפשר לעשות אייפריים

[2017-07-26 15:01] sato2004 commented on #269
fixed

[2017-07-27 06:21] reasonat opened #282 "Add option to embed Iframe into text areas"

[2017-07-27 06:21] #282 closed, assigned to bruria1

[2017-07-27 06:21] reasonat commented on #112
Embedding Iframe is yet another request which is not in this request / scope. I open a new issue and freeze it.
Closing this one, reopen if needed.

[2017-07-27 06:21] #112 closed

[2017-07-27 06:23] reasonat commented on #263
אני לא מצליח להבין מה הבעיה.
תוכלו לנסות להסביר שוב?

[2017-07-27 06:23] #273 closed, assigned to bruria1

[2017-07-27 06:24] #280 closed, assigned to bruria1

[2017-07-27 06:26] #281 closed, assigned to bruria1

[2017-07-27 06:29] sato2004 commented on #278
fixed on both. dev and live

[2017-07-27 07:24] reasonat commented on #226
I have checked this and it looks fine. Reopen if needed.

[2017-07-27 07:24] #226 closed, assigned to sato2004

[2017-07-27 07:25] reasonat commented on #222
@JerusalemCinematheque @navotb This wait for your response.

[2017-07-27 07:26] reasonat commented on #27
@JerusalemCinematheque @navotb This wait for your response

[2017-07-27 07:27] #261 closed, assigned to bruria1

[2017-07-27 07:29] #267 closed, assigned to sato2004

[2017-07-27 07:30] #31 closed

[2017-07-27 08:11] navotb commented on #282
האם אי אפשר להוסיף לנו את האופציה להכניס תגיות הטמל של איפריים או אמבד בתוך
הטקסט אדיטור ? אם זה שובר את הרספונסיבי, תראו לנו מה הקוד המתאים כדי שזה
יתאים לכל המסכים

On Thu, Jul 27, 2017 at 9:21 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-07-27 08:12] navotb commented on #267
סגור אבל מה עם עמודי הקלנדר? צריך לטפל בענין זמן התגובה והעדכון שלהם, עכשיו
כשנגמר הפסטיבל.

On Thu, Jul 27, 2017 at 10:29 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-07-27 08:17] JerusalemCinematheque commented on #263
משום מה המייל שלי התברג לתוך מערכת שליחת אירועים לקלנדר האישי של המשתמשים
אני לא יודעת מה זה אומר מבחינת המשתמשים, אבל אני פעם ב מקבלת נוטיפיקציה למייל של משתמשים באתר ששלחו אירועים לקלנדר שלהם

[2017-07-27 08:20] JerusalemCinematheque commented on #278
do i need to clear site cache to see the change?
because look at this link
http://jer-cin.org.il/en/movie-group/11404

the first film "house call" shows all the credits even though most of them are marked as hide from cinematheque site

[2017-07-27 08:33] sato2004 commented on #278
Check it now please

[2017-07-27 08:34] JerusalemCinematheque commented on #278
ok

[2017-07-27 09:27] JerusalemCinematheque opened #283 "homepage - one item - article - title font size"
@bruria1
בעמוד הבית נראה שגודל הפונט של כותרת מאמר בתצוגת וואן אייטם קצת גדול יותר מגודל הפונט של סרט / אירוע / לובי
![image](https://user-images.githubusercontent.com/26960693/28663685-bc42c686-72c6-11e7-8e26-c49c47b12076.png)

[2017-07-27 09:36] JerusalemCinematheque commented on #27
אלו ההערות שלנו על ממשק הדפדוף
1. מיקום החצים – החצים צריכים לשבת על גבולות גריד האתר, כלומר קווי ההמבורגר / ואייקון החלפת שפה, ובגובה של פרטי הסרט
2. החצים צריכים להיות סטיקי
3. אפשר להוסיף לחצים איזשהו רקע
            מקור ההשראה: https://goo.gl/Gjz7xY
4. צריכים להופיע שם האירוע + שם הסרט (אלא אם הם אותו הדבר)
5. אנחנו רוצים לוודא שגם מופיעים תאריכי האירוע
6. החצים גם צריכים להיות קליקבילים, לא

[2017-07-27 09:55] bruria1 commented on #282
הוספתי אופציה כזו בעורך תוכן. תראו אם זה טוב.

[2017-07-27 10:03] bruria1 commented on #283
עודכן באתר פיתוח.
נעדכן בסוף היום את הסביבה החיה

[2017-07-27 10:49] JerusalemCinematheque commented on #282
איך משתמשים בזה?
מכניסים את קוד האייפריים או את הכתובת של העמוד?

[2017-07-27 12:57] bruria1 commented on #27
תבדקו כעת בבקשה:
1. בוצע
2. החיצים לא יכולים להיות סטיקים אם הם יושבים במקום מסויים. אם רוצים הם יכולים להיות סטיקים ולהופיע תמיד נניח באמצע המסך
3. בוצע
4. בוצע
5. האם תאריכי האירוע אמורים להופיע גם בחיצים???? עמוס מאוד
6. בוצע
7. בוצע
8. זה בעיה. כי בעצם רואים את הכותרת רק במעבר עכבר. ואם במובייל ייראו תמיד זה מאוד יעמיס על הדף. מציעה להוריד את החיצים במובייל לגמרי.
9. בוצע
8. בוצע

לגבי סעיפים

[2017-07-27 12:58] bruria1 commented on #282
כתובת העמוד בלבד

[2017-07-27 13:33] #278 closed, assigned to sato2004

[2017-07-27 13:34] reasonat commented on #263
See @sato2004 comment days before
https://github.com/Reasonat1/Cinema/issues/263#issuecomment-314748831

[2017-07-27 13:35] reasonat commented on #267
יש משימה הקשורה בביצועים באתר
לא קשור לפה

[2017-07-27 13:37] navotb commented on #267
יש עניינים שקשורים לביצועים באתר בכללי,אבל העמודים האלו דורשים פתרון
ספציפי, תשווה את זמן התגובה של העמוד הזה ביחס לעמודים אחרים, יש כאן בעיה.

On Thu, Jul 27, 2017 at 4:35 PM, Amir Taiar <notifications@github.com>
wrote:

[2017-07-27 13:51] JerusalemCinematheque commented on #282
ניסיתי להכניס את העמוד הבא
http://webversion.net/4FC8DA374E91A60188DBE54307904ACC5CB68526F19727AE3281F40E70A160AF/show.aspx

כאן
http://jer-cin.org.il/he/node/12058/edit

כשאני עוברת למצב תצוגה לא רואים שיש תוכן בעמוד
אולי לא הבנתי איך להשתמש במנגנון

[2017-07-27 13:52] JerusalemCinematheque commented on #263
i know, but i still got this email-notification

[2017-07-27 13:52] sato2004 commented on #245
fixed

[2017-07-30 05:29] bruria1 commented on #282
אני לא רואה למה זה לא עובד בעורך תוכן.
האם זה יפתור את הבעייה אם יהיה שדה בסוג תוכן ניוזלטר שבו תוכלו להכניס את הכתובת של האייפרם? או שאתם צריכים את זה במקומות שוננים באתר?

[2017-07-30 08:05] JerusalemCinematheque commented on #280
יש עדיין עניין בתצוגת גריד כשמדובר רק באירוע ללא סרט מקושר
כותרת האירוע מופיעה פעמיים
ראי בתמונה עם הכותרת סקאר זכאי
למעשה אם מדובר באירוע ללא סרט מקושר, כותרת האירוע אמורה להופיע כמו כותרת סרט
![image](https://user-images.githubusercontent.com/26960693/28751684-d5860444-7516-11e7-9859-afef663d6201.png)

[2017-07-30 08:07] JerusalemCinematheque commented on #271
אפשר לעשות את השינוי של הקלנדר בכל המקומות בהם הוא מופיע?
עמודי לובי
עמודי אירועים?
לפתוח על זה טיקט חדש?

[2017-07-30 08:28] JerusalemCinematheque commented on #27
2. נניח לזה
5. כן, יכול להיות רק תאריך ושעה. לא צריך אולם.
8. אבל באיזה גודל תצוגה מורידים את החצים? כי לדוגמא כשאני מסתכלת בתצוגה של אייפד, רואים את החצים, אבל שום דבר לא קורה בהם - אין מעבר של העכבר והם לא קליקבילים
9. יש כאן עדיין בעיה של תוצגה כששם האירוע ארוך
![image](https://user-images.githubusercontent.com/26960693/28751811-b90c3f38-7519-11e7-86bc-27774b794d24.png)

תוספת לבעיות בתפקוד
יכו

[2017-07-30 10:35] bruria1 commented on #271
אתם מדברים על הגדרת התאריכים 10 שנים קדימה?
בוצכ בכל שדה של תאריך בלובי ובאירוע

[2017-07-30 11:23] JerusalemCinematheque commented on #271
מצויין תודה

[2017-07-30 11:27] bruria1 commented on #280
לבדיקה

[2017-07-30 11:42] JerusalemCinematheque commented on #280
Ok

[2017-07-30 11:48] bruria1 commented on #27
3. הוספתי תאריך. האם הוא צריך להופיע רק כאשר הוא עתידי?
4. תסתכלי עכשיו. זה קליקבילי, אבל באיזשהו שלב זה לא נראה טוב. אני מציעה להוריד את החיצים בתצוגה של 780 פיקסלים ומטה.
5. סידרתי.

ברגע שהעיצוב יהיה מוכן אנא רכזו את כל בעיות התפקוד בטיקט אחר על מנת שאלכס יטפל בהם.

[2017-07-30 14:29] JerusalemCinematheque opened #284 "event page - Title Text from film page"
@bruria1 @reasonat
בעמוד אירוע עם סרט, הטייטל טקסט של התמונה המשוייכת לסרט לא מוצג בעמוד האירוע
ראו כאן את הטייטל טקסט של התמונה בעמוד הסרט
https://www.jer-cin.org.il/en/movie/6857

וכאן בעמוד האירוע של הסרט הוא לא מופיע
https://www.jer-cin.org.il/en/event/6858

[2017-07-30 14:32] JerusalemCinematheque opened #285 "film info line in event page"
@bruria1 @reasonat
בעמוד אירוע עם סרט, בשורת המידע שמופיעה מעל התקציר
מופיע פייפ מיותר כשאין מידע מאחד השדות
ראו כאן
https://www.jer-cin.org.il/en/event/6858

בעמוד הסרט לא מילאנו את השדה מדינה ושנה ועכשיו בעמוד האירוע יש פייפ מיותר לפני האורך
מה שלא קיים בעמוד הסרט
https://www.jer-cin.org.il/en/movie/6857

[2017-07-30 15:16] JerusalemCinematheque commented on #27
3. כן. נשמח אם התאריך יופיע מעל כותרת האירוע, בבולד ואם אפשר להוסיף פייפ בין התאריך לשעה
שאלה שלא קשורה לדפדוף, אבל קשורה לתצוגה של תאריכים עברו והעלינו אותה מספר פעמים, אבל לא זוכרת איפה השיחה נעצרה. האם זה בעייתי שהתאריך יישאר בעמודי לובי ובעצם בכל מקום חוץ מעמודי הסרטים עצמם ועמודי לובי של סרטים? כלומר גם בעמודי האירועים לדוגמא?

4. אפשר להראות לנו אולי איך זה יראה עם חצים למטה, אחרי כל התוכן

[2017-07-31 05:40] bruria1 commented on #284
לבדיקה

[2017-07-31 05:55] bruria1 commented on #285
לבדיקה

[2017-07-31 07:59] JerusalemCinematheque commented on #284
ok

[2017-07-31 07:59] JerusalemCinematheque commented on #285
ok

[2017-07-31 09:07] reasonat commented on #27
המשימה הזו לקחה הרבה הרבה מעבר לתכנון ולהציג כעת את החצים בחלק התחתון בצורה נכונה יקח עוד שעתיים של עבודה בערך. מצטער, אני לא יכול לאפשר את זה.

[2017-07-31 09:13] bruria1 commented on #27
לגבי התאריך סידרתי את התצוגה שלו.
לגבי הדרישה הנוספת של תצוגת תאריכים בכל מיני מקומות באתר אנא העלו על זה טיקט נפרד.

אני לא רואה שהחיצים עולים עלההדר..
לגבי צד עברית - סידרתי

[2017-07-31 10:55] bruria1 commented on #283
אנא אשרו

[2017-07-31 11:15] JerusalemCinematheque commented on #283
ok

[2017-08-01 05:41] sato2004 commented on #257
@reasonat I fixed some problems with jquery and turned on aggregation. Everything looks ok now.

[2017-08-01 07:53] JerusalemCinematheque commented on #285
אני לא יודעת למה, כי כל השדות מלאים, אבל באירוע הזה יש פייפ מיותר
http://jer-cin.org.il/he/event/12180

[2017-08-01 08:08] JerusalemCinematheque commented on #285
וכאן הפייפ בין האורך לשפות נעלם
http://jer-cin.org.il/he/event/11447

[2017-08-01 08:08] bruria1 commented on #285
לבדיקה

[2017-08-01 08:09] JerusalemCinematheque commented on #285
ok

[2017-08-01 08:16] JerusalemCinematheque opened #286 "Event and Movie navigational arrows - technical issues"
@reasonat @sato2004
רשימה של העניינים הטכניים שקשורים לדפדוף
1. הדפדוף אמור לעבוד גם בלובי של סרטים וגם דרך הקלנדר, ולא רק דרך לובי אירועים
2. הגיון הדפדוף: אם נכנסים דרך לובי - דפדוף בלובי לפי הסדר של כל לובי (א-ב, תאריך יצירה, תאריך הקרנה)
אם נכנסים דרך קלנדר – דפדוף לפי סדר כרונולוגי
3. קרה לנו מספר פעמים שהתחלנו לדפדף ואחרי מספר עמודים הדפדוף הפסיק להופיע
4. יכול להיות שיש בעיה בדפדוף כשנוד מק

[2017-08-01 11:28] #283 closed, assigned to bruria1

[2017-08-01 11:30] #285 closed, assigned to bruria1

[2017-08-01 11:30] #284 closed, assigned to bruria1

[2017-08-01 11:49] JerusalemCinematheque opened #287 "festival term - adding front page content type"
@reasonat

 אנחנו צריכים שתהיה לנו אפשרות להוסיף בעמודי "פסטיבל טרם" גם תוכן מסוג פרונטפייג'
כך שנוכל להציג עמודים כמו זה
http://jff.org.il/he/10017

או זה
http://jff.org.il/he/10703

[2017-08-02 07:40] JerusalemCinematheque commented on #269
ok

[2017-08-02 07:45] JerusalemCinematheque commented on #245
seems to be okay now. will reopen if we encounter issue again

[2017-08-02 08:59] JerusalemCinematheque commented on #156
issue was closed but this hasn't been updated on live site

[2017-08-02 11:54] JerusalemCinematheque commented on #27
![image](https://user-images.githubusercontent.com/26960693/28872502-28c9de3c-7792-11e7-8100-22eb8e4b9fd2.png)

אפשר שהרווח בין התאריך לכותרת אירוע ולכותרת סרט יהיה אותו הדבר
זה נראה שכותרת האירוע קצת צמודה מידי לתאריך

[2017-08-02 12:02] JerusalemCinematheque commented on #282
מה זה סוג תוכן ניוזלטר?

[2017-08-02 13:20] bruria1 commented on #27
לבדיקה

[2017-08-02 19:11] bruria1 commented on #282
אני לא רואה סוג תוכן כזה...

[2017-08-03 07:15] sato2004 commented on #286
On the dev site I added this block to movies and movie groups. Now it is work if in a lobby there are not only events, but movies and movie groups to. The order of navigation is the same as the order in a lobby.
Also this navigation work if you open an event from calendar or festival calendar.

[2017-08-03 08:59] JerusalemCinematheque commented on #286
Lobby navigation

1. when navigating in lobby with films, next screening date of the film is missing
http://dev.jer-cin.reasonat.com/en/lobby/new-films-2

2. also need to make sure that the "next screening" is shown after the previous screening has passed

3. the navigation does not appear on hebrew side of lobby with films
http://dev.jer-cin.reasonat.com/he/lobby/%D7%A1%D7%A8%D7%98%D7%99%D7%9D-%D

[2017-08-03 09:09] JerusalemCinematheque commented on #282
כתבת בהערה הקודמת
האם זה יפתור את הבעייה אם יהיה שדה בסוג תוכן ניוזלטר
אז תהיתי אם זה סוג תוכן שקיים ואז אני אוכל לראות איך זה עובד ואם זה מתאים למה שאנחנו צריכים

[2017-08-03 09:11] JerusalemCinematheque commented on #27
ok

[2017-08-03 11:14] JerusalemCinematheque opened #288 "event page - toptix - does not transfer to translated page"
@yakoub
כשאנחנו מייבאים אירוע מטופטיקס מתוך עמוד אירוע
הפרטים של תחילת/סוף מכירת כרטיסים לא עוברת לצד המתורגם של האירוע
לדוגמא
צד אנגלית עם פרטי המכירה מטופטיקס
http://jer-cin.org.il/en/node/12179/edit

צד עברית ללא הפרטים
http://jer-cin.org.il/he/node/12180/edit

[2017-08-03 19:13] bruria1 commented on #282
התכוונתי לסוג תוכן מאמר..

[2017-08-07 11:02] JerusalemCinematheque commented on #282
אנחנו זקוקים לזה בעיקר בסוג תוכן מאמר, אבל לא רק
השאלה היא איך זה משתלב בתוך העמוד?
האם זה אומר שהעמוד מציג רק את האייפריים? או שאפשר לשלב שם תוכן נוסף?

[2017-08-07 12:35] bruria1 commented on #282
זה יהיה שדה שיופיע כשדה. לא ישפיע על שאר השדות בעמוד.

[2017-08-08 07:42] JerusalemCinematheque opened #289 "date line of past events appearence"
@reasonat @bruria1
we would like to **keep** the date line of past events in the following occurrences
1.        On the event page
2.        In lobby pages and front page content type (including homepage) when an event is attached to said lobby or front page content type
3.        In film box in lobby pages but...
In order to prevent the showing of newer events of the film, (1) show only events th

[2017-08-09 08:54] reasonat commented on #282
לא ברור לי למה נעשתה פה עבודה. מדובר במשימה בהקפאה.

[2017-08-09 08:55] #27 closed

[2017-08-09 09:00] reasonat commented on #156
@bruria1 ?

[2017-08-09 09:01] #245 closed, assigned to sato2004

[2017-08-09 09:01] #269 closed, assigned to sato2004

[2017-08-09 09:07] reasonat commented on #257
Re-Test and it looks fine. Reopen if needed.

[2017-08-09 09:07] #257 closed, assigned to sato2004

[2017-08-09 09:29] reasonat commented on #263
אני פשוט לא מצליח להבין את הבעיה.
אלכס כתב לכם האם יש רצון להחליף למייל אחר וממה שאני מבין זה אמור לפתור את הבעיה לא?

[2017-08-09 09:30] reasonat commented on #192
@JerusalemCinematheque @navotb ?

[2017-08-09 09:31] reasonat commented on #190
@navotb @JerusalemCinematheque ?

[2017-08-09 10:38] reasonat commented on #55
@navotb @JerusalemCinematheque
The flow should be:
1. Create the form you need with the webform fields and text as any other form on the site.
2. Set the form settings - Like email notifications and so on.
3. On the form edit page reference to the event needed.

Once the user will submitted the form he will be redirected to the event payment page.

This is already passed QA so I am closing this is

[2017-08-09 10:38] #55 closed

[2017-08-09 10:48] navotb commented on #282
אמיר, אי אפשר להוסיף תגיות embd או iframe לטקסט אדיטור? אנחנו לא מבקשים
יותר, רק שהתגיות יעבדו

On Wed, Aug 9, 2017 at 11:54 AM, Amir Taiar <notifications@github.com>
wrote:

[2017-08-09 10:51] reasonat commented on #282
אני לא רואה פה שיח על תגיות.
תעדכן אותי? המשימה הזו מדברת על אמבד של אייפריים
אם יש בעיה עם התגיות אפשר לפתוח על זה משימה חדשה, זה לא קשור לפה.

[2017-08-09 10:55] navotb commented on #282
אמבד של אייפריים בתוך כל עמוד, כדי שנוכל להכניס קליפ יוטיוב, גוגל מפס או
חוברות פידיאף וכו' - בקיצור כל מה שאפשר לאמבד אותו.
הדרך הכי פשוטה שהיינו משתמשים בה באתרים קודמים היא פשוט עם קוד iframe או
קוד אמבד. נדמה לי שברוריה הוסיפה את זה, אבל איכשהו האייפריים לא הופיע כמו
שצריך. אנחנו פשוט צריכים שזה יעבוד כקוד.

2017-08-09 13:51 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-08-09 12:24] sato2004 commented on #286
fixed

[2017-08-09 12:51] JerusalemCinematheque commented on #55
We have only seen the forms over a year ago when Tom first showed us the site.
we would appreciate it if you could give us a tutorial on how to use the forms, so we can see if this and the toptix button work correctly

[2017-08-09 13:10] JerusalemCinematheque commented on #268
[facebookExtraCode.txt](https://github.com/Reasonat1/Cinema/files/1211833/facebookExtraCode.txt)
@yakoub
because of facebook new guidlines we need to update the facebook code and add the code attached that was sent to the current code
here are the instructions we got

To authorize multiple pages:
•       Copy the Open Graph markup tag for each Page
•       Place each Open Graph markup tag between

[2017-08-10 06:28] yakoub commented on #268
@JerusalemCinematheque
done

[2017-08-13 08:56] JerusalemCinematheque opened #290 "Cinematheque site - mini calendar icon does not work when browing through days"
@reasonat
בצד סינמטק, כשהולכים קדימה/אחורה במיני קלנדר האייקון של השעון מפסיק לפעול
כלומר אי אפשר לסגור את המיני קלנדר מתוך האייקון
ואם סוגרים את המיני קלנדר על ידי לחיצה על כפתור "סגור"
אי אפשר לפתוח אותו מחדש על ידי לחיצה על האייקון

[2017-08-13 10:23] reasonat commented on #290
I can approve strange behaviour like this. @bruria1 will check this out

[2017-08-13 10:24] #268 closed, assigned to nobody

[2017-08-13 10:39] reasonat commented on #55
https://www.youtube.com/watch?v=hwlJgrvT1Kk this can help you.
This is from our client docs, so some items might not relevent:
**Create the node form itself**
Add a title & description to the form.
When you create the form you will be redirect to the form setting page.
**Form settings:**
Elements - Add fields to the form.
Source (YAML) - Should not be touched,
Settings - General settings.
Access -

[2017-08-13 11:06] reasonat commented on #282
בדיוק, וכמו כל בקשה באתר הזה, בקשה פשוטה יכולה להפוך למורכבת. זה לצערי.
יש רצון, כמו במקרים אחרים, להוסיף אלמנטים ובקשות נוספות, אך כאשר אני רואה שהן נגררות אני נאלץ לעצור.

[2017-08-13 11:19] JerusalemCinematheque commented on #263
יכול להיות שזה פתר, אין לי מושג
אם יקרה שוב נעדכן

[2017-08-13 11:24] navotb commented on #282
אבל אמיר, זה משהו שאמור להיות טבעי בתוך טקסט אדיטור, לא משהו שצריך לבנות
מאפס. היה לנו את זה באתרים הקודמים שהיו פי מאה פחות מתוחכמים.

2017-08-13 14:06 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-08-13 11:39] JerusalemCinematheque commented on #286
Lobby navigation

4. if there are more than two screenings this is still an issue
![image](https://user-images.githubusercontent.com/26960693/29249162-42782e52-8033-11e7-891b-97aef27da9ea.png)
also i don't know if it matters, but the screening line borders are wrong. this happened after the application of the browsing arrows. if this wont affect the live site, when navigation is transferred to liv

[2017-08-13 12:06] reasonat commented on #282
לא יודע מה ההיה באתרים קודמים, ולומר שזה אמור להיות בילדין בתוך אדיטור לא משהו שידוע לי.
מה שאני כן יודע שבמקרה שלנו יש לזה השפעה שדורשת עבודה נוספת

[2017-08-13 12:07] reasonat commented on #263
ok, so I close this issue for now

[2017-08-13 12:07] #263 closed, assigned to sato2004