[2017-08-13 12:11] navotb commented on #282
אמיר, זה תג הטמל סטנדרטי, כך שעורך ההטמל אמור לקבל אותו. כרגע הוא חוסם
אותו, זה כנראה נובע מענין של הדרופל, ואנחנו מבקשים אם אפשר להסיר את החסימה
הזו.

2017-08-13 15:06 GMT+03:00 Amir Taiar <notifications@github.com>:

[2017-08-13 12:40] yakoub commented on #169
the problem is content admin page like 'admin/events-manager' will show links to content that is not accessible because of domain restriction .

suggested solution is for example movie 'love' that belongs to jff then the table should show full path link regardless of current domain .
meaning even under jer-cin it will still show path jff.org.il/movie/love .
if otherwise movie belongs to both jff a

[2017-08-13 12:42] navotb commented on #169
If I understand correctly, this is like "Redirect", no?

On Sun, Aug 13, 2017 at 3:40 PM, yakoub <notifications@github.com> wrote:

[2017-08-13 12:59] yakoub commented on #169
a redirect means you open link under one address jff.org.il/movie/love and it redirects to another address like jer-cin.org.il/movie/love
but what i suggest has no redirection because the link is already generated with correct full address .

[2017-08-13 13:04] navotb commented on #169
As long as the functionality is the same: meaning if a node is enabled only
on one domain, then when clicking on it you will be directed to the right
domain and will not be getting a crippled page on the wrong domain - it is
ok.
By the way - if I will be entering (typing) the url address with the wrong
domain - what will happen?

On Sun, Aug 13, 2017 at 3:59 PM, yakoub <notifications@github.com> w

[2017-08-13 13:06] yakoub commented on #169
this not related to site wide behavior and policy at all .
this is only about the admin content table .
we can also simply add column to the table about which domains it belong to and this way the content administrator will understand what happened if the page opens up in "error not found" .

[2017-08-13 13:12] navotb commented on #169
Oh. I thought you were talking about the public side of the website, since
my last remark was about getting half baked pages when entering from the
"not makred" domain.
We already have the domain column.

But in terms of functionality, we wish to prevent either "page not found"
or "half baked page".

On Sun, Aug 13, 2017 at 4:06 PM, yakoub <notifications@github.com> wrote:

[2017-08-13 13:14] JerusalemCinematheque commented on #169
so if editor wants to access content belonging to the other domain what happens?
for intstance
if i am in jercin domain and search for film or event 1945 which belongs to jff domain
then there is no issue with editing the node, even if it belongs to other domain?

[2017-08-13 13:15] yakoub commented on #169
i think if currently you don't have problems with content admin pages, then this issue should be closed .

as for discussing public side of the website, it should be in different issue .

[2017-08-14 07:32] yakoub commented on #288
@JerusalemCinematheque problem fixed .

note for developers @reasonat  : controlled by configuration checkbox in admin/structure/types/manage/cm_event
under tab "Synchronize translations" checkbox "Sale period"

[2017-08-14 13:54] JerusalemCinematheque commented on #288
ok

[2017-08-15 06:58] JerusalemCinematheque commented on #290
ואם חוזרים להיום, הכל עובד כמו שצריך

[2017-08-15 09:25] JerusalemCinematheque opened #291 "Forms"
@reasonat
עברנו עכשיו על תוכן מסוג טופס. אלו ההערות שלנו
זו הדוגמא שבה בשתמשנו
http://jer-cin.org.il/he/webform/12396

1. להתאים גודל כותרת טופס לגודל הכותרות באתר
2. אם אין תמונה, אז לא רואים את הכותרת של הטופס

3. להתאים ריווח שורות בודיטקטס לריווח השורות באתר

4. יש לרווח בין השדות של הטופס
5. המלבנים של השדות צריכים להיות עם קצוות מרובעים ולא עגולים

6. הטקסט בכפתור צריך להיות "שלח" ולא "חיפוש

[2017-08-15 10:19] reasonat commented on #282
שוב, כפי שאמרתי, נגררנו פה כבר לשעות של עבודה. אחרת לא הייתי מקפיא את זה.

[2017-08-15 10:20] navotb commented on #282
אז מה האופציות שלנו כרגע בהקשר הזה?

On Tue, Aug 15, 2017 at 1:19 PM, Amir Taiar <notifications@github.com>
wrote:

[2017-08-15 10:21] #288 closed, assigned to nobody

[2017-08-15 10:22] reasonat commented on #290
Lets keep an eye on it. I leave this open. @bruria1 will be back from vac in few days

[2017-08-15 10:28] reasonat commented on #291
1-8 +12 - @bruria1 will take of.
9 - We can't design this but to make it look just like simple page.
10 + 11 + 14 - This is a frontend change to what already done. Cancel.
15 + 16 + 17 + 18 + 19 + 20 + 24 - New request - Cancel.
21 +22 - @bruria1 please answer this
23 + 26 - There is a submission page build in. We will not change the core behaviour. Cancel
25 - @bruria1 will check this
27 - What d

[2017-08-15 10:29] reasonat commented on #282
נוכל לדבר במייל בנפרד על בקשות נוספות. כעת אנחנו כאמור הרבה מעבר למה שצריך לעשות.

[2017-08-15 11:55] JerusalemCinematheque commented on #291
we never discussed this content type
we understand that somethings cannot be changed, but ask for some of the issues to be reconsidered. the way some of these field look - like date - does't make any sense
or the progress line - the start and finish are in english. and it's green.
15. as we never discussed this content, we would appreciate adding this component that exist in other pages to this pa

[2017-08-15 11:56] JerusalemCinematheque commented on #55
this hasn't been implemented to live site

[2017-08-16 11:00] bruria1 commented on #287
כעיקרון אתם יכולים. איפה נתקלתם בבעיה שלא יכולתם?

[2017-08-16 11:04] JerusalemCinematheque commented on #192
נראה לי יש כאן איזה בלבול לגבי הטיקט ולא ברור מה פתוח
האחד זה עניין תוצאות החיפוש בפרונטאנד
יש לנו דיון פתוח על תוצאות החיפוש בפסטיבל כאן #190
מה שלא נפתר בהקשר של החיפוש הוא תוצאות של נודס שמשוייכים לדומיין אחד בחיפוש של הדומיין השני
כאן ביקשנו שבצד פסטיבל לא יתקבלו תוצאות חיפוש של פריטים ששוייכו לדומיין סינמטק
כרגע גם בצד פסטיבל מקבלים תוצאות של צד סינמטק. לדוגמא "פיטר פן"
בצד סינמטק ביקשנו שכן

[2017-08-16 11:06] JerusalemCinematheque commented on #287
זה צילום מסך של חלונית הוספת נודס לפסטיבל טרם הנוכחי
פרונטפייג' הוא לא אחד מסוגי התוכן שאפשר לעשות עליהם חיפוש
![image](https://user-images.githubusercontent.com/26960693/29360527-09041e3c-828c-11e7-9bd6-3b57d7a770a1.png)

[2017-08-16 11:49] JerusalemCinematheque commented on #190
התוצאות שמוצגות יהיו של מהדורה נוכחית
כאשר הפילטר של מהדורה נוכחית מופעל אוטומטית (כלומר רואים ליד המסננים  [איקס]פסטיבל הקולנוע ירושלים 0000)
אם משתמש סוגר את המסנן, יופיעו התוצאות מכל המהדורות

כשבכל תוצאה יש תצוגה כלשהי של שיוך לפסטיבל  ולמהדורה, כמו שיש כמו שיש סימון של סוג התוכן (סרט, אירוע, איש)

[2017-08-16 16:16] bruria1 commented on #286
לגבי סעיף 4. האם כעת בסדר?

[2017-08-17 22:05] bruria1 commented on #291
http://dev.jer-cin.org.il/he/webform/8840
כל שינויי העיצוב בוצעו באתר פיתוח
1-8 12 בוצע
21. באופן הזה:
1|DCP
2|פרורז
3|אחר
עדכנתי בטופס תוכלו לראות כעת
22. fieldset - ליצור שדות כקבוצה - אפשר לראות דוגמה הטופס בדיקה
grid - זה ליצור  מטריצה - אני לא חושבת שתזדקקו לזה פה...
Markup - אם אתם רוצים לרשום איזשהו טקסט בטופס
25. האם תוכלו לבדוק כעת?

[2017-08-20 10:23] bruria1 commented on #156
האם מדובר על כך שהסיווג לחיץ? זה מעודכן גם בלייב לפי מה שאני רואה.
אם לא תראו לי דוגמה.

[2017-08-20 10:38] bruria1 commented on #290
תוקן. באתר פיתוח

[2017-08-20 12:14] reasonat opened #292 "Search domain access settings"
[https://www.wrike.com/open.htm?id=142672742https://www.wrike.com/open.htm?id=142672742](https://www.wrike.com/open.htm?id=142672742)

* Display only results of nodes which set to festival in the domain access field AND DONT display results form jer-cin domain.

**On jer-cin:**

* Display only results of nodes which set to jer-cin in the domain access field AND DONT display results form jff domain

[2017-08-20 12:17] reasonat opened #293 "Management pages - Festival - Display on nodes from festival"
On festival site, on all management pages, display only results from festival.

This is on FREEZE since this is one site, not 2.
So there is a filter to use on management page to display on nodes from festival domain access.

[2017-08-20 12:19] reasonat commented on #192
1. For the first part see this https://github.com/Reasonat1/Cinema/issues/292. Notice the freeze since this is an extra request and development. **Please comment there if needed.**
2. Didnt get it. Please explain better
3. Also freeze - Look here https://github.com/Reasonat1/Cinema/issues/293 **Please comment there if needed.**

[2017-08-20 12:24] reasonat commented on #291
15. זה לא סוג תוכן רגיל, זה טופס, להוסיף שדה כזה יקח זמן רב של פיתוח.
16. מבין, אבל זה לא בסקופ כלל ודורש זמן פיתוח שאני לא יכול לאשר.
19. אתם יכולים לכתוב בתוכן שמקדים לטופס שזה טופס שמוביל לקנייה של כרטיס.
23+26. אפשר, כמובן. אבל זה יקח זמן פיתוח רב שאני לא יכול לאשר.
27. יש אפשרות לייצא את כל התוצאות מטופס אחד ולא תוצאה בודדת. כמו כן לא ניתן כמו שזה כעת לייצא את כלל התוצאות מכלל הטפסים יחד

[2017-08-20 12:28] #169 closed, assigned to nobody

[2017-08-20 12:29] yakoub commented on #55
example : http://jer-cin.org.il/en/webform/4154

[2017-08-20 12:29] yakoub commented on #55
@JerusalemCinematheque added the field to live site as well : http://jer-cin.org.il/en/webform/4154

[2017-08-20 12:52] sato2004 commented on #286
About language change, this is true. Because if we changed the language, we moved to a new page (like not from lobby). If we need to have navigation when language is changed, I need to change a module.

[2017-08-20 13:19] reasonat commented on #286
As for @sato2004 commetn. I don't approve this request.
Wait for you to approve @bruria1 solve

[2017-08-20 15:19] JerusalemCinematheque commented on #156
לא. מדובר על עניין בחירת הדומיין ללובי כמו שיש כאן
http://dev.jff.reasonat.com/he/taxonomy/term/631

[2017-08-20 15:21] JerusalemCinematheque commented on #290
ok

[2017-08-20 15:23] JerusalemCinematheque commented on #55
ok

[2017-08-20 16:17] bruria1 commented on #287
אני לא רואה שיש תצוגה לאלמטים שמוסיפים בסקשיין של הפסטיבל טרם. זה אמור להיות ולא קיים?

[2017-08-20 20:02] bruria1 commented on #190
בינתיים הוספתי את שם הספטיבל ליד התוצאה.

[2017-08-20 20:17] bruria1 commented on #156
@yakoub אני לא יודעת מה עשית שם.. בעמודי סרט זה עובד ולוביים שמשויכים לדומיין מופיעים אך ורק בדומיין אך בעמודי אירוע זה לא עובד.

[2017-08-21 11:58] reasonat opened #294 "synchronize features"

[2017-08-21 12:23] reasonat commented on #156
➤ yakoub abaya commented:

this should be fixed by synchronizing features and delivering to live site

[2017-08-21 12:28] reasonat commented on #156
➤ yakoub abaya commented:

https://www.wrike.com/open.htm?id=171727128

[2017-08-21 14:49] JerusalemCinematheque commented on #287
אני חושבת שהתצוגה תהיה ברגע שטווח התאריכים של הטרם יסתיים
כרגע כן הוא מפנה לעמוד הבית

[2017-08-21 14:56] JerusalemCinematheque commented on #190
בדב?
כי אני לדוגמא מנסה לחפש את
the army of shadows
והתוצאה שאני מקבלת היא
1 item matched the army of shadows
Your search did not return any results.
![image](https://user-images.githubusercontent.com/26960693/29525020-13c1f2f6-869a-11e7-9a2a-736180cae9db.png)

כלומר רואים שיש תוצאה אבל לא רואים אותה

[2017-08-21 15:15] bruria1 commented on #190
כן.. סידרתי את זה.

[2017-08-21 16:29] bruria1 commented on #287
הוספתי את האפשרות להוסיף עמודים מסוג עמוד הבית. אפשר לראות את זה בעמוד הזה:
http://dev.jer-cin.org.il/he/festivals/2017

[2017-08-22 07:54] reasonat commented on #156
➤ yakoub abaya commented:

@Bruria Helfer i synchronized features and hope this will fix it, please review .

[2017-08-22 07:54] reasonat commented on #156
➤ yakoub abaya commented:

what i did is call function cm_extra_event_view_lobby_list from views php field

[2017-08-22 07:54] reasonat commented on #156
➤ yakoub abaya commented:

but this happens only in view movie_top_pane_view

[2017-08-22 07:54] reasonat commented on #156
➤ yakoub abaya commented:

in display panel_pane_2 field lobby_list

[2017-08-22 07:59] reasonat commented on #156
➤ yakoub abaya commented:

seems to me when i worked on this i didn't get requirement for the list to appear on event page but only on movie page

[2017-08-22 07:59] reasonat commented on #156
➤ yakoub abaya commented:

let me know what else needs to be done here

[2017-08-22 11:18] bruria1 commented on #156
@yakoub זה לא עובד בעמודי אירוע. רק בעמודי סרט.

[2017-08-22 11:18] reasonat commented on #156
➤ Bruria Helfer commented:

@yakoub abaya זה לא עובד בעמודי אירוע, רק בעמודי סרט

[2017-08-22 12:59] JerusalemCinematheque commented on #190
השיוך צריך להיראות כמו השיוך סוג תוכן. כלומר באותו גודל פונט וצבע
![image](https://user-images.githubusercontent.com/26960693/29566535-dacf57c2-8752-11e7-9566-6d6d925689be.png)

[2017-08-22 13:30] JerusalemCinematheque commented on #287
מעולה

[2017-08-22 13:34] JerusalemCinematheque commented on #286
ok for 4
but isn't it better if the navigation buttons are always in the same place, under the screening lines?
if you browse through this lobby
http://dev.jer-cin.reasonat.com/en/lobby/new-films-2
you see that the placement of the arrows in the first item and the second item is not the same

[2017-08-22 20:00] bruria1 commented on #190
היה צריך לעדכן את הקבצים. אמור להיות וב כעת.

[2017-08-22 20:04] bruria1 commented on #286
זה תמיד באותו מקום.. אלא אם כן אין תמונה  לעמוד.
אני לא רואה את הבעיה אולי?

[2017-08-23 08:03] JerusalemCinematheque commented on #286
אוקיי אז  כנראה לכן זה נראה לי לא בסדר

[2017-08-23 08:06] JerusalemCinematheque commented on #190
ok

[2017-08-23 16:09] yakoub commented on #156
seems to be working now : http://jer-cin.org.il/he/event/11593

[2017-08-24 07:34] JerusalemCinematheque opened #295 "home page - gallery - tickets button"
@reasonat @bruria1
בעמוד הבית בחלק של הגלריה
מתי שהתמונות מתחלפות כפתור הכרטיסים הופך להיות לא פעיל
לדוגמא עכשיו
כשנכנסים לעמוד הבית בתמונה הראשונה יש כפתור כרטיסים ואם מייד לוחצים עליו אין בעיה
אבל אם מגיעים אליו אחרי שהעברנו אייטמים עם החצים או אחרי המעבר האוטומטי שלהם אי אפשר ללחוץ על הכפתור

[2017-08-24 09:22] #190 closed, assigned to bruria1, navotb

[2017-08-24 09:30] #287 closed, assigned to bruria1

[2017-08-24 09:31] #290 closed, assigned to bruria1

[2017-08-24 09:32] #294 closed, assigned to nobody

[2017-08-24 12:03] JerusalemCinematheque commented on #156
זה צריך לעבוד על הצד המתורגם אוטומטית
כלומר עם שייכתי לובי לדומיין פסטיבל בצד אנגלית, הוא צריך גם להיות מקושר לדומיין הזה בצד עברית
לדוגמא
http://jff.org.il/he/taxonomy/term/747
שייכתי אותו מצד אנגלית לדומיין פסטיבל. אבל בצד עברית הוא משוייך לדומיין סינמטק

[2017-08-24 12:40] JerusalemCinematheque opened #296 "jercin calendar when event has no film attached"
@reasonat @bruria1
בקלנדר סינמטק כשיש אירוע שהוא רק אירוע ללא סרט מקושר
האירוע מופיע בקלנדר ללא הבוקסה הלבנה
![image](https://user-images.githubusercontent.com/26960693/29666793-7bedf60a-88e2-11e7-8a22-568148051dde.png)

[2017-08-24 17:03] bruria1 commented on #156
לבדיקה

[2017-08-24 17:13] bruria1 commented on #296
לבדיקה

[2017-08-28 14:12] reasonat opened #297 "Event and Movie navigational arrows - Apply when changing language"
When a user switch to another language from the even / movie nodes
AND
When there are nav arrows (SInce he came from some view)
THEN
Keep nav arrow functionality the same as the node he came before switching to another language.

[2017-08-28 14:12] #297 closed, assigned to sato2004

[2017-08-28 14:12] reasonat commented on #286
I am closing this issue.
As for the new request I have opened and closed (Freeze) it here https://github.com/Reasonat1/Cinema/issues/297

[2017-08-28 14:12] #286 closed, assigned to sato2004

[2017-08-28 14:16] #293 closed, assigned to bruria1

[2017-08-28 14:22] reasonat commented on #289
יש כאן חזרה אחורה בדרישות לאחר שכבר נעשה שינוי לפי דרישה שלכם. מוקפא ונסגר

[2017-08-28 14:22] #289 closed, assigned to bruria1

[2017-08-29 08:44] JerusalemCinematheque commented on #192
מדובר כאן על סימון שיוך מהדורת פסטיבל ולובי של הפסטיבל לסרט כאשר טווח תאריכי הפסטיבל עבר
כלומר זה קשור לענייני ארכיון הפסטיבל
ולכן הצעתי לפתוח לזה טיקט חדש

[2017-08-29 08:45] JerusalemCinematheque commented on #296
ok

[2017-08-29 09:03] JerusalemCinematheque commented on #291
6. הכפתור צריך להיות עם קצוות מלבניים כמו השדות
25. האם זה אמור להגיע במיידי? כי אם לא אז זה לא עובד

הערה חדשה
אם יש לטופס מספר עמודים גם הכפתור
previous page
בצד עברית צריך להיות בעברית

[2017-08-29 09:05] JerusalemCinematheque commented on #156
Ok

[2017-08-29 12:03] bruria1 commented on #291
6 - סידרתי
7 - סידרתי
הערה חדשה - תורגם

[2017-08-30 07:08] JerusalemCinematheque commented on #291
7 האם אני לא מקבלת את הטפסים המלאים למייל שלי כי אני ממלא אותם מאותו אי.פי?
מה לגבי עמוד הנחיתה אחרי מילוי הטופס? האם אפשר לתת לו קצת יותר ניראות של האתר? להכניס אותו לגבולות הגריד. להגדיל את הפונט? שהרפרנס "חזרה לטופס" יהיה בצד עברית בעברית?

[2017-08-30 10:49] bruria1 commented on #291
האם באופן כללי אתם מקבלים מיילים מהאתר?
לגבי עמוד הנחיתה עדיף שתצרו לבד עמוד נחיתה ותפנו את הטופס אליו.

[2017-08-30 10:59] JerusalemCinematheque commented on #286
@reasonat when will this feature be on live site?

[2017-08-30 11:06] JerusalemCinematheque commented on #291
מהצור קשר כן. אבל זה לא ממש מגיע מהאתר כי זה פותח תיבת מייל

[2017-08-30 12:29] JerusalemCinematheque commented on #222
האם ניתן להכניס פקטור של חיפוש לפי מספר נוד?
חוץ מזה בסדר

[2017-08-30 15:05] reasonat commented on #222
Yes. @bruria1 please add NID exposed filter. THanks

[2017-08-30 15:07] reasonat commented on #286
@sato2004 will push this in the following days

[2017-08-30 15:07] #156 closed, assigned to bruria1, sato2004

[2017-08-30 15:08] #296 closed, assigned to bruria1

[2017-08-30 15:09] reasonat commented on #192
עדיין לא הבנתי
אולי באמת תפתחו על זה טיקט חדש.
לאחר שתפתחו אסגור את הטיקט הזה שהוא כללי מדי

[2017-08-30 16:23] bruria1 commented on #291
לא הבנתי את הערה האחרונה..

[2017-08-30 16:25] bruria1 commented on #222
NID של מה? זו טבלת ניהול סיווגים לא?

[2017-08-31 09:39] JerusalemCinematheque commented on #222
כמו שאפשר לחפש שם סרט שיהיה אפשר לחפש גם לפי מספר נוד

[2017-08-31 09:40] JerusalemCinematheque commented on #291
אין לנו מקום באתר שממנו נשלח מייל ישירות מהאתר
אז אין לי תשובה לשאלה
האם באופן כללי אתם מקבלים מיילים מהאתר?

[2017-08-31 09:43] JerusalemCinematheque opened #298 "marking festival edition and lobby in film page"
**Update description:**
On movie pages, at the tags block area, add:
- The festival term which this movie refer to - Exclude current festival and display only past festival (Base on the date setting in the festival term form).
- The Loby this movie is related to.

@reasonat
היו לנו מספר שיחות בנושא סימון מהדורה ולובי בעמוד סרט
שבתחילה חשבנו שיהיה כתוב בעמוד הסרט הוקרן במסגרת פסטיבל [שנה] ושם הלובי

[2017-08-31 09:44] JerusalemCinematheque commented on #192
see #298

[2017-08-31 11:10] sato2004 commented on #295
fixed

[2017-08-31 11:57] JerusalemCinematheque commented on #295
ok

[2017-08-31 16:19] bruria1 commented on #222
לבדיקה

[2017-08-31 16:20] bruria1 commented on #291
@yakoub

[2017-08-31 17:01] #295 closed, assigned to sato2004

[2017-08-31 17:01] #192 closed, assigned to reasonat, navotb, sato2004

[2017-09-06 11:12] JerusalemCinematheque opened #299 "Main calendar - links don't work on Hebrew side"
@reasonat @bruria1
לא ניתן להיכנס לאירועים השונים מתוך עמוד הקלנדר הראשי צד עברית
הכותרות והתמונות לא קליקבילים

[2017-09-06 11:20] JerusalemCinematheque opened #300 "Arrow navigation doesnt work if user is not logged in"
@reasonat
נראה שאם משתמש לא מחובר לאתר, פיצ'ר הניווט בתוך לובי ומתוך הקלנדר לא עובד
כשאני כן מחוברת, אז רואים את הפיצ'ר והוא פועל כמו שצריך

[2017-09-06 14:02] navotb opened #301 "Navigation Arrows in Small Screens (mobile)"
Navigation Arrows are visible on small screens, and disrupt display. If we remember correctly we have agreed not to have the arrows on small screens.

[2017-09-06 17:26] JerusalemCinematheque commented on #301
זה נראה שזה קורה רק כשנכנסים לאירועי דרך הקלנדר הגדול

[2017-09-11 08:08] reasonat commented on #301
I canr remember this agreement - So, should we remove nav functionality from mobile?

[2017-09-11 08:09] reasonat commented on #300
האם אנחנו מדברים פה על כפתורי הניווט החדשים בין אירועים ובין סרטים אליהם מגיעים מלוגבי / קלנדר?

[2017-09-11 08:11] reasonat commented on #299
Tested and this works well.
What browser?
Are you login as admin?

[2017-09-11 08:14] reasonat commented on #298
תגית שהלובי אליו הסרט מקשר - איך זה קשור לטווח תאריכי הפסטיבל?
זה אומר שהתגית פסטיבל תופיע רק בפסטיבלים שהסתיימו ולא הנוכחי

[2017-09-11 08:16] reasonat commented on #291
אני מנסה להבין מה לא סגור פה.
נושא קבלת המיילים מהמערכת כלל לא קשור למשימה הזו ואפשר לפתוח משימה חדשה ולהסביר קצת יותר ברור במה מדובר.

[2017-09-11 08:17] reasonat commented on #222
Closing after qa. Reopen if needed.

[2017-09-11 08:17] #222 closed, assigned to bruria1

[2017-09-11 08:25] reasonat opened #302 "Event assignment validation"
We need to create validation to the event management page.
http://jer-cin.org.il/he/admin/events-manager and
http://jff.org.il/he/admin/events-manager
Which are the same view..

**The main idea is to prevent multiple events on the same:**
Hall
AND/OR
the same screening date & time
AND/OR
the same Technical comment.

**We might have a problem with Technical comment which is text field and I guess i

[2017-09-11 08:26] reasonat commented on #302
@JerusalemCinematheque @navotb Do we even need this?

[2017-09-11 08:26] reasonat commented on #17
Closing this issue and open a new one
https://github.com/Reasonat1/Cinema/issues/302

[2017-09-11 08:26] #17 closed

[2017-09-12 14:03] JerusalemCinematheque commented on #301
yes

[2017-09-12 14:03] JerusalemCinematheque commented on #300
כן

[2017-09-12 14:05] JerusalemCinematheque commented on #299
seems to be okay now

[2017-09-12 14:10] JerusalemCinematheque commented on #298
זה נראה לי ברור שהסרטים שמוצגים עכשיו בפרונט של האתר הם סרטים של המהדורה הנוכחית
ואם נוסיף להם כבר עכשיו את התגיות האלו, זה מידע כפול מיותר

[2017-09-12 14:11] JerusalemCinematheque commented on #291
אין בעיה נפתח

[2017-09-12 14:14] JerusalemCinematheque opened #303 "getting notifications from site after form is filled out"
@reasonat
מערכת הטפסים מאפשרת לקבוע נמען לקבלת תוצאות טפסים מלאים
עשיתי טסט עם כתובת המייל שלי
מילאתי את הטופס
לחצתי על שלח
אבל לא קיבלתי את הטופס עם התשובות למייל שלי

האם זה קשור לכך שהטופס ותיבת המייל יושבים על אותו איי.פי?

[2017-09-12 14:16] JerusalemCinematheque commented on #302
yes. it's not just time conlict, we also discussed techical conflicts
We should probably have a conversation about this issue

[2017-09-13 08:41] sato2004 commented on #301
done

[2017-09-13 12:04] JerusalemCinematheque commented on #301
ok

[2017-09-14 11:46] sato2004 commented on #300
I can't see the problem

[2017-09-19 13:59] JerusalemCinematheque commented on #300
it seems the issue in now only for events when entering through the mini calendar

![image](https://user-images.githubusercontent.com/26960693/30595950-61b8b8be-9d5b-11e7-9f02-c4a6d46fbcd7.png)

the print screen is from an event I entered from the mini calendar, as you can see there are no navigation arrows

[2017-09-26 08:18] #301 closed, assigned to sato2004

[2017-09-26 08:20] reasonat commented on #303
בהחלט יש סיכוי.
באיזה טופס ניסית?

[2017-09-26 08:21] #291 closed, assigned to bruria1

[2017-09-26 08:22] reasonat commented on #298
אחלה.
עדיין לא קיבלתי מענה לשאלה הראשונה.

[2017-09-26 08:25] reasonat commented on #298
@sato2004 Please see update description

[2017-09-26 08:25] #299 closed, assigned to reasonat

[2017-09-27 16:55] bruria1 commented on #303
אני לא יודעת...
מבדיקה שלי המיילים הגיעו לתיבה שלי.
אולי הגיע לספאם?

[2017-09-28 08:26] JerusalemCinematheque commented on #303
בניתי את הטופס הזה
http://jer-cin.org.il/he/webform/13792

בכתובת הדוא"ל שמתי את
DanielaT@jer-cin.org.il

מילאתי טופס לדוגמא והוא לא הגיע לתיבת הדוא"ל הזו

אולי אני עושה משהו לא נכון בהגדרות?

[2017-09-28 09:04] JerusalemCinematheque commented on #303
הוספתי עכשיו כתובת של ג'ימייל ושם מקבלים את הטופס
אבל כתובת של הסינמטק לא

[2017-10-03 11:23] JerusalemCinematheque opened #304 "top gallery images in lobby pages when logged in"
@bruria1
משהו השתבש בתצוגה של התמונה הראשית בעמודי הלובי. זה נראה שזה ככה רק כשאני מחוברת לאתר. מצרפת תמונת מסך
![image](https://user-images.githubusercontent.com/26960693/31122824-0c8bf608-a846-11e7-981e-59ef2ed4e22b.png)

[2017-10-03 11:42] JerusalemCinematheque commented on #304
עכשיו זה בסדר

[2017-10-03 11:42] #304 closed, assigned to nobody

[2017-10-16 12:34] sato2004 commented on #300
fixed

[2017-10-19 14:05] JerusalemCinematheque opened #305 "Navigation Arrows are onstructing tickets button"
@bruria1 @reasonat
הי,
שימו לב שבמסכים של לפטופ, כלומר מסכים קטנים יותר, חצי המעבר מפריעים ללחיצה על כפתור הרכישה
מצרפת סרטון
https://youtu.be/LoxbO5vnXHM

[2017-10-22 05:34] bruria1 commented on #305
אמור להיות בסדר עכשיו

[2017-10-23 07:09] reasonat commented on #303
@sato2004 This seems like yet another server email issue. CAn you check this?

[2017-10-23 08:40] sato2004 commented on #303
@reasonat I've changed some server's settings. It needs testing.

[2017-10-24 07:28] sato2004 commented on #298
Done

[2017-10-24 13:21] JerusalemCinematheque opened #306 "New TAG MANAGER"
[tag body.txt](https://github.com/Reasonat1/Cinema/files/1410906/tag.body.txt)
[tag_head.txt](https://github.com/Reasonat1/Cinema/files/1410910/tag_head.txt)

@reasonat @yakoub
מצורפים קודים  של
TAG MANAGER
האם אפשר בבקשה להטמיע באתר בכל העמודים?

קובץ HEAD יש להדביק לאחר פתיחת תגית <head>
קובץ BODY יש להדביק לאחר פתיחת תגית <body>

[2017-10-29 14:03] sato2004 commented on #292
Need review

[2017-10-30 11:37] JerusalemCinematheque commented on #306
@reasonat
אמיר אנא תעביר לנו בבקשה הצעת מחיר עבור טיפול בנושא זה

[2017-10-30 13:35] JerusalemCinematheque commented on #303
seems to be working
will let you know if we encounter any further problems

[2017-10-30 13:39] JerusalemCinematheque commented on #300
does not work when entering events from mini calendar from the home page
but when entering events from mini calendar when opening from other pages it does work

[2017-10-30 13:43] JerusalemCinematheque commented on #305
נראה שזה בסדר
ביקשתי ממי שהביא את העניין לתשומת ליבנו לבדוק גם. אז אם משהו ישתנה נעדכן

[2017-10-30 14:31] reasonat commented on #305
אחלה, אפשר לפתוח שוב את הפנייה

[2017-10-30 14:31] #305 closed, assigned to bruria1

[2017-10-30 14:33] reasonat commented on #300
Strange. This is the same view. @sato2004 please have a look

[2017-10-30 14:34] reasonat commented on #303
ok

[2017-10-30 14:34] #303 closed, assigned to sato2004

[2017-10-31 09:02] sato2004 commented on #300
I've checked in all browsers what I have, and I don't see the problem

[2017-10-31 09:11] JerusalemCinematheque commented on #300
sending you videos of the issue
https://www.youtube.com/watch?v=mFAwH6cxBOw

https://www.youtube.com/watch?v=OJNW7czSTz8

[2017-10-31 13:30] JerusalemCinematheque commented on #306
יש חדש?

[2017-11-01 07:34] reasonat commented on #302
@JerusalemCinematheque @navotb Notice that we might have issue with the technical field.
Did you already populated this field in multiple nodes?
Does this field will contain repeatable technical comments - This way we could make it taxonomy.

Anyway, @sato2004 might handle the existing field type.

[2017-11-01 07:48] sato2004 commented on #306
@JerusalemCinematheque
I see google tag already exists with Id GTM-PWXMSPL. Should I replace it with a new one?

[2017-11-01 09:13] JerusalemCinematheque commented on #306
closing threat
no need to replace old one
thank you

[2017-11-01 09:13] #306 closed, assigned to sato2004

[2017-11-02 07:07] sato2004 commented on #300
Fixed.
If there is still the problem, try clearing the cookies for the site jer-cin.org.il (or open new incognito window)

[2017-11-02 08:47] JerusalemCinematheque commented on #302
can you please clarify this remark?

[2017-11-02 08:48] JerusalemCinematheque commented on #300
works great

[2017-11-02 10:49] sato2004 commented on #302
@reasonat  This notification should only be in this view? or should it be anywhere else?

[2017-11-02 11:11] #300 closed, assigned to sato2004

[2017-11-02 11:12] reasonat commented on #302
@sato2004 Only in this view - Both jff & her-cin

[2017-11-02 11:13] reasonat commented on #302
@JerusalemCinematheque @navotb Technical comment is text simple field which I am afraid can't be used for the functionality we are looking for.
So, I was wondering wether you have populated this field in the event nodes already ot not?

[2017-11-06 09:12] sato2004 commented on #302
done

[2017-11-06 12:16] reasonat commented on #302
@JerusalemCinematheque @navotb Please check this

[2017-11-06 12:17] reasonat commented on #298
@navotb @JerusalemCinematheque Waiting for you to check

[2017-11-06 12:17] reasonat commented on #292
@navotb @JerusalemCinematheque Waiting for you to check

[2017-11-08 13:04] sato2004 commented on #246
@reasonat Did Yakoub fix cron issue? I see cron message in log and I don't see old values in form_cache table.

[2017-11-08 13:05] navotb commented on #246
I still receive every morning a cron email

On Wed, Nov 8, 2017 at 3:04 PM, Alexander Voloshenko <
notifications@github.com> wrote:

[2017-11-14 13:58] JerusalemCinematheque commented on #229
@bruria1
הבעיה עכשיו חזרה
ראי
https://jer-cin.org.il/he/movie-group/14995
קרן היסוד 13 אמור להיות הסרט האחרון ברשימה והוא מופיע כראשון

[2017-11-15 07:21] bruria1 commented on #229
לבדיקה

[2017-11-15 07:23] #229 closed, assigned to bruria1

[2017-11-20 09:12] JerusalemCinematheque opened #307 "button shape"
![ticket button](https://user-images.githubusercontent.com/26960693/33010539-84823902-cde3-11e7-8d58-489d2b66ccb2.jpeg)
 משהו השתנה בצורה של כפתור הכרטיסים
הוא היה מלבן עם זוויות ועכשיו הוא מופיע כמלבן עם קצוות מעוגלים

[2017-11-30 09:49] JerusalemCinematheque opened #308 "google search results for front page - domain issue"
07/06/2018
**For Jer-cin domain**
**2. Upload** the file to http://jer-cin.org.il/
**3. Confirm** successful upload by visiting [http://jer-cin.org.il/google3e25f1f7e91b6693.html ](http://jer-cin.org.il/google3e25f1f7e91b6693.html)in your browser.
**4. Click** Verify below.
To stay verified, don't remove the HTML file, even after verification succeeds.

**for jff**
**2. Upload** the file to http:/

[2018-01-02 10:08] JerusalemCinematheque opened #309 "Video window not opening properly from home page or lobby page"
@reasonat
Video window does not open properly from home page and lobby page
when opening, video does not appear
works fine on film page

lobby
https://jer-cin.org.il/en/lobby/new-films-7

home page
https://jff.org.il/he

[2018-01-02 11:02] JerusalemCinematheque opened #310 "navigation in lobby pages is not working properly"
@reasonat
navigation in lobby pages does not work properly
in lobby of films when clicking on a film in the lobby the navigation does not appear at all
for example
https://jer-cin.org.il/he/taxonomy/term/936
when going into the first node there are supposed to be navigation arrows to th next node in the lobby, but navigation arrows do not appear

in lobby of events the navigation is for the next e

[2018-01-03 14:02] JerusalemCinematheque opened #311 "More screenings button and navigation button on event page in smaller screens"
עדכון
יש להסתכל על רגישות הכפתור - מעבר העכבר פועל לפני המעבר על הכפתור עצמו
_________
@reasonat
בעמוד הקרנה
במסכים קטנים יותר כפתור הניווט מסתיר את כפתור ההקרנות הנוספות
ולא מאפשר לפתוח אותו
![image](https://user-images.githubusercontent.com/26960693/34523209-19723340-f09f-11e7-9ddb-e2c9be1d79fe.png)

[2018-01-11 14:36] JerusalemCinematheque commented on #298
הוספת סימון איזה לובי מוצג כתגית ואיזה לא

התגית תופיע ללא קשר לטווח התאריכים של הלובי / המהדורה

תגית לובי תוצג לפי הדומיין אליו היא משוייכת – כלומר אם לובי סומן כדומיין פסטיבל הוא לא יוצג בעמוד הסרט כשזה מוצג בצד סינמטק ולהפך
	https://jer-cin.org.il/he/movie/9278
	https://jff.org.il/he/movie/9278
	א – ת וגאלה משוייכים לדומיין פסטיבל
	סרטים חדשים משוייכים לדומיין סינמטק
	כל התגיות מופיעות בשני הד

[2018-01-14 09:46] JerusalemCinematheque opened #312 "Homepage - film title and event title appear even if they are the same in grid view"
@reasonat
נקבע כי כששם האירוע ושם הסרט אותו הדבר לא יופיע שם האירוע בתצוגת גריד בעמוד הבית
נראה שכאשר בשם הסרט מופיע סימן כלשהו כמו
&
אז שם האירוע כן מופיע וכך נוצרת כפילות מיותרת
ראה
![image](https://user-images.githubusercontent.com/26960693/34914690-4e8b83e0-f920-11e7-892e-486475301c95.png)

[2018-01-24 10:38] JerusalemCinematheque commented on #302
@reasonat
מצרפים קובץ אקסל עם פירוט הדו"ח הרצוי עבור פריט מסוג סרט
[reportsfromWebsite_film.xlsx](https://github.com/Reasonat1/Cinema/files/1659474/reportsfromWebsite_film.xlsx)

[2018-01-25 10:11] JerusalemCinematheque opened #313 "display of multipal langauges on collection page"
@reasonat
בתצוגה של הסרטים בעמוד מקבץ שדה השפות איננו מקובץ וההפרדה בין השפות מופיע כפייפ במקום כפסיק
לדוגמא
https://jer-cin.org.il/he/movie-group/16679
השפות של הסרטים ברשימה הן אנגלית, ויאטמנית
בעמוד זה מופיע אנגלית | ויאטמנית

[2018-01-25 15:00] JerusalemCinematheque opened #314 "Event page with no film - image and title do not appear"
@reasonat @bruria1
בעמוד מסוג אירוע כשאין סרט בלייןאפ לא מופיע שם האירוע והתמונה המצורפת לעמוד
ראו
https://jer-cin.org.il/he/event/16830

[2018-01-28 06:03] reasonat commented on #314
➤ Bruria Helfer commented:

@Amir Taiar@Roei Dahan האם אני אמורה לטפל בזה?

[2018-01-28 08:03] reasonat commented on #308
אני לא מצליח לשחזר את הבעיה.
לאחר החיפוש אני מגיע לעמוד
https://www.jff.org.il/he/13791
ושלושת פריטי המשנה בעמוד מובילים לעמודים הנכונים בפסטיבל

ובלי קשר, אני מניח שאם יש עמוד שצריך להיות גם וגם אז אפשר לשייך אותו גם וגם

[2018-01-28 08:32] JerusalemCinematheque commented on #308
אבל אם תנסה להיכנס לפריטים בתוך עמודי המשנה תגיע לעמודים ריקים
https://www.jff.org.il/he/movie/14781

אלו לא עמודים שאמורים להיות גם וגם, אלא סוגי תוכן שלא ניתן לעשות להם כרגע שיוך לדומיין ועל כן נוצרת הבעיה

[2018-01-28 09:14] reasonat opened #315 "Movie page - css issues on tags area"
אם אין תגית לא צריך להופיע הפס השחור
https://jer-cin.org.il/he/movie/15879

התגית לא צריכה להשפיע על הריווח בחלק של התקציר והקרדיטים כאשר התקציר קצר
https://jer-cin.org.il/en/movie/15940

[2018-01-28 09:17] reasonat opened #316 "סרט - תגית לובי תוצג לפי הדומיין אליו היא משוייכת"
תגית לובי תוצג לפי הדומיין אליו היא משוייכת – כלומר אם לובי סומן כדומיין פסטיבל הוא לא יוצג בעמוד הסרט כשזה מוצג בצד סינמטק ולהפך
https://jer-cin.org.il/he/movie/9278
https://jff.org.il/he/movie/9278
א – ת וגאלה משוייכים לדומיין פסטיבל
סרטים חדשים משוייכים לדומיין סינמטק
כל התגיות מופיעות בשני הדומיינים

[2018-01-28 09:19] reasonat opened #317 "תג הלובי צריך להופיע גם בעמוד האירוע של סרט שמשוייך ללובי"
תג הלובי צריך להופיע גם בעמוד האירוע של סרט שמשוייך ללובי
https://jer-cin.org.il/he/event/16026
הסרט "סוף טוב" משוייך ללובי סרטים חדשים
בעמוד האירוע של הסרט הלובי לא מופיע כתגית

[2018-01-28 09:21] reasonat opened #318 "ניהול תגיות מהדורה"
תגית מהדורת פסטיבל – יש להוסיף לעמוד ניהול מהדורה שדה > שם מקוצר למהדורה שיופיע כשם התגית.
https://jff.org.il/he/movie/9076
התגית תופיע לדוגמא כפסטיבל 2017 במקום השם המלא

[2018-01-28 09:22] reasonat opened #319 "להוסיף ללובי שמשוייך לדומיין פסטיבל תגית מהדורה"
כאשר לובי משויך למהדורה יש להציג בעמוד הלובי את המהדורה אליה הוא שייך
- הצגת המהדורה בקישור מעל הכותרת, בהטמעת עיצוב זהה לסיווג המוצג בעמוד סרט ואירוע
- להציג מספר מהדורות במידה ויש מספר מהדורות מקושרות. הפרדה בפסיק
- להציג כל מהדורה, כזו שתקפה כעת או כזו שמועדה תם
להוסיף ללובי שמשוייך לדומיין פסטיבל תגית מהדורה

[2018-01-28 09:22] reasonat commented on #319
@navotb @JerusalemCinematheque this is not clear.

[2018-01-28 09:23] reasonat commented on #298
Divide into several tasks and closing this one. Notice some of them wait for Bank hours
1. https://github.com/Reasonat1/Cinema/issues/316
2. https://github.com/Reasonat1/Cinema/issues/317
3 + 4. https://github.com/Reasonat1/Cinema/issues/315
5. https://github.com/Reasonat1/Cinema/issues/318
6. https://github.com/Reasonat1/Cinema/issues/319 - Not clear.

[2018-01-28 09:23] #298 closed, assigned to sato2004

[2018-01-28 09:25] reasonat commented on #311
מה אתם מציעים לעשות?
באיזה מסך מדובר?

[2018-01-28 09:39] reasonat commented on #302
@JerusalemCinematheque ממה שאני מבין זה לא קשור למשימות אלא לנושא הדוחות
האם אני צודק?

[2018-01-28 09:39] reasonat commented on #308
אני לא מבין על מה מדובר.
צעד אחר צעד בבקשה

[2018-01-28 09:46] reasonat commented on #292
CLosing this issue. Open if needed

[2018-01-28 09:46] #292 closed, assigned to sato2004

[2018-01-28 10:13] reasonat commented on #309
➤ Bruria Helfer commented:

@Amir Taiar אלכס טיפל בזה. ישנה בעיה שמשום מה כאשר יש נוד מקושר עם סרט הסרט לא מוצג. נראה לי כדאי להעברי לאלכס את הטיקט כי הוא זה טיפל בקולובוקס שם ולא זוכרת מה הוא עשה.

[2018-01-28 10:28] reasonat commented on #313
➤ Bruria Helfer commented:

לבדיקה

[2018-01-28 10:38] reasonat commented on #315
➤ Bruria Helfer commented:

החלק הראשון נעשה.
לגבי החלק השני, זה מאוד מאוד מורכב כייון שהקרדיטים יושבים למטה מתחת לסיידבר ולתוכן. @Amir Taiar

[2018-01-28 11:33] reasonat commented on #309
➤ Bruria Helfer commented:

לבדיקה

[2018-01-29 10:38] reasonat commented on #315
➤ Amir Taiar commented:

@Bruria Helfer אז אולי כדאי להעביר אותם מתחת לתוכן לא? זו תיבה?

[2018-01-29 10:48] reasonat commented on #315
➤ Bruria Helfer commented:

@Amir Taiar אני לא זוכרת למה אבל אני זוכרת שכבר דיברנו על זה והייתה סיבה ששמנו את התיבה הזו מתחת להכל ולא מתחת לתוכן בלבד.

[2018-01-30 06:44] reasonat commented on #315
➤ Bruria Helfer commented:

@Amir Taiar אבל אפשר לנסות בתקוו שזה לא יגרום לבעיות.. שאנסה?

[2018-01-30 09:25] JerusalemCinematheque commented on #302
אכן
מקווים לשלוח בימים הקרובים גם את הפירוט עבור דו"ח אירועים

[2018-01-30 09:31] JerusalemCinematheque commented on #308
עשיתי חיפוש בגוגל של פסטיבל הקולנוע היהודי
התוצאה הגבוהה יותר שמקבלים מהאתר מפנה לעמוד שמשוייך לדומיין פסטיבל
https://www.jff.org.il/he/13791
נכון בעמוד הזה ובפריטים שמקושרים אליהם רואים את העמודים כמו שצריך ואין איתם שום בעיה
אבל הפריטים שמקושרים לסאב-פריטים של עמוד התוצאה משוייכים לדומיין הסינמטק
כך שאם לדוגמא אחרי עמוד התוצאה "פסטיבל הקולנוע היהודי" תלחץ על הפריט הסרטים
https://www.jff.org.il/h

[2018-01-30 09:33] JerusalemCinematheque commented on #309
okay

[2018-01-30 09:34] JerusalemCinematheque commented on #313
okay

[2018-01-30 09:49] JerusalemCinematheque commented on #319
הכוונה הייתי שיהיה ניתן לדעת בעמוד לובי שמשוייך למהדורת פסטיבל באיזה מהדורה מדובר
לדוגמא
https://jff.org.il/he/lobby/%D7%92%D7%90%D7%9C%D7%94
שתהיה בו את התגית פסטיבל הקולנוע ירושלים 2017

[2018-01-30 09:56] JerusalemCinematheque commented on #311
אני חושבת שזה עניין של רגישות כפתור הניווט
כלומר הוא נפתח מהרגע שאתה עובר לידו ולא מהרגע שאתה עובר עליו וזה מה שגורם לבעיה
https://www.youtube.com/watch?v=JSGaqTYNwcI&feature=youtu.be

[2018-02-01 09:41] reasonat commented on #311
אני מבין, אעביר את זה לברוריה להסתכלות

[2018-02-01 09:43] reasonat commented on #317
➤ Amir Taiar commented:

@Alex Voloshchenko Please pay attention to what I have described. This task and 2 more wasnt in the main task fo TO-DO as I described.
Only tasks in this main task we should work on - https://www.wrike.com/open.htm?id=208184734

[2018-02-01 09:44] #309 closed, assigned to bruria1

[2018-02-01 09:46] reasonat commented on #310
@JerusalemCinematheque Please review this

[2018-02-01 09:47] reasonat commented on #317
@JerusalemCinematheque please review this

[2018-02-01 09:48] reasonat commented on #309
➤ Amir Taiar commented:

@Bruria Helfer Please don't close tasks not here and not on the Giyhub. Thanks

[2018-02-01 09:48] reasonat commented on #317
➤ Amir Taiar commented:

Meanwhile, since you already worked on those I will move them to the TO-DO main task. For next time :)

[2018-02-01 09:48] reasonat commented on #316
@JerusalemCinematheque Please review this

[2018-02-01 09:49] reasonat commented on #312
@JerusalemCinematheque Please review this

[2018-02-01 09:54] reasonat commented on #319
אני מניח שאנחנו רוצים את התגית מעל הכותרת כמו בעמודי אירועי וסרט?

[2018-02-01 09:56] reasonat commented on #308
הבנתי
מדובר על מקרה קצה מאד וזה יהיה בבנק שעות
אני יכול להעריך את העבודה סביב 3-5 שעות, אולי פחות, אולי יותר.
אנחנו למעשה צריכים להגדיר מצב בו כל קישור, לא משנה מהו, והיה והוא תחת פסטיבל יקבל את הקישור לפסטיבל גם אם הנוד אינו מוגדר כלל תחת פסטיבל.

[2018-02-01 10:00] reasonat opened #320 "Movies manager export report"
Editor need to have the option to export (xls) report from the movies manager page.
If needed we will create a new view just for this report (There will be also Event report).
See xls example with all the columns needed.
Also pay attention to the column comments
[reportsfromWebsite_film.xlsx](https://github.com/Reasonat1/Cinema/files/1685002/reportsfromWebsite_film.xlsx)

[2018-02-01 10:03] JerusalemCinematheque commented on #310
okay

[2018-02-01 10:05] reasonat commented on #320
**Pay no attention to this notes**
**Doc notes and questions:**
cinematheque credits & festival credits columns  - Grouped by proffesion and ordering in a single row will be in Bank hours. This is not a simple & obvious request.
Distributor column - There will be an extra dev time for changing the reference widget also display the data on the pages and other views.
screening format column - Should

[2018-02-01 10:05] JerusalemCinematheque commented on #310
okay

[2018-02-01 10:05] reasonat commented on #302
I have opened this task - https://github.com/Reasonat1/Cinema/issues/320
and closing this one.
For the event report open a new task please

[2018-02-01 10:05] #302 closed, assigned to sato2004

[2018-02-01 10:06] JerusalemCinematheque commented on #317
okay

[2018-02-01 10:08] JerusalemCinematheque commented on #316
nice

[2018-02-01 10:10] #310 closed, assigned to sato2004

[2018-02-01 10:11] #316 closed, assigned to sato2004

[2018-02-01 10:15] JerusalemCinematheque commented on #312
okay

[2018-02-01 10:16] JerusalemCinematheque commented on #319
כן נראה לי מיקום נכון
האם אפשרי שיופיע אחרי שטווח מועד המהדורה עבר?

[2018-02-01 10:17] JerusalemCinematheque commented on #308
לא יהיה יותר פשוט להכניס שיוך דומיין לכל סוגי התוכן?

[2018-02-01 10:18] reasonat commented on #319
כלומר גם אם טווח המהדורה עבר שבכל זאת יופיע?
ומה יקרה אם יהיו מספר מהדורות? באותה שורה?

[2018-02-01 10:19] JerusalemCinematheque commented on #314
הבריינסטרום זה כדי שנענה על שאלת בנק השעות?

[2018-02-01 10:19] #312 closed, assigned to sato2004

[2018-02-01 10:19] JerusalemCinematheque commented on #319
רק כשטווח התאריכים עבר הוא יופיע. כי אם הוא בתוך מהדורה פעילה אז השיוך שלו ברור
כן

[2018-02-01 10:20] reasonat commented on #319
אוקיי
מעדכן את המשימה

[2018-02-01 10:24] reasonat commented on #308
אבל במקרה שציינת למשל מדובר בסרט בו יש למיטב זכרוני כבר שיוך דומיין
אני טועה?
בעיקרון, הטענה שלך נכונה אבל זה אומר עבודה ידנית שלכם ואז מקרה קצה כזה יוביל לעמוד שגיאה

[2018-02-01 10:26] JerusalemCinematheque commented on #308
זה נראה לי שהבעיה כאן נובעת מזה שעמוד המקור "פסטיבל הקולנוע היהודי" לא משוייך לדומיין ולכן התוצאה הראשונה שולחת לדומיין הפסטיבל
אם העמוד היה משוייך לדומיין זה לא היה נותן תיעדוף בתוצאות לדומיין הסינמטק?

[2018-02-01 10:29] reasonat commented on #308
אני לא יכול לומר. יכול להיות.
יכול להיות שמה שצריך להיות פה זה בכלל עבודה של מקדם אתרים מול גוגל שידע ללמוד להציג נודים בצורה יותר רלוונטית.
למה בעצם עמוד המקור לא משוייך לשום דומיין?

[2018-02-01 10:30] JerusalemCinematheque commented on #308
כי אין בעמוד מסוג פרונט פייג' שדה שיוך לדומיין

[2018-02-01 11:30] reasonat commented on #308
אוקיי
זה עדיין לא יפתור את הבעיה

[2018-02-01 11:33] reasonat commented on #307
➤ Bruria Helfer commented:

אני לא רואה את זה.. האם זה עדיין?

[2018-02-01 12:23] navotb commented on #320
Credits: but this is already done and existing in the current film page.
Why extra hours? It is the same query
Distributors column - No. This is the only view (other than the film form
itself) when this widget should be visible. You should not change it in
other views. There are two list of distributors, one that we pushed to the
"persons" list in order to make it easier in the frontend, and which

[2018-02-01 13:13] reasonat commented on #311
➤ Bruria Helfer commented:

לבדיקה

[2018-02-01 14:39] JerusalemCinematheque commented on #311
great thanks

[2018-02-01 14:41] JerusalemCinematheque commented on #317
פותחת את הנושא מחדש משום שכעת אני רואה שהתגית מופיעה בצורה שונה מאיך שהיא מופיע בעמוד סרט
בעמוד האירוע התגית מופיע בפונט קצת יותר גדול ובצבע האתר
לדוגמא כאן
https://jer-cin.org.il/he/event/16513
לעומת עמוד הסרט
https://jer-cin.org.il/he/movie/15030

[2018-02-05 08:49] #311 closed, assigned to bruria1

[2018-02-05 08:53] reasonat commented on #320
Credits - Fact that it's done in other place doesn't mean there will be no dev time to make it in a view which is totally different.
Dist - So still we will need to create a new field and display it on this management view.

[2018-02-05 09:11] navotb commented on #320
I am sorry Amir, but the reports are part of the project, it was introduced discussed and agreed long ago. We are not asking for anything that is new development or coding. This is something that was left to the final phase and we expect it to be done as best as everything else was done. Thank you!

[2018-02-06 09:03] reasonat commented on #320
Yes, reports. But not how the reports will be. This requests are far from a typical report. Also in the development which already have been done, this parts, on the site itself wasn't part of the original requests.

[2018-02-06 09:11] navotb commented on #320
These reports are based on existing pages (reports/views) that already exist in the website. Nothing new. These parts of the site are core parts which were defined, drafted and included in early stages. Film page is essential part, and Event page - the next report - is also essential part. Thank you!

[2018-02-06 09:17] reasonat commented on #320
The management tables exist but without this new requests which are not obvious and do need extra dev time.

[2018-02-06 09:19] navotb commented on #320
Maybe it does request, but this is part of the project to have these reports, and it is not something new.

[2018-02-06 09:34] reasonat commented on #320
Let me start to move this task and we will see the progress. OK?

[2018-02-06 11:08] reasonat commented on #317
➤ Bruria Helfer commented:

לבדיקה

[2018-02-06 14:22] JerusalemCinematheque commented on #317
אוקיי
רק בעברית התגית צריכה להיות מיושרת ימינה. כרגע היישור הוא שמאלי
https://jer-cin.org.il/he/event/11732

[2018-02-07 07:28] reasonat commented on #317
➤ Bruria Helfer commented:

לבדיקה

[2018-02-07 08:12] JerusalemCinematheque commented on #317
מצויין תודה

[2018-02-07 09:39] #317 closed, assigned to bruria1

[2018-02-07 09:40] reasonat commented on #307
@JerusalemCinematheque Please test again

[2018-02-07 09:43] reasonat commented on #307
➤ Amir Taiar commented:

@Bruria Helfer Please change to Need review and not to waiting for client.

[2018-02-08 13:33] reasonat commented on #320
➤ Alex Voloshchenko commented:

@Amir Taiar I added the link for export here https://jer-cin.org.il/en/admin/movies-manager But there is a problem with export, if we try make export for all movies, it takes too long and export can not be completed. So for now I added filter by language (current user language). Now we can make export for each language separately.

[2018-02-08 13:52] navotb commented on #320
does it ffdssa

[2018-02-08 13:57] navotb commented on #320
We need the export function on specific film(s) and not only on the whole list, by selecting the films (after search for instance) and exporting only selected ones (like "operations")

[2018-02-08 14:05] navotb commented on #320
I mean we need the option to specific movie(s) export on the movie-manager page.

[2018-02-08 15:16] JerusalemCinematheque commented on #320
1. there is no need for the word minutes
דקות
in the export results, we can just leave the number.
meaning 99
and not 99 Minutes

2. in the credits results
   - missing "space" between profession and person
   - missing "space" between each person in grouped profession
   - missing @ following last profession in the credit list
for examle here is the result we got
Dir.:Bent Hamer @ W.:Tomas Norstr

[2018-02-11 08:38] reasonat commented on #315
➤ Bruria Helfer commented:

@Amir Taiar ????

[2018-02-11 08:51] JerusalemCinematheque commented on #313
פותחת מחדש את הנושא
בעמוד המקבץ כיש לסרט מספר שפות יש רווח בין השפה לפסיק
https://jer-cin.org.il/he/movie-group/16855

בעמוד האירוע של המקבץ לא מופיעות כל השפות של הסרט
https://jer-cin.org.il/he/event/16857
במקרה זה אנגלית, ויאטנמית

[2018-02-11 09:38] reasonat commented on #313
➤ Bruria Helfer commented:

לבדיקה

[2018-02-11 10:47] reasonat commented on #315
@JerusalemCinematheque So this is not a bug but a design case.
By design there is a full screen quote before the credits and after the description.
We can move this quote below the credits and display the credits just below the description.
Since this is a re-design its a bank hour task.

[2018-02-11 11:02] reasonat commented on #320
What do you mean by "and exporting only selected ones (like "operations")" ?

[2018-02-11 11:03] JerusalemCinematheque commented on #320
marking the items and exporting only the selection and not the whole database

[2018-02-11 11:07] reasonat commented on #320
marking the items?
Here is what I understand:
- I go into the management table.
- I filter results, lets say by title (Or any of the other filters - NOT operations)
- I export

[2018-02-11 11:08] JerusalemCinematheque commented on #320
or i go to management page
mark the items i want
export

[2018-02-11 11:09] reasonat commented on #320
No, this is completely something else and not a stable option in Drupal + VBO
I can't approve this option now

[2018-02-11 11:12] navotb commented on #320
So we can not filter the results and export only the filtered results?

[2018-02-11 11:14] reasonat commented on #320
Yes you can by using the filters. VBO is not a filter but bulk operation module.

[2018-02-11 11:17] navotb commented on #320
I have tried it last week after filter, but got the whole db

[2018-02-11 11:45] navotb commented on #320
Export option is not available now to test again

[2018-02-11 14:28] reasonat commented on #320
➤ Alex Voloshchenko commented:

Export option is available now by press button XLSX below the results table

[2018-02-11 15:05] JerusalemCinematheque commented on #320
we are doing some test and now the reports are coming out empty

[2018-02-11 15:19] JerusalemCinematheque commented on #320
seems to be okay now

[2018-02-12 07:06] reasonat commented on #320
@JerusalemCinematheque  In order to QA this do you have a search parameter which has all the columns?

[2018-02-12 07:09] reasonat commented on #314
כן, זה נכון לכל המשימות שבבנק שעות ולשני מיילים ללא מענה בנושא

[2018-02-13 08:51] JerusalemCinematheque opened #321 "dedictaed menu for festival"
@reasonat
לא ממש בעיה, רק שאלה/הבהרה
פתחתי אתמול "טרם" לפסטיבל 2018
והיום אני רואה שנוצר תפריט ייעודי לפסטיבל 2018
אני לא הקמתי אותו, זה אומר שהתפריט נוצר אוטומטית?
מה זה למעשה אומר בפועל?

[2018-02-13 11:05] reasonat commented on #321
על איזה אייטם מדובר?
באתר סינמטק?

[2018-02-13 11:43] JerusalemCinematheque commented on #321
באתר פסטיבל
https://jff.org.il/he/admin/structure/menu/manage/cinematic-festival-973

[2018-02-13 12:49] reasonat commented on #321
זה חלק מפיתוח שלא עשינו בו שימוש בסוף.
אין מה להתייחס לזה.
לאחר שתעלו את הפסטיבל הזה לאוויר כדאי לשנות רק את השם של האייטם שבתפריט מגה הראשי

[2018-02-13 12:49] #321 closed, assigned to reasonat

[2018-02-13 12:50] JerusalemCinematheque commented on #321
סליחה לא הבנתי מה זה אומר לשנות את שם האייטם שבתפריט מגה הראשי

[2018-02-13 13:35] reasonat commented on #321
בתפריט הראשי יש קישור לאתר הפסטיבל
אפשר לשנות את שם הקישור לשם שתרצו

[2018-02-15 10:15] JerusalemCinematheque commented on #320
okay
if there is no option of VBO, we will need to add these filters to the movie management page
תאריך יצירה - מ
and movie nid

also in technical information column results come out with html signs
<p> text </p>

When a film is assigned to both cinematheque and festival domain it comes out twice in the report. See for example The cakemaker

Lastly, can we add original title field to the export? S

[2018-02-18 07:53] reasonat commented on #320
@sato2004 Please take care of this requests. Thanks

[2018-02-18 08:39] JerusalemCinematheque opened #322 "Logo is not saved after upload"
@reasonat
אחרי שאני מעלה לוגו לעמוד תוכן, אירוע/סרט/לובי ועושה שמור, משום מה הלוגו לא נשמר ואין לו זכר גם בספריית המדיה
ראו עמוד ניהול אירוע, רואים שם את הלוגו שהעליתי
![image](https://user-images.githubusercontent.com/26960693/36349967-88ef6a82-1497-11e8-8004-bdea5a446f58.png)
העמוד אחרי השמירה ללא זכר ללוגו
![image](https://user-images.githubusercontent.com/26960693/36349970-9b3d5906-1497-11e8-8

[2018-02-18 08:48] reasonat opened #323 "Logo is not saved after upload"
@reasonat
אחרי שאני מעלה לוגו לעמוד תוכן, אירוע/סרט/לובי ועושה שמור, משום מה הלוגו לא נשמר ואין לו זכר גם בספריית המדיה
ראו עמוד ניהול אירוע, רואים שם את הלוגו שהעליתי
![image](https://user-images.githubusercontent.com/26960693/36349967-88ef6a82-1497-11e8-8004-bdea5a446f58.png)
העמוד אחרי השמירה ללא זכר ללוגו
![image](https://user-images.githubusercontent.com/26960693/36349970-9b3d5906-1497-11e8-8

[2018-02-19 09:20] reasonat opened #324 "synchronize features"
changes were done both on live and dev and it needed merging on features level .

[2018-02-19 09:20] reasonat opened #325 "create paragraphs freature"

[2018-02-19 09:20] reasonat opened #326 "Search page - Cancel - Show different results style for each content type"
As you can see in the design [SS] there should be different style look for each content type + The results divide to the content types.

┆Attachments: <a href="https:&#x2F;&#x2F;www.wrike.com&#x2F;extlink&#x2F;899e39df8e08407c89577d540154610b:F28642680.A948692&#x2F;search+results+page.png">search results page.png</a>

[2018-02-19 09:20] reasonat commented on #326
we need to have seperates views for each content type that are embeded in the same page one under the other .
the problem will be in synchronizing one exposed filters form for all these seperate views .
it is simple to make the synchorniztion in javascript for the form fields, but the problem may rise in the url query .

if url query problem can not be overcome, then we can't use views .
and what

[2018-02-19 09:20] reasonat commented on #326
➤ Amir Taiar commented:

@yakoub abaya How about display results by groups? BTW, Tom was working on this page and I think its all in code

[2018-02-19 09:21] reasonat opened #327 "node inheritance proof of concept"

[2018-02-19 09:24] reasonat opened #328 "Search page - Cancel - make search results page show results of other languages as well"
currently the number of results for a given search string changes from language of UI
http://jer-cin.reasonat.com/he/search/results/Scott
http://jer-cin.reasonat.com/en/search/results/Scott
fix so both results are shown

[2018-02-19 09:24] reasonat opened #329 "Search page - Cancel - Sub-domain pre-filter when arrive from sub-domain"
when accessing the search results page from a sub-domain, that sub-domain filter should be active by default, but the user should be able to remove if s\he wishes and get results from the main site

[2018-02-19 09:24] reasonat commented on #328
זה ממתין לאישור לקוח שיבין את החויה שהוא מבקש פה.  זה יציג כפילויות על הרבה סוגי תוכן ויש מצב שזה יתפס כתקלה, בעוד שהמצב ההפוך - בו לא עולות תוצאות חיפוש פשוט כי לא הוסיפו להם גירסת תרגום - עדיפה לדעתי

[2018-02-19 09:24] reasonat commented on #329
➤ Amir Taiar commented:

@Tom Meir Is there a way to move this to 2nd iteration - Seems like we can by the nature of the task

[2018-02-19 09:24] reasonat commented on #329
yes there is no need for this task in phase 1. @Amir Taiar

[2018-02-19 09:24] reasonat commented on #329
➤ Amir Taiar commented:

@Tom Meir ok, so give this to someone - You? I dont even understand what is this task, but as long as you do, go ahead!

[2018-02-19 09:24] reasonat commented on #329
but this task can wait for step 2. no need to assign it now until we go live

[2018-02-19 09:24] reasonat commented on #329
@Amir Taiar

[2018-02-19 11:13] reasonat commented on #320
➤ Alex Voloshchenko commented:

Done

[2018-02-19 20:27] yakoub commented on #326
@reasonat using same view creates a problem with the pager,
how will you move to next page if some of the groups ran out of results ?

i think using several views is best approach, but you need to configure exposed filters to use same name in the url query .

[2018-02-20 20:25] yakoub commented on #326
https://www.drupal.org/docs/7/modules/search-api/developer-documentation/executing-a-search-in-code

[2018-02-25 07:35] #326 closed, assigned to sato2004

[2018-02-25 07:37] #329 closed, assigned to sato2004

[2018-02-25 07:37] #327 closed, assigned to nobody

[2018-02-25 07:38] #328 closed, assigned to sato2004

[2018-02-25 07:38] #325 closed, assigned to nobody

[2018-02-25 07:38] #324 closed, assigned to nobody

[2018-02-25 07:39] #323 closed, assigned to sato2004

[2018-02-25 07:41] reasonat commented on #322
@JerusalemCinematheque @navotb This is not clear.

[2018-02-25 08:34] reasonat commented on #313
I am closing this issue, reopen if needed.

[2018-02-25 08:34] #313 closed, assigned to bruria1

[2018-02-25 08:34] reasonat commented on #307
I am closing this issue, reopen if needed.

[2018-02-25 08:34] #307 closed, assigned to bruria1

[2018-02-25 16:41] reasonat commented on #246
➤ Roei Dahan commented:

@Amir Taiar זה עדיין דורש טיפול או הסתיים?

[2018-02-26 11:17] reasonat commented on #246
@Roei Dahan עדיין על הפרק.

[2018-02-27 08:52] JerusalemCinematheque opened #330 "event purchase does not work on content for homepage"
@reasonat
אני מנסה להוסיף בתוכן לעמוד בית כפתור רכישה דרך מנגנון הקישור לטופטיקס
החלונית נפתחת וניתן לעשות חיפוש לאירוע
אבל לחיצה על האירוע הנבחר לא עובדת

[2018-02-27 14:54] JerusalemCinematheque commented on #322
i tried this again and now it seems to be working okay
will reopen if we encounter this problem again

[2018-02-28 09:21] sato2004 commented on #330
I can't understand the problem. If I edit an event I can add toptix link. Can you explain where I can see the problem?

[2018-03-01 10:07] JerusalemCinematheque commented on #330
the problem is in the "content for home page" page
here's a video showing the issue
https://www.youtube.com/watch?v=gjOyf58XpSI&feature=youtu.be

[2018-03-01 11:38] sato2004 commented on #330
fixed

[2018-03-01 11:42] JerusalemCinematheque commented on #330
great thanx

[2018-03-01 13:05] #330 closed, assigned to sato2004

[2018-03-11 09:37] JerusalemCinematheque opened #331 "Festival term publish dates issue"
@reasonat
ישנה בעיה בהגדרות של טווח תאריכי פרסום של "פסטיבל"
festival term
אם אנחנו קובעים תאריך שעבר, לדוגמא 1.2.18, אז
1. לא ניתן להיכנס ללובי שמקושר למהודרת הפסטיבל
לדוגמא http://jff.org.il/he/node/4293
2. בעמודי האירועים שמקושרים למהדורה לא מופיע המידע שאמור להופיע על התמונה, קרי - שם לובי, כותרת אירוע, , כותרת סרט, אורך, לידיג טקסט
מספר דוגמאות
עמוד אירוע עם סרט
http://jff.org.il/he/event/105

[2018-03-12 13:53] JerusalemCinematheque commented on #320
created from - created to fields do not work. Calendar window to choose from does not open and manually putting in dates does not work

When on jer-cin domain, can't get results for films that are linked to festival domain. For example if i am on jer-cin domain > movie manager > selection of the following filters - festival domain and the panorama lobby > report > I get a blank report
![image](htt

[2018-03-13 07:22] reasonat commented on #320
➤ Alex Voloshchenko commented:

Fixed

[2018-03-22 09:13] JerusalemCinematheque commented on #322
When adding logos [logo section] to a lobby term:
1. they don't display on the term page.
2. The images don't saved in the media library.
3. After adding a term+logo images and add a translation entity the images are not there.

[2018-03-22 09:55] JerusalemCinematheque opened #332 "Can't view this film collection Hebrew side"
@reasonat
I just created this film collection
https://jer-cin.org.il/he/node/17720
But when i go to view i get an error message
![image](https://user-images.githubusercontent.com/26960693/37763475-dfd088ec-2dc7-11e8-955e-767ee8593a29.png)
Englisg side's view is fine

[2018-04-17 12:36] reasonat commented on #322
As far as I can see there is no issue here. Am I wrong?

[2018-04-17 12:40] reasonat commented on #331
אני לא מצליח כלל להבין את הבעיה שנוצרה פה.
כל הבעיות שצוינו בהמשך הם בגלל הקישור לתגית פסטיבל עם תאריך שעבר?

[2018-04-17 12:52] reasonat commented on #308
צריך להחליט באיזה גישה מתקדמים פה
1. הוספת שדה שיוך לדומיין לכל סוגי התוכן כך שאולי גוגל יוכל לחבר אותם ישר לדומיין הנכון. זה יצריך גם עבודה של מקדם אתרים כמובן בכדי שיעבוד נכון.
2. המערכת תדע לשייך סרט לדומיין סינמטק במידה והוא מופיע תחת לובי / אירוע / עמוד הבית / כל רשימה אחרת, באתר פסטיבל. זה סעיף פיתוח ארוך בהרבה מן הסתם.

[2018-04-17 13:17] JerusalemCinematheque commented on #331
הבעיה היא בהגדרת טווח תאריכי המהדורה
אם אנו מגדירים את טווח  מהדורה 2017 עד ה-1.2.2018
אז לא ניתן להיכנס לכל הפריטים שמקושרים למהדורה
זה עמוד מהדורת 2017
http://jff.org.il/he/taxonomy/term/213
נכנסים לקטגוריית סרטים
ואז מנסים להיכנס לאחד הלוביים
מקבלים הודעת שגיאה

גם אם אני מנסה להיכנס ללובי בצורה אחרת
אני מקבלת הודאת שגיאה

אם אני אשנה את טווח תאריכי המהדורה שיהיה עדיין "רלוונטי" אז הבעיה הזו לא

[2018-04-17 13:20] JerusalemCinematheque commented on #322
https://www.youtube.com/watch?v=D-FgPt7Eivo&feature=youtu.be

[2018-04-17 13:38] JerusalemCinematheque commented on #319
אפשר שיופיע גם אם טווח תאריכי המהדורה תקף

[2018-04-17 13:47] JerusalemCinematheque commented on #308
אז הגישה הראשונה כן יכולה לתת מענה לבעיה הזו?
אני לא ממש מבינה את הגישה השניה, תוכל להסביר שוב?

[2018-04-17 14:17] reasonat commented on #308
הגישה הראשונה יכולה אולי לתת מענה. אני לא איש קידום ולכן לא יודע.
הגישה השנייה מדברת על ממשק בו אם למשל יצרת קישור מתוך פסטיבל, בעמוד רשימה כלשהו, לעמוד סינמטק, הקישור יהיה באמת לעמוד סינמטק ולא לעמוד פסטיבל כדי למנוע תקלות מסוג זה.

[2018-04-17 14:18] reasonat commented on #319
עודכן

[2018-04-17 14:24] reasonat commented on #322
See if updated issue is ok.
DO you also want us to fix number 3?

[2018-04-17 14:28] reasonat commented on #331
@sato2004 Please also read the comment. it made the issue more clear

[2018-04-26 09:12] reasonat commented on #318
➤ Alex Voloshchenko commented:

I added field Tag name. Now if you edit a festival and add the name of the tag, this name will be displayed in the tag area

[2018-04-29 12:42] reasonat commented on #308
➤ Alex Voloshchenko commented:

@Amir Taiar This task not clear for me, what exactly should I fix here?

[2018-04-30 08:24] JerusalemCinematheque commented on #308
דוגמא נוספת שאני לא ממש מבינה למה זה קורה
הסרט הפיל והפרפר
הסרט משוייך לדומיין סינמטק
הלובי אליו הסרט קשור משוייך לדומיין סינמטק
מדוע בחיפוש בגוגל התוצאה הראשונה שמופיעה מובילה לדומיין פסטיבל

[2018-04-30 13:34] JerusalemCinematheque commented on #332
okay

[2018-04-30 13:46] JerusalemCinematheque commented on #314
ok

[2018-04-30 14:04] JerusalemCinematheque commented on #318
ok

[2018-05-01 06:34] #318 closed, assigned to navotb, sato2004

[2018-05-01 06:35] #332 closed, assigned to sato2004

[2018-05-01 06:37] reasonat commented on #308
אני בכלל לא רואה את התוצאת חיפוש למילות חיפוש הללו
בקיצר, יש לנו פה עניין שצריך לשוחח עליו בשביל להבין יותר.
אשלח מייל לתיאום שיחה

[2018-05-01 07:31] JerusalemCinematheque opened #333 "lobby page - error message when trying to reorder content"
@reasonat
כשאני מנסה לסדר מחדש את הפריטים בעמוד לובי אני מקבלת את הודעת השגיאה הבאה
נכנסתי ללובי
לחצתי על
reorder content
לחצתי לסדר לפי
 time of event
ואז קיבלתי את הודעת השגיאה
![image](https://user-images.githubusercontent.com/26960693/39465129-574ad400-4d2a-11e8-9181-bc39f6756f22.png)

[2018-05-01 12:39] JerusalemCinematheque commented on #319
בטוח שמופיע גם שמדובר על מהדורה עכשווית?
עשיתי ניסוי באתר ה
dev
ושם זה לא עובד

[2018-05-01 12:41] JerusalemCinematheque commented on #331
בעמוד האירוע של הסרט תגית הפסטיבל עדיין לא מופיעה
http://jff.org.il/he/event/10072

בנוסף, תגית המהדורה העכשווית גם כן לא מופיעה
http://jff.org.il/he/movie/7769

[2018-05-08 06:16] reasonat commented on #319
➤ Amir Taiar commented:

@Alex Voloshchenko

[2018-05-08 06:16] reasonat commented on #331
➤ Amir Taiar commented:

@Alex Voloshchenko

[2018-05-15 12:39] JerusalemCinematheque commented on #308
התייעצנו עם מספר גורמים בנושא והם מבקשים אם אפשר להתקין באתר (על שני הדומיינים שלו)
google search console
ולתת להם ולנו גישה שנוכל לעקוב אחרי התוצאות
תוך כמה ימים הם אולי יוכלו להבין היכן הבעיה ומה ניתן לעשות כדי לפתור סוגיה זו

[2018-05-27 15:18] JerusalemCinematheque commented on #314
@reasonat
אני לא בטוחה מה הבעיה כאן, אבל נראה לי שזה קשור לטיקט הזה שסגרנו
http://jer-cin.org.il/he/event/19334
יש סרט שמקושר לאירוע
לסרט אין תמונה, אבל לאירוע יש.
בעמוד האירוע, התמונה לא מופיעה, הלובי אליו שייכנו את האירוע לא מופיע, ולא מופיעה כותרת האירוע ופרטי הסרט (כותרת, אורך, לידינג קרדיט טקסט)

[2018-06-03 14:22] JerusalemCinematheque opened #334 "Front Page - 3 Item Grid View"
@reasonat
בעמוד פרונט פייג' שהקמתי הוספתי תצוגת גריד 3 אייטמים
משום מה האייטמים לא מוצגים כמו שצריך
במקום שיופיעו שלושה בשורה, שלושת האייטמים האחרונים התפצלו לשתי שורות
http://jer-cin.org.il/he/19987

[2018-06-06 07:43] JerusalemCinematheque opened #335 "sponsor banner height"
@reasonat
האם ניתן לשנות את גובה באנר ספונסר?
שיהיה זהה  לגובה של באנר המידע ובאנר רשתות חברתיות?

[2018-06-07 07:13] reasonat commented on #335
It will be around 1 hour.

[2018-06-07 07:15] reasonat commented on #334
מכניס את זה לשעות יוני

[2018-06-07 07:17] reasonat commented on #320
I am closing this issue. Reopen if needed

[2018-06-07 07:17] #320 closed, assigned to sato2004

[2018-06-07 07:21] reasonat opened #336 "Event - Movie image don't display when even has no image"
http://jer-cin.org.il/he/event/19334
יש סרט שמקושר לאירוע
לסרט אין תמונה, אבל לאירוע יש.
בעמוד האירוע, התמונה לא מופיעה, הלובי אליו שייכנו את האירוע לא מופיע, ולא מופיעה כותרת האירוע ופרטי הסרט (כותרת, אורך, לידינג קרדיט טקסט)

[2018-06-07 07:22] reasonat commented on #336
מעריך את זה סביב 2-3 שעות עבודה

[2018-06-07 07:22] reasonat commented on #314
מה שאת מתארת כעת הוא מקרה קצה שונה מהטיקט הזה. אפתח חדש
https://github.com/Reasonat1/Cinema/issues/336
סוגר את זה שוב

[2018-06-07 07:22] #314 closed, assigned to navotb, sato2004

[2018-06-07 07:31] reasonat commented on #308
➤ Amir Taiar commented:

@Alex Voloshchenko Please add the attached files to the site. instructions at the description area.

[2018-06-07 07:36] reasonat commented on #308
➤ Amir Taiar commented:

This one is for the jff domain

[2018-06-07 11:42] JerusalemCinematheque opened #337 "Festival performance issues"
@reasonat
הוספתי כמה וכמה אירועים, אבל אני משום מה לא מצליחה לראות אותם בעמוד הקלנדר
אולי אני מסתכלת על העמוד הלא נכון או שמשהו בהגדרות של הסרטים / הקרנות / טרם פסטיבל לא נכון
http://dev.jff.org.il/he/festival-calendar

[2018-06-10 09:23] JerusalemCinematheque commented on #335
לא לביצוע בשלב זה

[2018-06-17 07:18] reasonat commented on #334
@JerusalemCinematheque Need review

[2018-06-17 07:18] reasonat commented on #333
@JerusalemCinematheque Need review

[2018-06-17 07:20] reasonat commented on #315
@JerusalemCinematheque Waiting for your response

[2018-06-17 07:20] reasonat commented on #337
➤ Amir Taiar commented:

@sato2004  from what I have seen events do have dates, hall set, they are publish, yest the calendar isn't display.

[2018-06-17 07:33] JerusalemCinematheque commented on #334
@reasonat
זה בסדר בדוגמא ששלחתי
אבל עכשיו יש בדיוק את אותה בעיה בעמוד הבית בצד עברית

[2018-06-17 09:24] JerusalemCinematheque opened #338 "install new DNS facebook code"
@reasonat
שינוי נוסף בפייסבוק מביא לכך שלא ניתן יותר להתאים לינקים בעמוד.
קיבלנו מפייסבוק הוראות כיצד נוכל כנראה לשנות לינקים שעולים באתר.
ההוראות בקובץ תמונה והקוד נמצא במסמך.
![cinematheque](https://user-images.githubusercontent.com/26960693/41506585-4429e3ec-7229-11e8-9be6-0419b7c06611.jpg)
[dns code.txt](https://github.com/Reasonat1/Cinema/files/2108831/dns.code.txt)

[2018-06-17 12:30] reasonat commented on #337
➤ Alex Voloshchenko commented:

@Amir Taiar It was cache issue, now calendar looks ok https://dev.jff.org.il/he/festival-calendar

[2018-06-17 12:33] JerusalemCinematheque commented on #337
So this is part of the on-going issues with this page/model

[2018-06-17 12:34] JerusalemCinematheque commented on #337
@reasonat
should i create more events or is this enough to explore the issues at hand?

[2018-06-17 13:00] reasonat commented on #308
➤ Alex Voloshchenko commented:

@Amir Taiar I see 2 identical files. I've uploaded this file.

[2018-06-17 13:05] reasonat commented on #308
➤ Amir Taiar commented:

@Alex Voloshchenko they only look identical I think. Anyway if I will get error we will do this together tomorrow

[2018-06-18 09:42] JerusalemCinematheque opened #339 "countdown clock"
@reasonat
הי אמיר,
תוכל בבקשה להגיד לנו האם קיים רכיב קאונטדאון שניתן להוסיף לאתר?
הרעיון הוא לייצר שעון ספירה לאחור לקראת פתיחת פסטיבל הקולנוע ושהשעון ידבר בשפה של האתר
מה משמעויות פיתוח כזה מבחינת שעות עבודה וזמן עלייה לאתר?

[2018-06-18 14:05] JerusalemCinematheque commented on #334
ערכתי מחדש את העמוד ולכאורה הבעיה נפתרה
אבל כדאי לעשות בכל אופן בדיקה כדי לוודא שזה לא יחזור על עצמו

[2018-06-18 14:05] JerusalemCinematheque commented on #333
seems okay
will reopen if problem retuens

[2018-06-18 14:05] #333 closed, assigned to sato2004

[2018-06-20 07:16] JerusalemCinematheque commented on #334
עכשיו בעמוד הבית צד אנגלית, בחלק שעד הבוקר היה מוצג כמו שצריך ולא נעשתה בו עריכה
![image](https://user-images.githubusercontent.com/26960693/41643060-e5ee231e-7472-11e8-8b33-e9fae4596ee8.png)

[2018-06-20 13:19] JerusalemCinematheque opened #340 "Dev festival calendar - events not presented in the correct hall"
@reasonat
אני ממש מקווה שזו רק בעיה בסביבת הפיתוח ולא בקלנדר באתר החי
אבל יש מספר אירועים שהקמתי בסביבת הפיתוח שלא מופיעים בטור אולם נכון
לדוגמא ב-20.7 האירוע האי היפה ביותר שוייך לאולם סינמטק 3, אבל מופיע בטור של סינמטק 1
http://dev.jff.org.il/he/festival-calendar/2018-07-20
או ב-14.7 הפרס שוייך לסינמטק 2 ומוצג בסינמטק 1
http://dev.jff.org.il/he/festival-calendar/2018-07-14
בשני המקרים הטור של הא

[2018-06-21 08:48] JerusalemCinematheque commented on #337
יש חדש?

[2018-06-24 06:24] JerusalemCinematheque opened #341 "sponsor banner slider"
The sponser baner should be a slider replacing each image within 5 seconds.
So the gallery should:
1. Arrows right-left
2. Auto replace each 5 seconds with a basic slide effect.
3. On mobile using finger swipe

See image to understand the section
![slider_jff](https://user-images.githubusercontent.com/741209/41893681-43d3a678-7925-11e8-9e1c-4da1487b4970.jpg)

[2018-06-25 06:14] reasonat commented on #308
@JerusalemCinematheque Both site are verified now.

[2018-06-25 06:14] #308 closed, assigned to reasonat, navotb, sato2004

[2018-06-25 06:15] reasonat commented on #315
@JerusalemCinematheque Closing this issue. Reopen if needed.

[2018-06-25 06:15] #315 closed, assigned to navotb, sato2004

[2018-06-25 06:17] reasonat commented on #334
@JerusalemCinematheque I can't see this issue. Which screen resolution and browser?

[2018-06-25 06:18] reasonat commented on #331
@JerusalemCinematheque Please review

[2018-06-25 06:20] reasonat commented on #337
@JerusalemCinematheque "So this is part of the on-going issues with this page/model" - What do you mean by that?

[2018-06-25 06:25] reasonat commented on #339
@JerusalemCinematheque
בהחלט יש כמה.
אם מדובר על תיבה בודדת, סטטית וידנית ההטמעה פשוטה מאד.
בכל מקרה, יש לנו פה סיפור של עיצוב, הטמעת עיצוב ושינויים בהתאם.
ולכן, ראשית צריך להחליט איפה ממקמים את התיבה ואז אוכל להעריך עלויות.

[2018-06-25 06:28] reasonat commented on #341
@JerusalemCinematheque זו הייתה בקשת שינוי שלכם לפני מספר חודשים למיטב זכרוני ולכן החלפנו מבאנר מתחלף לסטטי.

[2018-06-25 06:32] JerusalemCinematheque commented on #341
לא שזכור לי
לפני שנה החלפנו את התמונה הראשית מסטטית למתחלפת אולי מכאן הבלבול
בכל אופן כרגע זה גם לא סטטי, הבאנרים מופיעים אחד מתחת לשני

[2018-06-25 06:34] JerusalemCinematheque commented on #308
okay
how do we get access to the results? and can give lior@kiss-m.co.il access to them as well?

[2018-06-25 06:35] JerusalemCinematheque commented on #334
once i edited the page again the problem resolved
but the issue keeps coming back
it was chrome 1920*1080

[2018-06-25 06:37] JerusalemCinematheque commented on #337
that any time we update the festival calendar we have to clear the cache so the updates are also updated on the frontend

[2018-06-25 06:38] JerusalemCinematheque commented on #339
זה לא יכול להיות מרכיב שאנחנו מחליטים בכל פעם איפה הוא מופיע?

[2018-06-25 06:40] reasonat commented on #341
זו בדיוק הייתה הבקשה. לא זוכר משהו אחר.
גם בעיצוב זה ככה.

[2018-06-25 06:40] JerusalemCinematheque commented on #341
ומה שרצוי הוא שזה יהיה סליידר אוטומטי שמתחלף כל 5 שניות

[2018-06-25 06:41] reasonat commented on #339
יכול להיות בהחלט.
אם זו הדרישה. זה אומר כמובן היקף עבודה גדול יותר

[2018-06-25 06:41] reasonat commented on #337
כן. זה כל הרעיון של קאש...
כבר דיברנו על זה עשרות פעמים

[2018-06-25 06:43] reasonat commented on #334
So now there is no issue?
Didn't get it. Looking in this resolution I see no issue.

[2018-06-25 06:44] reasonat commented on #308
Just did with full permissions

[2018-06-25 06:47] reasonat commented on #341
אז רק בכדי לחדד
שורה אחת, של לוגואים, חצים לשני הצדדים להחלפה
החלפה אוטומטית כל 5 שניות
הזזה עם האצבע במובייל
במובייל 2 לוגוים בשורה אחת ?

מצרף צילום מסך רק בכדי לוודא שאנחנו על אותו מקום
![banners_and_alerts_and_ _ _](https://user-images.githubusercontent.com/741209/41834362-b85a8152-785c-11e8-9297-951dd6634fde.jpg)

[2018-06-25 06:48] JerusalemCinematheque commented on #341
זה לא החלק הזה
אני מדברת על החלק שמעליו. איפה שכרגע יש שני באנרים ברוחב מסך שלם שמופיעים אחד מתחת לשני - פדקס ופררלה

[2018-06-25 06:50] JerusalemCinematheque commented on #337
אבל זה חלק מהבעיה, שאפילו העדכון הראשוני של העלאת האירועים לא קורה אוטומטית אלא רק בניקוי הקאש

[2018-06-25 06:51] JerusalemCinematheque commented on #334
right now no, but this keeps coming back
i will update next time it happens

[2018-06-25 06:58] JerusalemCinematheque commented on #339
אוקיי
נתייעץ כאן ונחזור אם מחליטים ללכת על זה

[2018-06-25 07:34] reasonat commented on #337
את הקאש לא מעניין מתי אתה מעלה אירועים. הוא תופס קאש לכל החיים
ולכן יש לרענן בכל שלב של עדכון, בהתחלה, באמצע וכן הלאה.
עשינו כעת עדכון ששיפר משמעותית את הביצועים
אנחנו רוצים לדחוף אותו ללייב השאלה אם יש שם כבר אירועים

[2018-06-25 07:39] JerusalemCinematheque commented on #337
יש רק אירוע אחד
כל האירועים אמורים לעלות בחמישי הבא

[2018-06-25 07:41] reasonat commented on #337
אוקיי, אז אנחנו דוחפים את העדכון ללייב
מה שחסר לי בפיתוח זה הבאנרים למטה ומסה יותר גדולה של אירועי דמה כדי לדעת שאני בסדר שם

[2018-06-25 07:42] JerusalemCinematheque commented on #337
אני אנסה להוסיף היום את מה שצריך

[2018-06-25 09:14] JerusalemCinematheque commented on #337
שימו לב שמהלך העדכון שעשיתם משהו השתבש בתצוגה של שם האולם בפופ אפ. במקום שם האולם מופיע מספר
![image](https://user-images.githubusercontent.com/26960693/41841539-4189c316-7871-11e8-9d43-6d643e36e4c1.png)

[2018-06-25 10:50] JerusalemCinematheque commented on #337
בעניין הקאש
לדוגמא העליתי לדב אירועים ל-14.7 ואירועים ל15.7
כל האירועים שהעליתי ל-15.7 מעודכנים
כל האירועים שהעליתי ל-14.7 לא מופיעים
ובנוסף אם אני נכנסת ל14.7 לא רואים בלוח שהיום 15.7 קיים אבל אם אני עוברת ל16.7 אז פתאום ה-15.7 כן מופיע

[2018-06-25 11:08] JerusalemCinematheque commented on #337
הוספתי ימים מלאים - 14.7 / 15.7
כולל קלנדר נוטס
מקווה שזה מספיק

[2018-06-26 06:44] reasonat commented on #341
עדכנתי את התיאור של המשימה והעברתי אותה לשעתיים של יולי

[2018-06-26 06:44] reasonat commented on #334
ok. I will leave this open for now

[2018-06-26 06:46] reasonat commented on #337
@sato2004 Please check performances now. Also notice last 3 comments.

[2018-06-26 06:47] reasonat commented on #340
@JerusalemCinematheque need review

[2018-06-26 07:49] JerusalemCinematheque commented on #340
seems to be okay
will reopen if problem returns

[2018-06-26 08:05] reasonat commented on #337
➤ Alex Voloshchenko commented:

@Amir Taiar I fixed issue with hall name.
About different days with the list of events, every date that is separate html page in the cache (not only events section, but full page with header, footer list of dates etc) so all we need is to clear the cache when all events are added, after that the pages in the cache are updated and everything should be displayed corre

[2018-06-27 06:44] #340 closed, assigned to sato2004

[2018-06-27 09:16] JerusalemCinematheque commented on #322
problem still exists. I just added a lobby in hebrew
http://jff.org.il/he/taxonomy/term/1132
i pressed save and translate
i went to view
logos were there
i went to translate
the english editing side did not show the logos
save the page
logos do not appear - not in the hebrew side (were i saw them) and not on the english side

[2018-06-27 12:12] JerusalemCinematheque opened #342 "Festival site > event page > film lobby does not appear on picture"
@reasonat
בצד פסטיבל בעמוד אירוע אליו מקושר סרט שמקושר ללובי, הלובי לא מופיע על התמונה
עמוד הסרט עם הלובי
http://jff.org.il/he/movie/22311

עמוד האירוע של הסרט ללא הלובי
http://jff.org.il/he/event/22318

בצד סינמטק נראה שזה בסדר
http://jer-cin.org.il/he/event/19376

[2018-06-28 11:53] JerusalemCinematheque commented on #308
האם יש קוד גישה וסיסמא?

[2018-06-28 15:49] JerusalemCinematheque commented on #337
okay for hall names
regarding the cache - i'm not sure i understand. what will need to be done is after we finish creating all the events > clear cache and then what?
what happens if we update events after that? will the update appear right away or will we have to clear cache every time? which is what we have been doing.
still takes a long time for the page to upload. also, moving between days sti

[2018-07-01 11:21] JerusalemCinematheque opened #343 "Movie group / Event > Movie Referenced > limited search resaults"
@reasonat
כשאני מנסה לשלוף סרט בתוך שדה
movie reference
אם זה בעמוד מקבץ או אירוע
מספר התוצאות המתקבלות מוגבל
כך שלדוגמא אני לא יכולה למצוא סרט שנקרא "בית"
גם לא באנגלית כשאני מחפשת את
house

[2018-07-01 15:30] JerusalemCinematheque commented on #334
http://jff.org.il/he/22535
זה בעמוד מסוג פרונט פייג'
לא רק ששורות התפצלו חלק מהריבועים נצמדו לריבועים שלפניהם

[2018-07-01 15:33] JerusalemCinematheque commented on #334
בדוגמא הזו הקמתי את העמוד
הוספתי אייטמים שהם לובי
התצוגה היתה בסדר
אחרי זה נכנסתי לכל לובי וערכתי אותו (הוספתי תמונה ללובי)
חזרתי לעמוד הפרונט פייג'
רעננתי אותו
ואז התצוגה השתבשה

[2018-07-01 15:54] JerusalemCinematheque commented on #334
אמיר יכול להיות שהבעיה נובעת מכך שיש שם אייטמים שיש בהם את תמונת הדיפולט של האתר שמשום מה לא בגודל הנכון?
כשבודקים את גדלי התמונה, גובה כל התמונות הוא 242.94
גודל תמונת דיפולט אתר הוא 242.95
הבדל מזערי אבל נראה שהוא משפיע על האייטמים שמגיעים בשורות אחריו
תראה את תמונת המסך הזו כאשר "קלאסיקות" עם תמונת דיפולט אתר נמצא מעל אייטם אחר
![image](https://user-images.githubusercontent.com/26960693/4213619

[2018-07-02 14:27] JerusalemCinematheque commented on #337
any updates?

[2018-07-03 05:29] reasonat commented on #308
לא. זה פשוט פותח עבורו כניסה גם

[2018-07-03 05:30] reasonat commented on #322
לא מבין
אני כן רואה את הלוגואים. אז הבעיה היא רק בעת יצירת העמודים? ולאחר רענון הלוגואים מוצגים?

[2018-07-03 05:33] reasonat commented on #342
עמוד הסרט אינו קיים.
וגם, מהו הלובי שאמור להופיע?

[2018-07-03 05:37] reasonat commented on #343
In event Line Up field I can see the reference example
Also in Group movie

[2018-07-03 05:38] reasonat commented on #334
תוכל לשלוח לינק לעמוד עם הבעיה?

[2018-07-03 05:43] reasonat commented on #337
כל פעם שמוסיפים אירוע ו/או מעדכנים אירוע יש לנקות קאש בכדי לראות שינויים.
אני ממש לא 11 שניות, מבדיקת מהירות שעשיתי אני רואה ממוצע מעבר של 4.5 שניות שזה לא רע כלל
בנוסף, מהבדיקה הקודמת שעשיתי נראה כי לבאנרים שמתחת יש השפעה שלילית.

[2018-07-03 07:46] JerusalemCinematheque commented on #322
רק אחרי שאני שומרת את האנגלית ומוסיפה את הלוגואים שוב אז הם מופיעים

[2018-07-03 07:49] JerusalemCinematheque commented on #343
כי עשיתי על זה מניפולציה והוספתי לשם הסרט המשך טקסט כדי שאני אוכל למצוא אותו
אם תפתח מקבץ חדש ותנסה למצוא את הסרט לא תצליח

[2018-07-03 07:55] JerusalemCinematheque commented on #343
יש על זה טיקט שנסגר
#126

[2018-07-03 07:55] JerusalemCinematheque commented on #334
http://jff.org.il/he/22535
תנסה לשנות את הסדר של הפריטים
העמוד עולה ביום חמישי אז אולי כדאי שנפתח עמוד ניסיון חדש עבור זה

[2018-07-03 14:09] JerusalemCinematheque commented on #341
יש אפשרות לטפל בזה ממש בימים הקרובים? אנחנו מצפים למסה של אנשים שיכנסו לאתר החל מיום חמישי

[2018-07-03 14:11] JerusalemCinematheque commented on #337
ביום חמישי הלוח העדכני יעלה לאתר ואז נוכל לבחון מה קורה בלייב
אז מה אפשר לעשות לגבי הבאנרים האלו שמכבידים? האם יש דרך אחרת לקשר אותם לעמוד יום ספציפי בלי שזה יוסיף משקל לעמוד?

[2018-07-04 10:53] JerusalemCinematheque opened #344 "Hall Toptix issue"
@reasonat
עניין מאוד דחוף
משום מה החיבור בין הגדרות אולם באתר והגדרות אולם מטופטיקס הפסיק לעבוד
כלומר מנגנון המשיכה מטופטיקס בעמוד אולם לא שומר את האולם
נכנסתי לדוגמא לאולם סינמטק 1
לחצתי על
toptix hall
לחצתי על סינמטק 1
כתוב בשדה סינמטק 1
עשיתי שמור
נכנסתי חזרה לעמוד והשדה ריק
כאני מושכת אירוע מטופטיקס בעמוד אירוע כל המידע (שעת תחילה, סיום וכו) נמשך אבל שדה האולם נשאר ריק

[2018-07-04 13:17] reasonat commented on #334
נראה לי כדאי שתסדרו את זה באופן בו ראיתם את הבאג

[2018-07-04 13:18] reasonat commented on #331
@JerusalemCinematheque Need review

[2018-07-04 13:20] reasonat commented on #337
לא אמרתי שהם אלו שמכבידים אלא רק שהם מוסיפים. מה גם שהם בסוף העמוד בכלל ואני בספק לגבי היחס המרה שלהם.
אפשר להוריד אותם... ? זה לשיקול דעתכם

[2018-07-04 13:20] JerusalemCinematheque commented on #334
תראה עכשיו

[2018-07-04 13:21] reasonat commented on #322
שומרת את האנגלית.
נכנס שוב לאנגלית לעריכה
מוסיפה באנגלית את הלוגואים
ואז הם מופיעים?
אפשר צעד אחר צעד כי אני לא מצליח לשחזר

[2018-07-04 13:23] reasonat commented on #341
לפני מחר זה ממש לא יקרה בהתחשב בכך שיש לנו משימה דחופה בהרבה מזה.

[2018-07-04 13:26] reasonat commented on #334
רואה. הועבר לבדיקה

[2018-07-04 13:28] reasonat commented on #343
זה לא טיקט שנסגר. זה טיקט שהוקפא כי יש פה דרישה להצגת נתונים אחרי 3 תוים.
הרכיב אינו מאפשר את זה והמשמעות היא עבודת קוד
כמו שכתוב שם אפשר לשנות את הווידג׳ט אלא שגם זה יקח לא מעט עבודה, סביב שעה.

[2018-07-04 13:35] JerusalemCinematheque commented on #343
זה יותר שעניין שלושה תווים
כשחיפשתי לפי השם באנגלית
house
מספר התוצאות היה מוגבל ולא מצאתי את הרפרנס

[2018-07-05 07:03] JerusalemCinematheque commented on #337
@reasonat
העליתי עכשיו את הקלנדר של פסטיבל 2018
הוא איטי מאוד מאוד
דקה שלמה רק להעלות את הקלנדר
וכך גם המעבר בין הימים

[2018-07-05 07:09] JerusalemCinematheque opened #345 "festival calendar - day choice mark"
Active day in the calendar nav day should be the "Site color"  - http://jff.org.il/he/admin/appearance/flexicolor

The front should be like here only with the festival color
https://user-images.githubusercontent.com/26960693/42418041-68d4e386-82a0-11e8-8538-f8da1265b50a.png

[2018-07-05 07:24] JerusalemCinematheque opened #346 "festival calendar mobile - day ticker"
On Mobile - Calendar page - http://jff.org.il/he/festival-calendar
What needed:
- In case the first day yet to arrive the calendar should start with it.
- Then calendar should start with current date.

Now there is also an issue  -When I click a date, the date nav bar, always return to 2/8 which I guess it's actually and LTR issue and it's return to the 5/08
![mobilecalendarss](https://user-images

[2018-07-05 12:18] JerusalemCinematheque commented on #337
@reasonat
אמיר קיבלנו גם תלונות מאנשים שלא מצליחים לראות את כל הימים
אני מתארת לעצמי שזה עניין של קוקיס של הדפדפן של כל אחד
אבל האם יש משהו שניתן לעשות בנושא הזה?

[2018-07-05 15:02] JerusalemCinematheque commented on #337
האם ההאטה שחווינו הבוקר קשורה לניקוי הקאש של האתר?
כי עכשיו הייתי צריכה לעדכן את הקלנדר ועשיתי ניקוי קאש וזה שוב איטי מאוד
ואם זה המצב מה עושים עם זה?
עכשיו כל פעם שנצטרך לעדכן את הקלנדר (נגיד פעם או פעמיים ביום בקרוב) נפגוש שוב את בעיית מהירות העמוד ?

[2018-07-08 07:39] reasonat commented on #337
לא מצליחים לראות את הימים לא קשור לנושא הזה.
אנחנו לא ראינו האטה כלל, להיפך, ממספר מחשבים הלוח שנה עלה מהר.

אבל כמו שאמרתי, יש חלופות אבל אתם לא ממש משתפים פעולה.
לצורך העניין, בואו נרים עמוד פשוט, הטמל סטטי, של כל הימים, ללא הצלבות, ללא אלוגריטם, ללא אינטגרציה לשום מקום, ללא באנרים. אתם תזינו אותו ידנית בהתאם לשינויים.
האם זה מתאים?

[2018-07-08 07:46] reasonat commented on #344
@JerusalemCinematheque Please review

[2018-07-08 07:52] JerusalemCinematheque commented on #337
הי אמיר,
תודה. אכן עכשיו וגם כשהיה לחץ על האתר בסוף השבוע הקלנדר עבד במהירות.
כפי שכתבתי אני חושבת שההאטה שחווינו קשורה לניקוי הקאש של האתר שעשיתי לאחר שהעליתי את כל האירועים של קלנדר פסטיבל 2018
אני עשיתי ניקוי קאש של כל האתר אבל אני רואה שיש שם אפשרויות לבחור מה לנקות. האם באמת צריך לנקות את כל הקאש כדי לעדכן, מה שנראה שגורם לאתר להאט מאוד, או שאפשר לנקות רק חלק מהקאש שרלוונטי לקלנדר.

[2018-07-08 07:54] reasonat commented on #338
זה בנק שעות.
האם יש אישור לעבוד על זה?

[2018-07-08 07:56] JerusalemCinematheque commented on #337
בעניין אחר. קיבלנו מספר תלונות וגם זה קרה לי כשגלשתי בעמוד אנונימי שנכנסים ל1.8 נשארים רק שני ימים בטיקר הימים
תראו כאן
https://www.youtube.com/watch?v=F2ogxFH7Gi0&feature=youtu.be
היתה בעיה דומה בשנה שעברה וזה טופל
אני לא ראיתי שזה קורה מאז יום חמישי ויכול להיות שזה הסתדר, אבל נודה לכם אם תוכלו להעיף מבט

[2018-07-08 07:57] #246 closed, assigned to sato2004

[2018-07-08 07:57] reasonat commented on #336
שמתי את זה בהקפאה. תעדכנו במידה ותרצו שנעבוד על זה

[2018-07-08 08:00] reasonat commented on #346
לא ברור. נתחיל מכך שתאמרו לי למה הכוונה ״טיקר״ ?

[2018-07-08 08:01] reasonat commented on #345
מה תרצו שיהיה?

[2018-07-08 08:01] reasonat commented on #343
למה הכוונה מוגבל?
מה היה הרפרנס הרצוי לצורך העניין?

[2018-07-08 08:04] reasonat opened #347 "1.8 picking issue"
When a anonimous user choose the date 1/8 in the calendar
http://jff.org.il/he/festival-calendar/2018-08-01
The other dates (most of them) disappear .

[2018-07-08 08:04] reasonat commented on #347
אני לא מצליח לשחזר את זה. בלחיצה על התאריך מופיעים לי כל שאר הימים

[2018-07-08 08:05] reasonat commented on #337
באשר לבעיית התאריך
https://github.com/Reasonat1/Cinema/issues/347

[2018-07-08 08:06] reasonat commented on #337
באשר לקאש רק על אזור נתון. למיטב ידיעתי אין את האפשרות הזו אבל אנחנו נבדוק את הנושא

[2018-07-08 08:17] JerusalemCinematheque commented on #345
היום הנבחר אמור להיות מסומן בצבע האתר כמו שהיה בעבר
כמו שקיים בקלנדר סינמטק
![image](https://user-images.githubusercontent.com/26960693/42418041-68d4e386-82a0-11e8-8538-f8da1265b50a.png)

[2018-07-08 08:23] JerusalemCinematheque commented on #346
שורת ניווט הימים
בכניסה ראשונית לעמוד הקלנדר היום הראשון שאמור להופיע זה היום הראשון בקלנדר
כשהיום הראשון בקלנדר חולף כרונולוגית היום הראשון שאמור להופיע בכניסה לקלנדר הוא היום "הנוכחי"
כשהקלנדר מסתיים כרונולוגית אמור לחזור ליום הראשון בקלנדר
כשבוחרים יום בקלנדר היום שנבחר אמור "להופיע" ראשון
ככה זה היה כשהעלינו את האתר בשנה שעברה
עכשיו המצב הוא שלא משנה מה שורת ניווט הימים "מתחילה" ב-2.8 וצריך לד

[2018-07-08 08:32] JerusalemCinematheque commented on #344
greta. working now

[2018-07-08 08:34] JerusalemCinematheque commented on #342
looks t be okay now
thanx

[2018-07-08 08:35] JerusalemCinematheque commented on #347
גם אני לא. זה קרה לי פעם אחת
והיו עוד כמה אנשים שהתלוננו על זה
אם נשמע על זה שוב נכתוב

[2018-07-08 08:42] JerusalemCinematheque commented on #343
הכוונה היא שלא כל התוצאות האפשריות מוצגות
לדוגמא יש סרט שנקרא
house
כשאני מבקשת לשלוף אותו בשדה
movie reference
מקבלים עד 10 תוצאות אפשריות למרות שיש במערכת במקרה הזה 12 תוצאות
![image](https://user-images.githubusercontent.com/26960693/42418166-53fb394e-82a3-11e8-8497-7c6c393a5a08.png)

[2018-07-08 08:45] reasonat commented on #343
אפשר לעשות שני דברים:
1. למנוע הגבלה של תוצאות ואז להוסיף גלילה פנימית בתיבת התוצאות
2. להפעיל גם פה את הווידג׳ט שפותח תיבת חיפוש משוכללת יותר

שני המקרים הינם בנק שעות.
הראשון לא ברור לי כמה זמן יקח כי זה התערבות ברכיב ליבה.
השני סביב 2 שעות.
מחכה לעדכון מכם מה לעשות

[2018-07-08 08:46] reasonat commented on #347
אוקיי
אז אני סוגר את זה

[2018-07-08 08:46] #347 closed, assigned to reasonat, navotb

[2018-07-08 08:47] #342 closed, assigned to reasonat, navotb, JerusalemCinematheque

[2018-07-08 08:47] #344 closed, assigned to sato2004

[2018-07-08 08:53] reasonat commented on #346
Move to dev

[2018-07-08 08:53] reasonat commented on #345
אבל בזהב נכון?

[2018-07-08 08:55] JerusalemCinematheque commented on #345
כן בצבע הדומיין
כלומר שכמו כל אלמנט אחר, אם אנחנו בוחרים לשנות את צבע הדומיין אז גם שם זה ישתנה בהתאם

[2018-07-08 09:19] reasonat commented on #345
update description and move to dev

[2018-07-08 09:30] reasonat commented on #341
➤ Amir Taiar commented:

@Alex Voloshchenko also cache this view when done.

[2018-07-08 11:06] JerusalemCinematheque commented on #338
מה הערכת הזמן לדבר כזה?

[2018-07-08 11:07] JerusalemCinematheque commented on #343
יש דוגמא לווידג'ט באופציה 2?
אני רק רוצה להבין איך הוידג'ט הזה פועל ואז נוכל להחליט מה נכון לעשות

[2018-07-08 11:12] navotb commented on #338
למה זה לא יכול להיות חלק מהשעות של יולי

[2018-07-08 15:07] reasonat commented on #341
@JerusalemCinematheque please review

[2018-07-08 15:09] reasonat commented on #338
ראשית כל השעות של יולי כבר הסתיימו אחורה :)
שנית, שוב, כפי שסוכם - במהלך חודש יכנסו משימות שהן על גבול הבאג / דרישה שלא מומשה עד הסוף  וכדומה

סביב 2 שעות אם לא יהיו תקלות
מדובר במשימה שמתערבת בדומיין

[2018-07-08 15:10] reasonat commented on #343
כן, הטמענו אותו בכל מיני מקומות באתר בו אפשר לחפש עמודים.
לא זכור לי כעת איפה בדיוק. אשאל את ברוריה מחר

[2018-07-09 05:22] reasonat commented on #346
@JerusalemCinematheque Please review

[2018-07-09 05:23] reasonat commented on #345
@JerusalemCinematheque Please review

[2018-07-09 05:24] reasonat commented on #334
@JerusalemCinematheque Please review

[2018-07-09 05:34] reasonat commented on #319
סליחה, בלבול בניהול המשימה.
זו משימה בבנק שעות, אני מעריך סביב 5 שעות עבודה.
האם יש אישור?

[2018-07-09 08:19] JerusalemCinematheque commented on #346
okay

[2018-07-09 08:20] JerusalemCinematheque commented on #345
okay

[2018-07-09 08:48] JerusalemCinematheque commented on #334
זה נראה בסדר
למרות שגודל של תמונת הדיפולט עדיין קטן בפיקסל מהתמונות האחרות
http://jff.org.il/he/23219

[2018-07-10 08:22] JerusalemCinematheque opened #348 "additional tag manager"
@reasonat
?תוכלו בבקשה להוסיף את הטאג מנג'ר הזה לזה הקיים באתר

Paste this code as high in the <head> of the page as possible:

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNo

[2018-07-11 04:39] #346 closed, assigned to sato2004

[2018-07-11 04:40] reasonat commented on #334
למה הכוונה תמונת הדיפולט?

[2018-07-11 04:41] #345 closed, assigned to sato2004

[2018-07-11 06:40] reasonat commented on #348
➤ Alex Voloshchenko commented:

@Amir Taiar I added second tag, so now we have:

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'scrip

[2018-07-11 09:02] JerusalemCinematheque commented on #334
התמונה המוצגת בליסטה כשאין לאייטם תמונת מקור
זו התמונה עם האנשים באולם שצופים בסרט
אין לי מושג איפה התמונה נמצאת בתוך המערכת או איפה משנים אותה

[2018-07-11 09:07] reasonat commented on #334
הבנתי

[2018-07-11 09:09] reasonat commented on #348
@JerusalemCinematheque

[2018-07-11 09:10] JerusalemCinematheque commented on #348
אני בודקת את העניין

[2018-07-11 09:10] reasonat commented on #334
➤ Amir Taiar commented:

@Alex Voloshchenko Notice the comment. This is the default image which I guess dont have the good porportions before resizing.

[2018-07-11 10:44] JerusalemCinematheque commented on #348
מסתבר שזה עניין חדש של גוגל לשים את שני הקודים
אני מצרפת גם את ההוראות והקודים בקובץ נפרד למקרה שלא רואים את הקודים כמו שצריך כאן

צריך להטמיע את החלקים  –
**חלק עליון ב
[head]
חלק תחתון ב
[body]**

**Paste this code as high in the [head] of the page as possible:**

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName

[2018-07-12 06:07] sato2004 commented on #348
This is not clear for me, should I live only new tag? And looks like new tag has wrong id

[2018-07-12 06:15] JerusalemCinematheque commented on #348
Hi, can i connect you to the company asking for the Tag Manager?
If so what is your email address or phone number?

[2018-07-12 06:16] sato2004 commented on #348
alex@reasonat.com 0538211993

[2018-07-12 09:04] JerusalemCinematheque commented on #348
תודה אלכס
אני סוגרת את הטיקט

[2018-07-12 09:05] JerusalemCinematheque commented on #341
okay great

[2018-07-12 09:11] JerusalemCinematheque commented on #322
פותחת לובי / סרט / אירוע בצד עברית
מזינה את השדות השונים
מבקשת להוסיף לוגואים
לוחצת על הוסף לוגו
בוחרת תמונה חדשה
עושה שמירה של העמוד
הלוגו מופיע
מבקשת לתרגם את העמוד
עוברת לצד אנגלית
מזינה את השדות
גוללת ללוגו
הלוגו שהוספתי בצד עברית לא נמצא
מבקשת או
לבחור פעם נוספת את הלוגו מתוך ספריית המדיה, האימאג' לא שם
או שומרת את העמוד וחוזרת לצד עברית איפה שראיתי שהלוגו היה אחרי שמירה והוא לא מופיע

[2018-07-12 09:12] JerusalemCinematheque commented on #319
בינתיים לא
רק רוצה לוודא שברגע שהמהדורה הנוכחית מסתיימת תגית המהדורה אכן תופיע למרות שיש עוד מהדורות קודמות

[2018-07-15 05:49] #341 closed, assigned to sato2004

[2018-07-15 05:52] reasonat commented on #319
זה לא קשור למשימה הזו. אם יש בעיה עם זה אפשר לפתוח מחדש את המשימה שכבר נסגרה שקשורה בזה

[2018-07-15 05:55] reasonat commented on #334
@JerusalemCinematheque Please reeview again

[2018-07-15 10:45] JerusalemCinematheque commented on #334
אני עדיין רואה שגובה התמונה קטן בפיקסל מהתמונות האחרות
הגובה של תמונת הדיפולט בגריד הוא 241.95
של כל שאר התמונות 242.94

[2018-07-15 12:15] reasonat commented on #334
השינוי של הגודל נעשה ב-css ו
ולכן אני לא ידוע איך את רואה את הגודל כי כעת הם אותו הדבר

[2018-07-15 12:55] JerusalemCinematheque commented on #343
הספקת לשאול את ברוריה איפה יש את הוידג'ט הזה?

[2018-07-15 13:01] JerusalemCinematheque commented on #337
הייתי שמחה אם היה פתרון לעניין הקלנדר נוטס (בהאנרים שמשויכים לכל יום)
אני נמנעת משימוש בהם כרגע כי זה יוצר עומס על העמוד
אבל זה אלמנט שמאוד חסר

[2018-07-15 13:02] JerusalemCinematheque commented on #336
כן צריך לעבוד על זה
לא בשנייה זו אבל כן צריך את זה

[2018-07-15 13:03] JerusalemCinematheque commented on #334
![image](https://user-images.githubusercontent.com/26960693/42734188-84ba0646-8848-11e8-9315-6ef0337d8277.png)

![image](https://user-images.githubusercontent.com/26960693/42734190-8a901970-8848-11e8-94dc-8f087ebf6673.png)

[2018-07-15 13:05] reasonat commented on #343
עוד לא

[2018-07-15 13:05] JerusalemCinematheque commented on #331
בעמוד האירוע של הסרט תגית הפסטיבל עדיין לא מופיעה
ok

ובהקשר של המהדורה הנוכחית יש על זה איזה טיקט ששמנו אותו בהולד לא?

[2018-07-15 13:07] reasonat commented on #336
אוקיי, תעדכנו אותי כשיש אישור לעבוד על זה

[2018-07-15 13:08] reasonat commented on #337
לא בטוח שכעת לאחר ששיפרנו את הביצועים זה יעשה בעיות
אנא תעלי שוב ונראה

[2018-07-15 13:10] reasonat commented on #331
@sato2004 Please check number 5 again
http://jff.org.il/he/event/10072

לא ידוע לי על טיקט שתיארת בהולד

[2018-07-15 13:10] reasonat commented on #334
➤ Amir Taiar commented:

@Alex Voloshchenko I can approve the default image is still 1px less then the others

[2018-07-15 13:12] JerusalemCinematheque commented on #337
הסתכלתי בדב וזה לא מהיר כמו שזה באתר החי בלי הבאנרים

[2018-07-15 13:15] JerusalemCinematheque commented on #334
![defaultpic19201080](https://user-images.githubusercontent.com/26960693/42734305-47870268-884a-11e8-8dca-f6f294d7bf58.jpg)
זו תמונת הדיפולט בגדלים הנכונים

[2018-07-15 13:15] reasonat commented on #337
כן, הבאנרים מייצרים עומס.
@sato2004 Can youo please cache the baners on dev site so we can test this?

[2018-07-15 13:16] reasonat commented on #334
@sato2004 Please replace the default with this one and then make sure sizes are equal

[2018-07-15 14:29] JerusalemCinematheque commented on #338
מעבירה אליך במייל הסבר מחברת המרקטינג לגבי עניין זה
משהו שאמור לפתור את הסיבוך של ה
DNS
זה במייל כי אני לא מצליחה להעביר את הקבצים שמצורפים בו דרך הגיטהאב

[2018-07-16 04:34] reasonat commented on #338
האם יש אישור לעבוד על זה?

[2018-07-16 08:26] JerusalemCinematheque commented on #338
מה הערכת השעות?

[2018-07-17 07:11] reasonat commented on #338
סביב 2 שעות אם לא יהיו תקלות
מדובר במשימה שמתערבת בדומיין

[2018-07-17 14:49] JerusalemCinematheque commented on #338
יש אישור

[2018-07-19 06:58] JerusalemCinematheque commented on #338
יש הערכת זמן מתי זה יטופל?
אנשי המדיה שלנו לא מצליחים בינתיים להעלות תכנים לפייסבוק  כמו שצריך

[2018-07-19 12:13] sato2004 commented on #338
@JerusalemCinematheque  I uploaded these html files to the server
http://jer-cin.org.il/5v6661kl84akmgq7b5wdykze79xpyu.html
http://jff.org.il/j88zwbt578dj34r976e7qo0vvm8ihl.html

[2018-07-19 14:23] JerusalemCinematheque commented on #338
יופי תודה רבה

[2018-07-20 06:57] #338 closed, assigned to sato2004

[2018-07-22 08:24] JerusalemCinematheque opened #349 "homepage - editing content issue"
@reasonat
לא ניתן לערוך או להעלות מספר פריטים במקביל בעמוד הבית
אחרי כל הוספה/עריכה של פריט (לא לובי) צריך לשמור את העמוד אחרת מקבלים הודעת שגיאה
![image](https://user-images.githubusercontent.com/26960693/43043696-aed4dcd6-8da1-11e8-8ccb-94c2a7102d46.png)
או שלא ניתן לבחור את הפריט הבא

[2018-07-24 06:37] reasonat commented on #349
@JerusalemCinematheque Please review this

[2018-07-26 08:12] JerusalemCinematheque opened #350 "events created twice"
@reasonat
ביקשתי לשייך הקרנות מתוך טופטיקס לנוד 19438 (אתה מת רק פעמיים)
פתחתי את חלונית טופטיקס
חיפשתי את אתה מת רק פעמיים
ראיתי שיש לו 6 אירועים
אישרתי שיוך
והמערכת יצרה כל אירוע פעמיים גם בעברית וגם באנגלית
http://jer-cin.org.il/he/movie/19438

[2018-07-26 08:17] JerusalemCinematheque commented on #349
great thanx

[2018-07-26 11:40] navotb opened #351 "problem with ticketing website"
Hi,
We have encountered a problem with ticketing today and would like to check the possible connection between jff site and ticketing site. In order to solve the ticketing issue, we have shut the ticketing website,. When we have done this, suddenly we did not have any credits in the jff sites. As you can see in the photo bothe shopping cart icon is missing and credits are missing. That leads us to

[2018-07-27 11:22] JerusalemCinematheque opened #352 "events crossing to other domain on event page"
@reasonat
בעמוד אירוע של סרט בדומיין אחד שיש לו גם הקרנות בדומיין אחר
ההקרנות של הדומיין האחר מופיעות למרות שהן מוגדרות רק לדומיין מסויים
לדוגמא הסרט 2001: אודיסיאה בחלל מוגדר כשייך לשני הדומיינים
יש לו הקרנה שמשוייכת לדומיין פסטיבל והקרנה שמשוייכת לדומיין סינמטק
בעמוד האירוע שלו בדומיין הפסטיבל מופיעה בהקרנות הנוספות ההקרנה ששייכת לדומיין הסינמטק
http://jff.org.il/he/event/22717

וההפך מתוך דומיי

[2018-07-29 12:30] JerusalemCinematheque opened #353 "festival calendar - tickets appeare after end date for ticket sale"
@reasonat
כפתור הכרטיסים אמור להיעלם מהאירוע בקלנדר לפי מועד סיום מכירת הכרטיסים
זה עבד בעבר, אבל עכשיו כפתור הכרטיסים ממשיך להיות פעיל

[2018-07-29 12:35] JerusalemCinematheque opened #354 "festival calendar date change"
@reasonat
היום בקלנדר הפסטיבל אמור להתחלף בחצות אבל הוא מתחלף רק מתישהו בשעות הבוקר
מצ"ב תמונת מסך משעה שמונה בבוקר היום שמציג שהקלנדר מציג את אתמול
![image](https://user-images.githubusercontent.com/26960693/43366324-e4dade4a-9344-11e8-938c-352132190277.png)

[2018-07-30 04:04] #349 closed, assigned to sato2004

[2018-07-30 04:08] reasonat commented on #351
לא ברור כלל
הפסקתם את הפעילות רכישה באתר פסטיבל? בסינמטק?
בגלל בעיה שהייתה במערכת כרטוס עצמה בלי קשר לאתר?

[2018-07-30 04:10] reasonat commented on #353
אפשר דוגמא?

[2018-07-30 04:13] reasonat commented on #354
האם זה מקרה חד פעמי או חוזר על עצמו?

[2018-07-30 07:45] navotb commented on #351
היתה בעיה בתפקוד של הטופטיקס. אנשי התמיכה של טופטיקס חשבו שיש קשר בין אתר התוכן לאתר של טופטיקס - אולי אתר התוכן מייצר הרבה הפניות לאתר של טופטיקס ומשבית אותו. אז הם הורידו את האתר מכירת הכרטיסים של טופטיקס כדי לבדוק אם זה משנה משהו. לבסוף התברר שהבעיה היתה במקום אחר ולא קשורה לענין הזה.
בכל מקרה, כאשר הם הורידו את אתר מכירת הכרטיסים של טופטיקס, התברר שיש לזה השפעה על אתר התוכן - כפי שכתבנו: לא על

[2018-07-30 07:48] navotb commented on #354
חוזר על עצמו. זה גם עכשיו ככה. אולי כדאי לבדוק מה נקודת הייחוס של מנגנון קביעת הימים. אם השעון של השרת או משהו כזה השתנה, אז אולי זה מה שפוגע בכך.

[2018-07-30 08:14] reasonat commented on #354
בסדר. זה עבר לבדיקה

[2018-07-30 08:15] reasonat commented on #351
אז כעת החזירו חזרה את הטופטיקס לפעילות? ז״א שכעת לא נראה כלל את הבעיה?

[2018-07-30 08:24] navotb commented on #351
עכשיו לא תוכלו לראות את הבעיה. שלחנו צילום מסך של הבעיה: רואים את "המקצועות" אבל לא את "האנשים"

אולי כדאי לבדוק אם זה קשור ל(1) סדר טעינת האלמנטים בעמוד או (2) אם יש קשר (שלא צריך להיות לפי איך שאני מבין) בין שאילתת הקרדיטים לטופטיקס.

[2018-07-30 09:10] reasonat commented on #351
בסדר גמור. אני רק רציתי להבין את רמת הדחיפות של זה מול משימות אחרות.

[2018-07-30 09:15] navotb commented on #351
כרגע זה לא דחוף.

[2018-07-30 09:42] JerusalemCinematheque commented on #353
http://jff.org.il/he/festival-calendar/2018-07-26
צריך להסתכל על זה כשלא מחוברים לאתר

[2018-07-30 10:50] reasonat commented on #334
➤ Bruria Helfer commented:

@Amir Taiar אני לא רואה את הבעיה הזו. אולי הם הורידו את החלק הבעייתי?

[2018-07-30 10:55] reasonat commented on #334
➤ Amir Taiar commented:

@Bruria Helfer החלק הבעייתי זה תמונת ברירת מחדל שככל הנראה , כן, לא מוצגת כעת

[2018-07-30 12:22] JerusalemCinematheque opened #355 "home page adding content error message"
@reasonat
אני לא מצליחה להוסיף נודים נוספים בעמוד הבית
אני מבקשת להוסיף פריט בעמוד הבית בגריד 3
לוחצת על
add item
עושה חיפוש לאייטם ומקבלת
![image](https://user-images.githubusercontent.com/26960693/43397082-4e10e298-940c-11e8-8f13-bf1f2dc86443.png)
![image](https://user-images.githubusercontent.com/26960693/43397119-67f89f70-940c-11e8-9d46-5e0be7274f7e.png)
![image](https://user-images.githubuser

[2018-07-30 12:35] JerusalemCinematheque commented on #355
היה עניין דומה לזה בשנה שעברה כשכמות האייטמים שיכולנו להוסיף לעמוד הבית היתה מוגבל

[2018-07-30 14:10] navotb commented on #354
אבל בוא נגיד שזה כן משהו בעדיפות, בניגוד לפתיל הקודם

[2018-08-02 10:05] JerusalemCinematheque opened #356 "home page dynamic grid 1/3 2/3 view"
@reasonat
בגריד דינמי בחלוקה של שליש שני שליש האיזור יותר קטן מרוחב הגריד
![image](https://user-images.githubusercontent.com/26960693/43577499-aa6d0964-9654-11e8-9700-e3f885edb8a7.png)

[2018-08-02 14:12] JerusalemCinematheque opened #357 "sponser banner bug"
@reasonat
קיבלנו פנייה מנותן חסות שיש לו באנר ספונסר באתר שאומר במשהו בצורה שבה הבאנר מקושר לאתר שלהם גורם לעומס אצלם. שמשהו בצורת החיבור בין באנר לקישור חיצוני גורם לכך שכל מי שנכנס לעמוד באתר איכשהו מגיע גם אליהם. כלומר שכל אתר שמקושר אפילו בלינק באתר הסינמטק גורם למאות אלפי פניות לאתר שלהם.

זה מה שהוא כתב
בכל מקרה אם אתם עושים קישור לאתר שלנו או כל אתר אחר לא משנה איזה, הקישור חייב להיות בפקוד

[2018-08-26 09:36] JerusalemCinematheque opened #358 "home page hebrew - top gallery - adding film collection error"
@reasonat
ערכתי את עמוד הבית בעברית
הוספתי פריטים לטופ גלרי ולגריד שלישיה
כשלחצתי על שמירה קיבלתי את הודעת השגיאה הבאה
Parse error: syntax error, unexpected 'else' (T_ELSE) in /home/jercin/public_html/sites/all/themes/cinemateque/templates/node/node--cm-movie-group--top_gallery_front.tpl.php on line 8

ועכשיו לא ניתן לגשת לעמוד הבית בצד עברית
עזרתכם הדחופה
תודה

[2018-08-26 09:44] JerusalemCinematheque commented on #358
הסתכלתי שוב על מה שכתוב בשגיאה וכנראה שיש בעיה עם הוספת פריט מסוג מקבץ בטופ גלרי
בקיצור הצלחתי איכשהו להיכנס לעריכה של העמוד ולתקן את זה
אני משנה את נושא הטיקט בהתאם

[2018-08-27 19:39] JerusalemCinematheque opened #359 "DEV jff site seems to be under bot attack"
@reasonat
התחלנו היום לקבל מיילים מאתר הדב של טפסים שמילאו מתוך האתר דב
http://dev.jff.reasonat.com/
מצורפת דוגמא
בבחינה של אתר הדב רואים שיש יותר מאלף טפסים שמולאו ביומיים האחרונים
אני מחקתי את הטופס ממנו הם הגיעו
אבל אולי כדאי שתבדקו מה קורה שם
[file1.docx](https://github.com/Reasonat1/Cinema/files/2325363/file1.docx)

[2018-08-28 13:37] JerusalemCinematheque opened #360 "new pixel code"
@reasonat
האם ניתן להטמיע קוד פיקסל רק בעמודים מסויימים?
יש לנו קוד פיקסל עבור תכנית מסויימת שהרצון הוא שזה יעבוד רק בעמודים שקשורים לתכנית
האם דבר כזה אפשרי או שהקוד הוא לכל האתר

[2018-08-30 08:17] JerusalemCinematheque opened #361 "toptix window overload issue"
@reasonat
בימים האחרונים חווינו קשיים בחלונית הרכישה כאשר פעמים רבות מקבלים בה הודעה על עומס
בבדיקה שערכה חברת טופטיקס הם מצאו כי הבעיה נובעת משימוש בדפדפן סאפרי באתר תוכן.
כל פעם שדפדפן סאפרי קורא לאתר הכרטוס של הסינמטק  נוצר עוד סשן באתר.
  מצורף קובץ קוד
(javascript)
להטמיע באתר בתקווה שזה ייתן פתרון לבעיה
[safari in iframe.txt](https://github.com/Reasonat1/Cinema/files/2335252/safari.in.iframe

[2018-09-05 04:40] reasonat commented on #359
➤ Amir Taiar commented:

@Alex Voloshchenko I guesss we ca close this one now right?

[2018-09-05 04:41] reasonat commented on #359
Closing this one since we assume there will be no bot overload, on dev site, after changing the access code.
If this is happening again please open the issue again.

[2018-09-05 04:41] #359 closed, assigned to sato2004

[2018-09-06 13:04] JerusalemCinematheque commented on #348
אפשר בבקשה להסיר את זה?

[2018-09-16 13:12] JerusalemCinematheque opened #362 "cinematheque main calendar appearance"
@reasonat
יש מספר ימים בקלנדר הראשי של הפסטיבל שהתצוגה בו השתבשה ואין הפרדה בין הבוקסות
לדוגמא ב-24.10 וב-26.10
![image](https://user-images.githubusercontent.com/26960693/45596847-398f6a80-b9cb-11e8-95b7-bcc2125ba62c.png)

┆Attachments: <a href="https:&#x2F;&#x2F;storage.www.wrike.com&#x2F;attachments&#x2F;75096970?accountId&#x3D;948692">2018-10-30.png</a>

[2018-09-23 09:34] reasonat commented on #360
אפשר כמובן.
הבעיה שיכולה לצוץ, אני לא בטוח, היא שהקוד הגלובלי ״יעלה״ על הקוד הספציפי
יש לבדוק את זה קודם.
כעת הקוד הגלובלי הוא על התבנית אב שהיא המעטפת להטמעת העיצוב של כלל העמודים

[2018-09-23 09:40] reasonat commented on #357
This is an SEO request which will be around 1 hour of work - Bank hours.
Approved?

[2018-09-23 13:50] reasonat commented on #361
➤ Alex Voloshchenko commented:

@Amir Taiar This is not clear for me. Looks like this script should be added to page what we load to iframe from https://tickets.jer-cin.org.il . But I can't find any information about https://tickets.jer-cin.org.il

[2018-09-25 06:30] reasonat commented on #361
@Alex Voloshchenko I cant understand.

[2018-09-25 07:20] reasonat commented on #361
➤ Alex Voloshchenko commented:

@Amir Taiar There is payment system what we load from https://tickets.jer-cin.org.il/ (see screenshot)
And if I understand correct we need to add script to the page which we load from https://tickets.jer-cin.org.il/, this script make redirect to other page if user use Safari. But I can't add this script since we don't manage the site https://tickets.jer-cin.org.il/

[2018-09-25 07:27] reasonat commented on #361
@navotb @JerusalemCinematheque See Alex comments. Seems like this is on the Toptix developers side.

[2018-09-25 07:30] reasonat commented on #361
@Alex Voloshchenko Got it! I will report to the client.

[2018-09-25 12:15] reasonat commented on #351
➤ Alex Voloshchenko commented:

@Amir Taiar I do not see how it can be connected. All credits these are just view and not related to Toptix

[2018-09-25 12:25] reasonat commented on #331
➤ Alex Voloshchenko commented:

@Amir Taiar The problem not clear for me I see
פסטיבל 2017
on the event page

[2018-09-25 13:15] reasonat commented on #353
➤ Alex Voloshchenko commented:

@Amir Taiar It was cache issue. I cleaned the cache and and I don't see ticket's buttons now

[2018-09-26 05:33] reasonat commented on #351
@navotb @JerusalemCinematheque See Alex comment. I am closing this issue, re-open if needed.

[2018-09-26 05:33] #351 closed, assigned to sato2004

[2018-09-26 05:35] reasonat commented on #331
@JerusalemCinematheque @navotb Any more issues with this task?

[2018-09-26 05:36] reasonat commented on #353
@JerusalemCinematheque @navotb Please review

[2018-09-26 05:38] reasonat commented on #348
@navotb @JerusalemCinematheque Alex delete this tag, but now site doesn't have a Google tag, which might be not good. Closing this issue, reopen if needed

[2018-09-26 05:38] #348 closed, assigned to sato2004

[2018-09-26 05:39] reasonat commented on #334
@JerusalemCinematheque @navotb Please review

[2018-09-27 08:10] reasonat commented on #323
@Alex Voloshchenko Why is this on Brainstorm?

[2018-09-27 08:10] reasonat commented on #323
➤ Alex Voloshchenko commented:

@Amir Taiar I wrote a comment but somehow this coment didn't save. I made few tests (created few nodes with logo) on dev and live site and I don't see the problem

[2018-09-27 08:15] reasonat commented on #323
@Alex Voloshchenko ok

[2018-09-27 11:55] reasonat commented on #323
@Alex Voloshchenko Thats wierd. For some reason there is Github dupication. See this issue https://github.com/Reasonat1/Cinema/issues/322 and the last comment.

[2018-10-10 08:27] reasonat commented on #354
@navotb @JerusalemCinematheque Please review

[2018-10-15 07:59] reasonat commented on #356
@JerusalemCinematheque @navotb Please review this

[2018-10-15 08:00] reasonat commented on #358
@JerusalemCinematheque @navotb Please review this

[2018-10-22 07:26] reasonat commented on #355
➤ Alex Voloshchenko commented:

@Amir Taiar I don't see the error, I made all steps and I see nodes without error

[2018-10-28 09:14] JerusalemCinematheque opened #363 "uploading mediafor film page bug"
@reasonat
אם אנחנו מנסים להעלות תמונה לפריט סרט שכבר נשמר
התמונה נשמרת ומופיעה בצד אנגלית אבל לא בצד עברית
וזאת למרות שהיא הועלתה מצד עברית
כנ"ל לקישור וידאו
לדוגמא
צד עברית בלי התמונה
http://jer-cin.org.il/he/movie/25044

צד אנגלית עם התמונה
http://jer-cin.org.il/en/movie/25045

[2018-10-28 09:19] JerusalemCinematheque commented on #363
עדכון
זה קורה אם אני מנסה אחרי שפריט סרט נשמר
להעלות מדיה ולקשר לטופטיקס

[2018-10-30 12:40] reasonat commented on #362
➤ Alex Voloshchenko commented:

@Amir Taiar I don't know how reproduce the problem, I checked these days in all browsers and I don't see the problem

[2018-10-30 15:21] reasonat commented on #350
➤ Alex Voloshchenko commented:

@Amir Taiar I made few tests with diifferent events and I can't see the problem

[2018-10-31 05:05] reasonat commented on #362
@navotb @JerusalemCinematheque Is this still an issue?

[2018-10-31 05:05] reasonat commented on #350
@navotb @JerusalemCinematheque Is this still an issue?

[2018-10-31 10:22] JerusalemCinematheque commented on #362
yes
please see 6.11 hebrew side
first box is an event without a film
the next three are events with films

[2018-11-01 08:14] navotb opened #364 "dev sites security issues"
we receive alerts regarding SSL certificates and other issues for
**www.dev.jer-cin.reasonat.com
jer-cin.reasonat.com
jff.reasonat.com
mail.jer-cin.reasonat.com
mail.jff.reasonat.com
www.jer-cin.reasonat.com
www.jff.reasonat.com**

Please make sure all development sites are well secured, and access is restricted to approved users.

[2018-11-04 09:53] JerusalemCinematheque commented on #334
http://jff.org.il/en/festivals/2018-jerusalem-film-festival
כפי שניתן לראות הבעיה עדיין קיימת
גודל תמונת המחדל שונה בפיקסל מהתמונות האחרות

[2018-11-05 06:35] reasonat commented on #355
@navotb @JerusalemCinematheque ?

[2018-11-05 06:39] reasonat commented on #362
@Alex Voloshchenko

[2018-11-05 06:39] reasonat commented on #334
@Alex Voloshchenko

[2018-11-05 06:40] reasonat commented on #363
בדרופל, כברירת מחדל של המערכת הדו לשונית,
כאשר מעלים תמונה חדשה אין עדכון בצד השני, כלומר בשפה השניה.
פיתוח של זה יקח מספר שעות שקשה לי להעריך אותם כעת.

[2018-11-05 08:13] JerusalemCinematheque commented on #363
אבל עדכנו בצד עברית והתמונה התעדכנה רק בצד אנגלית
וגם זה קרה רק כאשר ניסינו גם להעלות תמונה וגם לקשר לטופטיקס
כשהעלינו רק את התמונה זה התעדכן בשני הצדדים

[2018-11-06 15:07] reasonat commented on #364
➤ Alex Voloshchenko commented:

@Amir Taiar I've removed these aliases, now dev sites http://dev.jer-cin.org.il http://dev.jff.org.il

[2018-11-08 07:24] reasonat commented on #363
לא הבנתי כלום

[2018-11-25 07:03] reasonat commented on #364
I am closing this issue. In case something comes up please re-open.

[2018-11-25 07:03] #364 closed, assigned to sato2004

[2018-11-25 07:05] reasonat commented on #334
@JerusalemCinematheque @navotb Please review again

[2018-11-25 07:06] reasonat commented on #322
@JerusalemCinematheque @navotb Please review again

[2018-11-25 07:08] reasonat commented on #352
@JerusalemCinematheque @navotb Please review again

[2018-11-25 07:08] reasonat commented on #362
@JerusalemCinematheque @navotb Please review

[2018-12-02 09:34] JerusalemCinematheque commented on #334
looks okay

[2018-12-02 09:40] JerusalemCinematheque commented on #322
still issue in lobby page

[2018-12-02 09:42] JerusalemCinematheque commented on #362
okay

[2018-12-25 15:53] JerusalemCinematheque commented on #322
אנא תראו כאן
צד עברית עם הלוגואים
https://www.jer-cin.org.il/he/taxonomy/term/1293

צד אנגלית הם לא מופיעים
https://www.jer-cin.org.il/en/taxonomy/term/1294

[2019-01-06 07:07] navotb commented on #322
Hi, This issue is still unsolved. We need it solved soon. Could you please check it?
Thank you!

[2019-01-14 10:54] JerusalemCinematheque commented on #358
okay

[2019-01-14 10:57] JerusalemCinematheque commented on #356
this is okay
but please note that ticket button is supposed to be placed closer to event date
and not on left (hebrew site) / right (english site) side

[2019-01-14 10:58] JerusalemCinematheque commented on #355
works okay now
will reopen if needed

[2019-01-17 14:27] #334 closed, assigned to sato2004

[2019-01-17 14:29] #362 closed, assigned to sato2004

[2019-01-17 14:32] #358 closed, assigned to sato2004

[2019-01-17 14:33] #355 closed, assigned to sato2004

[2019-01-17 14:35] reasonat commented on #323
@Alex Voloshchenko please have a look here https://github.com/Reasonat1/Cinema/issues/322

[2019-01-17 14:41] #337 closed, assigned to sato2004

[2019-01-17 14:43] JerusalemCinematheque commented on #337
האם עניין זה נבדק?

[2019-01-20 10:34] dabur75 commented on #363
@navotb @JerusalemCinematheque מה הסטטוס של המשימה הזאת? האם ניתן לסגור?

[2019-01-21 07:05] reasonat commented on #356
➤ Alex Voloshchenko commented:

@Amir Taiar Where I can see the problem? I can't find page with this problem

[2019-01-21 10:17] reasonat commented on #356
@JerusalemCinematheque  @navotb pleas see Alex comment

[2019-01-21 11:58] dabur75 commented on #361
@JerusalemCinematheque @navotb Is that issue fixed?

[2019-01-21 12:00] JerusalemCinematheque commented on #356
it's on the home page
![image](https://user-images.githubusercontent.com/26960693/51473350-d0f33880-1d84-11e9-98b3-97a019fabc95.png)

[2019-01-21 12:00] dabur75 commented on #360
@JerusalemCinematheque @navotb Is there a demand like this? to embed the code just for certain pages?

[2019-01-21 12:02] dabur75 commented on #357
@JerusalemCinematheque Is this done?

[2019-01-21 12:03] dabur75 commented on #354
@JerusalemCinematheque @navotb I assume it is fixed?

[2019-01-21 12:05] dabur75 commented on #352
@JerusalemCinematheque Is it done?

[2019-01-21 12:08] dabur75 commented on #343
@JerusalemCinematheque @navotb Is it confirmed that this widget has been installed&configured?

[2019-01-21 12:09] dabur75 commented on #339
@JerusalemCinematheque @navotb Is there a need in countdown clock?

[2019-01-21 12:09] dabur75 commented on #336
@JerusalemCinematheque Is there still a need?

[2019-01-21 12:11] dabur75 commented on #335
@JerusalemCinematheque I am closing this issue, if there is a need in the future please let me know.

[2019-01-21 12:11] #335 closed, assigned to sato2004

[2019-01-21 12:13] dabur75 commented on #331
@JerusalemCinematheque I am closing this task.

[2019-01-21 12:13] #331 closed, assigned to sato2004

[2019-01-21 12:15] dabur75 commented on #319
@JerusalemCinematheque @navotb I am closing this, if there is a need please re-open

[2019-01-21 12:15] #319 closed, assigned to navotb, sato2004

[2019-02-12 12:12] JerusalemCinematheque opened #365 "Sound of video continues after media window has closed"
אני נכנסת לעמוד סרט שיש לו מדיה מסוג וידאו
הוידאו הוא קישור לוימאו
אני לוחצת על הטריילר ועושה פליי
הוידאו רץ
בזמן שהוא רץ אני סוגרת את חלונית הוידאו
החלונית נסגרת אבל עדיין אפשר לשמוע את הסאונד של הוידאו

לדוגמא כאן
https://www.jer-cin.org.il/he/movie/27538

[2019-02-27 13:11] dabur75 commented on #365
@JerusalemCinematheque העניין טופל, האם תוכלו בבקשה לבדוק?

[2019-02-27 13:47] JerusalemCinematheque commented on #365
ok

[2019-02-28 11:01] reasonat opened #366 "Update db version"

[2019-02-28 11:22] reasonat commented on #366
➤ Alex Voloshchenko commented:

Dvir Cohen Eraki I don't see compatibility issues. But it is necessary to create a full backup of the database before updating.

[2019-02-28 13:56] navotb commented on #366
Are you (Reasonat) back it up?

[2019-03-06 11:19] JerusalemCinematheque commented on #343
we have not seen an example of the second widget. If you can point us to where we can see it we will be able to try and close this issue

[2019-03-06 11:21] JerusalemCinematheque commented on #350
we haven't encountered this issue since then

[2019-03-06 11:23] JerusalemCinematheque commented on #357
i don't think this issue was worked on.
can this be worked on sometime in the newx few months?

[2019-03-06 11:23] JerusalemCinematheque commented on #360
this issue can be closed

[2019-03-07 07:28] dvirco commented on #350
@JerusalemCinematheque @navotb I am closing this issue

[2019-03-07 07:30] reasonat commented on #323
➤ Dvir Cohen Eraki commented:

Alex Voloshchenko please describe the solution you worked on here. client says that it is still unsolved

[2019-03-07 07:37] dvirco commented on #356
@JerusalemCinematheque please review

[2019-03-07 07:39] dvirco commented on #357
@JerusalemCinematheque will be done next week

[2019-03-07 07:41] dvirco commented on #361
@JerusalemCinematheque @navotb please review

[2019-03-07 07:42] dvirco commented on #365
@JerusalemCinematheque is this fixed now? can I close?

[2019-03-07 07:46] reasonat commented on #366
➤ Dvir Cohen Eraki commented:

Alex Voloshchenko did you create a backup?

[2019-03-07 08:13] navotb opened #367 "Change server host name"
There is a problem with SSL certificate at the server.
EuroVPS has replied:

Reasonat, please approve there is no problem making this change in terms of the website functionality etc.

Thank you!

[2019-03-07 11:03] #350 closed, assigned to sato2004

[2019-03-07 11:04] #360 closed, assigned to reasonat, navotb

[2019-03-20 09:19] sato2004 commented on #367
Yes, there is no problem with this. You can change this record

[2019-03-20 09:20] navotb commented on #367
Thank you!

[2019-03-20 09:31] navotb commented on #366
What about this issue? Can you backup before update for the mysql version?

[2019-03-20 15:11] reasonat commented on #366
➤ Alex Voloshchenko commented:

I created database backup path to the backup - /home/jercin/JerusalemCinemathequeIsraelFilmArchive.mysql.gz

[2019-03-21 08:59] dabur75 commented on #366
@navotb did you get it?

[2019-03-21 09:24] navotb commented on #366
I don't navigate in the server. It is beyond me
Anyway, we are planning to upgrade after the weekend, and the db will have more data. Is it automatic update ? If not, will ask you to backup again before the upgrade.

[2019-03-24 13:29] JerusalemCinematheque opened #368 "front page > special grid dynamic > event with movie group display"
כשאנחנו נסים להציג אירועים בתצוגה דינמית שבליין אפ שלהם יש אירוע עם מקבץ סרטים לא רואים את תקציר המקבץ
אמור להופיע בתצוגה של אירוע חוץ משם האירוע, שם הסרט/מקבץ בליין אפ/מועד/כרטיסים גם את פרטי האירוע המקוצרים ופרטי הליין אפ המקוצרים
במקרה של מקבץ, למרות שבכל אחד מהמקבצים יש תקציר (שמופיע במקומות אחרים ובתצוגות מסוג שונה, כמו  תצוגת ליסט), הוא לא מופיע בתצוגה מסוג ספיישל גריד דינמיק
בנוסף, כפתור הכ

[2019-03-26 11:09] dabur75 commented on #368
@JerusalemCinematheque please review

[2019-03-26 13:03] JerusalemCinematheque commented on #368
great thank you

[2019-04-11 08:41] #367 closed, assigned to nobody

[2019-04-11 08:41] dabur75 commented on #367
done

[2019-04-11 08:42] #366 closed, assigned to sato2004

[2019-04-11 08:42] dabur75 commented on #366
done

[2019-04-11 08:42] #368 closed, assigned to sato2004

[2019-04-11 08:42] dabur75 commented on #368
done

[2019-04-11 08:43] dabur75 commented on #365
@JerusalemCinematheque are you still experiencing this issue?

[2019-04-16 10:18] reasonat opened #369 "Test issue by amir"

[2019-04-17 09:43] reasonat commented on #357
➤ Alex Voloshchenko commented:

Dvir Cohen Eraki I don't see external links in the banner, there are external links in the main menu (http://online.fliphtml5.com/bfuf/hdbk/, https://buyme.co.il/gift-card/2204458#!/?display=packages) is it?

[2019-04-29 08:13] JerusalemCinematheque commented on #357
this is the section named sponsors
there is no active banner there at this time

[2019-04-30 15:12] #365 closed, assigned to sato2004

[2019-05-15 08:18] JerusalemCinematheque commented on #357
any updates?

[2019-05-15 10:00] reasonat commented on #357
➤ Dvir Cohen Eraki commented:

Alex Voloshchenko please see response from the client

[2019-05-15 10:56] reasonat commented on #357
➤ Alex Voloshchenko commented:

Dvir Cohen Eraki I added "nofollow" to these links on dev and live. I created dummy banner for a test on dev site http://dev.jer-cin.org.il/he

[2019-05-15 11:03] JerusalemCinematheque commented on #357
this is default correct? its not something that i need to mark or do any action?
and this will solve the issue we encounted?

[2019-05-15 11:17] reasonat commented on #357
➤ Alex Voloshchenko commented:

yes, all banner's links will have this attribute by default

[2019-05-15 11:29] JerusalemCinematheque commented on #357
great. i will update if we encounter any further issues with this matter

[2019-05-29 09:12] #369 closed, assigned to nobody